body{
	position: relative;
}
.item_main{
	.container{
		width:1220px;
	}
}
.item_top{
	display: flex;
	flex-flow:row nowrap;
	padding:20px;
}
.item_top_left{
	width:600px;
}
.item_top_right{
	width:620px;
	padding:0 20px 0 30px;
	.mid_title{
		margin: 0 20px 10px 0;	
	}
}
.item_top_left{
	.swiper-container{
		width:100%;
		background-color: black;
		.swiper-slide{
			img{
				display: block;
				width:100%;
			}
		}
	}
	.video_container{
		.iframe,.object,.embed{
			top: 50%;
			margin-top: -150px;
		}
	}
}
.video_container{
	.iframe,.object,.embed{
		top:20%;
	}
}

.photo-other{
	display: flex;
	flex-flow:row wrap;
	margin-top:20px;
	.thumb{
		display: block;
		position: relative;
		width:100%;
		max-width:(600px/4-4);
		margin:0 5px 10px 0;
		cursor: pointer;
		&:nth-child(4n){
			margin:0 0 10px;
		}
		img{
			width:100%;
		}
	}
	.fa-play-circle{
		position: absolute;left:50%;top:50%;z-index: 10;
		margin:-24px 0 0 -24px;
		font-size:3rem;
		color:white;
	}
}
.pay_info{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width:100%;
	margin:10px auto;
	padding:10px;
	border:1px solid #eee;
}
.pay{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	.icon{
		display: block;
		margin:0 5px 0 0;
		height: 20px;
		background:transparent url('../img/icon_pay.png') no-repeat;
	}
	.line_pay{
		width: 60px;
		background-position: -47px -3px;
	}
	.apple_pay{
		display: none;
		width: 35px;
		background-position: -300px -3px;
	}
	.jko_pay{
		width: 18px;
		background-position: -112px -3px;
	}
	.seven{
		width: 18px;
		background-position: 1px -3px;
	}
	.family{
		width: 18px;
		background-position: -21px -3px;
	}
	.credit{
		width: 108px;
    	background-position: -1px -327px;
	}

}
.social,.pay{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	p{
		color:#777;
		font-size:.8rem;
	}
	a{
		margin:0 8px 0 0;
		font-size:1.3rem;
	}
}
.act{
	display: flex;
	flex-flow: row nowrap;
	a{
		display: inline-block;
		max-width: 350px;
		margin:0 10px 0 0;
		padding:2px 0 5px;
		color:$act_color;
		font-size:.8rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// span{
		// 	margin:0 10px 0 0;
		// 	padding:0 15px;
		// 	color:#ff5353;
		// 	border:1px solid #ff5353;
		// }
	}
}
.item_title{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}
.tab_content,.detail_content,.size_content{
	display: none;
	padding: 10px 0;
	&.current{
		display: block;
	}
}
.tagblock{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding:15px 0 30px;
	border-bottom:1px solid #eee;
	.tag_all{
		display: flex;
		flex-flow: row wrap;
	}
	.tag{
		min-width: 70px;
		margin-right:10px;
		padding: 2px 6px;
		font-size: .9rem;
		text-align: center;
		color: white;
		background-color: $tag_color;
	}
	.price{
		color:$price_color;
		font-size:1.2rem;
	}
	
}
.fa-heart{
	font-size: 1.2rem;
	color: $item_fav;
	cursor: pointer;
}
.feature{
	li{
		color:#353535;
		font-size:.8rem;
		font-weight: 400;
		line-height: 1.8;
	}
}
.line{
	.button{
		width: auto;
		height: auto;
		margin-left: 10px;
		padding:15px 40px;
		border: none;
		color: white;
		font-size:.9rem;
		text-decoration: none;
		letter-spacing: 2px;
		background: #ff5353;
		-webkit-appearance: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-transition: 0.6s;
		-moz-transition: 0.6s;
		-o-transition: 0.6s;
		-ms-transition: 0.6s;
		transition: 0.6s;
		cursor: pointer;
	}
	margin:0 0 10px;
	.sm_title{
		padding:0 0 10px;
	}
	&.color,&.size{
		display: flex;
		flex-flow:row nowrap;
		margin:10px 0;
		.sm_title{
			padding:0 10px 10px 0;
			flex: 0 0 15%;
		}
	}
	.color_block{
		.color_content{
			display: none;
		}
		.active{
			display: flex;
		}
	}
	.key {
		color: black;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
		width: 100px;
	}
	
	.value {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		z-index: 0;
		> li {
			display: block;
			padding: 8px;
			margin: 0 8px 8px 0;
			font-size: .75rem;
			position: relative;
			z-index: 0;
			cursor: pointer;
			text-align: center;
			.photo{
				width:28px;height:28px;
				margin: 0 auto;
				border:1px solid #ccc;
			}
			img {
				display: block;
				width:100%;
				margin:0 0 5px;
				text-align: center;
				position: relative;
				z-index: 0;
			}
			p{
				margin:3px 0;
				font-size:.7rem;
				letter-spacing: 0.5px;
			}
		}
	
		.active {
			position: relative;
			z-index: 0;
			.photo{
				border: 1px solid #e00;
			}
			.type {
				padding: 3px;
			}
			.fa {
				position: absolute;
				right: -1px;
				bottom: -2px;
				color: white;
				font-size:.7rem;
				z-index: 20;
				-ms-transform: scale(0.8, 0.8);
				-webkit-transform: scale(0.8, 0.8);
				transform: scale(0.8, 0.8);
			}
		}
		.disabled {
			position: relative;
			cursor: not-allowed;
			opacity: .3;
		}
	}

	&.color{
		.value{
			li{
				padding:3px;
				&.disabled{
					background-color: transparent;
				}
			}
		}
	}
	&.size{
		.value{
			width:100%;//width:500px;
			max-height:209px;
			margin-bottom: 20px;
			overflow: auto;
			>li{
				min-width:40px;
				border:1px solid #ccc;
				&.disabled{
					border:2px dashed #ccc;
				}
			}
			.active {
				display: block;
				border:1px solid #333;
				background-color: #fde3e6;
				@include border-radius(5px);
				&.disabled{
					background: none;
				}
			}
			&.size_link{
				margin-bottom: 10px;
				li{
					flex:0 0 31%;
				}
			}
			&.size_content{
				display: none;
				margin:0;
				padding:0;
				&.active{
					display: flex;
				}
				li{
					min-width:80px;
				}
			}
		}
		.size_block{
			width:100%;
		}
	}
	&.addcart{
		border-top:1px solid  #eee ;
		.soldout{
			margin:10px 0 30px;
			padding:10px;
			color:grey;
			background-color: #eee;
			text-align: center;
		}
	}
	.quantity{
		position: relative;
		align-items: center;
		border: 1px solid #ccc;
		.quantity-decrease,.quantity-increase,.quantity-input{
			border:none;
			&::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
				-webkit-appearance: none;
  				margin: 0;
			}
		}
		input[type=number] {
			-moz-appearance: textfield;
		}
	}
	.quantity-add {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: stretch;
		position: relative;
		margin: 30px 0 ;
	}
	.btn-ordernow{
		color:white;
		background-color: #333;
	}
	.btn-addcart,.btn-notify{
		color:#333;
		background:white ;
		border:1px solid #ccc;
	}

	.quantity-alert {
		display: none;
		position: absolute;
		left: -80px;
		top: -120%;
		background: #ff5353;
		color: white;
		font-size: 13px;
		line-height: 1;
		padding: 5px;
		white-space: nowrap;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		&:after {
			position: absolute;
			bottom: -30%;
			left: 45%;
			content: '';
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #ff5353 transparent transparent transparent;
		}
	}
}
.tabs{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: none;
	li{
		padding: 10px 15px;
		color: #222;
		background: none;
		cursor: pointer;
		&.current{
			color: #222;
			border-bottom:2px solid $tab_line ;
		}
	}
}
.tab_content{
	padding:10px 15px;
	li{
		font-size:.85rem;
		line-height: 2.2;
	}
	img{
		width:100%;
	}
}
.item_detail{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 0 30%;
	padding: 0 0 1px;
	border-bottom: 1px solid #bbb;
	a{
		display: block;
		min-width:100px;
		padding:10px;
		text-align: center;
		&.current{
			border-bottom:2px solid $tab_line;
		}
	}
}
.detail_content{
	.detail_video_container{
		iframe,embed,object{
			display: block;
			width:800px;
			height:630px;
			margin:0 auto;
		}
	}
	img{
		margin:0 auto;
		display: block;
		width:75%;
	}
}
.review{
	display: flex;
	display: none;
	flex-flow: row nowrap;
	margin:0 0 20px;
	padding:20px;
	border-bottom: 1px solid #eee;
	.review_photo{
		width:30px;height:30px;
		margin: 0 10px 0 0;
		text-align: center;
		background-color: #eee;
		@include border-radius(50%);
		img{
			display: block;
			width:60px;
			border:1px solid #eee;
			@include border-radius(50%);
		}
	}
	.stars{
		margin:0 20px 0 0;
		i{
			margin-right:5px;
			color:#ffcc00;
		}
	}
	.review_comment{
		width:100%;
	}
	.des{
		margin:0 0 8px;
	}
	.info{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		margin:0 0 8px;
		i{
			margin-right:5px;
		}
		.name{
			margin:0 10px 0 0;
			letter-spacing: 1px;
		}
		.date{
			color:#999;
			font-size:.8rem;
		}
		
	}
	.func_btn{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		justify-content: flex-end;
		I{
			margin:0 10px 0 0;
		}
		.fa-thumbs-up{
			span{
				color:#d00;
				font-size:.85rem;
			}
		}
	}
}
.loadmore{
	margin:40px 0;
	text-align: center;
	p{
		display: inline-block;
		padding:5px 30px;
		color:white;
		background-color: #999;
		cursor: pointer;
		@include border-radius(5px);
	}
}
.review_enter{
	display: flex;
	flex-flow: column;
	align-items: center;
	textarea,input{
		width:50%;
		height: 80px;
		margin:0 0 5px;
		padding:10px;
		border:1px solid #ccc;
	}
	input{
		display: block;
		width: 51.8%;
		height: auto;
		padding:8px 10px;
	}
	.btn_review{
		padding:5px 30px;
		color:white;
		background-color:#333;
		@include border-radius(5px);
	}
	.rating {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
		position: relative;
		overflow: hidden;
	}
	
	.rating-0 {
		filter: grayscale(100%);
	}
	
	.rating > {
		input {
			display: none;
		}
		label {
			cursor: pointer;
			width: 24px;
			height: 24px;
			margin-top: auto;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 76%;
			transition: .3s;
		}
	
		input {
			&:checked ~ label {
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
				~ label {
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
				}
			}
	
			&:not(:checked) ~ label:hover {
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
					// background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
				~ label {
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
				}
			}
		}
	} 
}
.relative_prod{
	.swiper-slide{
		box-sizing: border-box;
		.item{
			width:auto;
		}
		img{
			width:100%;
			max-width:300px;
		}
	}
}
.lightbox{
	display: none;
	width: 100vw;height:100vh;
	position: fixed;left:0;top:0;
	background-color: rgba(0,0,0,0);
	z-index: 30;
	opacity: .98;
	.not18_block{
		display: flex;
		flex-flow:column;
		align-items: center;
		justify-content: center;
		position: absolute;top: 50%;left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.pic_18{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		p{
			margin:20px 0 0;
			color:#fe5694;
			font-size:2.5rem;
			font-family: "Lobster", cursive;
			letter-spacing: 3px;
		}
		img{
			display: block;
			width: 	120px;
			margin:0 10px 0 0;
		}
	}
	.btn_18{
		display: flex;
		margin:30px 0 0 0;
		a{
			display: block;
			margin-right: 10px;
			padding:8px 13px;
			color:white;
			background-color: #fe5694;
			@include border-radius(10px);
			&.not18{
				background-color:#777;
			}
			&:last-child{
				margin: 0;
			}
		}
	}
}
.fancybox-is-open{
	.fancybox-bg{
		opacity: .98;
	}
}
.fancybox-button{
	display: none !important;
}