@import "../define/__init_white.scss";
@import "../front/help_center/_help_center.scss";
@import "../front/help_center/_side_menu.scss";
.icon-movetop{
	position: fixed;
	right: 10px;
	bottom: 55px;
	background: #f2f2f2;
	border: 1px solid #ccc;
	padding: 5px;
	vertical-align: middle;
	z-index: 10;
}
