doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_ciciza_head.pug

		title Qmomo | 平口推推無肩帶內衣，怎樣動都不會滑落
		meta(name='description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')
		meta(name='keywords' content='平口內衣,平口內衣推薦,無肩帶內衣,內衣推薦')
		meta(property='fb:pages' content='qmomotw')
		meta(property='og:url' content='https://www.qmomo.com.tw/v2/official/SalePageCategory/45567')
		meta(property='og:image' content='https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6527577/0/637341444881030000?v=1')
		meta(itemprop='og:description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')

		link(href='css/category.css', rel='stylesheet')
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')

		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/category.js')
	body
		include ../pug_common/_loading.pug
		
		include ../pug_common/_ciciza_header.pug
		
		include ../pug_common/_category_pc_page.pug

		include ../pug_common/_ciciza_footer.pug