doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_ciciza_head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_ciciza_header.pug

		.member
			.container
				.mem_block
					.mem_body
						.mem_link
							include ../pug_common/_mem_menu.pug
						.mem_privacy
							.mem_pra_detail
								a(href="#").tab_link.active(data-detail='pra_detail-1') 會員等級說明
								a(href="#").tab_link(data-detail='pra_detail-2') 會員權益說明
							#pra_detail-1.detail_content.active
								.now_class
									.sm_title 目前等級
									.class_block
										.class_pic
											img(src="../img/class1.jpg", alt="")
											p Qmomo 一般會員
											p 等級效期 2020/09/26~永久
										.class_des
											p 效期內累積消費
											.currency NT$ 399
											.date 2020/09/26~2021/09/25
											.progress
												.bar(style='width:30%;')
											
											p 再消費NT$1，或當日消費滿NT$1，即可升等至Qmomo VIP會員
								.next_class
									.class_block
										.class_pic
											img(src="../img/class2.jpg", alt="")
											p Qmomo VIP會員
											p 等級效期 一年
										.class_des
											p.sm_title 升等
											.date 達成其一條件，即可成為Qmomo VIP會員
												p ．Qmomo 一般會員累積消費滿NT$1
												p ．當日消費滿NT$1
											p 續等：將於等級到期日隔天自動續等，累積消費滿$1

											//- p 效期內累積消費
											//- .currency NT$ 399
											//- .date 2020/09/26~2021/09/25
											//- p 續等：將於等級到期日隔天自動續等，累積消費滿$1
											
											
											p 再消費NT$1，或當日消費滿NT$1，即可升等至Qmomo VIP會員
								.next_class
									.class_block
										.class_pic
											img(src="../img/class3.jpg", alt="")
											p Qmomo 企業會員
											p 等級效期 永久有效
										.class_des
											p.sm_title 升等
											.date 達成其一條件，即可成為Qmomo VIP會員
												p ．Qmomo VIP會員累積消費滿NT$10,000,000
											p 僅供 Qmomo 企業合作伙伴使用。
							#pra_detail-2.detail_content
								p
									strong 【不提供換貨服務】
									br
									| Qmomo一向以客為尊，為了服務能更貼合客戶的需求，讓您想更換的商品，能在最短的時間送達給您，從2020年01月01號開始，若您收到商品後需要更換，可直接在線上辦理退貨，再重新訂購，感謝您對Qmomo的支持，為您服務是我們最大的榮幸。
								p
									strong 【退貨流程】
									br
									| 七天鑑賞期內，不下水，不剪標，沒有異味，小褲沒有試穿，大腿襪沒有試穿，隱形胸罩沒有試穿，商品保持完整新品可販售狀態者。
									| 請您到您購買的網站--->進到我的訂單--->點選退貨
									| 之後就會有黑貓去跟您收件喔！
								p
									| 如果是今天才超取，明天才能點，申請後的1-3天會派車收件(遇周日順延)。
									| 線上申請完成會有簡訊通知派車時間，收到簡訊後隔日才會派車前往收取，於下午三點至六點於您填寫的指定地點取件。
									| 商品送回公司後（宅配上門取件大約是3天、超商退回大概5天），經檢查無誤，將於七個工作天後退刷或退款於您指定帳戶。
								p
									| 收到商品經確認無下水、剪標、異味、小褲未試穿，七個工作天後，依付款方式退款：
									| ・信用卡『一次付清』：商品全退或部分退貨，都會直接由信用卡退刷。
									| ・信用卡『分期』：若商品全退，則信用卡刷退。
									| ・使用「部分退貨」：官網APP購入者會將金額轉入指定戶頭。
									| ・超商取貨：轉帳至指定戶頭。 直接退現金(刷退)，不是轉成購物金，我們公司不強迫消費，喜歡再買！
								p
									strong 【異味定義】
									br
									| 不同於Qmomo現有庫存商品的味道即視為異味，Qmomo擁有最後解釋、定義異味的權力，請務必認同再下單！
								p
									| ※海外除商品本身瑕疵外不提供退換貨服務。
		include ../pug_common/_ciciza_footer.pug