doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_ciciza_head.pug
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		include ../pug_common/_loading.pug
		
		include ../pug_common/_ciciza_header.pug

		include ../pug_common/_mem_fav.pug

		include ../pug_common/_ciciza_footer.pug