doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_ciciza_head.pug
		title Qmomo
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/about.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_ciciza_header.pug
		
		.about_main
			.container
				include ../pug_common/_about_menu.pug
				.about_content
					h3 門市資訊
					.store_block
						.store
							img(src="../img/taipei_store.jpg", alt="")
							.info
								p.sm_title 台北 忠孝門市
								a(href="https://goo.gl/maps/pxDiN5BL6EvhJaXZ9") 
									i.fas.fa-map-marker-alt
									| 台北市大安區忠孝東路四段49巷2號
								p.tel
									i.fas.fa-phone
									a(href="tel:+886-2-27116580") (02)27116580
						.store
							img(src="../img/wanhua_store.jpg", alt="")
							.info
								p.sm_title 台北 西門町門市
								a(href="https://goo.gl/maps/jQn9MpVQcJmEh7s38") 
									i.fas.fa-map-marker-alt
									| 台北市萬華區成都路4號7樓
								p.tel
									i.fas.fa-phone
									a(href="tel:+886-2-23311158") (02)23311158
						.store
							img(src="../img/taoyan_store.jpg", alt="")
							.info
								p.sm_title 桃園 桃園站前門市
								a(href="https://goo.gl/maps/EZiC4ec23rW8TDHd7") 
									i.fas.fa-map-marker-alt
									| 桃園市桃園區復興路161號8樓
								p.tel
									i.fas.fa-phone
									a(href="tel:+886-3-3391600") (03)3391600
						.store
							img(src="../img/taichung_store.jpg", alt="")
							.info
								p 台中 綠園道門市
								a(href="https://goo.gl/maps/HZfg4ZiscnRUskiv7") 
									i.fas.fa-map-marker-alt
									| 台中市西區美村路一段117巷23號2F-1
								p.tel
									i.fas.fa-phone
									a(href="tel:+886-4-23218806") (04)23218806
						.store
							img(src="../img/kaohsiung_store.jpg", alt="")
							.info
								p.sm_title 高雄 凹子底門市
								a(href="https://goo.gl/maps/hwMBvZLKwht7DzYDA") 
									i.fas.fa-map-marker-alt
									| 高雄市左營區修明街69號4F-2
								p.tel
									i.fas.fa-phone
									a(href="tel:+886-7-5508716") (07)5508716
		include ../pug_common/_ciciza_footer.pug
