.pc_left_012{
    width: 202px;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    border: #f63578 1px solid;
    .title-h3{
        padding-left:15px;
        color:white;
        background:#f63578;
    }
    .photoblock{
        display: inline-block;
        a,img{
            display: block;
            width: 180px;
            height: 180px;
        } 
    }
    .img-attnum{
        position:absolute;
        top:0;left:0;
        width:30px;height:30px;
        text-align: center;
        font-size:22px;
        font-family: arial;
        font-weight: 700;
        line-height: 30px;
        color:white;
        background-color: #cc3377;
        @include border-radius(50%);
    }
    ul{
        background: #f9ebde;
        border-bottom: #099 2px solid;
        li{
            display: inline-block;
            width: 33.33%;
            padding: 4px 0 5px;
            text-align: center;
            font-size: 13px;
            color: #099;
            margin-right: -4px;
            cursor: pointer;
            &.active{
                background: #099;
                a{
                    color: #FFF;  
                }
            }
            &:nth-child(3){
                border-right: none;
            }
            a{
                color: #099;
            }
        }
        
    }
    .content{
        position: relative;
    }
    .items{
         display: none;
         &.active {
          display: inherit;
        }
    }
    .item{
        display: block;
        padding: 10px 0 10px 11px;
        &:last-of-type{
            border-bottom: none;
        }
    }
    .info{
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 180px;
        }
    .btn-more{
        display: inline-block;
        background: #fc5555;
        color: #FFF;
        font-size: 12px;
        padding: 0 6px 3px;
        }
    .buy{
            margin: 5px 0 0;
            font-size: 12px;
            .currency{
                display: inline-block;
                vertical-align: top;
                position: relative;
                top: 9px;
            }
            .discount_price{
                float: left;
                color: #f73375;
                font-weight: bold;
                margin-right: 5px;
                font-size:16px;
            }
            // .point{
            //     color: #666;
            //     font-size: 12px;
            //     margin: 0 0 3px;
            //     .price{
            //         height: 15px;
            //         font-size: 15px;
            //         color: #f73375;
            //         position: relative;
            //         top: 2px;
            //     }
            // }
        }
        .buy-actions{
            a{
                color: #0063d2;
                font-size: 15px;
                text-decoration: underline;
            }
        }
    // Tab-A 版型
    .act-A{
        .name{
            height: 32px;
            line-height: 15px;
            color: #000;
            font-size: 14px;
            word-break: break-word;
            word-wrap: break-word;
            overflow: hidden;
            margin: 6px 0 0;
        }
    }
    
    // Tab-B 版型
    .act-B{
        .name{
            width: 180px;
            height: 36px;
            margin: 0 0 8px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 700;
            word-break: break-word;
            word-wrap: break-word;
            overflow: hidden;
        }
        .btn-more{
            margin-top: 3px;
        }
    }
}