html
    head
        meta(charset='utf-8')
        meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
        title friDay 
        meta(content='friDay', name='description')
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        link(href='css/index_google.css', rel='stylesheet')
    body
        //- .head_banner(style="background-color: #29b7f6;")
        //-     img(src="img/1220x100bn.jpg", alt="google")
        .head
            .logo
                a(href="#") 
                    img(src="img/logo.svg", alt="")
            
        .items_bg
            .items
                mixin item(prod_pic)
                    a.item_head(href='#')
                        .photo
                            img(src='img/'+ prod_pic +'.jpg', alt='商品名稱', title='商品名稱')
                        .info
                            .cupn
                                .name_block
                                    h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
            
                            .summary 簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介
                            .price_area
                                .price_b
                                    .nor
                                        .nor_t 市價
                                        .nor_price $999,999
                                    .dis
                                        .dis_net
                                            .dis_t 網路價
                                            .dis_price $299,999
                                    //- img(src="img/cupn_arrow.svg")
                                    //- .dis_net
                                    //-     .dis_af 折後
                                    //-     .dis_af_price $298,999
                                .cupn_block
                                    //- .cupn_t 個人對品折價券
                                    .cupn_ticket
                                        .cupn_bg
                                            //- .cupn_dur 07/13 23:59止
                                            .cupn_price_b
                                                p.cupn_price_t 再折
                                                p.cupn_price $1,000 
                                    button.btn-imd 立即搶購
                +item('580_02')
            //- .saletime
            //-     p 以下商品是專門為您特別挑選，有的商品會附有個人對品折價券
            //-     p 請於 #[span 23:59] 前完成購買，即可享有個人個人折價優惠
            .items
                mixin item(prod_pic)
                    a.item.sm(href='#')
                        .photo
                            img(src='img/'+ prod_pic +'.jpg', alt='商品名稱', title='商品名稱')
                        .info
                            .name_block
                                h3.name 商品名稱商品名稱商品商品名稱商品名稱商品名稱商品商品商品名稱商品名稱商品商品名稱商品名稱商品名稱商品商品
                            .price_area
                                .price_b
                                    .nor
                                        .nor_t 市價
                                        .nor_price $99,999
                                    .dis
                                        .dis_net
                                            .dis_t 網路價
                                            .dis_price $29,999
                                .cupn_block
                                    //- .cupn_t 個人對品折價券
                                    .cupn_ticket
                                        .cupn_bg
                                            //- .cupn_dur 07/13 23:59止
                                            .cupn_price_t 再折
                                            .cupn_price $1,000
                                    button.btn-imd 搶購
                                
                +item('250_03')
                +item('250_03')
                +item('250_04')
                +item('250_05')
                +item('250_06')
                +item('250_07')
                +item('250_08')
                +item('250_09')
                +item('250_10')
                +item('250_07')