.site-activity
	.container
		.act-info
			.coupon_block(href="campaign.html") 
				.coupon_ticket
					img(src="../img/prize.jpg", alt="")
				.coupon_t
					.title 紅利點數回饋禮：180點贈品：Qmomo微笑SMILE晴雨兩用自動傘兌換券
					.cont 按鈕式自動折疊傘，一鍵開收，晴雨兩用；抗ＵＶ阻隔紫外線，防曬系數ＵＰＦ3０＋；總重300g，輕巧方便攜帶。【會員粉絲限定】紅利點數回饋禮：180點贈品：Qmomo微笑SMILE晴雨兩用自動傘兌換券，眾多好禮供妳選擇，至門市兌換前請先電話聯繫門市確認。
					.btn 
						a(href="#") 180點兌換
						.date 領取期限 2020/12/01
				.tag
					| APP/門市/官網適用
		.act-cont
			include _sort.pug
			.items
				include _items_pantie.pug