.site-activity
	.container
		.act-info
			.coupon_block(href="campaign.html") 
				.coupon_ticket
					img(src="../img/prize.jpg", alt="")
				.coupon_t
					.title 紅利點數回饋禮：180點贈品：Qmomo微笑SMILE晴雨兩用自動傘兌換券
					.cont 按鈕式自動折疊傘，一鍵開收，晴雨兩用；抗ＵＶ阻隔紫外線，防曬系數ＵＰＦ3０＋；總重300g，輕巧方便攜帶。【會員粉絲限定】紅利點數回饋禮：180點贈品：Qmomo微笑SMILE晴雨兩用自動傘兌換券，眾多好禮供妳選擇，至門市兌換前請先電話聯繫門市確認。
					.btn 
						a(href="#") 180點兌換
						.date 領取期限 2020/12/01
				.tag
					| APP/門市/官網適用
				
		.act-cont
			.act-line
				.sm_title 點數兌換券期間
				p  2021/10/31 23:59 - 2020/11/01 16:00
			.act-line
				.sm_title 兌換贈品期間
				p  2021/10/31 23:59 - 2020/11/01 18:00
			.act-line
				.sm_title 適用門市
				ul.act_store
					li 
						a(href="https://goo.gl/maps/pxDiN5BL6EvhJaXZ9" target="_blank") 東區門市
					li 
						a(href="https://goo.gl/maps/jQn9MpVQcJmEh7s38" target="_blank") 西門町門市
					li 
						a(href="https://goo.gl/maps/EZiC4ec23rW8TDHd7" target="_blank") 桃園站前門市
					li 
						a(href="https://goo.gl/maps/HZfg4ZiscnRUskiv7" target="_blank") 綠園道門市
					li
						a(href="https://goo.gl/maps/hwMBvZLKwht7DzYDA" target="_blank") 凹子底門市
			.act-line
				.sm_title 注意事項
				ul.act_rule
					li 每檔紅利點數兌換贈品券活動的數量均為限時限量，兌換完為止。
					li 每張紅利點數兌換贈品券需使用紅利點數兌換，每次兌換一張，可重複兌換。
					li 兌換後的贈品券則適用一般贈品券使用規則。
			.act-line
				.sm_title 使用規則
				ul.act_rule
					li 使用本優惠券的訂單如退貨，本優惠券將失效不會歸還。
					li 本優惠券有使用效期，逾期後則無法使用，且無法恢復。
					li 商店保留隨時修正、暫停或終止本優惠券之權利。