.banner
	.container
		.one_banner
			a(href='#')
				img(src='../img/category_ad.jpeg', alt='Qmomo banner')
.sort_block
	.container
		.mid_title
			h2 性感情趣
		.sort
			label(for="sort1")
				input(type="radio", name="sort" ,value="1", id="sort1" ,checked="checked")
				span.checkmark
				p 店長推薦
			label(for="sort2")
				input(type="radio", name="sort" ,value="2", id="sort2")
				span.checkmark
				p 最新上架
			label(for="sort3")
				input(type="radio", name="sort" ,value="3", id="sort3")
				span.checkmark
				p 熱賣商品
			label(for="sort4")
				input(type="radio", name="sort" ,value="4", id="sort4")
				span.checkmark
				p 最多人看
			label(for="sort5")
				input(type="radio", name="sort" ,value="5" ,id="sort5")
				span.checkmark
				p 價格 低 → 高
			label(for="sort6")
				input(type="radio", name="sort" ,value="6", id="sort6")
				span.checkmark
				p 價格 高 → 低
.category
	.container
		.items
			include ../pug_common/_items.pug
			include ../pug_common/_items.pug
			include ../pug_common/_items.pug
.nav
	.container
		a(href="#" class="prev")
			i.fas.fa-angle-left
				| &nbsp;PREV
		.page_num_block
			a(href="#" class="nav_page_num active") 1	
			a(href="#" class="nav_page_num") 2
			a(href="#" class="nav_page_num") 3
			a(href="#" class="nav_page_num") 4
			a(href="#" class="nav_page_num") 5
			a(href="#" class="nav_page_num") ...
			a(href="#" class="nav_page_num") 30
		a(href="#" class="next")
			i.fas.fa-angle-right
				| &nbsp;NEXT