.member
	.container
		.login.forgot
			.mid_title 忘記密碼
			.login_body
				p.subtitle 填寫您註冊時使用的電子郵件，重設密碼的連結會寄送到您的信箱
				.login_line
					input(type='email' placeholder='Email')
					p.err_txt 請輸入正確的帳號 & 密碼
				a.nor_login(href='mem_reset.html') 送出