.member
	.container
		.mem_block
			.mem_body
				.mem_link
					include ../pug_common/_mem_menu.pug
				.mem_fav
					.fav_block
						img(src="../img/1000x1000_prod_1.jpeg", alt="")
						.fav_info
							.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
							.discount_price
								span.currency NT$ 1,290
							.fav_func_btn
								a.btn-cart(href="#") 加入購物車
								a.remove(href="#")
									i.fas.fa-times
									span 移除
					.fav_block
						img(src="../img/1000x1000_prod_2.jpeg", alt="")
						.fav_info
							.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
							.discount_price
								span.currency NT$ 1,290
							.fav_func_btn
								a.btn-cart(href="#") 加入購物車
								a.remove(href="#")
									i.fas.fa-times
									span 移除
					.fav_block
						img(src="../img/1000x1000_prod_3.jpeg", alt="")
						.fav_info
							.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
							.discount_price
								span.currency NT$ 1,290
							.fav_func_btn
								a.btn-cart(href="#") 加入購物車
								a.remove(href="#")
									i.fas.fa-times
									span 移除
					.bot_func
						a.submit 移除全部收藏