// 首頁
@import "partials/base";
@import "partials/color";

@import "partials/page";
@import 'partials/breadcrumb';
@import "partials/cupn";
.sub_head{
    .container{
        justify-content: flex-start;
    }
}
.site-main{
    .container{
        width:1130px;
        margin: 25px auto;
    }
}
.cupn_top{
    margin:0 0 15px;
    align-items: flex-end;
}
.cupn_des{
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.4;
}
.cupn_chg{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    padding:8px 10px;
	font-size: 1.5rem;
    color:#ff0;
    background:black;
}
.icon_refresh{
    margin:0 0 0 3px;
    &:before{
        color:white;
        font-size:1.2rem;
    }
}
.cupn_item{
    width: 32%;
    margin: 0 0 20px 0;
}