// 分類頁
@import "partials/base";
@import "partials/mixin";
@import "partials/color";
@import "partials/page";

@import "partials/cateitem";
@import "partials/relate";
@import "partials/pagenav";
@import "partials/functop";

.sub_head{
    .container{
        justify-content: flex-start;
    }
}
.site-main{
    width: 100%;
    margin:0 auto;
    padding: 20px 0 0;
    .container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
.item_coupon{
    margin: 20px 0 15px;
    padding:15px;
    font-size:1rem;
    color:#333;
    background-color: #ece8df;
    line-height: 1.4;
    letter-spacing: 1px;
    border-radius: 10px;
    span{
        color:#d00;
    }
}
.func_top{
    justify-content: center;
    margin: 0;
}
.cate_items{
    justify-content: space-between;
}
.item{
    margin: 0 0 30px;
    &:nth-child(5n){
        margin: initial;
    }

}
.icon_pictxt{
    width: 30px;
}