//theme color
$bg_file:         "/c/img/frame/icon_black.png";
$bg_file_hpd:     "/c/img/frame/icon_retina_black.png";

//主要色
$light_primary:		#ff3300;
$primary:			#df0000;
$dark_primary:		#9e1621;
$header_border:		#3c3c3c;
$nav_text:			#6c6c6c;
$nav_link:			#df0000;
$nav_hover:			#ff0000;
$nav_bk:			black;
$nav_bk2:			black;
$nav_border:		white;
$nav_border2:		white;
$nav_border3:		#cccccc;
$bread:				#ff0000;
$store:				#6c6c6c;
$language:			#6c6c6c;
$cart_price:		#ff0000;
$footer:			black;
$footer_h4:			white;
$footer_link:		#6c6c6c;
$footer_hover:		white;
$slide_switch:		#3c3c3c;
$filter_all:		none;
$filter_act:		#df0000;
$filter_act2:		#6c6c6c;
$filter_bk:			none;
$filter_border:		#6c6c6c;
$filter_disabled:	#3e3e3e;
$sort_text:			#6c6c6c;
$prod_hover:		#df0000;
$prod_color:		rgba(255, 255, 255, 0.2);
$prod_select:		#df0000;
$prod_main:			white;
$prod_second:		#dbdbdb;
$page_text:			#6c6c6c;
$page_hover:		#6c6c6c;
$page_hover_text:	#ccc;
$input_text:		black;
$input_bk:			#6c6c6c;
$alert_bk:			#ffcc21;
$alert_text:		black;

$text:				#6c6c6c;
$link:				#9a9a9a;
$background:		black;
$background2:		black;