//theme color
$bg_file:         "../../../../../c/img/sth001/frame/asus_icon.png";
$bg_file_hpd:     "../../../../../c/img/sth001/frame/asus_icon_retina.png";

//主要色
$light_primary:		#2290c6;
$primary:			#00a8ff;
$dark_primary:		#2290c6;
$header_border:		#cccccc;
$header:            #fff;
$nav_text:			black;
$nav_link:			black;
$nav_hover:			#00a8ff;
$nav_bk:			white;
$nav_bk2:			#f0f0f0;
$nav_border:		#00a8ff;
$nav_border2:		#cccccc;
$nav_border3:		#e5e5e5;
$bread:				#00a8ff;
$store:				black;
$language:			#6c6c6c;
$cart_price:		#00a8ff;
$footer:			#F5F5F5;
$footer_h4:			#474747;
$footer_link:		#6c6c6c;
$footer_hover:		#00a8ff;
$slide_switch:		#bfbfbf;
$filter_all:		#99eeff;
$filter_act:		#00a8ff;
$filter_act2:		#00a8ff;
$filter_bk:			#f8f8f8;
$filter_border:		#cccccc;
$filter_disabled:	#cccccc;
$sort_text:			#6c6c6c;
$prod_hover:		#b3e5fe;
$prod_color:		white;
$prod_select:		black;
$prod_main:			black;
$prod_second:		#6c6c6c;
$page_text:			#6c6c6c;
$page_hover:		#ddd;
$page_hover_text:	black;
$input_text:		black;
$input_bk:			white;
$alert_bk:			black;
$alert_text:		#ccc;

$text:				#6c6c6c;
$link:				black;
$background:		white;
$background2:		white;