//theme color
$bg_file:         "/c/img/frame/icon_pink.png";
$bg_file_hpd:     "/c/img/frame/icon_retina_pink.png";

//主要色
$light_primary:		#f29cb7;
$primary:			#e57999;
$dark_primary:		#724A57;
$header_border:		#f29cb7;
$nav_text:			black;
$nav_link:			#f29cb7;
$nav_hover:			#f29cb7;
$nav_bk:			white;
$nav_bk2:			#f0f0f0;
$nav_border:		#f29cb7;
$nav_border2:		#f29cb7;
$nav_border3:		#cccccc;
$bread:				#f29cb7;
$store:				black;
$language:			black;
$cart_price:		#f29cb7;
$footer:			#ff9cba;
$footer_h4:			white;
$footer_link:		white;
$footer_hover:		black;
$slide_switch:		#f29cb7;
$filter_all:		none;
$filter_act:		#f29cb7;
$filter_act2:		#f29cb7;
$filter_bk:			none;
$filter_border:		#e57999;
$filter_disabled:	#cccccc;
$sort_text:			#6c6c6c;
$prod_hover:		#fedde7;
$prod_color:		rgba(0, 0, 0, 0);
$prod_select:		#f29cb7;
$prod_main:			black;
$prod_second:		#6c6c6c;
$page_text:			#f29cb7;
$page_hover:		#f29cb7;
$page_hover_text:	white;
$input_text:		black;
$input_bk:			#fef0f4;
$alert_bk:			black;
$alert_text:		#f29cb7;

$text:				#6c6c6c;
$link:				#6c6c6c;
$background:		#fedde7;
$background2:		white;

body{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fedde7', EndColorStr='#ffffff');
}