//theme color
$bg_file:         "/c/img/frame/icon_blue.png";
$bg_file_hpd:     "/c/img/frame/icon_retina_blue.png";

//主要色
$light_primary:		#3f3f3f;
$primary:			#6c6c6c;
$dark_primary:		#3c3c3c;
$header_border:		#3c3c3c;
$nav_text:			black;
$nav_link:			#00a8ff;
$nav_hover:			#00a8ff;
$nav_bk:			white;
$nav_bk2:			#f0f0f0;
$nav_border:		#00a8ff;
$nav_border2:		#3f3f3f;
$nav_border3:		#e5e5e5;
$bread:				black;
$store:				black;
$language:			black;
$cart_price:		#0084ff;
$footer:			#3c3c3c;
$footer_h4:			white;
$footer_link:		white;
$footer_hover:		#0066a0;
$slide_switch:		#3c3c3c;
$filter_all:		none;
$filter_act:		white;
$filter_act2:		black;
$filter_bk:			none;
$filter_border:		#2290c6;
$filter_disabled:	#46bffe;
$sort_text:			black;
$prod_hover:		#0084ff;
$prod_color:		rgba(255, 255, 255, 0.2);
$prod_select:		#0084ff;
$prod_main:			black;
$prod_second:		#3f3f3f;
$page_text:			#6c6c6c;
$page_hover:		#2290c6;
$page_hover_text:	white;
$input_text:		black;
$input_bk:			#b1e8fd;
$alert_bk:			#ffcc21;
$alert_text:		black;

$text:				black;
$link:				#858585;
$background:		#b1e8fd;
$background2:		#00a8ff;