//theme color
$bg_file:         "../../../../../c/img/seagame/icon_gray.png";
$bg_file_hpd:     "../../../../../c/img/seagame/icon_retina_gray.png";

//主要色
$light_primary:		#ff3300;
$primary:			#dd0000;
$dark_primary:		#9e1621;
$header_border:		black;
$nav_text:			black;
$nav_link:			black;
$nav_hover:			black;
$nav_bk:			white;
$nav_bk2:			#f0f0f0;
$nav_border:		black;
$nav_border2:		black;
$nav_border3:		#cccccc;
$bread:				#dd0000;
$store:				black;
$language:			#6c6c6c;
$cart_price:		#dd0000;
$footer:			#2b2b2b;
$footer_h4:			white;
$footer_link:		white;
$footer_hover:		#ff0000;
$slide_switch:		black;
$filter_all:		none;
$filter_act:		#dd0000;
$filter_act2:		black;
$filter_bk:			none;
$filter_border:		#cccccc;
$filter_disabled:	#cccccc;
$sort_text:			#6c6c6c;
$prod_hover:		black;
$prod_color:		#F5F5F5;
$prod_select:		black;
$prod_main:			black;
$prod_second:		#6c6c6c;
$page_text:			#dd0000;
$page_hover:		#dd0000;
$page_hover_text:	white;
$input_text:		black;
$input_bk:			#fff;
$alert_bk:			black;
$alert_text:		#ccc;

$text:				black;
$link:				black;
$background:		#fff;
$background2:		#fff;