doctype html
html
	head
		meta(charset='UTF-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description',content='Jonic\'s portfolio')
		meta(name='author',content='Jonic')
		meta(name='viewport',content='width=device-width,initial-scale=1,user-scalable=1')
		meta(name='apple-mobile-web-app-capable',content='yes')
		meta(name='apple-touch-fullscreen',content='yes')
		title='jonic\'s portfolio'
		script(src='js/jquery.min.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/swfobject.js')
		script(src='js/index.js')
		link(href='img/favicon.ico',rel='icon',type='image/svg+xml')
		ink(href='img/mypic.jpg',rel='image_src',type='image/jpeg')
		link(href='css/index.css',rel='stylesheet' media='all')
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	body#home
		img.bg(src='img/index_bg.jpg', alt='背景圖')
		#sidebar.clearfix
			header
				h1
					a(href='#', title="jonic's portfolio") Jonic's portfolio
			nav#menu
				ul.anchor-link
					li.home
						a(href='#content_one') About Me
					li.work
						a(href='#content_two') My Work
					li.exp
						a(href='#exp') Experience
					li.video
						a(href='#content_three') Video Portfolio
					li.contact
						a(href='mailto:jonic70134@gmail.com') Contact
			footer#copyright
				| COPYRIGHT © 2020 by Jonic ALL RIGHTS RESERVED.
		#content
			section#content_one
				h1 About Me
				p
					img(src='img/mypic.jpg',alt='avatar')
					| Originally from I-Lan,Taiwan. I am UI Designer with 10 years of experience. 
					| I usually like mountaineering and I am also a tree climbing instructor. 
					| Because I think that understanding and experiencing different life is the nutrition of the designer. 
					| If you want to know more about my experience and ability, please feel free to contact me.
			section#content_two
				h1 My recent work
				.workimg
					a.work_des(href='https://codepen.io/jonic70134/pen/Dhnta/', target='_blank')
						.link
							i.fa.fa-external-link
							| Pure css Luffy
						img(src='img/luffy.png', alt='Pure css - Luffy')
					a.work_des(href='#asap4')
						.link
							i.fa.fa-external-link
							| ASAP 4.0
						img(src='img/asap4.png', alt='ASAP 4.0')
					a.work_des(href='#shop86')
						.link
							i.fa.fa-external-link
							| 86shop
						img(src='img/86shop.png', alt='86 online shopping mall')
					a.work_des(href='http://store.asus.com/', target='_blank')
						.link
							i.fa.fa-external-link
							| ASUS
						img(src='img/asus.png', alt='ASUS online shopping mall')
				h2 Visual design
				.workimg.visual
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| Tree Climb t-shirt logo
						img(src='img/ill_7.png', alt='Tree Climb t-shirt logo')
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| Hiking club logo
						img(src='img/ill_6.png', alt='Hiking club logo')
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| NCUHRM uniform
						img(src='img/ill_5.jpg', alt='National Central University HRM uniform')
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| "The Door" badges
						img(src='img/ill_4.jpg', alt='The Door badges')
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| "The Door" bookmark
						img(src='img/ill_3.jpg', alt='"The Door" bookmark')
					a.work_des(href='#')
						.link
							i.fa.fa-external-link
							| Merry Christmas e-card
						img(src='img/ill_1.jpg', alt='Merry Christmas e-card')
			section#content_three
				h2#exp Experience
				p
					strong 
						| | 2013/06-2016/09 | , | 2017/10- 2020/02 | - Uitox co.,Ltd. Web UI Designer
					br
					| My work is focus on the UI architecture and SEO issue. Because my company has a global website, So I was learned SASS(SCSS) to construct the entire UI architecture, and learned GIT to manage code version for co-work with my UI team and other programmers. use JSON-LD for SEO potimiztion. (The second time I went back because the CTO invited me back to help.)
					br
					br
					strong 
						| | 2016/11-2017/09 | - GENUINE C&C INC. Front-end engineer
					br
					| Help to create B2C website (
					a(href='https://www.hohoho.com.tw/',target='_blank') HoHoHo
					| ), and maintain B2B website (
					a(href='http://www.genb2b.com/IndexB2C.html',target='_blank') GENUINE
					| ), my main job is do PSD to HTML, occasionally help engineers string JSON parameters into HTML, and write jQuery dynamic effects.
					br
					br
					strong 
						| | 2010/09-2013/06 | - iDotsys co.,Ltd. Web & System UI Designer
					br
					| Develop by project as the main, sometimes use the CMS, sometimes we had to customize. and I need to communicate with engineers. but I also had to do some work like project manager and customer contact, understanding the projects progress and customer needs. At the same time, I need to know about CMS like Drupal, Wordpress, Joomla..etc., they had mature system architecture, sometimes I just want to change the style a little, but it must be carefully, otherwise, a small change will affects everything. So, not just only my own work, but also took into account the ease of maintenance.
					br
					br
					strong
						| | 2009/09-2010/09 | - OLDNICK co.,Ltd Vision Designer
					br
					| First job, I made official website by Flash. But I was the only one site maneger and bulider. So I had a difficlult to start. First I use Google search engine to find some hosting provider, Registered the domain name, set the DNS direction, Finaly, I can build website. This experience let me know some skill to manage entire website, not just only build UI.
					br
					br
					strong
						| Study stage
					br
					| When I in college, It enlightened me about the field, but seriously to say, I was learn about 2D and 3D animation, Flash were major about web design. Later, I autonomous learning HTML / CSS, because WordPress - This blog CMS. That build by PHP,so that made me knew some concept of the programmable logic.
				h2 Skills
				ul
					li  SASS/SCSS.
					li  Git - version control system.
					li  HTML/CSS (also includes HTML5/CSS3).
					li  Novice about JS/JQuery. 
					li  Computer graphics.
					li  Illustration.
				h2 Software
				ul
					li  Prepros
					li  Fire.app
					li  Git Bash、Sourcetree、TortoiseGit
					li  VScode
					li  Adobe XD
					li  Adobe Photoshop
					li  Adobe Illustrator

				h1 Video Portfolio
				.worktitle
					| Here are some 3D animation and video works.
					br
					| I'm not often do these jobs now,but you still can take look.
				.workimg
					blockquote [ The Door ] - 2008
					.video_container
						iframe.video_iframe(width='560', height='315', src='https://www.youtube.com/embed/AhSwoodPTlA', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
					blockquote [Talk Show] - 2007
					.video_container
						iframe.video_iframe(width='560', height='315', src='https://www.youtube.com/embed/rBGGgkjlCp0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		#backtop TOP
		//- .bubble
		//- 	span.bot
		//- 	span.top
		//- 	| Love Hiking、ball games、travel、photography too.
		#asap4.box-target
			.content
				.summary
					p 
						span
							| 目標
						| ASAP 4.0 是以 AI 為發展基礎的B2C電子商務平台，4.0 是代表 AI 的意思，要把電商網站改為全 AI 驅動的高效能服務，期望達到一體三面的目的：
						| 幫每一個商品找到當時對的顧客、幫每一個顧客找到當時對的商品、捨棄平台抽成模式。
					p 
						span
							| 扮演的角色與過程
						| 在團隊中是唯一的UI Designer，畫面上希望有別其它商品量較大的購物商城，畫面上多以色塊襯托，讓圖片成為焦點。
						| 第一眼畫面的重點，放在消費者個人最有興趣的特價品和可使用的折價券，還有近期搜尋過的關鍵字以tag cloud的方式
						| (經由 AI 運算權重)，排列在畫面頂端，最後才是其它商品的排列，以期避免隧道效應產生。
						br
						br
						| 頁面結構上，由於效能和維護的方便性，因此採用Adative web design的方式進行，請MIS做user agent判斷來導引使用者的使用裝置到正確的版面，
						| 另一方面和工程師一起合作，協調頁面結構上的問題，包含SEO、jQuery動態效果以及跨瀏覽器bug處理等等。雖然是新的版面，但後端上稿的方式沒有太大變動，因此舊有的模組需考量以最小幅度來處理結構問題（新的模組就不管了），自己的部分則是把class name的易讀性提高，以往用編號的方式不太好理解。
						| 而且老闆比較喜歡看prototype，因此不用以前php切版的方式，改以pug來直接產出HTML，方便跟老闆討論設計方向。
				.desktop
					img(src='img/asap_index.png',alt='ASAP4.0 index page')
					img(src='img/asap_item.png',alt='ASAP4.0 item page')
					img(src='img/asap_per.png',alt='ASAP4.0 per page')
					img(src='img/asap_track.png',alt='ASAP4.0 item page')
					.mobile
						img(src='img/asap_m_index.png',alt='ASAP4.0 mobile index page')
						img(src='img/asap_m_per.png',alt='ASAP4.0 mobile per page')
						img(src='img/asap_m_item.png',alt='ASAP4.0 mobile item page')
			
			a.box-close(href='#')
		#shop86.box-target
			.content
				.desktop
					img(src='img/86_index.png',alt='86shop index page')
					img(src='img/86_market.png',alt='86shop market page')
					img(src='img/86_item.png',alt='86shop item page')
					img(src='img/86_search.png',alt='86shop search page')
					img(src='img/86_m_index.png',alt='86shop mobile index page')
					img(src='img/86_m_item.png',alt='86shop mobile item page')
					img(src='img/86_m_cate.png',alt='86shop mobile category page')
					img(src='img/86_m_notify.png',alt='86shop mobile notify page')
				.mobile
					img(src='img/86_m_index.png',alt='86shop mobile index page')
					img(src='img/86_m_item.png',alt='86shop mobile item page')
					img(src='img/86_m_cate.png',alt='86shop mobile category page')
					img(src='img/86_m_notify.png',alt='86shop mobile notify page')
			a.box-close(href='#')
			


		
