doctype html
html
	head
		meta(charset='UTF-8')
		script(src='js/jquery.min.js')
		script(src='js/jquery-ui.min.js')
		script(src='js/swfobject.js')
		script(src='js/index.js')
		link(href='css/index.css', rel='stylesheet')
	body#home
		img.bg(src='img/index_bg.jpg', alt='背景圖')
		#sidebar.clearfix
			header
				h1
					a(href='#', title="jonic's portfolio") jonic's portfolio
			nav#menu
				ul
					li.home
						a(href='#') About Me
					li.work
						a(href='#') My Work
					li.video
						a(href='#') Video Portfolio
					li.contact
						a(href='mailto:jonic70134@gmail.com') Contact
			footer#copyright
				| COPYRIGHT © 2017 by Jonic ALL RIGHTS RESERVED.
		#content
			section#content_one
				h1 About Me
				p
					img(src='img/mypic.jpg',alt='avatar')
					| Originally from Taiwan, now I'm web UI designer. When I in college, It enlightened me about the field, but seriously to say, I was learn about 2D and 3D animation, Flash were major about web design. Later, I autonomous learning HTML / CSS, because WordPress - This blog CMS. That build by PHP,so that made me knew some concept of the programmable logic.
					br
					br
					| First job, I made official website by Flash. But I was the only one site maneger and bulider. So I had a difficlult to start. First I use Google search engine to find some hosting provider, Registered the domain name, set the DNS direction, Finaly, I can build website. This experience let me know some skill to manage entire website, not just only build UI.
					br
					br
					| Second job was develop by project as the main, sometimes use the CMS, sometimes we had to customize. and I need to communicate with engineers. but I also had to do project manager and customer contact work, understanding the projects progress and customer needs. At the same time, I need to know about CMS like Drupal, Wordpress, Joomla..etc., they had mature system architecture, sometimes I just want to change the style a little, but it must be carefully, otherwise, a small change will affects everything. So, not just only my own work, but also took into account the ease of maintenance.
					br
					br
					| And now my work is focus on the UI architecture and SEO issue. Because my company has a global website, they have similar page, only a few different. So I was learned SASS to construct the entire UI architecture, and learned GIT to manage code version for co-work with my UI team and other programmers.use microdata for SEO potimiztion.
					br
					br
					| These experience made me easy to communicate with team. But in the past and now, there were no senior UI/UX designer to lead me, almost I took it all. So I lack some experience to solve problem relatively.Now I learn about JS / jQuery、SEO Optimization,HTML5/CSS3 and Responsive Web Design related fields by myself, hoping I can advance my skills and gain more experience, to become a good UI designer.
				h2 Experience
				ul
					li | 2017/10- now | - Uitox co.,Ltd. Web UI Designer
					li | 2016/11-2017/09 | - GENUINE C&C INC. Front-end engineer
					li | 2013/06-2016/09 | - Uitox co.,Ltd. Web UI Designer
					li | 2010/09-2013/06 | - iDotsys co.,Ltd. Web & System UI Designer
					li | 2009/09-2010/09 | - OLDNICK co.,Ltd Vision Designer
					li | 2007/09-2008/03 | - The Door 3D animation VFX & scene producer
					li
						| | 2007/09-2008/05 | - L.D.U of I.C. Preparatory Graduation General & documentary maker
				h2 Skills
				ul
					li  SASS/SCSS.
					li  Git - version control system.
					li  HTML/CSS (also includes HTML5/CSS3).
					li  Novice about JS/JQuery. 
					li  Computer graphics.
					li  Illustration.
				h2 Software
				ul
					li  Fire.app
					li  Git Bash、Sourcetree、TortoiseGit
					li  Text Editor (Sublime、Notepad++)
					li  Adobe Photoshop
					li  Adobe Illustrator
			section#content_two
				h1 My work
				.workimg
					a.luffy(href='https://codepen.io/jonic70134/pen/Dhnta', target='_blank')
						.link
							i.fa.fa-external-link
							| Pure css Luffy
						.mask
						img(src='img/luffy.png', alt='Pure css - Luffy')
					a.luffy(href='http://www.86shop.com.tw/', target='_blank')
						.link
							i.fa.fa-external-link
							| 86shop PC & mobile template
						.mask
						img(src='img/86shop.png', alt='ASAP online shopping mall')
					a.luffy(href='http://store.asus.com/', target='_blank')
						.link
							i.fa.fa-external-link
							| ASUS RWD template
						.mask
						img(src='img/asus.png', alt='ASUS online shopping mall')
			section#content_three
				h1 Video Portfolio
				.worktitle
					| Here are some 3D animation and video works.
					br
					| I'm not often do these jobs now,but you still can take look.
				.workimg
					blockquote [ The Door ] - 2008
					.video_container
						iframe.video_iframe(width='560', height='315', src='https://www.youtube.com/embed/AhSwoodPTlA', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
					blockquote [Talk Show] - 2007
					.video_container
						iframe.video_iframe(width='560', height='315', src='https://www.youtube.com/embed/rBGGgkjlCp0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		#backtop TOP
		.bubble
			span.bot
			span.top
			| Love Hiking、ball games、travel、photography too.

		
