doctype html
html
	head
		title i 員購福利網
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='i 員購福利網')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='i 員購福利網')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include ../src/_intro_head_staff.pug
		article.main
			section.cont
				.container
					.cont_l
						h2 企業員購網 服務說明
						p
							| #[span.blue 遠時數位科技股份有限公司 (遠傳集團)]
							br
							| 推出最新AI自動生成建構「企業員購網」服務，商品包羅萬象，
							| 食衣住行育樂皆有，提供 3C、居家、流行等全品類共 50萬件商
							| 品，讓員工一次購足的 AI 線上購物網站。
						
						dl.red_l
							dt.red_t 加入後立即享有：
							dd.red_des 免費建立公司LOGO專屬購物網站，增加員工歸屬感
							dd.red_des 企業無需花費人力維運員工帳號，方便又省時
							dd.red_des 讓各員工以優惠價格購買實際所需，開心又便利
							dd.red_des 提供兩種裝置模式 (線上版、手機版)，購物簡單又快速
						
						a.apply(href="intro_apply.html") 立即免費申請

					.cont_r
						img(src='img/intro/ysdt_ai_01.png' alt='遠時AI電商系統服務說明' title='遠時AI電商系統服務說明')
			section.cont
				.container
					#duo_gift
						.duo_top
							img(src="img/intro/duo_top.png", alt="雙重好禮贈")
						.duo_bot
							img(src="img/intro/duo_01.png", alt="活動1:早鳥禮 開站首月下單前10名，可獲得7-11中杯拿鐵X1")
							img(src="img/intro/duo_02.png", alt="活動2:月月抽好禮，每月下單可抽Apple AirPods 3")
						.duo_link
							a(href="#duo_pop")
								| 活動說明
			section.cont.brown.straight
				.container
					h2 企業員購網「線上版」和「手機版」
					.benefit
						.benefit_1
							img(src="img/intro/ysdt_ai_001.png", alt="流量")
		a.gotop(href="#")
		#duo_pop.lightbox-target
			.content
				.mem_des
					h2 「企業員購網」開站雙重好禮贈
						small 即日起 ~ 2023/12/31(日) 23:59:59
					h3.red 《活動一：早鳥禮》
					.mem_des_t 活動辦法：
					p 活動期間內完成開站的企業員購網，於開站首月下單，並成功付款且無取消訂單或退貨，依交易成立時間順序由先至後進行排序前10名方可獲得7-11中杯熱拿鐵電子序號乙組。
					.mem_des_t 獲獎說明：
					ul.des_ul
						li 每家企業員購網皆適用早鳥禮活動；每個帳號限贈乙組。
						li 開站次月20號 (遇假日則延至次一上班日)將序號以電子郵件方式提供。
							br
							|[註]因應每家企業員購網開站日期不同，早鳥禮活動時間，可依主辦單位(遠時數位)的專屬業務窗口的通知為準。
						li 收到電子序號當天起算半年內，到全7-11門市兌換【CITY CAFÉ中杯熱拿鐵】乙杯 (兌換方式請參考 
							a(href="https://www.ibon.com.tw/operate.aspx?fromPage=bonus.aspx&routeIDListInfo=4;B011;0,2,17#gsc.tab=0") ibon兌換說明
							|)，若無於期限內至門市兌換即視為放棄贈送資格，不得要求重新補發或贈送。
					
					h3.red 《活動二：月月抽好禮》
					.mem_des_t 活動辦法：
					p 活動期間下單，並成功付款且無取消訂單或退貨，每張訂單可獲得乙次Apple AirPods 3的抽獎機會，下單越多，中獎機率越高。
					.mem_des_t 獎品說明：
					p Apple AirPods 3 搭配Lightning 充電盒 (有線版)/一年保固。市場價值$5,590。
					.mem_des_t 抽獎說明：
					ul.des_ul
						li 每月共乙支Apple AirPods 3，供所有加入員購網之企業抽獎使用。
						li 2023年7月起至同年12月，於每月15日(遇假日則延至次一上班日)，撈取前月符合活動資格的訂單，以系統抽出一名，並由主辦單位(遠時數位)於當月20日，以電子郵件方式通知得獎者。
							br
							|[註]通知得獎信函將寄送到企業員購網帳號綁定的E-mail。
						li 得獎者需於接獲通知的當月25日前回覆中獎領據始完成領獎，逾期視同放棄領獎權益。實體贈品將於次月10日前寄達得獎者於企業員購網系統登錄之註冊會員地址，提醒您需不定期維護會員資料正確性(例如：會員姓名非真實姓名或暱稱、註冊會員地址錯誤或不完整)。
					hr

					.mem_des_t 【雙重好禮活動重要說明】
					ul.des_ul
						li 參加者需於活動期間內完成交易並該訂購商品已出貨，且無取消訂單、退貨情形，另預購、客製化商品訂單則納入實際出貨月份內抽獎。
						li 參加者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反，遠時數位取消其參加或得獎資格，並就因此所生之損害，得向參加者請求損害賠償。
						li 參加者必須遵守遠時數位的服務條款、使用規範及其他交易有關之規定，如有違反，即自動喪失參加資格，如為得獎者，則喪失得獎資格。
						li 參加者須同意接受遠時數位隱私權保護政策；參加者同意遠時數位於辦理本活動得獎聯絡事宜、活動分析或其他活動網頁上所聲明之方式及特定目的範圍內，得蒐集、處理及利用參加者所填寫之個人資料；除本活動辦法另有規定外，遠時數位關於參加者個人資料之使用及參加者之權益悉依遠時數位隱私權保護政策之規範。
						li 參加者保證所有填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。如有不實或不正確之情事，將被取消參加或得獎資格。如因此致遠時數位無法通知其得獎訊息或寄送獎品時，遠時數位不負任何責任，且如有致損害於遠時數位或其他任何第三人，參加者應負一切相關責任。
						li 得獎者利用企業員購網帳號參加活動時，如與會員登錄資料不符，遠時數位得要求得獎者提出相關證明文件，否則遠時數位得取消其得獎資格。
						li 依稅法規定獎項價值超過20,000元以上，須負擔10%機會中獎稅；非中華民國國境內居住之國人(即在中華民國境內居住未達183天之本國人及外國人)不論得獎人所得之金額，須就中獎所得扣繳20%機會中獎稅。扣繳稅款未超過2,000元，免扣繳稅款(外籍人士不適用)。
						li 依稅法規定，中獎贈品或獎金都算所得，全年所中獎的獎品價值超過市價1,000元，年度報稅時必須計入個人所得，故中獎人於領獎後，所得稅徵收前會收到本公司所發出的扣繳憑單。
						li 如有任何因電腦、網路、電話、技術或不可歸責於遠時數位之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，遠時數位負任何法律責任，參加者亦不得因此異議。
						li 遠時數位保留更換其他等值獎項之權利，本活動獎項以公布於本網站上的資料為準。贈品供應廠商所提供之贈品或服務發生爭議時，均應由贈品供應商自行負責，概與遠時數位無涉。
						li 參加者如因參加本活動或因活動獎項而遭受任何損失，遠時數位及相關之母公司、子公司、關係  企業、員工、代理商及協力廠商不負任何責任。一旦得獎者領取獎品後，若有遺失或被竊，遠時數位或贊助廠商等不發給任何證明或補償。
						li 中獎者不得將中獎資格移轉、販售或贈與給他人，亦不得以任何理由要求更換獎項、規格、轉讓或折換成現金。
						li 遠時數位保留隨時變更、修正、暫停或終止本活動之權利。
					h3.red 【開站雙重好禮贈-月月抽好禮中獎名單公告】
					

					.lottery_grid
						.lottery_head 抽獎月份
						.lottery_head 抽獎日期
						.lottery_head 抽獎名單說明
						.lottery_head 訂單編號
						.lottery_td 2023/7
						.lottery_td 2023/7/18
						.lottery_td 2023/5/1~6/30期間，符合活動的已出貨訂單
						.lottery_td 20230630619440

						.lottery_td 2023/8
						.lottery_td 2023/8/15
						.lottery_td 2023/7/1~7/31期間，符合活動的已出貨訂單
						.lottery_td 20230719698717

				a.lightbox-close(href="#")
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/intro.js')