doctype html
html
	head
		include ../src/_meta.pug
		link(href='css/mem_index.css', rel='stylesheet')
	body
		.body_container.happydes
			include ../src/_header_staff.pug 
			.site-main
				.container
					.newtitle-box
						h2.intro2-status
							img(src="img/happygo_des.jpg", alt="")
					.newcontent-box
						h3 什麼是HAPPY GO點數？
						.intro-data-box
							| HAPPY GO點數是特別回饋給HAPPY GO卡友的一項服務，只要卡友在HAPPY GO卡指定的任何地方消費付款金額達到查網回饋條件，就可以依您訂購金額獲得HAPPY GO點數。
							br
							| 所累積的
							span.red HAPPY GO點數將於點數入帳日後之六個月到期
							| ，期滿將無法使用。例如：2022/1/1累積之點數，將於2022/7/1到期。
						
						h3 如何獲得HAPPY GO點數？
						.intro-data-box
							<!-- | 只要在本網站「我的帳戶」點選「
							a(href='#') 啟用/重新驗証HAPPY GO累兌點服務 
							| 」完成啟用後，
							| 			您未來於本網站之有效訂單(無取消訂單及申請退貨)，我們將以訂單實付金額(不含遠傳幣及HAPPY GO點數全額折抵) 回饋HAPPY GO點數。-->
							ol
								li
								| 累點規則說明如下：
								ol
									li
									| 消費集點計算方式：每筆消費滿NT$100可累一點，其中電腦 / 筆電 / 電玩 / 相機、手機 / 配件 / 穿戴 / 耳機、家電 / 電視 / 冷氣 / 冰箱、健身 / 旅行 / 戶外 / 汽百、餐劵 / 票劵為每筆消費滿NT$200累一點。
									li 在訂單出貨完成後第14天，點數即會自動進入您的有效HAPPY GO帳戶。
									li 退貨/取消訂單時，消費所獲得的點數會自動扣除。
									li 本網站會不定期舉辦各式購物回饋活動，給予網站會員驚喜集點優惠！

						h3 如何使用HAPPY GO點數？
						.intro-data-box
							ol
								li 只要您有足夠的HAPPY GO點數，即可在friDay購物選擇適用點數折抵金額之商品，也可以用點數全額兌換商品。
								li 消費結帳時，您可填寫本次購物想要使用點數折抵消費之金額，系統將自動計算本次交易可折抵的HAPPY GO點數，訂購完成頁會顯示實際折抵金額和最後應付金額。
								li
								| 原則上每筆消費可用快樂購卡點數40點折抵10元，點數折抵計算，係依每張訂單佔該交易編號實付金額比例分攤，消費折抵無上限，若您消費金額未超過10元，則無法於本次消費折抵點數。
								li 點數折抵舉例說明:
								ul
									li 同一交易編號有3張訂單，總金額為3,800元，以HAPPY GO點數80點折抵20元，實際付款金額為3,780元。
									li 每一訂單HAPPY GO點數折抵金額，依訂單金額佔該交易編號金額比例計算。
								div.happdes_table
									table
										tbody
											tr
												td 訂單(同一交易編號)
												td 原始訂單金額(元)
												td 點數折抵金額(元/四捨五入)
												td 實際付款金額(元)
											tr
												td  訂單1
												td 500
												td (500/3800)*20=3
												td 497
											tr
												td 訂單2
												td 1000
												td (1000/3800)*20=5
												td 995
											tr
												td 訂單3
												td 2300
												td (2300/3800)*20=12
												td 2288
											tr
												td 合計
												td 3800
												td 20
												td 3780
						h3 取消訂單，退貨點數處理
						.intro-data-box
							ol
								li
								| 取消訂單或退貨點數處理規則：
								ol
									li 訂單未成立：當您付款不成功時，系統將於3小時內歸還您該筆交易已使用的點數；如遇系統維護時間，系統將於48小時內歸還您該筆交易使用之HAPPY GO點數。
									li 取消訂單：當您申請「取消訂單」時，系統將於取消訂單成功後3天內，歸還您該筆交易使用之HAPPY GO點數(該筆訂單將不會回饋HAPPY GO點數)。
									li 申請退貨：當您申請「退貨」時，系統將於退款完成後3天內，歸還您該筆交易使用之HAPPY GO點數(該筆訂單將不會回饋HAPPY GO點數)。
									li
									| 就已消費並贈送HAPPY GO點數之商品或服務退換貨時，依規定將扣回該商品贈送之快樂 購卡點數，如點數不足扣回者，需繳還點數處理成本費用（計算公式：不足之點數*NT$ 0.4）。

						h3 注意事項
						.intro-data-box
							ul
								li 如有HAPPY GO卡片使用及點數相關問題，請您於服務時間聯繫HAPPY GO客服中心，將有專人即時為您服務。
								li HAPPYGO客服中心電話：02-77166888
								li 服務時間：周一至週五  09:00~18:00。


		include ../src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')
		script(src='js/mem_index.js')
