body{
    background: #eee;
}
.body_container{
	min-height: calc(100vh - 82px);
}
.site-main,.container{
    width: 100%;
	max-width: 1220px;
    margin:0 auto;
    position: relative;
}
.site-header{
    position: relative;
    border-bottom: 1px solid #eee;
    background: white;
}
.main_head{
	display:flex;
	align-items: center;
	flex-flow:row nowrap;
	justify-content: space-between;
	position: relative;
    padding: 10px;
	height: 120px;
	.container{
		width: 100%;
	}
}

.header_r{
    display: flex;
    flex-flow:column;
    line-height: 1.4;
}
.header_r_top{
    font-size:fluid(12px,16px);
}
.header_r_bot{
    font-size:fluid(10px,13.5px);
}
.logo{
	display: block;
	max-width: 200px;
    max-height: 120px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
	}
}