.md_category_003 {
    .title-h3{
        background-color: #fb6190;
        padding:8px 5px;
        span{
            margin-left:7px;
            padding:0 0 0 10px;
            font-size: 1.15rem;
            color:#ffe7ee;
            border-left:7px solid #ffe7ee;
        }
    }
}