/*by Jonic*/

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}
  
  /* HTML5 display-role reset for older browsers */

body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote {
    &:before, &:after {
		content: '';
		content: none;
	}
}
  
q {
	&:before, &:after {
		content: '';
		content: none;
	}
}
  
table {border-collapse: collapse;border-spacing: 0;}
:focus {outline: 0;}
caption {text-align: left;}
:link {
	text-decoration: none;
	outline: none;
	/* for Firefox */
	hlbr: expression(this.onFocus=this.blur());
	/* for IE */
}
  
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
  
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  
/* change border colour to suit your needs */
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
  
input, select {
	vertical-align: middle;
}
  
  
body {
	min-width: 320px;
	font-family: "微軟正黑體", "Microsoft JhengHei",arial, serif;
	height: 100%;
}
  
/*==============================================================================================================================*/
img{
	display: block;
	border-radius: 10px;
}
.head{
	position: relative;
	max-width: 1280px;
    margin: 0 auto;
}
.logo{
	margin: 40px 20px;
	img{
		width: 200px;
		border-radius: 0;
	}
}

.sub_txt{
	padding:0 10px 15px;
	text-align: center;
	color:black;
	font-size:.8rem;
	line-height: 1.4;
	letter-spacing: 1px;
}
.saletime{
	max-width: 1280px;
	margin:20px auto;
	padding:10px;
	text-align: center;
	font-size:1.3rem;
	line-height: 1.4;
	color:white;
	background-color: black;
	box-sizing: border-box;
	span{
		color:#ff0;
	}
}
.items_bg{
	width:100%;
	max-width:1280px;
	margin: 20px auto 0;
}
.items{
	display: flex;
    flex-flow: row wrap;
	justify-content: space-between;
	margin:0;
}
.name{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp:2;
	font-size:1.6rem;
	color:white;
	line-height: 1.2;
	word-break: break-all;
	overflow: hidden;
}
.summary{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp:3;
	margin: 20px 60px 40px 0;
	overflow: hidden;
	color:#999;
	line-height: 1.2;
	font-size:clamp(1.2rem , 2vw, 1.6rem);
	word-break: break-all;
}
.photo{
	position: relative;
	width: 100%;
	height: 0;
	max-width: 100%;
	padding-top:35%;
	background: white;
	overflow: hidden;
	img{
		position: absolute;left:0;top:0;right:0;bottom:0;
		display: block;
		width:100%;
		height: 100%;
		max-width: 100%;
		max-height:100%;
		margin:auto;
		border-radius: 0;
		box-sizing: border-box;
	}
}

.cupn{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin:30px 0 0;
}
.cupn_t{
	margin:0 0 10px;
	color:#f5c5c5;
	font-size: calc(.9rem + (1.3 - 1.2) * ((100vw - 600px)/(1200 - 600)));
}
.cupn_ticket{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width:100%;
	font-size:1.1rem;
	background:  #f5c5c5;
	aspect-ratio: 21 / 9;
}
.cupn_bg{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	background:  #f5c5c5 url('../img/cupn_frame.svg') no-repeat center center;
}
.cupn_dur{
	color:#555;
	font-weight: 500;
	font-size: calc(.8rem + 3 * ((100vw - 600px)/(1200 - 600)));
}
.cupn_price{
	// margin: 5px 0 0;
	color:#ee6262;
	font-weight: 700;
	font-size: calc(1.2rem + 3 * ((100vw - 600px)/(1200 - 600)));
	&::first-letter{
		font-size: calc(.9rem + (1.3 - 1.2) * ((100vw - 600px)/(1200 - 600)));
	}
}

.price_area{
	display: flex;
    flex-flow: row nowrap;
	align-items: flex-start;
	margin: 20px 0 0 0;
}
.cupn_block{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	flex:2 1 46%;
}
.price{
	display: flex;
    flex-flow: row nowrap;
	align-items: baseline;
}
.nor,.dis{
	display: flex;
    flex-flow: row nowrap;
	align-items: baseline;
}
.nor_t,.dis_t{
	margin: 0 5px 0 0;
	color:#888;
	font-size:clamp(1rem , 3vw, 2rem)
}

.nor_price{
	margin:0 8px 5px 0;
	color:#888;
	text-decoration: line-through;
	&::first-letter{
		text-decoration: none;
	}
}
.dis_net{
	display: flex;
	align-items: baseline;
}
.dis_price{
	color:#f77;
	font-size:3.5rem;
	font-size:clamp(1.5rem , 4vw, 4rem);
	&::first-letter{
		font-size:clamp(1rem , 3vw, 2.5rem);
	}
}
.btn-imd{
	width: 100%;
	margin:10px 0 0;
	padding: 9px 0 10px 20px;
	font-size:clamp(1rem , 2vw, 1.8rem);
	letter-spacing: 16px;
	border: none;
	color: white;
	background-color: #f5281e;
	white-space: nowrap;
	cursor: pointer;
	line-height: 1;
}
.item_head{
	display: flex;
    width: 100%;
	margin:0 0 20px;
	padding:1.8%;
	background-color: #333;
	box-sizing: border-box;
	.info{
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		flex: 2 1 65%;
		margin: 0 0 0 2%;
	}
	.name_block{
		margin: 0 35px 0 0;
	}
	.name{
		font-size:clamp(1.5rem , 3vw, 2.5rem);
	}
	.price_b{
		flex:2 1 50%;
	}
	.cupn_t{
		font-size:clamp(.9rem , 2.2vw, 2.2rem);
		letter-spacing: 1px;
	}
	.cupn_dur{
		font-size: clamp(0.9rem, 3.2vw, 2.6rem);
	}

	.cupn_price_b{
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
	}
	.cupn_price_t{
		margin: 0 5px 0 0;
		color:#555;
		font-size: clamp(0.9rem, 2.8vw, 2.8rem);
	}
	.cupn_price{
		font-size: clamp(0.9rem, 4.5vw, 4rem);
		&::first-letter{
			font-size: clamp(0.7rem, 2.5vw, 1.5rem);
		}
	}
	.nor_price{
		font-size:clamp(1rem , 3vw, 3rem);
		&::first-letter{
			font-size:clamp(.7rem , 2vw, 1.5rem);
			text-decoration: none;
		}
	}
	.photo{
		flex:2 1 35%;
		border-radius: 10px;
	}
}

.item.sm{
	display: flex;
    flex-flow: row nowrap;
	justify-content: space-between;
	width: 49.22%;
	margin:0 1.55% 2% 0;
	padding: 15px 20px 15px 15px;
	background-color: #333;
	box-sizing: border-box;
	&:nth-child(2n){
		margin-left:0;
		margin-right:0;
	}
	.info{
		display: flex;
		flex-flow: column;
		margin:0 0 0 2%;
		flex:2 1 66%;
	}
	.name_block{
		flex:2 1 50%;
	}
	.name{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		line-clamp: 3;
		-webkit-line-clamp:3;
		overflow: hidden;
		margin:5px 0 0;
		font-size: clamp(0.9rem, 3.2vw, 1.25rem);
		line-height: 1.2;
		letter-spacing: 1px;
	}
	.photo{
		flex:2 1 28%;
		position: relative;
		width: 100%;
		height: 0;
		max-width: 180px;
		padding-top:28%;
		background: white;
		border:1px solid white;
		overflow: hidden;
		img{
			position: absolute;left:0;top:0;right:0;bottom:0;
			display: block;
			width:100%;
			height: 100%;
			max-width: 100%;
			max-height:100%;
			margin:auto;
			border-radius: 0;
			box-sizing: border-box;
		}
	}
	.price_area{
		flex:2 1 50%;
		margin: 10px 0 0;
		align-items: flex-end;
	}
	.price_b{
		flex:2 1 70%;
	}
	.cupn_block{
		flex:2 1 20%;
	}
	.cupn_t{
		margin:0 0 5px;
	}
	.cupn_ticket{
		font-size: clamp(.9rem, 1.5vw, 1.3rem);
	}
	.nor_t, .dis_t{
		margin: 0 5px 0 0;
		font-size:clamp(.9rem, 1.2vw, 2rem);
	}
	.nor_price{
		font-size:clamp(.8rem,2vw,1.2rem);
		&::first-letter{
			font-size:clamp(.7rem,3vw,.9rem);
		}
	}
	.dis_price{
		font-size:clamp(1.2rem,3vw,2rem);
		&::first-letter{
			font-size:clamp(1rem,3vw,1.2rem);
		}
	}
	.dis_af{
		margin:0 3px 0 0;
		font-size:1.4rem;
	}
	.dis_af_price{

		font-size:1.65rem;
		&::first-letter{
			font-size:1.1rem;
		}
	}
	.btn-imd{
		padding: 5px 0 5px 5px;
		letter-spacing: 5px;
		font-size:clamp(.9rem , 2vw, 1.4rem);
	}
}


@media (min-width:748px) and (max-width: 1279px) {
	.items{
		margin: 0 20px;
	}
}
@media (min-width:748px) and (max-width: 1200px) {
	.item_head{
		.summary{
			margin: 20px 60px 20px 0;
		}

	}
}
@media (min-width:748px) and (max-width: 1100px) {
	.item.sm{
		padding:15px;
		.name{
			margin: 0;
		}
	}
}
@media (min-width:748px) and (max-width: 1100px) {
	.cupn{
		margin: 10px 0 0 ;
	}
	.item.sm{
		.name{
			font-size:1rem;
		}
		.nor_price{
			margin: 0;
		}
		.cupn_t{
			font-size:.8rem;
		}
		.cupn_dur{
			font-size: .9rem;
		}
		.cupn_price{
			font-size: 1.2rem;
		}
	}
}
@media (min-width:748px) and (max-width: 965px) {
	.item{
		padding:10px;
	}
	.item.sm{
		padding:10px;
		.name{
			font-size: .8rem;
		}
		.dis{
			margin:0;
		}
		.cupn_t{
			font-size:.7rem;
		}
		.cupn_dur{
			font-size: .7rem;
		}
		.cupn_price{
			font-size: .9rem;
		}
	}
}
@media (min-width:748px) and (max-width: 925px) {
	.dis{
		img{
			width:18px;
			height: auto;
		}
	}
	.summary{
		line-clamp: 2;
		-webkit-line-clamp: 2;
	}
}
@media (min-width:748px) and (max-width: 840px) {
	.cupn_t{
		margin: 0 0 5px;
		font-size:.7rem;
	}
	.cupn_price{
		font-size:.9rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
	.item.sm{
		.cupn{
			margin: 0;
		}
		.info{
			margin:0 0 0 5px;
		}
		// .name{
		// 	font-size:1rem;
		// }
	}
}

@media (min-width:748px) and (max-width: 779px) {

	.dis{
		img{
			width:15px;
		}
	}
	.item.sm{
		.dis{
			img{
				width:10px;
			}
		}
	}
}
@media (max-width: 840px) {
	.logo{
		margin:20px;
		img{
			margin: 0 auto	;
		}
	}
	.title{
		padding: 0  0 10px;
	}
}

@media (max-width: 747px) {
	.title{
		font-size:2.5rem;
	}
	.items{
		margin: 0 20px;
	}
	.btn-imd{
		letter-spacing:2px;
		padding: 5px 10px;
	}
	.item_head{
		flex-flow:column;
		padding: 15px;
		.photo{
			width: 100%;
			padding-top: 100%;
		}
		.info{
			width:100%;
			margin: 0;
		}
		.name_block{
			margin: 0;
		}
		.price_b{
			flex:2 1 70%;
		}
		.dis{
			margin: 0;
		}
		.cupn_block{
			flex:2 1 30%;
		}
	}
	.price_area{
		margin: 10px 0 0;
	}
	.summary{
		margin: 0 20px 20px 0;
		line-clamp: 2;
		-webkit-line-clamp: 2;
	}
	.item.sm{
		width: 100%;
		margin:0 0 20px;
	}
}


@media (max-width: 655px) {
	.saletime{
		font-size:1rem;
		p{
			display: inline;
		}
	}
}
@media (max-width: 575px) {
	.cupn{
		margin: 10px 0 0;
	}

	.item{
		padding:10px;
	}
	.cupn_t{
		margin: 0 0 5px;
		font-size:.7rem;
	}

	.item_head{
		.cupn_t{
			letter-spacing: 0;
		}
		.dis{
			margin:0;
		}
		.price_b{
			flex:2 1 70%;
		}
		.cupn_block{
			flex:2 1 30%;
		}
	}
	.item.sm{
		padding:10px;
		.name{
			margin: 0;
			font-size:1rem;
		}
		.cupn{
			margin:0;
		}
		.nor{
			margin: 0;
		}
		.dis{
			margin:0;
		}
		// .dis_price{
		// 	font-size:1.2rem;
		// }
	}
}
@media (max-width: 460px) {
	.title{
		font-size:1.5rem;
	}
	.cupn_price{
		font-size:1rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
	.dis{
		img{
			width:15px;
			height: auto;
		}
	}
	.summary{
		font-size: 1rem;
	}
	.btn-imd{
		margin: 5px 0 0;
		padding: 8px 10px;
		font-size: .8rem;
	}
	.item_head{
		.price_b{
			flex:2 1 65%;
		}
		.cupn_block{
			flex:2 1 35%;
		}
	}
	.item.sm{
		.name{
			font-size:.8rem;
		}
		.info{
			margin:0 0 0 5px;
		}
		.price_b{
			flex:2 1 70%;
		}
		.cupn_block{
			flex:2 1 30%;
		}
	}
}
@media (max-width: 395px) {
	.summary{
		margin: 0 5px 10px 0;
	}
	.items{
		margin: 0 10px;
	}
	.item.sm{
		.name{
			font-size:.8rem;
		}
	}
}


@media (max-width: 355px) {
	.summary{
		font-size: 1rem;
	}
	.btn-imd{
		font-size:.8rem;
	}
	.nor_t, .dis_t{
		font-size:.7rem;
	}
	.item_head{
		.name{
			font-size:1.2rem;
		}
		.cupn_t{
			font-size: .8rem;
		}
		.price_b{
			flex:2 1 58%;
		}
		.cupn_block{
			flex:2 1 42%;
		}
	}
}