doctype html
html
	head
		include ../src/_meta.pug
		link(href='css/cate_one.css', rel='stylesheet')
	body
		.body_container
			include ../src/_header_staff.pug
			.sub_head
				.container
					include ../src/_menu.pug
					include ../src/_tagcloud.pug
			.site-main
				.cate_l
					.cate_menu
						h2.cate_one_t 
							a(href="cate_one.html") 筆電. 週邊. 電玩. 攝影
						.cate_b
							h3.cate_two_t
								a(href="cate_two.html") 筆記型電腦
							.cate_three
								a.cate_three_t(href="cate_two.html")
									h4 送1TB/2TB外接碟
								a.cate_three_t(href="cate_two.html")
									h4 送LINE FRIENDS
								a.cate_three_t(href="cate_two.html")
									h4 12代處理器 火熱開賣
								a.cate_three_t(href="cate_two.html")
									h4 筆電快速到貨專區
								a.cate_three_t(href="cate_two.html")
									h4 特規改機↗效能升級
								a.cate_more(href="cate_two.html") 更多...
						.cate_b
							h3.cate_two_t
								a(href="cate_two.html") 桌上電腦／零組件
							.cate_three
								a.cate_three_t(href="cate_two.html")
									h4 4K 60FPS 電競電腦
								a.cate_three_t(href="cate_two.html")
									h4 三萬有找 RTX-3060 電競主機
								a.cate_three_t(href="cate_two.html")
									h4 光追入門 RTX3050 電玩主機
								a.cate_three_t(href="cate_two.html")
									h4 萬元有找文書電腦
								a.cate_three_t(href="cate_two.html")
									h4 零組件超值套餐
								a.cate_more(href="cate_two.html") 更多...
						.cate_b
							h3.cate_two_t 
								a(href="cate_two.html") LCD液晶螢幕
							.cate_three
								a.cate_three_t(href="cate_two.html")
									h4 AOC限時加碼
								a.cate_three_t(href="cate_two.html")
									h4 BenQ限時特殺
								a.cate_three_t(href="cate_two.html")
									h4 Gigabyte加碼好禮
								a.cate_three_t(href="cate_two.html")
									h4 CXNO 美型支撐架7折起
								a.cate_three_t(href="cate_two.html")
									h4 ErgoGrade螢幕支架7折起
								a.cate_more(href="cate_two.html") 更多...
						.cate_b
							h3.cate_two_t 
								a(href="cate_two.html") Nintendo Switch
							.cate_three
								a.cate_three_t(href="cate_two.html")
									h4 Switch OLED 主機/組合
								a.cate_three_t(href="cate_two.html")
									h4 Switch 電力加強版 主機/組合
								a.cate_three_t(href="cate_two.html")
									h4 Switch 遊戲
								a.cate_three_t(href="cate_two.html")
									h4 Switch 原廠配件
								a.cate_three_t(href="cate_two.html")
									h4 Switch 遊戲預購專區
								a.cate_more(href="cate_two.html") 更多...
					include ../src/_item_relative.pug
					
				.cate_r
					.per_duoslide.duo_1
						.per_cate_name Apple周邊
						.per_info
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='../img/sample/item_019.jpg', alt='商品名稱', title='商品名稱')
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
										button.button.btn-imd 立即購買
							.per_r.swiper-container
								.swiper-wrapper
									.swiper-slide
										mixin slider(src)
											a.per_block(href='item.html')
												.per_dur
													img(src='../img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
														p.rush(href="#") 搶購 
										+slider('05_01_182')
										+slider('05_07_182')
										+slider('05_03_182')
										+slider('05_14_182')
										+slider('05_10_182')
										+slider('05_16_182')

									.swiper-slide
										mixin slider(src)
											a.per_block(href='item.html')
												.per_dur
													img(src='../img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
														p.rush(href="#") 搶購 
										+slider('01_04_160')
										+slider('01_05_160')
										+slider('01_03_160')
										+slider('05_14_182')
										+slider('05_18_182')
										+slider('05_01_182')
								.swiper-button-next
								.swiper-button-prev
								
					//- 熱賣特選
					.per.hot_cho
						.topic
							.per_tab
								.tab.cho_tab.active(data-chotab='chotab-1') 3C/家電滿額贈
								.tab.cho_tab(data-chotab='chotab-2') 活動促銷特價一
								.tab.cho_tab(data-chotab='chotab-3') 活動促銷特價二
								.tab.cho_tab(data-chotab='chotab-4') 活動促銷特價三
						#chotab-1.cho_info.per_info.active
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='../img/sample/03_07_240.jpg', alt='商品名稱', title='商品名稱')
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
											button.button.large.btn-imd 立即購買
							.per_r
								mixin slider(src)
									a.swiper-slide(href='item.html')
										.per_block
											img(src='../img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
											.per_r_info
												h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
												.per_price
													.price $999,900
								+slider('05_03_182')
								+slider('05_05_182')
								+slider('05_07_182')
								+slider('05_01_182')
								+slider('01_02_160')
								+slider('01_03_160')
						- var j = 5;
						- for (var i = 2; i < j; i++)
							div.cho_info.per_info(id='chotab-'+ i)
								a.per_l(href='item.html')
									.per_dur
										img.per_img(src='../img/sample/item_b_250.jpg', alt='商品名稱', title='商品名稱')
									.per_buy
										h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
										.per_price
											.pay_dis
												.price $195,900
												button.button.large.btn-imd 立即購買
								.per_r
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												img(src='../img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
									+slider('01_02_160')
									+slider('01_03_160')
									+slider('01_04_160')
									+slider('01_05_160')
									+slider('05_03_182')
									+slider('05_05_182')
					.spec_prod 
						.spec_slide
							mixin slider(big,small_top,small_bot)
								.swiper(href='item.html')
									h2.title 特賣主題
									.spec_block
										a(href="item.html").spec_l
											img(src='../img/sample/'+ big+'.jpg', alt='商品名稱', title='商品名稱')
											.spec_info
												h3.name 商品名稱商品名稱商品名稱商品名稱
												.per_price
													.price $999,900
										.spec_r 
											a(href="item.html").spec_r_block
												img(src='../img/sample/'+ small_top+'.jpg', alt='商品名稱', title='商品名稱')
												.per_price
													.price $999,900
											a(href="item.html").spec_r_block
												img(src='../img/sample/'+ small_bot+'.jpg', alt='商品名稱', title='商品名稱')
												.per_price
													.price $999,900
							+slider('03_01_240','03_02_100','03_03_100')
							+slider('03_04_240','03_05_100','03_06_100')
							+slider('03_07_240','03_08_100','03_09_100')

					
					.items_bg
						.items
							-var j = 6;
							- for (var i = 0; i < j; i++)
							mixin item(prod_pic)
								a.item(href='item.html')
									.photo
										.float
											i.icon.icon_same
											i.icon.icon_track
										img(src='../img/sample/'+ prod_pic +'.jpg', alt='商品名稱', title='商品名稱')
									.info
										h3.name(itemprop='name') 商品名稱商品名稱商品商品名稱商品名稱商品
										.price $999,999
							+item('05_01_182')
							+item('05_02_182x240')
							+item('05_03_182')
							+item('05_04_182x240')
							+item('05_05_182')
							+item('05_06_182x240')
							+item('05_07_182')
							+item('05_08_182x240')
							+item('05_09_182x240')
							+item('05_10_182')
							+item('05_11_182x240')
							+item('05_12_182')
							+item('05_13_182x240')
							+item('05_14_182')
							+item('05_15_182x240')
							+item('05_16_182')
							+item('05_17_182x240')
							+item('05_18_182')
							
							+item('05_01_182')
							+item('05_02_182x240')
							+item('05_03_182')
							+item('05_04_182x240')
							+item('05_05_182')
							+item('05_06_182x240')
							+item('05_07_182')
							+item('05_08_182x240')
							+item('05_09_182x240')
							+item('05_10_182')
							+item('05_11_182x240')
							+item('05_12_182')
							+item('05_13_182x240')
							+item('05_14_182')
							+item('05_15_182x240')
							+item('05_16_182')
							+item('05_17_182x240')
							+item('05_18_182')

		include ../src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/3rd-party/macy.js')
		script(src='js/common.js')
		script(src='js/cate_one.js')
