doctype html
html
	head
		include ../src/_meta.pug
		link(href='css/follow.css', rel='stylesheet')
	body
		.body_container
			include ../src/_header_staff.pug
			.sub_head
				.container
					include ../src/_menu.pug
					.breadcrumb
						a.link(href="index.html") 首頁
						span > 追蹤清單
			.item-fw
				.container
					.fw-list-block
						.fw-list
							.fw-num
								| 第 1 項 - 第 20 項商品，共 13 頁，253 項商品
							.fw-title 
								.fw-col1
								.fw-col2 商品訊息
								.fw-col3 最新價格
								.fw-col4
								.fw-col5 刪除
							mixin follow(img,name,price)
								.fw-list-content
									.fw-photo
										a(href='item.html')
											img(src='../img/sample/'+ img+'.jpg')
									.fw-info
										h3.fw-name
											a(href='item.html')=name
										.fw-price=price
										.fw-st
											.icon_block
												i.icon.icon_cart
												i.icon.icon_cart_arrow
										a.fw-del(href="#")
											i.icon.icon_del
							+follow('item_01','500G 主機 + NBA 2K15 + 耳麥+ 保固卡 加送 果凍套 + 保護貼','$999,999')
							+follow('item_02','商品名稱商品名稱商品商品名稱商品名稱商品名稱商品名稱商品商品名稱商品名稱商品名稱商品名稱商品商品名稱商品名稱','$990,000')
							+follow('item_03','雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F','$500')
							.fw-list-content
								.fw-photo
									a(href='item.html')
										img(src='../img/sample/item_04.jpg')
								.fw-info
									h3.fw-name
										a(href='item.html') 雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F
									.fw-price $8,500
									.fw-st
										button.button.small.btn-notify 貨到通知
									a.fw-del(href="#")
										i.icon.icon_del

							.fw-list-content
								.fw-photo
									a(href='item.html')
										img(src='../img/sample/item_01.jpg')
								.fw-info
									h3.fw-name
										a(href='item.html') 商品名稱商品名稱商品商品名稱商品名稱商品
									.fw-price $19,900,000
									.fw-st
										button.button.small.btn-lack 補貨中
									a.fw-del(href="#")
										i.icon.icon_del

							.fw-list-content
								.fw-photo
									a(href='item.html')
										img(src='../img/sample/item_02.jpg')
								.fw-info
									h3.fw-name
										a(href='item.html') 雙面羔羊絨連帽外套/連帽大衣 - 雙面款-F
									.fw-price $19,900,000
									.fw-st
										button.button.small.btn-notsale 尚未開賣
									a.fw-del(href="#")
										i.icon.icon_del
							<!--<div class="fw-list-content.none-item">
								| 目前無追蹤任何商品 div> -->
					include ../src/_pagenav.pug
					.fw-list-info
						| 說明：
						ul
							li 商品售價以網站即時標示為準。
							li 「貨到通知」將在商品貨到後通知您，商品數量有限請盡速訂購。
							li 購物車商品以您加入清單日期算起，三個月後自動刪除，刪除追蹤商品後將不再發送通知。
		include ../src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')
		script(src='js/follow.js')
