doctype html
html
	head
		include ../src/_meta.pug
		link(href='css/mem_cheat.css', rel='stylesheet')
	body
		.body_container
			include ../src/_header_staff.pug 
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_index.html")
							i.icon.icon_swiper_prev
							p.chk_order 防詐騙提醒

					#mem_des1.mem_des
						.mem_des_t 親愛的使用者您好：
						p 近日接獲消費者告知有關詐騙集團以本公司網站名義，透過電話方式提出有關本公司網站相關個資以進行詐騙行為。此種詐騙情形通常是詐騙集團大量以攔截資訊、盜用帳號、拼貼等方式重建個人資料後，而進一步以話術取信消費者，以套取個人金融資訊為目標，本公司再次提醒您，本公司不會主動聯繫您要求提供個人金融資訊，亦不會要求您至ATM匯款或網路銀行匯款。如有接獲疑似詐騙電話，請立即通報165警政署反詐騙專線。針對此事件本公司也與專業資安防護公司合作，進行資安檢測及強化資訊安全加密保護，未來也會持續落實資訊安全與個人資料管理保護，保護消費者個資之安全。如有訂單問題或對個人權益有任何疑問，歡迎與我們聯繫。

					#mem_des2.mem_des
						.mem_des_t 防詐騙重要提醒：
						p 提醒您：詐騙集團手法日新月異，企圖以中獎通知、網路購物付款方式分期設定錯誤、退款通知.. 等名義，誘騙消費者至“郵局”或 “銀行”以自動櫃員機（ATM）進行轉帳或查詢帳戶餘額，並要求消費者以英文介面操作，而導致無辜的消費者受騙。
						p.red 如接獲不明及可疑的電話或簡訊提出上述要求，請記住以下三大守則：
						ul.des_ul
							li 不要透漏任何個人資訊，請立即掛斷。
							li 不要聽從對方指示到ATM提款機進行任何操作。
							li 迅速打本網站專線：02-77033955 或 警政署防詐騙專線：165 求證（服務時間：24小時）
						p.strong 也請您注意以下事項：
						p.redmid 客服人員絕不會利用電話指導會員操作ATM
						p 由於詐騙集團大多是以篡改來電顯示號碼方式與您聯絡，例如來電時會顯示您所熟悉的客服中心專線號碼；或是詢問您較常使用的银行客服電話，而後的來電顯示就是您告知的银行客服電話號碼，以騙耿您的信任。我們的客服人員絕對不會以任何理由，要求您依照我們的指示，操作使用ATM或請您提供餘額查詢、交易序號、信用卡相關資料；我們也絕對不會變更已付款的訂單，更不會要求您再次進行操作ATM。

						p.red 千萬不要聽從指示到ATM做任何操作
						p 詐騙集團會以各種理由誘騙您去ATM做餘額查詢、提供交易時間、交易序號，主要是引誘您轉帳到特定帳號，並要確認您在提款機前有依照指示操作。事實上ATM只會將您帳戶中的錢轉出去，並無辦理匯入退款及解除約定帳戶之功能，請您務必小心不要上當；也千萬不要轉換到英文操作介面，以免受騙。

						p.red 請定期更換您的密碼,以確保安全
						p 密碼是保護帳戶資訊的重要關卡，建議您採取保護密碼四絕招：
						ul.des_ul
							li 不設簡易密碼（例如生日）
							li 不要設與帳號相同的密碼
							li 不同網站帳戶請設定不同密碼
							li 不要在公用電腦輸入密碼
						p 另外，如果您的電腦遭到病毒肆虐，也能造成資料外洩，請勿點選來歷不明之程式、賀卡、電子郵件，或者突然被廣為送的網址連結，以免因夾带病毒（如木馬程式）而導致電腦資料被抓取；而使用免費無線區域網路上網時，其通信訊號也容易被攔載，請您使用免費無線網路時，盡量不要登入個人資料。即使是使用私人電腦，也要定期更新防毒軟體病毒碼；若有在網上登入個人資料，離開時請登出網頁。
		include ../src/_foot.pug
		sscript(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')
		script(src='js/mem.js')