doctype html
html
	head
		include ../src/_meta.pug
		link(href='css/mem_chk.css', rel='stylesheet')
	body
		.body_container
			include ../src/_header_staff.pug
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_chk.html")
							i.icon.icon_swiper_prev
							p.chk_order 查訂單 
								small (聯絡客服)
						p.red 提醒您:本公司不會主動打電話告知您任何有付款修改的問題,若接到可疑電話請拒絕回應
					
					.mem_chk_ask
						.mem_chk_return_t 我要提問
						.mem_ask_container
							.ord_line 
								p 訂單序號：20230130123456
								p Email：#[strong horn****@friday.tw]
							.ord_reason
								.ord_chos
									p 退訂原因
									select.ord_info_select(name="")
										option(value="1") 請選擇退訂原因
										option(value="2") 不符期待(與網頁標示功能、圖片落差較大)
								.ord_des
									textarea.ord_des_area(name="") 
							.ord_btn
								a(href="mem_chk.html") 確認送出 
		include ../src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')

