header.site-header
	.head_con
		.head_l
			a.icon.icon_menu(href='#')
			a.icon.icon_logo(href='index.html')
		.head_r
			a.icon.icon_search(href='#')
			a.icon.icon_cart(href='#', title='查看購物車')
				span.icon.icon_check
		.site-search
			input.input-search(type='text', autocomplete='off', placeholder='請輸入商品名稱')
			.icon.icon_clear
			.search
				a.icon.icon_search(href='#')