nav.md_nav_menu
	.container
		.left
			.nav
				ul
				li.click 全球
				- var j = 10;
				- for (var i = 0; i < j; i++)
					li 家電
				
		.right
			a.enter_cate(href='#') 進入XX館→
			- var j = 5;
			- for (var i = 0; i < j; i++)
				.items
					h3.title
						span 品牌專區
					.cate_center
					.item
						a(href='catelist.html')
							h4 索尼 SONY
					.item
						a(href='catelist.html')
							h4 國際牌 Panasonic
					.item
						a(href='catelist.html')
							h4 智慧電視盒
					.item
						a(href='catelist.html')
							h4 索尼 SONY
					.item
						a(href='catelist.html')
							h4 國際牌 Panasonic
					.item
						a(href='catelist.html')
							h4 智慧電視盒