.tag-cloud
	-var j = 5;
	- for (var i = 0; i < j; i++)
		a.orangeLV1(href="#")
			span iphone 13
		a.greyLV2(href='#')
			span 年菜
		a.blueLV1(href='#')
			span iphone
		a.greyLV1(href='#')
			span 鳳梨酥
		a.blueLV2(href='#')
			span 4k電視
		a.orangeLV2(href="#")
			span 筆電
		a.greyLV2(href='#')
			span 洗髮精
		a.blueLV1(href='#')
			span 素顏霜
		a.greyLV1(href='#')
			span 耳機
		a.orangeLV1(href="#")
			span 沐浴乳
		a.blueLV1(href='#')
			span 鍵盤
		