.sort{
	@include clearfix;
	display: block;
	margin-bottom: 30px;
	li{
		float: left;
		display: block;
		&:first-child a{
			@include border-left-radius(10px);
		}
		&:last-child a{
			border-right: 1px solid $filter_border;
			@include border-right-radius(10px);
		}
		a{
			padding: 16px 30px;
			display: inline-block;
			border: 1px solid $filter_border;
			border-right: 0;
			color: $sort_text;
			&.active , &:hover{
				color: $filter_act;
			}
		}
	}
}
.sort-s{
	display: none;
}
//tabel & mobile
@media only screen and (max-width: $screen-md-max){
	.sort{
		display: none;
	}
	.sort-s{
		display: block;
		width: 94%;
		margin: 0 auto;
		color: $sort_text;
		font-size: 1em;
		option{
			line-height: 26px;
		}
	}
}