.pc_category_1big_6small_list {
  margin-bottom: 20px;
}
.pc_category_1big_6small_list .item .photo {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}
.pc_category_1big_6small_list .item .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.pc_category_1big_6small_list .item .info:after {
  display: block;
  content: " ";
  clear: both;
}
.pc_category_1big_6small_list .item .name {
  overflow: hidden;
  margin-bottom: 12px;
}
.pc_category_1big_6small_list .item .name a {
  display: block;
  color: #535353;
}
.pc_category_1big_6small_list .item .price del {
  color: #888;
  margin-bottom: 0px;
}
.pc_category_1big_6small_list .item .discount_price {
  float: left;
  color: #f73375;
  font-weight: bold;
  margin-right: 5px;
}
.pc_category_1big_6small_list .item .discount_price span {
  font-size: 12px;
}
.pc_category_1big_6small_list .item .buy-actions {
  float: left;
}
.pc_category_1big_6small_list .item .buy-actions .link-btn {
  color: #0063d2;
  font-size: 12px;
  text-decoration: underline;
}
.pc_category_1big_6small_list .title-h3 {
  margin-bottom: 2px;
  padding-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.pc_category_1big_6small_list .title-h3 span {
  display: inline-block;
  height: 22px;
  color: #ca3575;
  line-height: 22px;
  font-size: 21px;
  padding-left: 6px;
  border-left: solid 6px #ca3577;
}
.pc_category_1big_6small_list .text_rule_description {
  float: right;
  font-size: 12px;
  color: #898989;
  margin-top: -18px;
}
.pc_category_1big_6small_list .items {
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 5px #cb3479;
}
.pc_category_1big_6small_list .items:after {
  display: block;
  content: " ";
  clear: both;
}
.pc_category_1big_6small_list .big.item {
  width: 396px;
  float: left;
  padding: 18px;
  border-left: none;
}
.pc_category_1big_6small_list .big.item img {
  width: 360px;
  height: auto;
  margin-bottom: 10px;
}
.pc_category_1big_6small_list .big.item .name a {
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
}
.pc_category_1big_6small_list .big.item .text_description {
  color: #858585;
  font-size: 13px;
  margin-bottom: 20px;
}
.pc_category_1big_6small_list .big.item .price {
  float: left;
  padding-top: 13px;
  margin-right: 5px;
}
.pc_category_1big_6small_list .big.item .price del {
  font-size: 15px;
}
.pc_category_1big_6small_list .big.item .discount_price {
  font-size: 28px;
}
.pc_category_1big_6small_list .big.item .discount_price span {
  font-size: 15px;
}
.pc_category_1big_6small_list .big.item .buy-actions {
  padding-top: 9px;
}
.pc_category_1big_6small_list .big.item .buy-actions a {
  font-size: 15px;
}
.pc_category_1big_6small_list .small-item {
  width: 602px;
  float: right;
}
.pc_category_1big_6small_list .small-item .item {
  width: 200px;
  float: left;
  padding: 18px 20px;
  border-left: solid 1px #ccc;
}
.pc_category_1big_6small_list .small-item .item .photo {
  width: 160px;
}
.pc_category_1big_6small_list .small-item .item img {
  margin-bottom: 3px;
}
.pc_category_1big_6small_list .small-item .item .name {
  height: 27px;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
}
.pc_category_1big_6small_list .small-item .item .name a {
  color: #000;
}
.pc_category_1big_6small_list .small-item .item .price del {
  margin-bottom: 2px;
}
.pc_category_1big_6small_list .small-item .item .discount_price {
  font-size: 15px;
}
.pc_category_1big_6small_list .small-item .item .buy-actions {
  font-size: 12px;
}
.pc_category_1big_6small_list .small-item .bor-top {
  border-top: solid 1px #ccc;
}
