/* line 13, ../../../sass/define/___mixins.scss */
.rwd-category-003 {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd-category-003:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 3, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .items {
  margin: 0;
  padding: 10px;
}
/* line 13, ../../../sass/define/___mixins.scss */
.rwd-category-003 .items {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd-category-003 .items:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 8, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item {
  float: left;
  width: 48%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
}
/* line 14, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
/* line 17, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item:hover .photo {
  opacity: 0.75;
}
/* line 22, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block {
  float: right;
  width: 50%;
}
/* line 13, ../../../sass/define/___mixins.scss */
.rwd-category-003 .item-block {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd-category-003 .item-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 26, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .item {
  float: none;
  width: 100%;
  margin-bottom: 14px;
}
/* line 13, ../../../sass/define/___mixins.scss */
.rwd-category-003 .item-block .item {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd-category-003 .item-block .item:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 32, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .photo {
  float: left;
  width: 36%;
  height: auto;
  line-height: 0;
  margin-right: 5%;
  margin-bottom: 0px;
  padding-top: 0;
}
/* line 41, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block img {
  width: 100%;
  position: static !important;
}
/* line 45, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .info {
  float: left;
  width: 59%;
}
/* line 49, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .name {
  font-size: 15px;
  height: 36px;
  margin-bottom: 15px;
}
/* line 54, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .currency {
  font-size: 12px;
}
/* line 57, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .item-block .price {
  font-size: 16px;
}
/* line 61, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .photo {
  display: block;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
}
/* line 233, ../../../sass/define/___mixins.scss */
.rwd-category-003 .photo img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
/* line 66, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .info {
  min-height: 122px;
}
/* line 69, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .name {
  font-size: 16px;
  height: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
  overflow: hidden;
  word-wrap: break-word;
}
/* line 78, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .currency {
  font-size: 12px;
  display: inline-block;
}
/* line 83, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .price {
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
}
/* line 89, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .buy-actions {
  margin-top: 10px;
}
/* line 92, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .quantity {
  margin-right: 10px;
  vertical-align: middle;
}
/* line 95, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .quantity .quantity-decrease, .rwd-category-003 .quantity .quantity-increase {
  padding: 7px;
}
/* line 98, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .quantity .quantity-input {
  width: 36px;
  height: 32px;
}
/* line 103, ../../../sass/front/module_category/_rwd_category_003.scss */
.rwd-category-003 .highlight {
  margin-top: 10px;
  font-size: .7em;
  line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 999px) {
  /* line 113, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .quantity {
    margin-bottom: 10px;
  }
  /* line 116, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .button {
    margin-bottom: 10px;
    padding: 0 .7em;
  }
  /* line 120, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .highlight {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  /* line 128, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .items {
    padding: 10px;
    margin: 0;
  }
  /* line 132, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item {
    float: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 20px 20px;
    height: auto;
  }
  /* line 139, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .info {
    padding: 0;
    min-height: 0;
  }
  /* line 143, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .name {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
  }
  /* line 151, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .price {
    font-size: 18px;
    margin-right: 10px;
  }
  /* line 155, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .quantity {
    margin-right: 10px;
    vertical-align: middle;
  }
  /* line 158, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .quantity .quantity-decrease, .rwd-category-003 .quantity .quantity-increase {
    padding: 7px;
  }
  /* line 161, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .quantity .quantity-input {
    width: 36px;
    height: 32px;
  }
  /* line 166, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .button {
    vertical-align: top;
    font-size: 15px;
    padding: 0 1.25em;
    height: 32px;
    line-height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 173, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .button.btn-preorder-finish {
    padding: 0;
  }
  /* line 177, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block {
    float: none;
    width: 100%;
  }
  /* line 13, ../../../sass/define/___mixins.scss */
  .rwd-category-003 .item-block {
    zoom: 1;
  }
  /* line 16, ../../../sass/define/___mixins.scss */
  .rwd-category-003 .item-block:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  /* line 181, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .item {
    float: none;
    width: 100%;
    margin-bottom: 14px;
  }
  /* line 13, ../../../sass/define/___mixins.scss */
  .rwd-category-003 .item-block .item {
    zoom: 1;
  }
  /* line 16, ../../../sass/define/___mixins.scss */
  .rwd-category-003 .item-block .item:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  /* line 187, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .photo {
    float: none;
    width: 100%;
    height: 0;
    line-height: 0;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 100%;
  }
  /* line 196, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block img {
    width: auto;
    position: absolute !important;
  }
  /* line 200, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .info {
    float: none;
    width: 100%;
  }
  /* line 204, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .name {
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
  }
  /* line 209, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .currency {
    font-size: 14px;
  }
  /* line 212, ../../../sass/front/module_category/_rwd_category_003.scss */
  .rwd-category-003 .item-block .price {
    font-size: 18px;
  }
}
