header.site-header
	.container
		.main_head
			.header_l
				a.logo(href='index.html')
					img(src="img/hty_logo.png", alt="")
				.site_search
					input.input_search(type='search', maxlength='128', placeholder='請輸入商品名稱')
					a(href="search.html").btn-search
						i.icon.icon_search
			.header_r
				.pby
					p Powered by YSDT
						a.pbybtn(href="#pby_detail") 詳
						.pby_detail
							p 遠時數位科技股份有限公司
							p 提供技術服務, 包含：
							p AI網站, 金流, 發票及客服
								a.pbyclose(href="#") 關閉 

				ul.head_link
					li
						a(href='coupon.html') 個人對品折價券
					li
						a(href='crazy.html') 瘋最夯
					li
						a(href='fresh.html') 新到貨
				ul.head_func
					li
						a.my_account(href='mem_index.html')
							i.icon.icon_account
							span 我的
					li
						a.my_account(href='mem_track.html')
							i.icon.icon_track_plus
							span 最愛
					li
						a.cart(href='orderlist.html')
							i.icon.icon_cart
							i.icon.icon_check
			.head_login
				.mem_user_name 09*****456 您好！
				a.logout(href="#") 登出 