.pagenav
	a(href="#").nav.page_head.active 第一頁
	a(href="#").nav.page_ten_up 上10頁
	
	.page_mid
		a(href="#").nav.page_prev 上一頁
		a(href="#").nav.page_num.active 1
		a(href="#").nav.page_num 2
		a(href="#").nav.page_num 3
		a(href="#").nav.page_num 4
		a(href="#").nav.page_num 5
		a(href="#").nav.page_num 6
		a(href="#").nav.page_num ...
		a(href="#").nav.page_num 10
		a(href="#").nav.page_next 下一頁

	a(href="#").nav.page_ten_down 下10頁
	a(href="#").nav.page_last 最末頁