doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='labelprint.css')
    script(src='../js/lib/jQuery.js')
    script(src='../js/lib/jquery/jquery-uimin.js')
    script(src='../js/common/uiCommon.js')
    script(src='labelprint.js')
    title 標籤列印
  body(data-theme='light')
    .main
      include ../css/pug_lib/_header.pug
      include ../css/pug_lib/_sidemenu.pug
      .main-container
        ol.breadcrumb
          li.breadcrumb-item 首頁
          li.breadcrumb-item 訂單管理(門市取貨)
          li.breadcrumb-item.active(aria-current='page') 標籤列印
        .control_panel
          form#searchForm(method='get' action novalidate='novalidate')
          .flex-row 
            .flex-row-center
              .col-title 出貨確認日
              input#startDate.sm.valid(name='startDate' autocomplete='off' data-date-format='YYYY-MM-DD' type='date' placeholder='開始日期' dateiso='dateISO' aria-invalid='false' required)
              span.dash  ~ 
              input#endDate.sm.valid(name='endDate' autocomplete='off' data-date-format='YYYY-MM-DD' type='date' placeholder='結束日期' dateiso='dateISO' aria-invalid='false' required)
            .flex-row-center
              .col-title 訂單編號
              input#orderids.panel-input(type='text' placeholder='請輸入訂單編號' name='orderids' autocomplete='off')
          .flex-row 
            .flex-row-center
              .col-title 訂單類型
              select#orderType.panel-select(name='orderType')
                option(value selected='selected')  全部
                option(value='2') 一般商品
                option(value='3') 所有預購商品
                option(value='4') 預購型(預購日)
                option(value='5') 預購型(訂製日)
            .flex-row-center
              .col-title 門市類型
              select#storeType.panel-select.sm.valid(name='storeType', required="required" aria-invalid="false")
                option(value="1" selected='selected')  全家
                option(value='2') 7-11
          .panel_func
            input#deliveryType(type='hidden' name='deliveryType' value='4')
            input#storeType(type='hidden' name='storeType' value='1')
            input(type='hidden' name='orderStatus' value='3')
            input(type='hidden' name='isStore' value='true')
            input(type='hidden' name='orderBy' value='PAT.CREATEDATE DESC')
            input(type='hidden' name='storeSearch' value='true')
            a.btn-blue.search-btn 搜尋訂單
        .table_func
          .flex-row-end
            a.btn-blue-hallow 撿貨單列印
            a.btn-blue-hallow 隨貨明細列印
            a.btn-blue-hallow.tooltip 門市標籤列印
              span (直接貼在包裹上)
          .pages
            a.prev-page.disable 上一頁
            span.current-page 1/255
            a.next-page(href='#') 下一頁
            select.select-page
              option 第1頁
        #searchResult.table_content
          table
            thead
              tr
                th
                  .chk_stylelize
                    input#chkall.chkall(type='checkbox' name='chk_item')
                    label(for='chkall') 全選
                th 項次
                th 訂單編號
                th 訂單類型
                th 門市取貨付款
                   br 
                   |(代收金額)
                th 配送編號
                th(style='width: 100px;') 出貨確認日
                th(style='width: 120px;') 通知出貨日
                th(style='width: 100px;') 最晚出貨日
                th 門市類型
                th(style='width: 120px;') 取貨門市
                th(style='width: 220px;') 商品名稱編號
                th 供應商料號
                th 原數量
                th 客戶備註
            tbody#resultData
              tr(data-orderid data-index='1')
                td
                  .chk_stylelize
                    input#chk_item1.chk_item(type='checkbox' name='chk_item')
                    label(for='chk_item1')
                td 1
                td 20240508513159
                td 一般商品
                td 98000108
                td 0
                td 2024-05-10
                td 2024-05-08 20:20:28
                td 2024-05-10
                td 7-11
                td 
                td (8168803)屈臣氏維他命C嫩白潤膚乳液480ml
                td 148398
                td 1
                td 
              tr(data-orderid='20240508513159' data-index='2')
                td -
                td -
                td 20240508513159
                td 一般商品
                td
                  | 98000108
                  input(type='hidden' name='groupcheck' value='98000108_20240508513159')
                td 0
                td 2024-05-10
                td 2024-05-08 20:20:28
                td 2024-05-10
                td 7-11
                td
                td
                  span.word-break.tooltip.two (8168809)巴黎萊雅三合一卸妝潔顏水-清爽型(400ml)
                td 114897
                td 1
                td
              tr(data-orderid='20240508513159' data-index='3')
                td -
                td -
                td 20240508513159
                td 一般商品
                td
                  | 98000108
                  input(type='hidden' name='groupcheck' value='98000108_20240508513159')
                td 0
                td 2024-05-10
                td 2024-05-08 20:20:28
                td 2024-05-10
                td 7-11
                td
                td
                  span.word-break.tooltip.two (8168822) H&S 海倫仙度絲男士 0%矽靈洗髮乳500ml (有效淨透)
                td 148049
                td 1
                td


        include ../css/pug_lib/_pagenavi.pug
      // pure css lightbox start
      #lightbox-target.lightbox
        .content
          div here is content
          a.lightbox-close(href='#')
      // lightbox end
