// css編譯檔
@import "../css/scss_lib/reset";
@import "../css/scss_lib/var";
@import "../css/scss_lib/font";
@import "../css/scss_lib/layout";
@import "../css/scss_lib/table_style";



.panel-select{
    width:200px;
    margin:0 8px 0 0;
    padding: 7px;
}
.panel-input{
    width: 250px;
    padding: 7px;
}
.flex-row{
    margin: 10px 0;
    .col-title{
        width: 100px;
        text-align: right;
    }
    .flex-row-center{
        width: 30%;
    }
}
.dash{
    margin: 0 8px;
    font-size:1rem;
}

