doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/index.css')
    script(src='js/lib/jQuery.js')
    script(src='js/lib/jquery/jquery-uimin.js')
    script(src='js/common/uiCommon.js')
    script(src='labelprint.js')
    title 標籤列印
  body(data-theme='light')
    .main
      include css/pug_lib/_header.pug
      include css/pug_lib/_sidemenu.pug
      .main-container
