header.site-header
	.container
		.header_top
			.header_top_l
				a.btn_menu
					i.fas.fa-bars
			.header_top_m
				.logo
					a(href="index.html")
						h1 CICIZA
						img(src="../img/ciciza_logo.png",alt="ciciza logo")
			.header_top_r
				.search
					a(href="search.html")
						i.fa.fa-search
		.search-input
			form(action="")
				input(type='text', name='', id='',placeholder='請輸入關鍵字')
			a.btn_submit(href="search.html") 搜尋 	
	include _menu_m.pug
