nav.about_menu
	dl.main_menu
		dt 關於我們
		dd
			a(href='story.html') 
				h4 品牌故事
		dd
			a(href='category.html') 
				h4 門市資訊
		dd
			a(href='category.html') 
				h4 購物說明
		dd
			a(href='category.html') 
				h4 隱私權政策
	dl.main_menu
		dt 購物說明
		dd
			a(href='story.html') 
				h4 付款方式
		dd
			a(href='category.html') 
				h4 運送方式
		dd
			a(href='category.html') 
				h4 退換貨方式
			
				