footer.site-footer
	.container
		.foot_top_block
			.foot_block
				.social
					a.fb_fan(href="#")
						img(src="img/qmomo_fan.png", alt="")
			.foot_block
				h3 關於我們
				ul.foot_list
					li
						a(href='#') 品牌故事
					li
						a(href='#') 商店簡介
					li
						a(href='#') 門市資訊
					li
						a(href='#') 隱私權條款
			.foot_block
				h3 購物說明
				ul.foot_list
					li
						a(href='#') 付款方式
					li
						a(href='#') 運送方式
					li
						a(href='#') 退換貨方式
			.foot_block
				h3 客服資訊
				ul.foot_list
					li
						a(href='#') 客服留言
					li
						a(href='#') 常見問題
					li
						a(href='#') 會員權益聲明
					li
						a(href='#') 聯絡我們
			.foot_block
				h3 官方APP
				.down_app
					img(src="img/qr_code_logo.png", alt="qmomo app qr code")
					.down_app_r
						input(type="text",placeholder='請輸入台灣手機號碼')
						button(type='button')
							| 免費傳送載點至手機

					
		.copyright
			p
				| © 2015 by 愛桃子有限公司
			p.copy_right
				| 本站最佳瀏覽環境請使用Google Chrome、Firefox或Edge以上版本
.gotop
	span.lnr.lnr-chevron-up