footer.site-footer
	.container
		.inner
			.foot_left
				.contact
					img.foot_logo(src="img/foot_logo.png", alt="")
					.mid_title
						| Qmomo
						.copyright 
							| COPYRIGHT © by 愛桃子有限公司 ALL RIGHTS RESERVED.

					.time
						p TEL：
							span 02-2711-6580
						p Email：
							a(href="#")
								span qmomo@.com.tw
						p 客服服務時間：
							span Monday-Sunday  9am-10pm
						p 客服專線：
							span 02-2711-2219
						p Facebook：
							span Qmomo
						p Line ID：
							span @qmomo
						p IG ID：
							span qmomo_offical
					.social
						a.fb(href="#")
							i.fab.fa-facebook
						a.line(href="#")
							i.fab.fa-line
						a.ig(href="#")
							i.fab.fa-instagram-square
						a.yt(href="#")
							i.fab.fa-youtube-square
				.sitemap_block
					.mid_title
							| ABOUT US
					.site_map_bot
						.sitemap
							p 關於我們
							a(href="story.html") 品牌故事
							a(href="#") 門市資訊
							a(href="#") 購物說明
							a(href="#") 隱私權政策
						.sitemap
							p 購物說明
							a(href="#") 付款方式
							a(href="#") 運送方式
							a(href="#") 退換貨方式

			.foot_right
				.sm_title
					| Hello! My name is Ciciza. May I make a friend with you?
					br
					| I’m Qmomo’s younger sister.
				.ciciza_foot
					a(href="#")
						img(src="img/foot_ciciza.png", alt="")
//- .ciciza_block
//- 	a(href="https://www.ciciza.com.tw/" class="ciciza")
//- 		img(src="img/ciciza.png", alt="ciciza官網")
//- 	i.fas.fa-times
.float_block
	//- a.foot_link_open(href="#")
	//- 	i.fas.fa-chevron-right
	a.ciciza(href="https://www.ciciza.com.tw/")
		img(src="img/side_ciciza.svg", alt="")
	a(href="https://qmomo.shop/%E9%96%80%E5%B8%82%E8%A9%A6%E7%A9%BF%E6%9C%8D%E5%8B%99%E9%A0%90%E7%B4%84")
		img(src="img/side_reservation.svg", alt="")
	a(href="https://www.ciciza.com.tw/")
		img(src="img/side_ciciza_sis.svg", alt="")
	a(href="https://www.facebook.com/qmomotw")
		img(src="img/side_fb.svg", alt="")
	a(href="https://www.instagram.com/qmomo_official/")
		img(src="img/side_ig.svg", alt="")
	a(href="https://www.youtube.com/channel/UCjEfuTket3tmNsM_8G6shKQ")
		img(src="img/side_yt.svg", alt="")
	.gotop
		i.fas.fa-chevron-up
		i.fas.fa-chevron-down

		