a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_11.jpeg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
		.func
			.dis_price NT$990
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_12.jpeg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
		.func
			.dis_price NT$990
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_13.jpeg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
	.info
		h3.item_title
			| 外套【賴床必備】舒適好棉居家外套 (2色)
		.func
			.dis_price NT$1,090
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_14.jpeg", alt="BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)")
	.info
		h3.item_title
			| BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)
		.func
			.dis_price NT$890
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_9.jpeg", alt="內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)")
	.info
		h3.item_title
			| 內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)
		.func
			.dis_price NT$990
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_10.jpeg", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
	.info
		h3.item_title
			| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
		.func
			.dis_price NT$1,290
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_7.jpeg", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
	.info
		h3.item_title
			| 內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
		.func
			.dis_price NT$1,1190
			.track
				span.lnr.lnr-heart
a.item(href="#")
	figure.photo
		img(src="img/1000x1000_prod_8.jpeg", alt="內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)")
	.info
		h3.item_title
			| 內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)
		.func
			.dis_price NT$1,1190
			.track
				span.lnr.lnr-heart