ul
	li
		a(href="mem_order.html") 訂單查詢
	li
		a(href="mem_fav.html") 我的收藏
	li
		a(href="mem_coupon.html") 我的優惠券
	li
		a(href="mem_info.html") 會員資料
	li
		a(href="mem_point.html") 會員點數中心
	li
		a(href="mem_privacy.html") 會員權益
	li
		a(href="mem_setting.html") 通知設定
	li
		a(href="mem_chg_pass.html") 修改密碼
		
a.logout(href="#") 登出