nav.site-menu
	.container
		ul.main_menu
			li
				a(href='category.html') 新品上市
			li
				a(href='category.html')  商品分類
					span.care
				ul.sub_menu
					li
						a(href='category.html')  平口內衣 | 推推
					li
						a(href='category.html')  性感情趣
					li
						a(href='category.html')  美胸學堂
			li
				a(href='category.html')  熱銷排行
			li
				a(href='category.html')  人氣商品推薦
			li
				a(href='category.html')  熱銷補貨
			li
				a(href='category.html')  美胸學堂
			li
				a(href='https://inline.app/booking/-LG8ttIirXyGBKuOHoQV%3Ainline-live-2a466' target='_blank') 預約試穿服務