doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug

		title Qmomo
		meta(name='description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')
		meta(name='keywords' content='平口內衣,平口內衣推薦,無肩帶內衣,內衣推薦')
		meta(property='fb:pages' content='qmomotw')
		meta(property='og:url' content='https://www.qmomo.com.tw/v2/official/SalePageCategory/45567')
		meta(property='og:image' content='https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6527577/0/637341444881030000?v=1')
		meta(itemprop='og:description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')

		link(href='css/campaign.css', rel='stylesheet')
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug
		
		.site-activity
			.container
				#activity_info.act-info
					h3
						span.ready 通通給姊包起來~組合價$3988
						span.act-title 
						span.date 2020/12/01 00:00 ~ 2020/12/15 23:59
					.desc
						p.act-content
							| 任選5件NT$3,988，折扣可循環累計，且無法使用折價券和其他折扣活動優惠
						p.tip
							| 活動優惠可循環累計。
							//- em.t-red 2016/07/25
							//- 	|  給點，若商品退貨未達門檻將取消給點。
						p.tip
							| 注意：商品中，若有「限定商品」或「FB分享商品」參與折扣活動，將不會顯示於活動頁中，但於購物車結帳時，仍享有優惠。
						p.tip
							| 購買活動商品達到「件數門檻」時，即享特定件數商品的活動優惠價。
				#activity_cart.act-cart
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a.photo(href='#')
									img(src='img/item_long_01.jpg' alt='')
								.info
									h1.name 幼桃肌嫩白緊緻慕斯Daily Feminine Mousse
									.line
										span.currency NT$ 1099
										span.price
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='text' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										a.btn-del(href='#')
											i.far.fa-trash-alt
							.swiper-slide
								a.photo(href='#')
									img(src='img/item_long_03.jpg' alt='')
								.info
									h1.name 幼桃肌嫩白緊緻慕斯Daily Feminine Mousse
									.line
										span.currency NT$ 1099
										span.price
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='text' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										a.btn-del(href='#')
											i.far.fa-trash-alt
							.swiper-slide
								a.photo(href='#')
									img(src='img/item_long_02.jpg' alt='')
								.info
									h1.name 幼桃肌嫩白緊緻慕斯Daily Feminine Mousse
									.line
										span.currency NT$ 1099
										span.price
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='text' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										a.btn-del(href='#') 
											i.far.fa-trash-alt
							.swiper-slide
								a.photo(href='#')
									img(src='img/item_long_04.jpg' alt='')
								.info
									h1.name 幼桃肌嫩白緊緻慕斯Daily Feminine Mousse
									.line
										span.currency NT$ 1099
										span.price
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='text' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										a.btn-del(href='#')
											i.far.fa-trash-alt
						a.swiper-left(href='#')
							i.fas.fa-angle-left
						a.swiper-right(href='#')
							i.fas.fa-angle-right
					.state
						#progress-bar-static.progress-bar-static
							.inner-bar(data-state='100')
							span.note
								| 還差 
								span.price NT$200
							span.note-finish.hide 已達成條件
						p.tip
							| 已選購
							span.red-text  4件 
							| 商品：
						#actActions.actions
							span.current 目前累計金額：
							span.price NT$800
							a.button(href='#') 查看購物車


		.sort_block
			.container
				ul.tabs
					li.tab_link.current(data-tab='tab-1') 性感內衣
					li.tab_link(data-tab='tab-2') 舒適小褲
				.sort
					label(for="sort1")
						input(type="radio", name="sort" ,value="1", id="sort1" ,checked="checked")
						span.checkmark
						p 店長推薦
					label(for="sort2")
						input(type="radio", name="sort" ,value="2", id="sort2")
						span.checkmark
						p 最新上架
					label(for="sort3")
						input(type="radio", name="sort" ,value="3", id="sort3")
						span.checkmark
						p 熱賣商品
					label(for="sort4")
						input(type="radio", name="sort" ,value="4", id="sort4")
						span.checkmark
						p 最多人看
					label(for="sort5")
						input(type="radio", name="sort" ,value="5" ,id="sort5")
						span.checkmark
						p 價格 低 → 高
					label(for="sort6")
						input(type="radio", name="sort" ,value="6", id="sort6")
						span.checkmark
						p 價格 高 → 低
		.category
			.container
				#tab-1.tab_content.current
					.items
						include _items.pug
				#tab-2.tab_content
					.items
						include _items_pantie.pug
		.nav
			.container
				a(href="#" class="prev")
					i.fas.fa-angle-left
				.page_num_block
					a(href="#" class="nav_page_num active") 1	
					a(href="#" class="nav_page_num") 2
					a(href="#" class="nav_page_num") 3
					a(href="#" class="nav_page_num") 4
					a(href="#" class="nav_page_num") 5
					a(href="#" class="nav_page_num") 6
					a(href="#" class="nav_page_num") 7
					a(href="#" class="nav_page_num") 8
					a(href="#" class="nav_page_num") 9
					a(href="#" class="nav_page_num") 10
				
				a(href="#" class="next")
					i.fas.fa-angle-right
		include _footer.pug

		script(src='js/jquery-3.5.1.min.js')
		script(src='js/svgembedder.min.js')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/campaign.js')