doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/index.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/index.js')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug
		
		// Start slider
		.big_slider
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider7.jpg', alt=' 親膚天絲')
					.swiper-slide
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider6.jpg', alt=' 親膚天絲')
					.swiper-slide 
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider4.jpg', alt=' 我只要陷阱妹')
					.swiper-slide 
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider5.jpg', alt=' 我愛睡覺覺')
					.swiper-slide 
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider3.jpg', alt=' 我愛睡覺覺')
					.swiper-slide
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider2.jpg', alt='美胸BraTop')  
					.swiper-slide
						a(href="item.html")
							img(data-seq='', src='img/qmomo_slider1.jpg', alt='運動內衣')
					//- .swiper-slide
					//- 	.video_container
					//- 		iframe(src='https://www.youtube.com/embed/zmHbGq7IkjI', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
				.swiper-pagination.swiper-pagination-white
				.swiper-button-next.swiper-button-white
				.swiper-button-prev.swiper-button-white
		.banner
			.container
				.one_banner
					a(href="item.html")
						img(src='img/qmomo_big_ad4.png', alt='Qmomo banner')
		//- section.tab_container
		//- 	.container
		//- 		ul.tabs
		//- 			li.tab_link.current(data-tab='tab-1') 新品上市
		//- 			li.tab_link(data-tab='tab-2') 熱銷產品
		//- 			li.tab_link(data-tab='tab-3') 運動健身
		//- 			li.tab_link(data-tab='tab-4') 性感情趣
		//- 		#tab-1.tab_content.current
		//- 			.items
		//- 				include _items.pug
		//- 		#tab-2.tab_content
		//- 			.items
		//- 				include _items.pug
		//- 		#tab-3.tab_content
		//- 			.items
		//- 				include _items.pug
		//- 		#tab-4.tab_content
		//- 			.items
		//- 				include _items.pug
		
		.index_items
			.container
				.big_title NIGHT CARE
				.items
					include _items.pug
		.index_video
			.container
				.qmomo_tv
					a(href="#")
						img(src="img/qmomo_tv_bg.jpg", alt="")
					.qmomo_video
						iframe(src='https://www.youtube.com/embed/MgZeFlFVis8' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
		include _footer.pug
		
		.lightbox#index_ad(data-fancybox)
			a(href="category.html")
				img(src="img/index_popup_ad.jpg", alt="")
		