doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug

		.member
			.container
				.mem_block
					.mem_body
						.mem_link
							include _mem_menu.pug
						.mem_info
							.sub_func
								a(href="mem_info_location.html") 常用收件人 
								a(href="mem_info_invo.html") 常用統一編號
							.location_line
								input(type='text' placeholder='姓名' value='金小姐')
							.location_line
								input(type='email' placeholder='Email' value='abc@gmail.com')
							.location_line
								input(type='tel' placeholder='電話' value='0912345678')
							.location_line
								.location_select
									select#credit-month(name='')
										option(value='1') 台北市
								.location_select
									select#credit-year(name='')
										option(value='1') 信義區
										option(value='2') 大安區
										option(value='3') 內湖區
								input.post(type='text' placeholder='郵遞區號' value='106')
							.location_line
								input.addr(type='text' placeholder='地址' value='中山路一段5弄2號')
							.bot_func
								a.submit(href="#") 更新資料
		include _footer.pug