doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug

		.member
			.container
				.mem_block
					.mid_title 會員資料
					.mem_body
						.mem_link
							include _mem_menu.pug
						.mem_info
							.sub_func
								a(href="mem_info_location.html") 常用收件人 
								a(href="mem_info_invo.html") 常用統一編號
							div
								input(type='text' placeholder='姓名' value='金小姐')
							div
								input(type='email' placeholder='Email' value='abc@gmail.com')
							div
								input(type='tel' placeholder='電話' value='0912345678')
							div
								input(type='text' placeholder='地址' value='台北市中山區中山路一段5弄2號')
							.bot_func
								a.submit(href="#") 更新資料
		include _footer.pug