doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug

		.member
			.container
				.mem_block
					.mid_title 訂單查詢
					.mem_body
						.mem_link
							ul
								li
									a.active(href="mem_order.html") 訂單查詢
								li
									a(href="mem_info.html") 會員資料
								li
									a(href="mem_fav.html") 我的收藏
							a.logout(href="#") 登出
						.mem_order
							.mem_order_block
								.mem_order_list
									.mem_left
										.mem_num 訂單編號：#dfuh99u
										.mem_date 訂單日期：2020/05/05
										.mem_total 訂單總額：$99,999
										.mem_deliver 物流資訊：黑貓宅急便  
											a(href="#") 1342058599
									.mem_right
										.trans 運送中
										a.order_detail(href="#") 發票內容
								.mem_sub_order
										.mem_sub_cell
											.mem_sub_t 發票編號
											.mem_sub_con AB-0448591
										.mem_sub_cell
											.mem_sub_t  付款方式
											.mem_sub_con 信用卡
										.mem_sub_cell
											.mem_sub_t 商品明細
											.mem_sub_con
												ul
													li
														p.name
															a(href="item.html") 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
														p.num x2
														p.price $98999
										.total_price
											p 總金額
											p $99999
							.mem_order_block
								.mem_order_list
									.mem_left
										.mem_num 訂單編號：#dfuh99u
										.mem_date 訂單日期：2020/05/05
										.mem_total 訂單總額：$99,999  
										.mem_deliver 物流資訊：黑貓宅急便  
											a(href="#") 1342058599
									.mem_right
										.trans 已完成
										a.order_detail(href="#") 發票內容
								.mem_sub_order
										.mem_sub_cell
											.mem_sub_t 發票編號
											.mem_sub_con AB-0448591
										.mem_sub_cell
											.mem_sub_t  付款方式
											.mem_sub_con 信用卡
										.mem_sub_cell
											.mem_sub_t 商品明細
											.mem_sub_con
												ul
													li
														p.name
															a(href="item.html") 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
														p.num x2
														p.price $98999
										.total_price
											p 總金額
											p $99999
							.mem_order_block
								.mem_order_list
									.mem_left
										.mem_num 訂單編號：#dfuh99u
										.mem_date 訂單日期：2020/05/05
										.mem_total 訂單總額：$99,999
										.mem_deliver 物流資訊：黑貓宅急便  
											a(href="#") 1342058599
									.mem_right
										.trans 已完成
										a.order_detail(href="#") 發票內容
								.mem_sub_order
										.mem_sub_cell
											.mem_sub_t 發票編號
											.mem_sub_con AB-0448591
										.mem_sub_cell
											.mem_sub_t  付款方式
											.mem_sub_con 信用卡
										.mem_sub_cell
											.mem_sub_t 商品明細
											.mem_sub_con
												ul
													li
														p.name
															a(href="item.html") 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
														p.num x2
														p.price $98999
										.total_price
											p 總金額
											p $99999
							
		include _footer.pug