doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug

		.member
			.container
				.mem_block
					.mem_body
						.mem_link
							include _mem_menu.pug
						.mem_fav
							.fav_block
								img(src="img/1000x1000_prod_1.jpeg", alt="")
								.fav_info
									.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
									.discount_price
										span.currency NT$ 1,290
									.fav_func_btn
										a.btn-cart(href="#") 加入購物車
										a.remove(href="#")
											i.fas.fa-times
											span 移除
							.fav_block
								img(src="img/1000x1000_prod_2.jpeg", alt="")
								.fav_info
									.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
									.discount_price
										span.currency NT$ 1,290
									.fav_func_btn
										a.btn-cart(href="#") 加入購物車
										a.remove(href="#")
											i.fas.fa-times
											span 移除
							.fav_block
								img(src="img/1000x1000_prod_3.jpeg", alt="")
								.fav_info
									.mid_title 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
									.discount_price
										span.currency NT$ 1,290
									.fav_func_btn
										a.btn-cart(href="#") 加入購物車
										a.remove(href="#")
											i.fas.fa-times
											span 移除
		include _footer.pug