doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/about.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug
		
		.about_main
			.container
		
				include _about_menu.pug
				.about_content
					h3 隱私權政策
					.privacy_block
						.sm_title 隱私權聲明
						p
							| Qmomo 為 愛桃子有限公司 所經營；為了維護個人隱私權與支持個人資料保護， Qmomo 謹以下列聲明，向您說明 Qmomo 蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項； 如果您對於 Qmomo 的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問，可以和 Qmomo 客服中心聯絡， Qmomo 將儘快回覆說明。
					.privacy_block
						.sm_title 適用範圍
						p
							| Qmomo 為 愛桃子有限公司 所經營；為了維護個人隱私權與支持個人資料保護， Qmomo 謹以下列聲明，向您說明 Qmomo 蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項； 如果您對於 Qmomo 的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問，可以和 Qmomo 客服中心聯絡， Qmomo 將儘快回覆說明。
					.privacy_block
						.sm_title 個人資料蒐集之目的與類別
						p
							| Qmomo為了提供電子商務服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的，依照各服務之性質，有可能會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為完成收款或付款所需之資料、ＩＰ位址、及其他得以直接或間接識別使用者身分之個人資料。 此外，為提升服務品質， Qmomo 會依照所提供服務之性質，記錄使用者的IP位址、以及在 Qmomo 相關網站或APP內的瀏覽活動(包括但不限於使用者所使用的軟硬體、所點選的網頁、下載的APP)等資料，而且這些資料僅供作流量分析和網路行為調查，以便於改善 Qmomo 相關網站或APP的服務品質，不會和特定個人相連繫。
					.privacy_block
						.sm_title 個人資料的利用
						p
							| Qmomo 所蒐集的足以識別使用者身分的個人資料、消費與交易資料，或日後經您同意而提供之其他個人資料，都僅供 Qmomo 於其內部、依照蒐集之目的進行處理和利用、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關（包括但不限於法院或台灣票據交換所）之命令或要求，否則 Qmomo 不會將足以識別使用者身分的個人資料提供給本隱私權條款未臚列的第三人（包括境內及境外）、或移作蒐集目的以外之使用。 Qmomo 會持續保管、處理及利用相關資料。在上開蒐集目的範圍內，本商店會將所蒐集的個人資料，提供予合作廠商（包括但不限提供本服務之91APP、宅配貨運業者或其他）以協助交易完成或終止。若選擇以信用卡方式支付，僅限信用卡持卡人本人使用，且得就此交易資料向發卡銀行、收單行及持卡人照會並確認是否屬實，於核對無誤後付款程序才算完成。依上開蒐集目的所取得的個人資料，可能會傳送至您的國家或地區以外的地方進行保存或處理，且於符合個人資料保護法的情況下才會將您的資訊傳送至境外。
					.privacy_block
						.sm_title 第三方利用與廣告(分析)服務
						p
							| 為優化您的消費體驗，讓您能更輕易地接觸所偏好的商品資訊，我們會在不同平台對您作優化廣告投放及使用流程的目的範圍內，將您的個人資料分享給提供廣告分析、投放的服務業者如Google、Facebook、Line、Yahoo、Criteo、Adobe、Tagtoo，另該些服務業者得以為您進行精準的商品廣告安排，此外，我們也已安裝 Google Analytics (分析) 廣告功能。如您欲停用此類功能及服務，建議您可參考Google所提供 不透露資訊的方式 以停用該功能，或與我們聯繫，我們會提供必要的協助。
					.privacy_block
						.sm_title 資料安全
						p
							| Qmomo 將以合於產業標準之合理技術及程序，維護 Qmomo 個人資料之安全。請留意，手機號碼是關聯您會員身分的核心認證資訊，若您手機遺失、更換手機號碼、或有變更手機號碼所有權名義時，請務必與 Qmomo 聯繫，進一步完成必要的個人資訊變更，以確保您的個人資料、交易資料的安全性與機密性；若您未提出前述資訊變更需求，須自行負擔可能發生的一切損害。
					.privacy_block
						.sm_title 資料當事人之權利
						p
							| 資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本。若您的個人資料有變更、或發現您的個人資料不正確，可以向 Qmomo 要求修改或更正；如您所提供之資料錯誤或缺漏，則不受本隱私權聲明之保護。當蒐集個人資料之目的消失或期限屆滿時，您可要求刪除、停止處理或利用個人資料。但因 Qmomo執行職務或業務所必須者，不在此限。因應歐盟個人資料保護法規（European Union General Data Protection Regulation, GDPR），歐盟國家使用者將暫停使用 Qmomo 之各服務。若您有任何詢問，請與 Qmomo 客服中心聯絡。
					.privacy_block
						.sm_title Cookie
						p
							| 為了便利使用者， Qmomo 網站可能會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消、或限制此項功能，但可能因此無法使用部份網站功能。若您想知道如何取消、或限制此項功能，請與 Qmomo 客服中心聯絡。
					.privacy_block
						.sm_title Google Analyics(分析)廣告功能
						p
							| 本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供 Qmomo 分析廣告投放效益及優化使用流程，如您欲停用 Google Analytics (分析) 廣告功能，建議您可參考Google所提供
							a(href="https://tools.google.com/dlpage/gaoptout/") 不透露資訊的方式
							| 以停用該功能。
					.privacy_block
						.sm_title 影響
						p
							| 若您不願意提供各服務或交易所要求的相關個人資料予 Qmomo ，並同意 Qmomo 就該等個人資料依法令規定、以及本隱私權聲明及其相關告知內容為相關之個人資料蒐集、處理、利用及國際傳輸， Qmomo 將尊重您的決定，但依照各該服務之性質或條件，您可能因此無法使用該等服務或完成相關交易， Qmomo 並保留是否同意提供該等相關服務或完成相關交易之權利。
					.privacy_block
						.sm_title 修訂之權利
						p
							| Qmomo 有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在 Qmomo 網站，不另行個別通知，您可以隨時亦有義務在 Qmomo 網站上詳閱修訂後的隱私權聲明及相關告知事項。
		include _footer.pug
