doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug

		title Qmomo
		meta(name='description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')
		meta(name='keywords' content='平口內衣,平口內衣推薦,無肩帶內衣,內衣推薦')
		meta(property='fb:pages' content='qmomotw')
		meta(property='og:url' content='https://www.qmomo.com.tw/v2/official/SalePageCategory/45567')
		meta(property='og:image' content='https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6527577/0/637341444881030000?v=1')
		meta(itemprop='og:description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')

		link(href='css/search.css', rel='stylesheet')
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug
		
		.filter
			.container
				.search_blcok 
					h2.mid_title 商品搜尋
					.search
						input(type='text', name='', id='',placeholder='請輸入關鍵字')
						a(href="search.html")
							i.fa.fa-search
				.attr
					.attrcon.special
						.colst 其他人都在找
						.colcheck
							a(href='#') 緊緻慕斯
							a(href='#') 好辣小姐
							a(href='#') 晚安推推
							a.current(href='#') 我愛睡覺覺
							a(href='#') G18緊緻
					.attrcon
						.colst 分類
						.colcheck
							a(href='#') 性感情趣(23)
							a.current(href='#') 無鋼圈(21)
							a(href='#') W鋼圈(4)
							a(href='#') 浪漫蕾絲(18)
							a(href='#') Bikini 泳裝(33)
							a(href='#') 大尺碼專屬(12)
							a(href='#') 人氣商品推薦(11)
							a(href='#') 運動內衣(8)
							a(href='#') 小胸女孩(6)
							a(href='#') 爆乳鋼圈(5)
					.attrcon
						.colst 顏色
						.colcheck
							label
								input(type='checkbox')
								span.all(title='全部') 全部
							label
								input(type='checkbox')
								span(title='灰色' disabled='') 灰色
							label
								input(type='checkbox')
								span(title='白色') 白色
							label
								input(type='checkbox')
								span(title='金色') 金色
							label
								input(type='checkbox')
								span(title='黑色') 黑色
							label
								input(type='checkbox')
								span(title='粉紅色') 粉紅色
							label
								input(type='checkbox')
								span(title='粉紅色') 紅色
							label
								input(type='checkbox')
								span(title='粉紅色') 藍色
							label
								input(type='checkbox')
								span(title='粉紅色') 橘色
							label
								input(type='checkbox')
								span(title='粉紅色') 銀色
					.attrcon
						.colst 價格
						.colprice
							span $
							input.input-number(type='number' min='0' step='any')
							span ~
							input.input-number(type='number' min='0' step='any')
							button.button.btn-submit(type='submit') 搜尋
		.sort_block
			.container
				.sm_title
					| 共 168 個商品
				.sort
					label(for="sort1")
						input(type="radio", name="sort" ,value="1", id="sort1" ,checked="checked")
						span.checkmark
						p 店長推薦
					label(for="sort2")
						input(type="radio", name="sort" ,value="2", id="sort2")
						span.checkmark
						p 最新上架
					label(for="sort3")
						input(type="radio", name="sort" ,value="3", id="sort3")
						span.checkmark
						p 熱賣商品
					label(for="sort4")
						input(type="radio", name="sort" ,value="4", id="sort4")
						span.checkmark
						p 最多人看
					label(for="sort5")
						input(type="radio", name="sort" ,value="5" ,id="sort5")
						span.checkmark
						p 價格 低 → 高
					label(for="sort6")
						input(type="radio", name="sort" ,value="6", id="sort6")
						span.checkmark
						p 價格 高 → 低
		.category
			.container
				.items
					include _items.pug
					include _items.pug
					include _items.pug
		.nav
			.container
				a(href="#" class="prev")
					i.fas.fa-angle-left
				.page_num_block
					a(href="#" class="nav_page_num active") 1	
					a(href="#" class="nav_page_num") 2
					a(href="#" class="nav_page_num") 3
					a(href="#" class="nav_page_num") 4
					a(href="#" class="nav_page_num") 5
					a(href="#" class="nav_page_num") 6
					a(href="#" class="nav_page_num") 7
					a(href="#" class="nav_page_num") 8
					a(href="#" class="nav_page_num") 9
					a(href="#" class="nav_page_num") 10
				
				a(href="#" class="next")
					i.fas.fa-angle-right
		include _footer.pug

		script(src='js/jquery-3.5.1.min.js')
		script(src='js/svgembedder.min.js')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/category.js')