.cate_items
	- var j = 31;
	- for (var i = 1; i < j; i++)
		a.item(href="item.html")
			.photo
				img(src='../img/sample/cate/180_'+ i+'.jpg', alt='商品名稱', title='商品名稱')
			.per_r_info
				h2.name 大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具
				.per_price
					.price $999,900
					p.rush(href="#") 搶購