footer.foot_nav
	.container
		.foot_link
			a(href="intro.html") 網站簡介
			a(href="mem_service.html") 服務條款
			a(href="mem_appoint.html") 購物約定條款
			a(href="mem_cheat.html") 防詐騙宣導
			a(href="mem_privacy.html") 隱私權說明
			//- a(href="#") 購物說明
			//- a(href="#") 常見Q&A
		.foot_pby
			.foot_pby_txt
				p Powered by 
				img.foot_pbyimg(src="img/ysdt_foot_logo.svg", alt="")
			small 遠時數位科技 提供技術服務,包含AI生成網站,金流,發票及客服
			a.pbybtn(href="#") 詳
			.pby_detail.foot
				p 本網站為「網站品牌商公司」銷售商品的網站，而本網站所有AI生成技術及網站系統均是遠時數位科技股份有限公司(以下稱YSDT)建置，日常營運之客服、金流、發票、退貨退款均由YSDT負責。本網站除了銷售「網站品牌商公司」商品外，也同時展示其它YSDT廠商的商品，而這些商品透過YSDT獨家AI 友商推薦商品    技術展示，並會顯示 友商推薦商品    標誌。透過 友商推薦商品技術，「網站品牌商公司」  就會有成千上萬的商品陳列，並進一步提供優惠折扣，讓每一位消費者可看到適合自已且具有吸引力的商品，享有嶄新的購物體驗！
					a.pbyclose(href="#") 關閉
			
	a.gotop(href="#")
//- include _template_link.pug