.item_detail
	.container

		
		.tabs
			input#tabone.tab_radio(name='tabs' tabindex='1' type='radio' checked='checked')
			label.tab_label(for='tabone') 商品資訊
			.tab_con(tabindex='1')
				img(src='../img/sample/itemdetail.jpg', alt='商品說明圖')

			input#tabtwo.tab_radio(tabindex='2' name='tabs' type='radio')
			label.tab_label(for='tabtwo') 退換貨說明
			.tab_con(tabindex='2')
				| 1. 請至( 我的帳戶 > 查訂單) 確認所要退貨的訂單編號，按下( 退訂 )鈕，則將立即為您辦理( 退訂 )貨事宜 
				br 
				| 2. 已出貨商品系統會通知派車前往取回，退貨商品檢查完成後，後續安排退款事宜
				br
				| 3. 如商品尚未出貨、系統會立即安排退款事宜
				br 
				| 貼心提醒您，申請退貨同時，請務必將您所訂購之完整商品、配件、贈品及包裝盒置入於原外包裝(箱/袋)內，並將商品維持原樣，請將包裝完整密封以免商品掉出遺失，以利後續退貨作業。


				| 1. 請至( 我的帳戶 > 查訂單) 確認所要退貨的訂單編號，按下( 退訂 )鈕，則將立即為您辦理( 退訂 )貨事宜 
				br 
				| 2. 已出貨商品系統會通知派車前往取回，退貨商品檢查完成後，後續安排退款事宜
				br
				| 3. 如商品尚未出貨、系統會立即安排退款事宜
				br 
				| 貼心提醒您，申請退貨同時，請務必將您所訂購之完整商品、配件、贈品及包裝盒置入於原外包裝(箱/袋)內，並將商品維持原樣，請將包裝完整密封以免商品掉出遺失，以利後續退貨作業。