.lightbox-target#split
	.split_box
		.lightbox_t 信用卡分期
		.split_table
			.split_row
				.split_td.month 3
				.split_td.rate 0%
				.split_td.money $9996
				.split_td.bank 接受28家銀行
				.split_td.banklist
					p 華南銀行、匯豐銀行、臺灣企銀、聯邦銀行、土地銀行、彰化銀行、樂天信用卡(股)公司、台中商業銀行、第一銀行、台北富邦銀行、兆豐銀行、遠東銀行、花旗銀行、永豐銀行、安泰銀行、上海銀行、國泰世華商業銀行、星展(台灣)商業銀行、玉山銀行、元大銀行、新光銀行、合作金庫、凱基銀行、台新銀行、三信商業銀行、陽信銀行、渣打銀行、中國信託
			.split_row
				.split_td.month 6
				.split_td.rate 0%
				.split_td.money $4998
				.split_td.bank 接受28家銀行
				.split_td.banklist
					p 華南銀行、匯豐銀行、臺灣企銀、聯邦銀行、土地銀行、彰化銀行、樂天信用卡(股)公司、台中商業銀行、第一銀行、台北富邦銀行、兆豐銀行、遠東銀行、花旗銀行、永豐銀行、安泰銀行、上海銀行、國泰世華商業銀行、星展(台灣)商業銀行、玉山銀行、元大銀行、新光銀行、合作金庫、凱基銀行、台新銀行、三信商業銀行、陽信銀行、渣打銀行、中國信託
			.split_row
				.split_td.month 12
				.split_td.rate 0%
				.split_td.money $2499
				.split_td.bank 接受9家銀行
				.split_td.banklist
					p 華南銀行、匯豐銀行、臺灣企銀、聯邦銀行、土地銀行、彰化銀行、樂天信用卡(股)公司、台中商業銀行、第一銀行
			.split_row
				.split_td.month 18
				.split_td.rate 7.5%
				.split_td.money $1791
				.split_td.bank 接受3家銀行
				.split_td.banklist
					p 華南銀行、匯豐銀行、臺灣企銀
		.tip 除不盡餘數於第一期收取
		a(href="#").lightbox-close