//- .comtag 巨城購物中心
// 商品名稱
h1.name 送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)
// 留言、購買狀態
//- .buyer_st
//- 	p 99999人已購買
//- 	p 333則留言
//- 	p
//- 		i.icon.icon_track_plus 933
// 售價
.item_line.payinfo
	.item_line
		.pay_dis
			.title 網路價
			.price $195,000
		//- .sale_time
		//- 	span.colfe0 1天13小時25分11秒 
		//- 	span.colwhite 特賣結束
.item_line.fav
	p.ue 友商推薦商品
	a(href="#").btn-fav.icon.icon_track
		| 追蹤商品
.item_line.delivery
	span.title 配送
	.value
		.value_line
			input#deli1.item_line_chk(type="radio", value="1",name="delivery" checked)
			label.item_line_lb.icon.icon_check(for="deli1") 門市配送
		.value_line
			input#deli2.item_line_chk(type="radio", value="2",name="delivery")
			label.item_line_lb.icon.icon_check(for="deli2") 宅配

//- .colorsize.item_line
//- 	span.title 顏色
//- 	.value
//- 		.value_line
//- 			input#colorsize1.item_line_chk(type="radio", value="1",name="colorsize" checked)
//- 			label.item_line_lb.icon.icon_check(for="colorsize1") 黃色
//- 		.value_line
//- 			input#colorsize2.item_line_chk(type="radio", value="2",name="colorsize")
//- 			label.item_line_lb.icon.icon_check(for="colorsize2") 紅色
//- .item_line.act_line
	//- .coupon 最高可折  
	//- 	span.cole00 11111 購物金
	//- 	a(href='#') (說明)
	//- a.fancybox.coupon_search(href='../popup/site_fancybox_all.html #login_box') 查詢可用折價券
	//- 	i.icon.icon_arrow
	//- .coupon 
	//- 	a(href="item_coupon.html") SONY全面95折起 
// 簡介
//- .feature
//- 	ul.feature_list
//- 		li 擁有 iPhone 歷來最持久的電池續航力
//- 		li 最快的效能表現、防潑抗水能力
//- 		li 媲美攝影棚等級的照片與 4K 影片