.pc_index_menu
	nav.nav-menu
		.all_cate
			h2.title 全部分類
			i.icon.icon_allcate
		.menu-one
			dl.menu-site
				dt.menu-sub-t [ 本站商品分類 ]
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 期間限定
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 冷凍冷藏食品
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 休閒零食
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 伴手禮
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 調理食品
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 素食食品

			dl.menu-union
				dt.menu-sub-t [ 友商推薦商品分類 ]
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 保健.美顏.營養.醫材
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 傢俱.收納.寢飾.床墊
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 保養.彩妝.香氛.洗沐
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 健身.旅行.戶外.車類
				dd.menu-one-li
					h3
						a.menu-title(href='cate_one.html') 餐券.旅遊票券.禮盒