header.site-header
	.container
		.main_head
			.header_l
				a.logo(href='index.html')
					img(src="img/friday_logo_red.svg", alt="")
			.header_r
				p.header_r_top Powered by YSDT (遠時)
				p.header_r_bot 負責AI網站, 金流, 發票及客服