.col-6{
	&:last-child{
		.product-2{
			border-right: 0;
		}
	}
}
.product-2{
	@include clearfix;
	border-right: 1px solid $light_gray;
	display: table;
	width: 100%;
	.photo{
		width: 50%;
		display: table-cell;
		text-align: center;
	}
	figcaption{
		float: none;
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		padding: 0 10px;
		h1, li{
			word-break:break-all;
		}
	}
}

@include RWD(desktop-all) {
.product-2{
	figcaption{
		h1, li{
			width: 200px;
		}
	}
}
}

@include RWD(desktop-normal) {
.product-2{
	height: auto;
	.photo{
		width: 50%;
		img{
			width: 100%;
		}
	}
	figcaption{
		h1, li{
			width: 180px;
		}
	}
}
}

@include RWD(pad-mobile) {
.product-2{
	padding: 10px;
	border-bottom: 1px solid $light_gray;
	border-right: 0;
}
}

@include RWD(mobile) {
.product-2{
	.photo{
		img{
			width: 100%;
		}
	}
	figcaption{
		padding: 0 10px;
	}
}
}