.store-area{
	@include clearfix;
	margin-bottom: 100px;
	h1{
		margin-bottom: 0.6em;
	}
	.col-2{
		width: 14.959%;
		margin-right: 2%; 
		position: relative;
		&:last-child {
    		margin-right: 0%;
		}
	}
	a{
		display: block;		
		img{
			width: 100%;
			border: 1px solid $light_gray;
		}
	}
}
@include RWD(pad) {
.store-area{
	.col-2{
		width: 31.333%;
		margin-bottom: 1em;
	}
}
}

@include RWD(mobile) {
.store-area{
	h1{
		padding: 10px;
	}
	.col-2{
		width: 50%;
		float: left;
		margin-right: 0;
		margin-bottom: 1em;
	}
	a{
		margin: 0 10px;
	}
}
}
