@import "../define/__init.scss";
@import "ie8/_header.scss";
.breadcrumbs{
    .icon-arrow-right-b{
        padding-left: 25px;
        padding-top: 2px;
    }
}
@include RWD(desktop-extra) {
.col-4{
	width: 406px;
	height: 560px;
}
}