//global
body{
  color: #333;
  font: 13px $font-default;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  color: $anchor-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $anchor-hover-color;
  }
}
//menu
#nav {
  width: 150px;
  z-index: 50;
  a{
    display: block;
    padding:10px 20px;
  }
}


input[type="text"], input[type="file"], input[type="password"],input[type="number"], textarea, select {
  color: #666;
  font-size: 12px;
  font-family: $font-default;
  vertical-align: middle;
  padding: 1px 2px;
  border: #ccc 1px solid;
  border-radius:3px;
  background: #fff;
}
.ui-widget input {
  font-size: 12px !important;
  font-family: $font-default !important;
}
.ui-datepicker {
  z-index: 99 !important;
}
@include placeholder {
    color: #aaa;
    opacity: 1;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}
button {
  cursor: pointer;
  &[class*="btn-"] {
    color: #fff;
    font-size: 1.15em;
    font-family: $font-heiti;
    padding: 5px 20px;
    @include btn-color($main-color);
    border-radius:5px;
    transition:background,0.3s, box-shadow,0.2s;
    display: inline-block;
    i {
      font-size: 1.1em;
      margin-right: 5px;
    }
    &:hover {
     box-shadow:rgba(black,0.4) 0 -5px 0 inset;
    }
  }
}
*:focus {
  outline: 0;
}
::-moz-selection {
  color: #fff; 
  background: darken($main-red-color,10); 
  text-shadow: none;
}
::selection {
  color: #fff; 
  background: darken($main-red-color,10); 
  text-shadow:none;
}
#wrapper{
  display: flex;
  flex-flow: row nowrap;
  flex:1 1 auto;
  height: auto; 
  margin: 50px 0 0 0;
}
#container{
  flex:1 1 auto;
  margin: 10px auto 0; 
  color: #333;
}
#global-footer {
  margin: 20px;
  padding: 15px;
  color: #999;
  font-size: 0.95em;
  text-align: center;
  a {
    color: #999;
    &:hover {
      color: $main-color;
    }
  }
}
.clearfix {
  zoom: 1;
  &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden;
  }
  &:after {
      clear: both;
  }
}
.title {
  color: $main-color;
  font-size: 1.333em;
  font-family: $font-heiti;
  i {
    font-size: 1.2em;
    margin-right: 8px;
  }
  .comment {
    font-size: 0.7em;
  }
}
.quantity {
  color: #fff;
  background: $main-red-color;
  margin-left: 3px;
  padding: 1px 3px;
  border-radius:50px;
  &.quantity-zero {
    color: #666;
    background: #eee;
    background: rgba(white,0.6);
    padding: 1px 6px;
    border-radius:100%;
  }
}
.comment {
  color: #999;
  font-size: 0.85em;
  font-family: $font-default;
  margin: 0 5px;
  .fa {
    margin-right: 3px;
  }
}
label{
  cursor: pointer;
}
.highlight {
  color: $main-red-color;
}
.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px;
  background: #222;
  background: rgba(black,0.7);
  position: absolute;
  z-index: 1;
  .title {
    color: #fff;
    margin-left: 15px;
  }
  .plateforms {
    width: 85%;
    top: 30%;
    left: 10%;
    //margin: -65px 0 0 -400px;
    border-spacing: 15px;
    border-collapse: separate;
    position: absolute;
    dd {
      //height: 100px;
      width: 200px;
      margin: 10px;
      padding: 20px 15px;
      text-align: center;
      vertical-align: middle;
      background: #fff;
      border-radius:5px;
      box-shadow:rgba(black,0.2) 3px 5px 5px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: top;
      &:hover {
        color: $main-color;
        background: $main-lighten-color;
        box-shadow:rgba(black,0.5) 1px 3px 3px;
      }
      img {
        width: 200px;
      }
      h2 {
        font-weight: normal;
        line-height: 20px;
      }
    }
  }
}
.select-site {
  top: 75px;
  right: 60px;
  position: absolute;
  display: none;
  button {
    font-size: 1.1em;
  }
}
.double-scroll-top {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  overflow: auto;
  overflow-y: hidden !important;
  .scroll-content-width {
    height: 20px;
  }
}
.double-scroll-bottom {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}
.double-scroll-head {
  margin-top: 40px;
}
.fraction {
  margin: 3px 5px;
  vertical-align: middle;
  display: inline-block;
  .numerator, .denominator {
    padding: 2px 3px;
    display: block;
  }
  .numerator {
    border-bottom: #333 1px solid;
  }
}
.related-searches {
    width: 150px;
    padding: 5px;
    background: #fff;
    border: #ccc 1px solid;
    border-top: 0;
    border-radius:3px;
    box-shadow:rgba(black,0.1) 3px 3px 5px;
    position: absolute;
    z-index: 99;
    display: none;
    dd {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background: $main-grey-color;
        }
    }
}
.hide {
  display: none !important;
}
.word-wrap {
  white-space: normal !important;
}
.input-single-number {
  width: 10px;
}
.input-tiny-number {
  width: 20px;
}
.input-price {
  width: 60px;
}
input[readonly]{
    border:none;
    background-color:#eee;
}
input {
  &.input-size {
    margin: 0 3px 5px 0;
  }
}
.t-grey{
  margin: 0 0 0 10px;
  color:#999;
  font-size:.85rem;
}