@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "PingFangTC-regular", "Microsoft JhengHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

::-webkit-search-cancel-button {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

:focus {
  outline: 0;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?9fk6lu");
  src: url("../fonts/icomoon.eot?9fk6lu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?9fk6lu") format("truetype"), url("../fonts/icomoon.woff?9fk6lu") format("woff"), url("../fonts/icomoon.svg?9fk6lu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_friday_logo:before {
  content: "\e900";
  color: #fff;
}

.icon_pictxt:before {
  content: "\e90f";
  color: #888;
  font-size: 1.85rem;
}

.icon_picview:before {
  content: "\e910";
  color: #888;
  font-size: 2rem;
}

.cupn_frame:before {
  content: "\e90c";
  color: #de1715;
}

.icon_same:before {
  content: "\e90d";
  color: #fff;
}

.icon_share2:before {
  content: "\e90e";
}

.icon_track:before {
  content: "\e925";
  color: #fff;
}

.icon_per .path1:before {
  content: "\e927";
  color: rgb(34, 119, 0);
}

.icon_per .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon_del:before {
  content: "\e92a";
  color: #ccc;
}

.icon_search:before {
  content: "\e92b";
}

.icon_cart:before {
  content: "\e92c";
  color: #fff;
}

.icon_friday_logo_min:before {
  content: "\e92e";
  color: #e62f21;
}

.icon_refresh:before {
  content: "\e92f";
  color: #1079be;
}

.icon_track_plus:before {
  content: "\e931";
  color: #d00;
}

.icon_check:before {
  content: "\e933";
  color: #fff;
}

.icon_account:before {
  content: "\e934";
  color: #fff;
}

.icon_share1:before {
  content: "\e935";
}

.icon_allcate:before {
  content: "\e936";
  color: #fff;
  font-size: 1.2rem;
}

.icon_star:before {
  content: "\e937";
  color: #cf141b;
}

.icon_cart_arrow:before {
  content: "\e938";
  color: #fff;
}

.icon_swiper_next:before {
  content: "\e93a";
  color: #666;
}

.icon_swiper_prev:before {
  content: "\e93c";
  color: #666;
}

.cupn_arrow:before {
  content: "\e93d";
  color: #fff;
}

.icon_more:before {
  content: "\e93e";
  color: #1861ae;
}

.icon_arrow:before {
  content: "\e93f";
  color: #bcbbbb;
}

.icon_ab:before {
  content: "\e940";
  color: #888988;
}

.icon_plus:before {
  content: "\e941";
  color: #888988;
}

.icon_minus:before {
  content: "\e942";
  color: #888988;
}

.body_container {
  width: 100%;
  height: 100%;
  padding: 56px 0 0px;
}

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  zoom: 1;
}

.o_hidden {
  overflow: hidden;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #f5281e;
  zoom: 1;
}
.site-header.bg_white {
  background: white;
}
.site-header.bg_white .btn-menu {
  color: #555;
}
.site-header.bg_profile {
  background: white;
}
.site-header.bg_profile .head_con {
  padding: 10px 10px 11px;
}
.site-header.bg_profile .btn-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.site-header.bg_pic {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.site-header.bg_pic .head_con {
  padding: 10px 10px 11px;
}
.site-header.bg_pic .btn-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.head_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.head_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head_l .icon_arrow {
  margin: 0 10px 0 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.head_l .icon_arrow::before {
  color: white;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
}
.profile h1 {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 1rem;
  line-height: 1.3;
}
.profile h1 p {
  width: 105px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prof_r {
  margin-left: 5px;
}
.prof_r .social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prof_r a {
  margin-right: 2px;
}
.prof_r img {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
}

.head_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
}
.head_r .icon_cart {
  position: relative;
  margin: 0 0 0 30px;
}
.head_r .icon_check {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 4px 3px;
  font-size: 0.7rem;
  color: white;
  background: #d00;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.icon_menu {
  margin-right: 20px;
  color: white;
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.site-search, .search_func {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
}
.site-search .input-search, .search_func .input-search {
  width: 100%;
  padding: 12px 35px 12px 40px;
  background: white;
  color: #aaa;
  font-size: 0.9rem;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  outline: none;
  -webkit-appearance: none;
}
.site-search .input-search:focus, .search_func .input-search:focus {
  color: black;
}
.site-search .icon_clear, .search_func .icon_clear {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.site-search .search, .search_func .search {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}
.site-search .icon_search::before, .search_func .icon_search::before {
  color: #999;
  font-size: 1.2rem;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border-top: 3px solid white;
}
.site-footer [class*=img-] {
  width: 30px;
  height: 30px;
}
.site-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.site-footer li a {
  display: block;
  padding: 3px 5px;
  position: relative;
}
.site-footer .icon_txt {
  display: block;
  color: white;
  font-size: 0.7rem;
}
.site-footer .footer-notice .number {
  position: absolute;
  right: 0;
  top: 4px;
  min-width: 20px;
  height: 20px;
  padding: 2px 3px;
  background: #d00;
  color: white;
  font-size: 0.7rem;
  line-height: 1.4;
  text-align: center;
  border-radius: 50%;
}
.site-footer .container {
  background: #333;
  text-align: center;
}
.site-footer .title-h2 {
  padding: 5px 0;
  font-size: 0.9rem;
  color: white;
}
.site-footer .title-h2 a {
  color: white;
  margin-left: 5px;
}

.menu {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 30;
  width: 100%;
  max-width: 414px;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  padding-bottom: 56px;
  background: #FFF;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu.active {
  display: block;
}

.menu_tabs {
  margin-right: 10px;
  overflow-y: auto;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  background: white;
}

.menu_label {
  display: block;
  width: 23%;
  margin: 0 0 1px 0;
  padding: 25px 0;
  font-size: 1.2rem;
  color: #888;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  background: #eee;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_tab {
  display: none;
  position: absolute;
  top: 0;
  left: 23%;
  width: 73%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  margin: 0 1%;
  padding: 0 1%;
  overflow-y: auto;
  background: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu_tab::-webkit-scrollbar {
  display: none;
}

.menu_tabs input[type=radio] {
  display: none;
}

.menu_tabs input[type=radio]:checked + label {
  color: #e00;
  background: #FFF;
  border-left: 5px solid #e00;
}

.menu_tabs input[type=radio]:checked + label + .menu_tab {
  display: block;
}

.menu_cate_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: auto;
  margin: 10px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu_cate_link::-webkit-scrollbar {
  display: none;
}
.menu_cate_link a {
  display: block;
  margin: 0 10px 0 0;
  color: #333;
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}
.menu_cate_link a.active {
  color: white;
  background-color: #666;
}

.menu_t {
  width: 100%;
  margin: 20px 0;
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.menu_sub_t {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5;
  overflow: hidden;
}

.menu_cate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.menu_cate_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80px;
  text-align: center;
  color: #333;
  word-break: break-word;
}

.menu_items {
  background: #FFF;
  padding: 0;
  margin: 0 0 10px;
}

.menu_img {
  width: 100%;
  margin: 0 0 6px;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 10px;
  padding: 8px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.bread p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #06f;
}
.bread a {
  display: block;
  color: #666;
  text-decoration: underline;
}
.bread span {
  margin: 0 5px;
  color: #666;
}

.foot_link {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (20%)[5];
  grid-template-columns: repeat(5, 20%);
  padding: 5px 0;
  background-color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.foot_link > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.foot_link > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.foot_link > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.foot_link > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.foot_link > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.foot_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.foot_link a:before {
  font-size: 1.6rem;
}

.cupn_chg {
  display: block;
}

.cupn_con {
  position: relative;
  margin: 15px 0 0;
  padding: 0 20px;
}
.cupn_con .swiper-button-prev {
  left: 0;
}

.cupn_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px;
}

.cupn_des {
  font-size: 1.15rem;
  font-weight: 700;
}

.cupn_time {
  color: #d00;
}

.cupn_more {
  padding: 5px 17px;
  font-size: 1.15rem;
  color: #ff0;
  background: #d00;
  text-decoration: underline;
  border-radius: 5px;
}

.cupn_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: ;
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 30px;
}

.cupn_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 8px;
  background-color: #333;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 8px;
}

.photo {
  display: block;
}

.cupn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5px 0 0;
}

.cupnimg {
  display: block;
  width: 104px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cupn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupn_t {
  margin: 0 0 6px;
  color: #f5c5c5;
  font-size: 0.7rem;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.cupn_ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 91px;
  height: 39px;
  margin: 0 6px 0 0;
  font-size: 0.7rem;
  background: #f5c5c5 url("../img/cupn_frame.svg") no-repeat center center;
  border: 2px solid #f5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cupn_dur {
  color: #555;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.cupn_price {
  margin: 2px 0 0;
  color: #ee6262;
  font-size: 0.9rem;
  font-weight: 700;
}
.cupn_price::first-letter {
  font-size: 0.7rem;
}

.cupn .name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  min-width: 120px;
  margin: 0 15px 0 0;
  font-size: 0.9rem;
  color: white;
  line-height: 1.2;
  word-break: break-word;
  overflow: hidden;
}
.cupn .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nor, .dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nor {
  margin: 0 0 -8px;
}

.nor_t, .dis_t {
  margin: 0 5px 0 0;
  color: #888;
  font-size: 0.7rem;
}

.nor_price {
  text-decoration: line-through;
}

.nor_price {
  margin: 0 8px 0 0;
  font-size: 0.8rem;
  color: #888;
  text-decoration: line-through;
}
.nor_price::first-letter {
  font-size: 0.7rem;
}

.dis {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dis img {
  width: 14px;
  margin: 0 2px;
}

.dis_net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dis_price {
  color: #f77;
  font-size: 1rem;
}
.dis_price::first-letter {
  font-size: 0.7rem;
}

.dis_af {
  color: white;
  font-size: 0.8rem;
}

.dis_af_price {
  color: #ff0;
  font-size: 1.2rem;
}
.dis_af_price::first-letter {
  font-size: 0.7rem;
}

.pagenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  padding: 11px 13px;
  font-size: 0.9rem;
  color: #333;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav.active {
  color: white;
  background: #d00;
}

.page_nav {
  margin: 20px 0;
}

.page_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 20px;
}

.page_num {
  border-right: 0;
  border-radius: 0;
}

.page_ten_up, .page_ten_down {
  margin: 0 5px;
}

.page_prev {
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.page_next {
  border-radius: 0 5px 5px 0;
}

.pby_detail {
  display: none;
}

.body_container {
  background: #eee;
}

.site-main {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.sub_head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.red {
  color: #d00;
}

.red_line {
  color: #d00;
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.blue {
  color: #06c;
  font-size: 0.9rem;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mem_order_detail {
  margin: 0 0 50px;
}

.mem_chk_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  padding: 25px 10px 10px;
  font-size: 1.5rem;
}
.mem_chk_t small {
  font-size: 0.9rem;
}
.mem_chk_t .red {
  margin: 0 15px 0 0;
  font-size: 0.9rem;
}

.chk_order {
  margin: 0 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.mem_order_info {
  margin: 0 0 15px 0;
  background: white;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
}
.mem_order_info a {
  margin: 0 0 0 1px;
  font-size: 0.8rem;
  color: #06c;
  text-decoration: underline;
}
.mem_order_info a.cancel {
  font-size: 0.8rem;
  color: #aaa;
}

.is_cancel {
  background: #ddd;
}
.is_cancel .mem_block {
  background: #ddd;
}
.is_cancel .item_head {
  background: #ccc;
}

.order_info_t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.order_info_t p {
  color: #333;
  margin: 0 108px 0 12px;
}

.order_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1.2;
  background: #cdeeff;
}
.order_tab.grey {
  background: #ccc;
}
.order_tab.complete {
  background: #ffcccc;
}
.order_tab.yellow {
  background: #ffffcc;
}

[class*=ord_head] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10px;
}
[class*=ord_head].grey {
  background: #ccc;
}
[class*=ord_head].complete {
  background: #ffcccc;
}
[class*=ord_head].yellow {
  background: #ffffcc;
}

.ord_detail {
  margin: 0 0 0 40px;
}

.ord_addr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 10px;
}

.ord_addr_b {
  font-size: 0.8rem;
  color: #777;
  line-height: 1.2;
}

a.ord_confirm_btn {
  padding: 5px 8px;
  text-decoration: none;
  border: 1px solid #06c;
}

.mem_chk_tab {
  position: relative;
}
.mem_chk_tab.slim .mem_chk {
  -ms-grid-columns: 85% 15%;
  grid-template-columns: 85% 15%;
  margin: 0 0 10px;
  border: 2px solid #50baf0;
  border-top: 1px solid #ccc;
}

.cover_load {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  z-index: 10;
}
.cover_load::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.mem_chk {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 0 90px;
  grid-template-rows: 30px 90px;
  -ms-grid-columns: auto 0 auto 0 auto 0 auto 0 auto;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0;
  margin: 0 auto;
  overflow-x: auto;
}
.mem_chk > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.mem_chk > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.mem_chk > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.mem_chk > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.mem_chk > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.mem_chk > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.mem_chk > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.mem_chk > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.mem_chk > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.mem_chk > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.order_st_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 30px;
}
.order_st_list li {
  width: auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  line-height: 3;
}
.order_st_list li:before {
  position: absolute;
  bottom: -13px;
  left: calc(50% - 10px);
}
.order_st_list li.order_st_done {
  color: black;
  border-bottom: 4px solid #27aa80;
}
.order_st_list li.order_st_done:before {
  content: "\e933";
  font-family: "icomoon" !important;
  font-size: 0.7rem;
  color: white;
  background-color: #27aa80;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 0 #999;
          box-shadow: 1px 1px 0 #999;
}
.order_st_list li.order_st_todo {
  color: #aaa;
  border-bottom: 4px solid #aaa;
}

.mem_chk_st {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  background-color: #fff9e7;
  border: 2px solid #50baf0;
  border-bottom: 0;
}
.mem_chk_st:last-child {
  border-top: 0;
}

.mem_st {
  padding: 10px 20px 10px;
  color: #555;
  font-size: 0.85rem;
  line-height: 1.4;
}
.mem_st p {
  padding: 0 0 0 8px;
}

.mem_st_head {
  padding: 0 0 0 5px;
  font-weight: 700;
  border-left: 3px solid #06c;
}

[ID*=chk_open_detail] + .mem_chk_tab {
  display: block;
  margin: 0;
}

[class*=mem_block] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 10px;
  color: #333;
  background: white;
  font-size: 0.9rem;
  line-height: 1.4;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
[class*=mem_block]:nth-child(2n) {
  border-right: 0;
}

.item_head {
  padding: 10px;
  font-size: 0.8rem;
}

.item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item_img img {
  display: block;
  margin: 0 10px 0 0;
  max-width: 80px;
  max-height: 80px;
}

.item_price a {
  margin: 0 0 0 5px;
}

.item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.item_name p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 5px;
}

.item_no {
  font-weight: 700;
  font-size: 0.8rem;
}

.item_invoice a {
  color: #06c;
  text-decoration: underline;
}

.item_st,
.item_else {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item_st a.grey,
.item_else a.grey {
  color: #666;
  margin: 0 0 10px;
}

a.grey {
  color: #666;
}

.mem_name {
  margin: 10px 0 0;
  font-size: 1.4rem;
}

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  overflow: hidden;
  z-index: 50;
}
.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}
.lightbox-target:target .content,
.lightbox-target:target img {
  max-height: 100%;
  max-width: 400px;
}
.lightbox-target .content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 0%;
  height: auto;
  max-height: 0%;
  margin: auto;
  padding: 20px;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
  background: #fff;
  border: 3px solid #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.lightbox-target .con_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 10px 0;
}
.lightbox-target .con_m.grey {
  color: #999;
}
.lightbox-target .com_price_t {
  font-weight: 700;
}
.lightbox-target .com_price_sm {
  font-size: 0.9rem;
  color: #999;
}
.lightbox-target .com_price {
  font-size: 1.1rem;
  color: red;
  font-weight: 700;
}
.lightbox-target .com_s_price {
  color: red;
  font-size: 1rem;
}
.lightbox-target .com_dis_price {
  position: relative;
  color: red;
}
.lightbox-target .com_dis_price:after {
  content: "-";
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.lightbox-target .con_addr {
  line-height: 1.8;
}

.lightbox-close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 20px;
  height: 20px;
  color: #aaa;
  border: 1px solid #999;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}
.lightbox-close:before, .lightbox-close:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  display: block;
  width: 2px;
  height: 14px;
  background: #aaa;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.lightbox-close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mem_chk_return,
.mem_chk_ask {
  padding: 30px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
}

.mem_chk_return_t {
  padding: 5px 0 5px 5px;
  color: red;
  border-left: 10px solid red;
}

.ord_info_t {
  margin: 0 0 10px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #eee;
  background: #333;
}

.ord_info_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 0 40px;
  grid-template-rows: 30px 40px;
  -ms-grid-columns: 50px 0 1fr 0 80px 0 80px;
  grid-template-columns: 50px 1fr 80px 80px;
  grid-gap: 0;
  margin: 0 0 20px;
  font-size: 0.8rem;
  line-height: 1.2;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: white;
}

.ord_info_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ord_info_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ord_info_grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.ord_info_grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.ord_info_grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.ord_info_grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.ord_info_grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.ord_info_grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.ord_info_grid a {
  color: #06c;
  text-decoration: underline;
}

.ord_info_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #c5f1ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.ord_info_head.grey {
  background: #ccc;
}
.ord_info_head.complete {
  background: #ffcccc;
}

.ord_info_td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ord_info_td_name {
  padding: 0 10px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#order_return_edit {
  display: none;
}
#order_return_edit:checked ~ .ord_returen_enter {
  display: block;
}
#order_return_edit:checked ~ .order_return_lb, #order_return_edit:checked ~ .order_return_num {
  display: none;
}

.order_return_lb {
  color: #06c;
  text-decoration: underline;
}
.order_return_lb::after {
  content: "修";
}

.ord_returen_enter {
  display: none;
}

.ord_num {
  padding: 20px 0 10px 0px;
}

.ord_msg {
  margin: 0 0 20px;
  padding: 20px;
  line-height: 1.6;
  background: #efefef;
}
.ord_msg small {
  color: #777;
  font-size: 0.9rem;
}
.ord_msg .line_indent {
  margin: 0 0 0 20px;
}

.ord_reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 0 10px;
  padding: 0;
  border: 1px solid #ccc;
  background: white;
}

.ord_info_select {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ord_chos,
.ord_des {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50%;
          flex: 2 1 50%;
  padding: 10px;
}

.ord_des {
  padding: 5px;
}

.ord_des_area {
  width: 100%;
  height: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ord_txt {
  margin: 0 0 10px;
  color: red;
  font-size: 0.9rem;
}

.ord_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  line-height: 1.3;
}
.ord_line.addr p {
  margin: 0 30px 0 0;
  font-size: 0.9rem;
}
.ord_line.agree p {
  font-size: 0.9rem;
}
.ord_line.agree a {
  color: black;
  text-decoration: underline;
}
.ord_line input {
  margin: 0 10px 0 0;
}

.mem_chk_container,
.mem_ask_container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.mem_chk_ask .ord_line p {
  margin: 0 30px 0 0;
}
.mem_chk_ask .ord_reason {
  margin: 20px 0;
  border: 0;
}
.mem_chk_ask .ord_chos,
.mem_chk_ask .ord_des {
  padding: 0 10px 10px 0;
}
.mem_chk_ask .ord_info_select {
  margin: 5px 0 0;
}

.ord_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ord_btn a {
  padding: 10px 20px;
  color: white;
  background: red;
  border-radius: 10px;
}

.ord_return_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 0 70px;
  grid-template-rows: 30px 70px;
  -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  margin: 0 0 20px;
  font-size: 0.8rem;
  line-height: 1.2;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.ord_return_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ord_return_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ord_return_grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.ord_return_grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.ord_return_grid > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.ord_return_grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.ord_return_grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.ord_return_grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.ord_return_grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.ord_return_grid > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.ord_return_head,
.ord_detail_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: #c5f1ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ord_detail_head {
  background: #ffe8c5;
}

.ord_return_td,
.ord_detail_td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.ord_detail_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 0 40px;
  grid-template-rows: 30px 40px;
  -ms-grid-columns: 1fr 0 1fr 0 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  margin: 0 0 20px;
  font-size: 0.8rem;
  line-height: 1.2;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.ord_detail_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.ord_detail_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.ord_detail_grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.ord_detail_grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.ord_detail_grid > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.ord_detail_grid > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.ord_bank_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}
.ord_bank_line .bank_txt {
  width: 150px;
  text-align: right;
}
.ord_bank_line .bank_td {
  width: 200px;
}
.ord_bank_line .bank_td select,
.ord_bank_line .bank_td input {
  width: 100%;
  margin: 0 0px 0 0;
  padding: 3px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cupn_top {
  margin: 0 0 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.cupn_des {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
}

.cupn_bot {
  padding: 30px;
  background: white;
}
.cupn_bot p {
  margin: 0 0 30px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.cupn_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 360px 30px 360px 30px 360px;
  grid-template-columns: repeat(3, 360px);
  -ms-grid-rows: ;
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 30px;
}

.cupn_item {
  border-radius: 10px;
}
.cupn_item.red {
  background: #cf3373 url("../img/chkbg_01.jpg") no-repeat;
}
.cupn_item.blue {
  background: #1a3375 url("../img/chkbg_02.jpg") no-repeat;
}
.cupn_item.black {
  background: #222 url("../img/chkbg_03.jpg") no-repeat;
}

.nor_t,
.dis_t,
.nor_price,
.dis_price {
  color: white;
}

.cupn_price {
  margin: 0;
  font-size: 1.5rem;
}

@media (max-width: 1220px) {
  .ord_block {
    padding: 10px;
  }
  .back {
    margin: 0 0 20px;
  }
}
@media (max-width: 800px) {
  .mem_chk_t {
    padding: 10px;
  }
  .mem_chk_t .red {
    margin: 0 auto;
    line-height: 1.2;
  }
  .ord_chos,
  .ord_des {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 5px;
  }
  .ord_bank_line {
    width: 100%;
    margin: 0;
  }
  .ord_bank_line .bank_txt,
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    width: auto;
    margin: 2px 0;
    text-align: left;
  }
  .ord_bank_line .bank_txt input,
  .ord_bank_line .bank_td input {
    width: auto;
  }
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}
@media (max-width: 500px) {
  .ord_bank_line .bank_txt,
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .ord_info_grid {
    -ms-grid-rows: 40px 0 40px;
    grid-template-rows: 40px 40px;
    -ms-grid-columns: 30px 0 1fr 0 35px 0 50px;
    grid-template-columns: 30px 1fr 35px 50px;
  }
  .ord_info_grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .ord_info_grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .ord_info_grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .ord_info_grid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .ord_info_grid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .ord_info_grid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .ord_info_grid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .ord_info_grid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }
  .ord_info_head {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .ord_bank_line .bank_txt,
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .ord_bank_line .bank_txt input,
  .ord_bank_line .bank_td input {
    width: 100%;
  }
  .ord_bank_line .bank_td {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}