@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  font-family: "Microsoft JhengHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  -webkit-appearance: none;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

::-webkit-search-cancel-button {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?9fk6lu");
  src: url("../fonts/icomoon.eot?9fk6lu#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?9fk6lu") format("truetype"), url("../fonts/icomoon.woff?9fk6lu") format("woff"), url("../fonts/icomoon.svg?9fk6lu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_friday_logo:before {
  content: "\e900";
  color: #fff;
}

.icon_pictxt:before {
  content: "\e90f";
  color: #888;
  font-size: 1.85rem;
}

.icon_picview:before {
  content: "\e910";
  color: #888;
  font-size: 2rem;
}

.cupn_frame:before {
  content: "\e90c";
  color: #de1715;
}

.icon_same:before {
  content: "\e90d";
  color: #fff;
}

.icon_share2:before {
  content: "\e90e";
}

.icon_track:before {
  content: "\e925";
  color: #fff;
}

.icon_per .path1:before {
  content: "\e927";
  color: rgb(34, 119, 0);
}

.icon_per .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.icon_del:before {
  content: "\e92a";
  color: #ccc;
}

.icon_search:before {
  content: "\e92b";
}

.icon_cart:before {
  content: "\e92c";
  color: #fff;
}

.icon_friday_logo_min:before {
  content: "\e92e";
  color: #e62f21;
}

.icon_refresh:before {
  content: "\e92f";
  color: #1079be;
}

.icon_track_plus:before {
  content: "\e931";
  color: #d00;
}

.icon_check:before {
  content: "\e933";
  color: #fff;
}

.icon_account:before {
  content: "\e934";
  color: #fff;
}

.icon_share1:before {
  content: "\e935";
}

.icon_allcate:before {
  content: "\e936";
  color: #fff;
  font-size: 1.2rem;
}

.icon_star:before {
  content: "\e937";
  color: #cf141b;
}

.icon_cart_arrow:before {
  content: "\e938";
  color: #fff;
}

.icon_swiper_next:before {
  content: "\e93a";
  color: #666;
}

.icon_swiper_prev:before {
  content: "\e93c";
  color: white;
  font-size: 0.8rem;
}

.cupn_arrow:before {
  content: "\e93d";
  color: #fff;
}

.icon_more:before {
  content: "\e93e";
  color: #1861ae;
}

.icon_arrow:before {
  content: "\e93f";
  color: #bcbbbb;
}

.icon_ab:before {
  content: "\e940";
  color: #888988;
}

.icon_plus:before {
  content: "\e941";
  color: #888988;
}

.icon_minus:before {
  content: "\e942";
  color: #888988;
}

body {
  background: #eee;
}

.body_container {
  padding: 0;
}

input[type=radio] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
  margin-top: -1px;
  vertical-align: middle;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

.site-main, .container {
  position: relative;
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.copyright {
  padding-top: 30px;
  text-align: right;
  color: #888;
  font-size: 0.75em;
  word-break: break-word;
  word-wrap: break-word;
}
.copyright small {
  display: block;
  padding: 8px;
  color: #333;
  text-align: right;
}
.copyright a {
  color: #06c;
  text-decoration: underline;
  margin-left: 10px;
}

.cart_head {
  padding: 10px 0;
  background: #e00;
  text-align: center;
}

.back {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.9rem;
  color: white;
}

.logo {
  max-width: 200px;
  max-height: 120px;
  font-size: 1.8rem;
}

.main-color {
  color: #e00;
}

.hide {
  display: none;
}

[class*=btn-] {
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn-continue {
  background-color: #369;
  margin-right: 5px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.btn-continue:first-child {
  border: none;
}

.btn-confirm {
  background-color: #d00;
}

.btn-discode {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
  background-color: #fc5f8e;
}

.btn-change {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #2bbc50;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 50%;
}

.btn-edit {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #06f;
  background-clip: padding-box;
  border-radius: 50%;
}

.btn-invoice {
  width: 100%;
  font-weight: 700;
  background-color: #2cbc50;
}

.btn-complete {
  background-color: #333;
}

.btn-cancel {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 15px 10px;
  font-size: 1rem;
  background-color: #888;
}

.btn-receive {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 15px 10px;
  font-size: 1rem;
  background-color: #333;
}

.btn-prev {
  background-color: #888;
}

.cart-main {
  min-width: 300px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto 50px;
}

.radio_btn {
  width: 20px;
  height: 18px;
  margin: 0;
}

.sub-h3 {
  display: block;
  margin: 0 0 5px 5px;
  font-size: 0.9rem;
  color: #aaa;
}

.price {
  font-size: 1.2rem;
  color: #e00;
}
.price::first-letter {
  font-size: 0.7rem;
}

::-webkit-input-placeholder {
  color: #aaa;
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaa;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #aaa;
  opacity: 1;
}

::placeholder {
  color: #aaa;
  opacity: 1;
}

.add-new-receive {
  width: 100%;
}
.add-new-receive .cart_block {
  margin: 10px 0 0;
}
.add-new-receive .cart_block.credit input {
  padding: 20px 10px;
}

.add-new-receive-btn {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order_chk_all {
  padding: 0 0 10px 10px;
}
.order_chk_all p {
  font-size: 0.8rem;
}

.order_chk_label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  border: 1px solid #ccc;
  vertical-align: middle;
}
.order_chk_label:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 9px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  left: 4px;
  top: 5px;
}

.order_chk {
  display: none;
}
.order_chk:checked + .order_chk_label {
  border: 1px solid #e00;
  background: #e00;
  border: 1px solid #e00;
  background: #e00;
}

.order_all {
  margin: 0 5px 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.order_all:last-child {
  border: none;
}

h3 {
  display: block;
  margin: 0 10px 0 0;
  color: #e00;
  font-size: 1.5rem;
}

.order_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  padding: 20px 10px 10px;
}
.order_head .order_chk_all {
  padding: 0;
}
.order_head .order-title {
  padding-left: 8px;
}

.cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 0 10px;
  padding: 20px 0;
  background: white;
}

.cart_item.is-lack {
  background: #ddd;
}
.cart_item.is-lack .order_chk_all {
  visibility: hidden;
}

.cart-item-add {
  display: table-row;
}
.cart-item-add [class^=cart-] {
  margin: 2px;
  padding: 0 5px 0 0;
  border: none;
}
.cart-item-add .cart-add-sale-t {
  padding: 5px;
}
.cart-item-add .cart_img {
  width: 160px;
}

.cart_img {
  padding: 0 5px;
}
.cart_img img {
  display: block;
  width: 160px;
  border: 1px solid #ccc;
}
.cart_img .cart-lack-tag {
  width: 100%;
  margin: 0;
  padding: 3px 0 5px;
  font-size: 0.9rem;
  text-align: center;
  color: #fefefe;
  background: #555;
}
.cart_img .tag-conv {
  width: 100%;
  margin: 0;
  padding: 3px 0 5px;
  font-size: 0.9rem;
  text-align: center;
  color: #fefefe;
  background: #555;
  color: white;
  background: #3a0;
}

.confirm .cart_img img {
  width: 120px;
}

.cart_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5px;
}

.cart_gift {
  margin: 5px 0 0;
}
.cart_gift p {
  display: inline-block;
  padding: 3px 5px;
  font-size: 0.8rem;
  color: white;
  background: #d00;
}
.cart_gift .cart_gift_item {
  margin-top: 2px;
}
.cart_gift .cart_gift_item li {
  font-size: 0.85rem;
  line-height: 1.6;
  color: #999;
}

.cart_gift.combine {
  margin: 2px 0;
}

.cart_gift.addprod {
  margin: 2px 0;
}
.cart_gift.addprod li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart_gift.addprod li .cart_gift_item_l {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.cart_gift.addprod li .cart_gift_item_r {
  margin-right: 10px;
}
.cart_gift.addprod li .cart_gift_item_r span {
  font-size: 0.9rem;
}

.cart-discount li {
  font-size: 0.85rem;
  line-height: 1.2;
  color: #999;
}
.cart-discount li i {
  margin-right: 5px;
  color: #d00;
}

.cart_name_link {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
  color: #666;
  font-size: 1rem;
  line-height: 1.4;
}

.cart-count {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  padding-right: 10px;
  text-align: right;
  font-size: 1.2rem;
}

.cart_size {
  margin-bottom: 10px;
  color: #999;
  font-size: 0.85rem;
  line-height: 1.4;
}

.cart-per {
  font-size: 0.9rem;
  color: #e00;
  margin: 0 0 10px;
}

.cart_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.cart_price_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cart_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 5px 10px 0;
  font-size: 0.9rem;
  color: #e00;
}

.unit_price {
  color: #e00;
}

.ori_t {
  color: #999;
}

.ori_price {
  margin: 0 0 0 3px;
  color: #999;
  text-decoration: line-through;
}
.ori_price::first-letter {
  font-size: 0.7rem;
}

.dis_price {
  margin: 0 0 0 3px;
  font-size: 1.2rem;
}
.dis_price::first-letter {
  font-size: 0.7rem;
}

.total_price {
  font-size: 1.2rem;
  color: #e00;
}
.total_price::first-letter {
  font-size: 0.7rem;
}

.cart-add {
  margin-top: 10px;
  font-size: 0.8rem;
}
.cart-add .cart-add-title {
  padding: 5px;
  font-size: 0.85rem;
  color: #888;
  background-color: #eee;
}
.cart-add .cart-add-name {
  margin: 8px 0;
  line-height: 1.2;
}

.cart-add-sale {
  width: 100%;
  margin-top: 10px;
}
.cart-add-sale .cart-add-sale-t {
  padding: 5px;
  font-size: 1rem;
  color: #333;
  background: #e2f4ff;
}
.cart-add-sale .cart-add-sale-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  font-size: 1rem;
}
.cart-add-sale .cart-add-name {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  line-height: 1.2;
}
.cart-add-sale .price {
  color: #e00;
  font-size: 1rem;
}
.cart-add-sale .cart-count {
  border: none;
  font-size: 1rem;
}

.cart-off {
  display: block;
  margin: 10px 0;
  font-size: 0.8rem;
  line-height: 1.2;
}
.cart-off li {
  color: #666;
  padding-bottom: 8px;
}
.cart-off .cart-off-info {
  color: #fc5f8e;
}
.cart-off i {
  margin-right: 5px;
  color: #fc5f8e;
  font-size: 0.9rem;
}

.quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}

.cart-num {
  width: 30px;
  height: 30px;
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

button {
  font-size: 0.9rem;
  border: 1px solid #ccc;
}

button.is-disabled {
  cursor: no-drop;
  background: #ccc !important;
}

.btn-increase {
  margin: 0;
  color: #555;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.btn-decrease {
  margin: 0;
  color: #555;
  font-size: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  color: #555;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cart_last {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 10px;
  text-align: right;
  color: #e00;
  font-size: 1.2rem;
}
.cart_last .btn-remove {
  margin: 0;
  padding: 2px 20px;
  font-size: 0.8rem;
  color: #999;
  border: 1px solid #cecece;
  background-color: #eee;
  white-space: nowrap;
}
.cart_last .lmt_price p {
  display: block;
  margin-bottom: 5px;
}

.cart-before {
  width: 100%;
  position: relative;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: 700;
  background-color: #68bbf1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart-before:after {
  content: "";
  position: absolute;
  margin-left: -30px;
  left: 50%;
  bottom: -9px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #68bbf1;
  clear: both;
}

.cart_block {
  margin: 10px 0;
}
.cart_block h3 {
  padding: 8px 5px;
  font-size: 1rem;
}
.cart_block .cart_sub_block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 15px 70px 15px 10px;
  color: #333;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.cart_block .cart_sub_block .order_radio_all {
  margin: 5px 0;
  text-align: left;
  line-height: 1.6;
}
.cart_block .cart_sub_block:last-child {
  border: none;
}
.cart_block .cart_sub_block .cart_block_txt_sub {
  margin-left: 25px;
  color: #aaa;
  font-size: 1rem;
  line-height: 1.2;
}
.cart_block .cart_sub_block.multi-line {
  display: block;
}
.cart_block .cart_sub_block.multi-line .cart_sub_block {
  max-width: 88%;
  padding: 5px 0 0;
  border: none;
}
.cart_block .cart_sub_block.red {
  background-color: #fed3de;
}
.cart_block .cart_sub_block.add-receive {
  display: block;
  font-size: 1.1rem;
  text-align: center;
}
.cart_block .cart_sub_block.add-receive a {
  display: block;
  margin: 10px 0 0;
}
.cart_block .cart_sub_block.deliver_box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  font-size: 1rem;
  line-height: 1.4;
}
.cart_block .cart_sub_block.deliver_box .deliver_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.cart_block .cart_sub_block.deliver_box p:first-child {
  margin: 10px 0;
  vertical-align: bottom;
}
.cart_block .cart_sub_block.deliver_box .cart_block_txt {
  display: inline-block;
  min-width: 80px;
  font-size: 1rem;
}
.cart_block .cart_sub_block.deliver_box .deliver_addr {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 10px 0;
  color: #06c;
  text-decoration: underline;
}
.cart_block .cart_sub_block.radio.stag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: none;
}
.cart_block .cart_sub_block.radio.stag .cart_block_txt {
  min-width: auto;
  font-size: 1rem;
}
.cart_block .cart_sub_block.card_num {
  display: block;
  padding: 0;
}
.cart_block .cart_sub_block.card_num p {
  display: none;
  position: absolute;
  top: -6px;
  right: 5px;
  margin: 10px 0;
  color: #e00;
  font-size: 1rem;
}
.cart_block .cart_sub_block.card_num .card_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}
.cart_block .cart_sub_block.card_num .card_line input {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  font-size: 1rem;
}
.cart_block .cart_sub_block.card_num input {
  padding: 17px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
}
.cart_block .cart_sub_block.card_num .card_line_m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_block .cart_sub_block.card_num .card_fill {
  position: relative;
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}
.cart_block .cart_sub_block.card_num .card_fill select {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border-radius: 0;
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
  border-bottom: none;
  -webkit-appearance: none;
}
.cart_block .cart_sub_block.card_num .card_fill input {
  width: 100%;
  border-right: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cart_block .cart_sub_block.chk {
  display: block;
}
.cart_block .cart_block_txt {
  margin: 0 5px;
  font-size: 1rem;
  text-align: right;
}
.cart_block .cart_block_txt .price {
  color: #e00;
}
.cart_block .cart_block_txt small {
  color: #888;
  font-size: 0.8rem;
}
.cart_block .cart_block_txt.main-color {
  color: #e00;
}
.cart_block .order_chk:checked + .order_chk_label {
  border: #e00;
  background: #e00;
}
.cart_block .order_chk_label:after {
  top: 4px;
  left: 4px;
}
.cart_block .discode-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart_block .discode-enter input {
  width: 9.5rem;
  font-size: 0.9rem;
  padding: 5px;
  border: 1px solid #ccc;
}

.payway_b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 70px 15px 10px;
  background-color: white;
}
.payway_b .pay_radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.payway {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.payway_t {
  min-width: 85px;
}

.pay_label {
  cursor: pointer;
}

.pay_t {
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  border: 1px solid #ddd;
}

.pay_radio:checked + .pay_t {
  color: #e00;
  border: 1px solid #e00;
}

.cart_block.discode .discode-enter input {
  width: 8rem;
}

.cart_block.logistics .cart_block_txt {
  line-height: 1.2;
  width: 125px;
}
.cart_block.logistics .cart_block_txt:nth-child(3) {
  width: 40px;
}
.cart_block.logistics .cart_block_txt:last-child {
  width: auto;
}

.cart_block.orderprice {
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  background: white;
  -webkit-box-shadow: 0px -5px 5px #eee;
          box-shadow: 0px -5px 5px #eee;
}
.cart_block.orderprice .cart_sub_block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px 5px 8px 10px;
  border-color: #ddd;
}
.cart_block.orderprice .addcart {
  padding: 0;
}
.cart_block.orderprice [class*=btn-] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
}
.cart_block.orderprice .coin_input {
  width: 30px;
  padding: 3px 8px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #e00;
  border: 1px solid #ccc;
  text-align: center;
}
.cart_block.orderprice .price {
  margin: 0 0 0 20px;
}

.addcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  background: white;
}
.addcart [class*=btn-] {
  margin: 0 0 0 15px;
  padding: 12px 25px;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 1px;
  color: #fefefe;
  font-family: "微軟正黑體", Tahoma, "新細明體", "Arial Unicode MS", Arial, Helvetica, sans-serif;
}
.addcart [class*=btn-]:first-child {
  margin: 0;
}
.addcart [class*=btn-].is-disabled {
  cursor: no-drop;
  background: #ccc !important;
}
.addcart i {
  margin: 0 3px;
  font-size: 1.6rem;
}

.cart_block.orderconfirm {
  margin: 0;
}
.cart_block.orderconfirm .cart_sub_block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 12px 5px 12px 10px;
}
.cart_block.orderconfirm .cart_block_txt {
  line-height: 1.2;
}
.cart_block.orderconfirm .cart_block_txt:nth-child(2) {
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
}
.cart_block.orderconfirm small {
  color: #999;
  font-size: 0.9rem;
}

.cart_block.credit .cart_sub_block {
  padding: 0;
}
.cart_block.credit .cart_sub_block:last-child {
  padding: 20px 10px;
}
.cart_block.credit .cart_sub_block.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cart_block.credit .cart_sub_block.select .credit-input-select {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  border-right: 1px solid #aaa;
}
.cart_block.credit .cart_sub_block.select .credit-input-select select {
  display: block;
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0;
}
.cart_block.credit .cart_sub_block.select .credit-input-select:last-child {
  border: none;
}
.cart_block.credit .cart_sub_block.select .credit-input-select:after {
  content: "\f078";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  font-size: 1rem;
}
.cart_block.credit .cart_sub_block.select option {
  padding: 20px 0;
}
.cart_block.credit input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: none;
}

.cart_block.orderman .cart_sub_block {
  display: block;
  padding: 0;
  border-bottom: none;
}
.cart_block.orderman .cart_sub_block h3 {
  padding: 15px 5px 15px 10px;
}
.cart_block.orderman input[type=text] {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_block.orderman input[type=text]:last-child {
  border-top: none;
}
.cart_block.orderman input[type=tel] {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_block.orderman input[type=tel]:last-child {
  border-top: none;
}
.cart_block.orderman input[type=email] {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_block.orderman input[type=email]:last-child {
  border-top: none;
}
.cart_block.orderman .sex {
  width: 100%;
  padding: 15px 10px;
  font-size: 1rem;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_block.orderman .sex:last-child {
  border-top: none;
}
.cart_block.orderman .ordername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.cart_block.orderman .ordername input[type=text] {
  width: 165px;
  border: none;
}
.cart_block.orderman .ordername .sex {
  width: auto;
  border: none;
  border-left: 1px solid #ccc;
}

.cart_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #555;
  background-color: white;
}
.cart_footer .confirm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_footer .delivery_m {
  width: 50%;
  text-align: right;
}
.cart_footer [class*=btn-] {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 0 0 15px;
  padding: 15px 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #fefefe;
  font-family: "微軟正黑體", Tahoma, "新細明體", "Arial Unicode MS", Arial, Helvetica, sans-serif;
}
.cart_footer [class*=btn-]:first-child {
  margin: 0;
}
.cart_footer [class*=btn-].is-disabled {
  cursor: no-drop;
  background: #ccc !important;
}
.cart_footer i {
  margin: 0 3px;
  font-size: 1rem;
}
.cart_footer .btn-prev {
  background-color: #888;
}
.cart_footer .btn-next {
  background-color: #07b;
}
.cart_footer .order_chk_all {
  margin-left: 10px;
}
.cart_footer .addcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart_footer .total-price {
  width: 100%;
  margin: 5px 15px;
  text-align: right;
}
.cart_footer .total-price .currency {
  font-size: 0.8rem;
  color: #d00;
}
.cart_footer .total-price .price {
  font-size: 1.3rem;
  color: #d00;
}

.cart_footer.complete {
  display: block;
}

.addr_box {
  width: 400px;
  padding: 10px;
  background: #efefef;
}
.addr_box .addr_box_title {
  margin-bottom: 10px;
  padding: 15px 10px;
  text-align: left;
  font-size: 1.1rem;
  color: #555;
  background: white;
  font-family: "微軟正黑體", Tahoma, "新細明體", "Arial Unicode MS", Arial, Helvetica, sans-serif;
}
.addr_box .addr_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 1rem;
}
.addr_box .addr_input input {
  margin: 0 0 5px;
  padding: 20px 10px;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
}
.addr_box .addr_input select {
  height: 57px;
  margin: 0 0 5px;
  padding: 20px 5px;
  border: none;
  font-size: 1rem;
  background: white;
  -webkit-appearance: menulist;
}
.addr_box .addr_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.addr_box .addr_btn button {
  padding: 10px 10px 10px 25px;
  font-size: 1rem;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  letter-spacing: 10px;
}
.addr_box .addr_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.addr_box .addr_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 5px;
  padding: 15px 10px;
  background: white;
}
.addr_box .addr_item .btn-cartedit {
  width: 55px;
  height: auto;
  padding: 5px;
  color: white;
  background: #999;
  font-size: 0.8rem;
}
.addr_box .addr_name {
  margin: 0 8px;
}
.addr_box .addr_name p {
  margin-bottom: 5px;
}
.addr_box .btn-cartedit {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 15px 10px;
  color: #06c;
  background: white;
  font-size: 1rem;
  background: white;
  border-radius: 3px;
}

.cart-fail {
  padding: 20px;
  background: white;
}
.cart-fail p {
  display: block;
  color: #555;
  font-size: 1.1rem;
  line-height: 1.8;
}
.cart-fail .red {
  color: red;
}

.cart-fail-btn .confirm {
  display: block;
}
.cart-fail-btn .btn-next {
  float: right;
}

.hide_prod_box {
  display: none;
  padding: 15px 5px 5px;
}

.hide_prod_t {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-family: "微軟正黑體", Tahoma, "新細明體", "Arial Unicode MS", Arial, Helvetica, sans-serif;
}
.hide_prod_t .pay_dis {
  display: inline-block;
}
.hide_prod_t .title {
  padding-right: 5px;
  color: #d00;
  background: none;
  font-weight: 500;
}
.hide_prod_t .ori {
  font-size: 1rem;
}
.hide_prod_t .ori .title {
  color: #999;
}
.hide_prod_t .ori .price {
  color: #999;
}
.hide_prod_t .ori del {
  font-size: 1.4rem;
}
.hide_prod_t .price {
  color: #d00;
  font-size: 1.8rem;
}

.hide_des {
  padding: 40px 30px 20px;
  text-align: center;
}
.hide_des p {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #0080cd;
}
.hide_des small {
  font-size: 1.2rem;
  color: #aaa;
}

.hide_btn {
  margin: 30px auto 0;
  text-align: center;
}
.hide_btn .button {
  width: 48.5%;
  padding: 20px 15px 20px 20px;
  margin-right: 5px;
  font-size: 1.1rem;
  letter-spacing: 5px;
  font-weight: 700;
  text-align: center;
  border: none;
  color: #999;
  background-color: #eee;
  cursor: pointer;
  line-height: 1;
  outline: 0;
}
.hide_btn .button:last-child {
  margin: 0;
}
.hide_btn .button.btn-order {
  color: white;
  background-color: #e00;
}

.tip-quantity-alert {
  width: 130px;
  position: absolute;
  bottom: -20%;
  right: -210%;
  padding: 10px;
  background: red;
  text-align: center;
  color: white;
  border-radius: 5px;
}
.tip-quantity-alert:after {
  position: absolute;
  top: 40%;
  left: -8px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8.7px 5px 0;
  border-color: transparent red transparent transparent;
}

@media only screen and (max-width: 730px) {
  .order_head .order-title-price {
    margin-right: 0;
  }

  .cart-step {
    padding: 5px;
  }
  .cart-step li {
    padding: 0 2px 0 0;
  }
  .cart-step li .step-num {
    margin-right: 2px;
    font-size: 0.8rem;
  }
  .cart-step li .step-txt {
    font-size: 0.8rem;
  }

  .order_all .cart-count {
    font-size: 1rem;
    margin-left: 5px;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }
  .order_all .cart_last {
    margin: 0;
    font-size: 1rem;
  }
  .order_all .cart_last .btn-remove {
    padding: 2px 10px;
    font-size: 0.8rem;
  }

  .order-title-price {
    margin: 0;
  }

  .cart_img {
    width: 70px;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }
  .cart_img img {
    width: 70px;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
    width: 70px;
  }

  .cart-item-add {
    width: 70px;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }
  .cart-item-add .cart_img {
    width: 70px;
  }

  .cart-item {
    padding: 20px 5px;
  }

  .cart_name {
    font-size: 0.9rem;
  }

  .order-list .btn-decrease {
    font-size: 1.2rem;
  }
  .order-list .cart-num {
    width: 37px;
    height: 40px;
  }

  .deliver_info p {
    width: 260px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
  }

  .cart_footer {
    border-right: 5px solid #efefef;
    border-left: 5px solid #efefef;
  }
  .cart_footer [class*=btn-] {
    padding: 13px 8px;
    font-size: 1rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
  }
  .cart_footer .total-price .price {
    font-size: 1.1rem;
  }
  .cart_footer i {
    font-size: 0.8rem;
  }
  .cart_footer .delivery_m {
    width: 50%;
    visibility: hidden;
  }

  .tip-quantity-alert {
    bottom: 10%;
    right: -140%;
  }
}
@media only screen and (max-width: 620px) {
  .order-list .cart_info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .cart_gift.addprod li .cart_gift_item_l {
    max-width: 180px;
  }
}
@media only screen and (max-width: 460px) {
  .cart_gift.addprod li .cart_gift_item_l {
    max-width: 140px;
  }
}
@media only screen and (max-width: 414px) {
  .cart-step {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .cart-step li .step-num {
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
    line-height: 16px;
  }
  .cart-step li .step-txt {
    font-size: 0.7rem;
  }

  .order_head {
    font-size: 0.9rem;
  }

  .order_all .cart_name_link {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
  .order_all .cart-count {
    min-width: auto;
    margin-left: 5px;
    font-size: 0.9rem;
    -ms-flex-preferred-size: 70px;
        flex-basis: 70px;
  }
  .order_all .cart_img img {
    width: 60px;
  }
  .order_all .cart-item-add .cart_img {
    width: 60px;
  }
  .order_all .price {
    font-size: 1.2rem;
  }
  .order_all .ori {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  .order_all .ori del {
    font-size: 0.9rem;
  }
  .order_all .cart-add-sale .cart-add-sale-t {
    font-size: 0.85rem;
  }
  .order_all .cart-add-sale .cart-add-sale-info {
    font-size: 0.85rem;
  }
  .order_all .cart-add-sale .cart-add-name {
    font-size: 0.9rem;
  }
  .order_all .cart-add-sale .price {
    font-size: 0.9rem;
  }
  .order_all .cart-add-sale .cart-count {
    font-size: 0.9rem;
  }

  .cart_img .cart-lack-tag {
    font-size: 0.75rem;
  }
  .cart_img .tag-conv {
    font-size: 0.75rem;
  }

  .cart_gift .cart_gift_item li {
    max-width: 145px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cart_gift.addprod li {
    max-width: 200px;
  }
  .cart_gift.addprod li .cart_gift_item_l {
    max-width: 140px;
  }

  .cart-add .cart-add-name {
    margin: 8px 0;
    line-height: 1.2;
  }

  .cart_block .cart_sub_block.card_num input::-webkit-input-placeholder {
    font-size: 1rem;
  }

  .cart_block .cart_sub_block.card_num input::-moz-placeholder {
    font-size: 1rem;
  }

  .cart_block .cart_sub_block.card_num input:-ms-input-placeholder {
    font-size: 1rem;
  }

  .cart_block .cart_sub_block.card_num input::-ms-input-placeholder {
    font-size: 1rem;
  }

  .cart_block .cart_sub_block.card_num input::placeholder {
    font-size: 1rem;
  }
  .cart_block .cart_block_txt {
    font-size: 0.85rem;
  }

  .cart_block.orderprice .addcart [class*=btn-] {
    -ms-flex-preferred-size: 112px;
        flex-basis: 112px;
    padding: 10px 15px;
    font-size: 1rem;
  }
  .cart_block.orderprice .addcart i {
    font-size: 1rem;
  }

  .deliver_info p {
    width: 230px;
  }

  .cart_footer [class*=btn-] {
    padding: 10px 5px;
    font-size: 0.85rem;
  }
  .cart_footer .order_chk_all {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .cart_footer .order_chk_label {
    width: 15px;
    height: 15px;
  }
  .cart_footer .order_chk_label:after {
    top: 0;
    left: 0;
  }
  .cart_footer .total-price {
    font-size: 0.8rem;
  }
  .cart_footer .total-price .currency {
    font-size: 0.7rem;
  }
  .cart_footer .total-price .price {
    font-size: 0.95rem;
  }
  .cart_footer i {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .hide_des {
    padding: 40px 0 20px;
  }

  .hide_prod_t .ori del {
    font-size: 1.2rem;
  }

  .order-list .cart_info {
    width: 140px;
  }

  .cart_block .cart_sub_block {
    padding: 10px 5px;
  }

  .deliver_info p {
    width: 180px;
  }

  .cart_img img {
    width: 60px;
  }

  .cart_info {
    padding: 0;
  }

  .cart-count {
    min-width: 40px;
    font-size: 0.9rem;
  }
  .cart-count del {
    font-size: 0.9rem;
  }

  .cart_last {
    font-size: 0.9rem;
  }
  .cart_last del {
    font-size: 0.9rem;
  }

  .price {
    font-size: 0.9rem;
  }
  .price del {
    font-size: 0.9rem;
  }

  .cart_gift.addprod li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}