doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_ccz_head_m.pug
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/index.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/index.js')

	body
		include ../pug_common/_loading.pug

		include ../pug_common/_ccz_header_m.pug
		
		include ../pug_common/_index_mobile.pug

		include ../pug_common/_ccz_footer_m.pug