@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';
@import 'base/_reset.scss';


@import 'layouts/_header.scss';

@import 'modules/_sections.scss';

.banner{
	margin-bottom:20px;
	a,i{
		display: block;
	}
}
.one_banner{
	img{
		width:100%;
	}
}
.four_banner,.three_banner{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	h2{
		display: none;
	}
}




.swiper-container{
	width:100%;
	margin-bottom:20px;
	.swiper-slide{
		img{
			width:100%;
		}
	}
}
.video_container {
	position: relative;
	// padding-bottom: 75%;
	padding-bottom: 56.25%;
	height: 0;overflow: hidden; 
	iframe,object,embed{
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
}

.tabs{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	li{
		padding: 10px 15px;
		color: #222;
		background: none;
		cursor: pointer;
		&.current{
			color: #222;
			border-bottom:2px solid $theme-color ;
		}
	}
}
.tab_content{
	display: none;
	padding: 10px 0;
	&.current{
		display: block;
	}
}
.page_items{
	margin:0 0 40px;
}
.items{
	display: flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content:space-between;
	margin:0 -4px;
	.item{
		width:(1220px/4-8);
		margin:0 4px 20px;
		.photo{
			position: relative;
			padding-top: 100%;
			overflow: hidden;
		}
		img{
			display: block;
			position: absolute;top: 50%;left: 50%;
			height: 100%;
			transform: translate(-50%, -50%);
		}
		.info{
			padding:5px;
		}
		.item_title{
			color:#555;
			height: 40px;
			font-size:.85rem;
			letter-spacing: 0.5px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
    		-webkit-box-orient: vertical;
		}
		
		.func{
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			margin:5px 0 0 0;
		}
		.dis_price{
			color:#ff5353;
		}
	}
}

@import 'layouts/_footer.scss';