footer.copyright
	.container
		.foot_link
			a.footlink_index.icon.icon_home(href='index.html') 首頁
			a.footlink_coupon.icon.icon_coupon_w(href='coupon.html') 折價券
			a.footlink_per.icon.icon_star(href='#') 專屬品
			a.footlink_notice.icon.icon_notice(href='#') 通知
			a.footlink_mem.icon.icon_account(href='mem_index.html') 我的