header.site-header
	.container
		.main-head
			.header_l
				a.logo(href='intro.html')
					img(src='img/intro/ysdt_ai_logo.svg' alt='i員購福利網' title='i員購福利網')
			.head_link
				a.active(href="intro.html#duo_gift") 雙重好禮贈
				a(href="intro_apply.html") 我要申請
				a(href="intro_brand.html") 已合作的公司