.tag-cloud.swiper-container
	.tag-cloud-container.swiper-wrapper
		-var j = 5;
		- for (var i = 0; i < j; i++)
			a.tag.swiper-slide(href="#")
				span iphone 13
			a.tag.swiper-slide(href='#')
				span 年菜
			a.tag.swiper-slide(href='#')
				span iphone
			a.tag.swiper-slide(href='#')
				span 鳳梨酥
			a.tag.swiper-slide(href='#')
				span 4k電視
			a.tag.swiper-slide(href="#")
				span 筆電
			a.tag.swiper-slide(href='#')
				span 洗髮精
			a.tag.swiper-slide(href='#')
				span 素顏霜
			a.tag.swiper-slide(href='#')
				span 耳機
			a.tag.swiper-slide(href="#")
				span 沐浴乳
			a.tag.swiper-slide(href='#')
				span 鍵盤
	.icon.icon_arrow.tagcloud_btn_r
		