.product h1 {
  font-size: 2em;
  line-height: 140%;
  color: white;
  font-weight: bold;
}
.product h2 {
  font-size: 1.3em;
  line-height: 140%;
  color: white;
  font-weight: bold;
}
.product h3 {
  font-size: 1.25em;
  margin-bottom: 15px;
  color: #dbdbdb;
}
.product .highlight {
  font-size: 0.813em;
  line-height: 18px;
}

.cart {
  text-align: center;
  margin-bottom: 20px;
}
.cart .cart-quantity {
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.cart .highlight {
  display: inline-block;
}
.cart button {
  margin-right: 10px;
}

.cartfixed {
  width: 100%;
  margin-bottom: 0px;
  padding: 15px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: none;
}
.cartfixed .highlight {
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 140%;
}
.cartfixed button {
  border: 1px solid #000;
  margin-right: 0;
  line-height: 28px;
}
.cartfixed button.btn-addcart, .cartfixed button.btn-discount {
  border: 1px solid #fff;
}
.cartfixed .message {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 4px;
}

.cart-yellow {
  background: #ffcc21;
}
.cart-yellow .highlight {
  color: #ff3300;
}

.cart-light-gray {
  background: #cccccc;
}

.cart-blue {
  background: #00a8ff;
}

.cart-red {
  background: #dd0000;
}
.cart-red .highlight {
  color: #fff;
}

.cart-quantity {
  float: left;
  margin: 5px 10px 0 0;
}
.cart-quantity {
  zoom: 1;
}
.cart-quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cart-quantity li {
  float: left;
  border: 1px solid #cccccc;
  margin-left: 0;
  background: white;
  width: 48px;
  height: 32px;
}
.cart-quantity li:first-child {
  border-right: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  width: 32px;
}
.cart-quantity li:last-child {
  border-left: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
  width: 32px;
}
.cart-quantity li .type {
  display: block;
  color: black;
  padding: 6px 0;
  text-align: center;
}
.cart-quantity li input {
  width: 46px;
  height: 30px;
  border: 0;
  font-size: 1em;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .cartfixed {
    display: block;
    z-index: 5;
  }
}
@media only screen and (max-width: 767px) {
  .cartfixed {
    display: block;
    z-index: 5;
  }
  .cartfixed .highlight {
    display: block;
    margin-bottom: 5px;
  }

  .product h1 {
    font-size: 1.3em;
  }
  .product hr {
    margin: 2em 0;
  }
}
.cart_product {
  margin: 10px 0;
}
.cart_product {
  zoom: 1;
}
.cart_product:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cart_product .photo {
  float: left;
  width: 41%;
}
.cart_product figcaption {
  float: left;
  width: 59%;
  padding: 10px 20px 10px 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart_product figcaption h1 {
  margin-bottom: 50px;
  word-break: break-all;
}
.cart_product figcaption .feature {
  margin-top: 10px;
}
.cart_product figcaption .feature li {
  line-height: 180%;
  color: #dbdbdb;
  word-break: break-all;
}
.cart_product figcaption .line {
  margin: 15px 0;
}
.cart_product figcaption .line {
  zoom: 1;
}
.cart_product figcaption .line:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cart_product figcaption .buy {
  float: right;
  margin-right: 120px;
  text-align: right;
}
.cart_product figcaption .buy .cart-quantity {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.cart_product figcaption .highlight {
  text-align: right;
}
.cart_product figcaption .price {
  font-size: 2.4em;
  color: #dd0000;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.cart_product figcaption .price .saletitle {
  font-size: 0.5em;
}
.cart_product figcaption .price .currency {
  font-size: 0.6em;
}
.cart_product figcaption .key {
  line-height: 220%;
  color: white;
}
.cart_product figcaption label {
  display: block;
  padding: 5px 0;
  color: #dbdbdb;
}
.cart_product figcaption label input[type="radio"] {
  margin: 0 5px 0 0;
}
.cart_product figcaption .product-color {
  zoom: 1;
}
.cart_product figcaption .product-color:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cart_product figcaption .product-color li {
  float: left;
  padding: 4px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.cart_product figcaption .product-color li span {
  display: block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: #393838 1px 1px 2px inset;
  -moz-box-shadow: #393838 1px 1px 2px inset;
  box-shadow: #393838 1px 1px 2px inset;
}
.cart_product figcaption .product-color li span.red {
  background: #de0000;
}
.cart_product figcaption .product-color li span.white {
  background: #fff;
}
.cart_product figcaption .product-color li span.black {
  background: #000;
}
.cart_product figcaption .product-color li span img {
  width: 31px;
  height: 31px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cart_product figcaption .product-color li.selected {
  border: 3px solid #df0000;
  line-height: 120%;
}
.cart_product figcaption .product-color li.selected {
  position: relative;
}
.cart_product figcaption .product-color li.selected:after {
  content: ".";
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: url(../../../assets/c/img/frame/icon_blue.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (max--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .cart_product figcaption .product-color li.selected:after {
    background-image: url(../../../assets/c/img/frame/icon_retina_blue.png);
    background-size: 400px 400px;
  }
}
.cart_product figcaption .product-color li.selected:after {
  width: 12px;
  padding-top: 12px;
  background-position: -142px -25px;
  top: 0px;
  left: 0px;
}
.cart_product figcaption .product-color li.selected:after {
  top: inherit;
  left: inherit;
  right: 0;
  bottom: 0;
}
.cart_product figcaption .product-color li.selected .type {
  padding: 3px;
}
.cart_product figcaption .product-color li.disabled {
  border: 1px solid #cccccc;
}
.cart_product figcaption .product-color li.disabled img {
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
.cart_product figcaption .product-color li.disabled .type {
  color: #cccccc;
}
.cart_product figcaption .product-color .type {
  min-width: 28px;
  display: block;
  padding: 5px;
  text-align: center;
}
.cart_product figcaption .attr {
  zoom: 1;
}
.cart_product figcaption .attr:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.cart_product figcaption .attr li {
  float: left;
  cursor: pointer;
  margin-right: 8px;
  padding: 8px 15px;
  border: 1px solid #cccccc;
  color: white;
}
.cart_product figcaption .attr li.selected {
  border: 1px solid #df0000;
  color: #df0000;
}
.cart_product figcaption .button {
  margin-top: 5px;
}
.cart_product .add .rule {
  border-bottom: 1px solid #cccccc;
  width: 365px;
  line-height: 140%;
  padding: 5px 0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  color: white;
}
.cart_product .add select {
  padding: 3px 5px;
}
.cart_product .sale {
  color: red;
  font-size: 0.815em;
  margin-bottom: 10px;
  line-height: 140%;
}
.cart_product .sale .tips {
  border: 1px solid red;
  padding: 5px;
  line-height: 240%;
}
.cart_product .sale a {
  color: red;
  text-decoration: underline;
  padding-left: 5px;
}

@media only screen and (min-width: 1000px) and (max-width: 1237px) {
  .cart_product figcaption .buy {
    margin-right: 0;
  }
  .cart_product .add label.rule {
    width: 348px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .cart_product figcaption {
    width: 100%;
    padding: 50px 50px 0 50px;
  }
  .cart_product figcaption .price {
    margin: 15px 0;
  }
}
@media only screen and (max-width: 999px) {
  .cart_product figcaption {
    width: 100%;
    padding: 30px 15px 0 15px;
  }
  .cart_product figcaption h1 {
    margin-bottom: 30px;
  }
  .cart_product figcaption .photo {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .cart_product figcaption .feature li {
    font-size: 0.85em;
  }
  .cart_product figcaption .buy {
    margin-left: 0;
  }
  .cart_product .add .rule {
    width: 80%;
  }
  .cart_product .add select {
    margin-left: 50px;
    margin-top: 10px;
  }
  .cart_product .sale .tips {
    display: inline-block;
    line-height: 140%;
  }
  .cart_product .sale .tips.hidden-mobile {
    display: none;
  }
  .cart_product .sale a {
    display: inline-block;
    line-height: 200%;
  }
}
.add {
  zoom: 1;
}
.add:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.add .col-3 {
  padding: 20px;
  border: 3px solid transparent;
}
.add .col-3:hover {
  border: 3px solid #df0000;
}
.add .col-3 img {
  width: 100%;
}
.add .col-3 .currency {
  font-size: 0.7em;
  margin-right: -3px;
  display: inline-block;
  vertical-align: middle;
  color: #dbdbdb;
}
.add .col-3 .price {
  margin-right: 10px;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  color: #dbdbdb;
}
.add .col-3 .line {
  zoom: 1;
}
.add .col-3 .line:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.add .col-3 .name {
  margin: 5px 0 10px;
  font-size: 1.125em;
  line-height: 140%;
  color: #dbdbdb;
}
.add .col-3 .spec {
  margin: 0 0 10px 0;
}
.add .col-3 .btn-add {
  line-height: 22px;
}
.add .col-3 .btn-add input[type='checkbox'] {
  margin: 0 3px 0 0;
}
.add .col-3 .cart-quantity {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 15px;
  float: none;
}
.add .col-3 .cart-quantity {
  zoom: 1;
}
.add .col-3 .cart-quantity:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.add .col-3 .cart-quantity li {
  width: 30px;
  height: 22px;
}
.add .col-3 .cart-quantity li:first-child, .add .col-3 .cart-quantity li:last-child {
  width: 22px;
}
.add .col-3 .cart-quantity li .type {
  padding: 0;
  display: block;
  color: black;
  line-height: 20px;
  text-align: center;
}
.add .col-3 .cart-quantity input {
  width: 28px;
  height: 20px;
  border: 0;
  font-size: 0.8em;
}
.add .col-3 .cart-quantity .quantity-alert {
  top: -200%;
}

@media only screen and (min-width: 1000px) and (max-width: 1237px) {
  .add .col-3 .btn-add {
    float: none;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .add .col-3 .btn-add {
    float: right;
  }
}
@media only screen and (max-width: 999px) {
  .add h3 {
    margin-left: 30px;
  }
  .add .col-3 {
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  .add .col-3 .price {
    width: 80%;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 410px) {
  .add .col-3 .cart-quantity {
    margin-bottom: 10px;
  }
}
.detail {
  margin-bottom: 100px;
}
.detail {
  zoom: 1;
}
.detail:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.detail img {
  width: 100%;
}
.detail h1 {
  margin-bottom: 28px;
}
.detail li {
  font-size: 1.125em;
  line-height: 200%;
  color: #dbdbdb;
}
.detail .feature-block {
  padding: 150px 0 0 88px;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .detail .feature-block {
    padding: 0;
  }
  .detail .feature-block h1, .detail .feature-block ul {
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 999px) {
  .detail {
    margin-bottom: 0;
  }
  .detail .col-6 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .detail .feature-block {
    padding: 0;
  }
  .detail .feature-block h1, .detail .feature-block ul {
    width: 60%;
    margin: 0 auto;
  }
}
.format {
  padding-left: 20px;
}
.format .col-6 {
  border-right: 1px solid #cccccc;
}
.format .col-6:last-child {
  border: 0;
  padding: 0 20px;
}
.format h3 {
  color: white;
  font-weight: bold;
}
.format li {
  font-size: 0.9em;
  line-height: 200%;
  color: #dbdbdb;
}
.format li a {
  color: red;
  text-decoration: underline;
}

@media only screen and (max-width: 999px) {
  .format {
    padding-left: 0px;
  }
  .format .col-6 {
    width: 100%;
    border-right: 0;
    float: none;
    padding: 0 20px;
  }

  .format-last {
    padding: 0 20px;
    margin-bottom: 2em;
  }
}
