@import "partials/color";
.cupn_slide{
	display:grid;   
	grid-auto-flow:column;  
	grid-template-rows: repeat(2, 110px);
	grid-template-columns: repeat(auto-fill, 360px);
	grid-gap:5px; 
	width:100%;
	margin:15px 0 0;
	overflow-x: auto;
}
.cupn_con{
	position: relative;
	margin:15px 0 0;
	padding: 0 20px;
	.swiper-button-prev{
		left: 0;
	}
}
.cupn_top{
	display: flex;
    flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin:0 0 8px;
}
.cupn_des{
	font-size: 1.15rem;
	font-weight: 700;
}
.cupn_time{
	color:#d00;
}
.cupn_more{
	padding: 5px 17px;
    font-size: 1.15rem;
	color:#ff0;
	background:$primary-color;
	text-decoration: underline;
	border-radius: 5px;
}
.cupn_items{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.cupn_item{
	display: flex;
    flex-flow: row nowrap;
	width: 360px;
	padding: 8px;
    background-color: #333;
	box-sizing: border-box;
}
.info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 0 8px;
}
.cupn_photo{
    display: block;
}
.cupn{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin:5px 0 0;
}
.cupn_info{
	margin: 0 0 0 5px;
}
.cupnimg{
    display: block;
    width:90px;
    border:2px solid white;
    box-sizing: border-box;
}
.cupn_block{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.cupn_t{
	margin:0 0 6px;
	color:#f5c5c5;
	font-size:.7rem;
	transform: scale(0.9);
}
.cupn_ticket{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width:91px;
	height:39px;
	font-size:.7rem;
	background:  #f5c5c5 url('../../img/mobile/cupn_frame.svg') no-repeat center center;
    border: 2px solid #f5c5c5;
    box-sizing: border-box;
}
.cupn_dur{
	color:#555;
	transform: scale(0.9);
}
.cupn_price{
	margin: 2px 0 0;
	color:#ee6262;
	font-size:.9rem;
	font-weight: 700;
	&::first-letter{
		font-size:.7rem;
	}
}
.cupn_name{
	width:143px;
	margin: 0 15px 0 0;
	font-size:.9rem;
	color:white;
	line-height: 1.2;
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
			line-clamp: 3; 
	-webkit-box-orient: vertical;
}
.cupn_nor,.cupn_dis{
	display: flex;
    flex-flow: row nowrap;
	align-items: baseline;
	.nor_t,.dis_t{
		margin: 0 5px 0 0;
		color:#888;
		font-size:.7rem;
	}
}
.cupn_nor{
	margin: 0 0 -2px;
	.nor_price{
		text-decoration: line-through;
	}
	
	.nor_price{
		margin:0 8px 0 0;
		font-size:.8rem;
		color:#888;
		text-decoration: line-through;
		&::first-letter{
			font-size:.7rem;
		}
	}
}
.cupn_dis{
	justify-content: space-between;
	.dis_net{
		display: flex;
		align-items: baseline;
	}
	.dis_price{
		color:#f77;
		font-size:1rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
	.dis_af{
		color:white;
		font-size:.8rem;
	}
	.dis_af_price{
		color:#ff0;
		font-size:1.2rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
}

.cupn_arrow{
	&::before{
		font-size:.7rem;
	}
}