@import "partials/color";
.cupn_con{
	position: relative;
	margin:15px 0 0;
	padding: 0 20px;
	.swiper-button-prev{
		left: 0;
	}
}
.cupn_top{
	display: flex;
    flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin:0 0 8px;
}
.cupn_des{
	font-size: 1.15rem;
	font-weight: 700;
}
.cupn_time{
	color:#d00;
}
.cupn_more{
	padding: 5px 17px;
    font-size: 1.15rem;
	color:#ff0;
	background:$primary-color;
	text-decoration: underline;
	border-radius: 5px;
}
.cupn_items{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.cupn_item{
	display: flex;
    flex-flow: row nowrap;
	padding: 8px;
    background-color: #333;
	box-sizing: border-box;
}
.info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0 0 0 8px;
}
.cupn_photo{
    display: block;
}
.cupn{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin:5px 0 0;
}
.cupn_info{
	margin: 0 0 0 5px;
}
.cupnimg{
    display: block;
    width:90px;
    border:2px solid white;
    box-sizing: border-box;
}
.cupn_block{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.cupn_t{
	margin:0 0 6px;
	color:#f5c5c5;
	font-size:.7rem;
	transform: scale(0.9);
}
.cupn_ticket{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width:91px;
	height:39px;
	font-size:.7rem;
	background:  #f5c5c5 url('../../img/mobile/cupn_frame.svg') no-repeat center center;
    border: 2px solid #f5c5c5;
    box-sizing: border-box;
}
.cupn_dur{
	color:#555;
	transform: scale(0.9);
}
.cupn_price{
	margin: 2px 0 0;
	color:#ee6262;
	font-size:.9rem;
	font-weight: 700;
	&::first-letter{
		font-size:.7rem;
	}
}
.cupn_name{
	height:51px;
	margin: 0 15px 0 0;
	font-size:.9rem;
	color:white;
	line-height: 1.2;
	word-break: break-word;
	overflow: hidden;
}
.cupn_nor,.cupn_dis{
	display: flex;
    flex-flow: row nowrap;
	align-items: baseline;
	.nor_t,.dis_t{
		margin: 0 5px 0 0;
		color:#888;
		font-size:.7rem;
	}
}
.cupn_nor{
	margin: 0 0 -2px;
	.nor_price{
		text-decoration: line-through;
	}
	
	.nor_price{
		margin:0 8px 0 0;
		font-size:.8rem;
		color:#888;
		text-decoration: line-through;
		&::first-letter{
			font-size:.7rem;
		}
	}
}
.cupn_dis{
	justify-content: space-between;
	.dis_net{
		display: flex;
		align-items: baseline;
	}
	.dis_price{
		color:#f77;
		font-size:1rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
	.dis_af{
		color:white;
		font-size:.8rem;
	}
	.dis_af_price{
		color:#ff0;
		font-size:1.2rem;
		&::first-letter{
			font-size:.7rem;
		}
	}
}

.cupn_arrow{
	&::before{
		font-size:.7rem;
	}
}

// .cupn{
//     position: relative;
//     margin-top:20px;
//     padding:0 18px;
//     &.single{
//         display: flex;
//         flex-flow: row wrap;
//     }
//     .cupn_t{
//         margin: 0 0 5px;
//     }
//     .cupn_slide{
//         overflow: hidden;
//     }
//     .swiper-slide{
//         color:white;
//         .cupn_bg{
//             margin:0;
//         }
//         .cupn_info{
//             padding:0 30px 0 10px;
//         }
//     }
//     .swiper-button-prev{
//         left:0;
//     }
//     .swiper-button-next{
//         right:0;
//     }
//     .cupn-next-black{
//         position:absolute;
//         top:36%;right:12px;
//         font-size:2rem;
//         z-index: 5;
//         cursor: pointer;
//     }
//     .cupn_bg{
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: center;
//         position:relative;
//         margin: 0 30px 30px 0;
//         // padding-right: 20px; 
//         cursor: pointer;
//         .cupn_prod_img{
//             background-color: black;
//             @include border-radius(10px);
//         }
//     }
//     .rice{
//         .cupn_prod_img,.cupn_info{
//             border:2px solid #ddd5cc;
//             background-color: #ece8df;
//         }
//         .cupn_prod_img{
//             margin-right: 1px;       }
//         .cupn_info{
//             padding: 0 36px 0 8px;
//         }
//         .cupn_img{
//             margin:10px 12px;
//         }
//         .cupn_num{
//             color:#00f;
//         }
//         .nor{
//             color:#888;
//         }
//         .name{
//             height:30px;
//             margin:8px 0 13px;
//             color:black;
//             white-space: normal;
//         }
//         .cupn_price{
//             .title,.price{
//                 color:#d00;
//             }
//         }
//     }
//     .cupn_img{
//         width:80px;height:80px;
//         margin:12px 14px;
//         border:3px solid white;
//     }
//     .expired{
//         position: relative;
//         .expired_bg{
//             position: absolute;left:50%;top:50%;
//             width: 80px;height: 40px;
//             background: linear-gradient(45deg, red 25%, white 0, white 50%, red 0, red 75%, white 0);
//             background-size: 6px 6px;
//             transform: translate(-50%,-50%);
//             opacity: .7;
//         }
//         .cupn_img{
//             opacity: .9;
//             filter: blur(2px);
//             -webkit-filter: blur(2px);
//         }
//         span{
//             position: absolute;left: 0;top: 50%;margin-top:-14px;
//             width: 80px;
//             height: 28px;line-height: 28px;
//             color: red;
//             font-size: 1.4rem;
//             text-align: center;
//             background: white;
//         }
//     }
//     .cupn_info{
//         display: flex;
//         flex-flow: column nowrap;
//         align-items: flex-start;
//         justify-content: space-between;
//         padding:0 38px 0 10px;
//         border-left:1px solid #999;
//         background-color: black;
//         @include border-radius(10px  0 0 10px );
//     }
//     .cupn_dur{
//         margin:0 0 2px;
//         font-size:.8rem;
//         color:#aaa;
//         line-height: 1.2;
//         span{
//             font-size:.8rem;
//         }
//     }
//     .cupn_num{
//         margin:6px 0 0 0;
//         color:#ffc;
//         font-size:.6rem;
//         white-space: nowrap;
//         font-family:"新細明體", "PMingLiU";
//     }
//     .name{
//         display: block;
//         width:165px;
//         margin:10px 0 13px;
//         font-size:.9rem;
//         color:white;
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//     }
//     .nor{
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: flex-end;
//         margin:0 0 -5px 0;
//         font-size:.7rem;
//         color:#aaa;
//     }
//     .del{
//         margin-left:3px;
//         color:#999;
//     }
//    .cupn_price{
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: flex-end;
//         margin:8px 0;
//         font-family: sans-serif;
//        .title{
//            color:#f77;
//            font-size:.8rem;
//        }
//        .price{
//            margin-left:5px;
//            color:$cupn_price;
//        }
//    }
// }
// .cupn_share{
//     position: absolute;right:0;top:0;bottom:0;
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-items: center;
//     padding:0 4px;
//     border:5px solid black;
//     background-color: #ebe8df;
//     .icon{
//        margin:0 0 10px;
//        color:black;
//        font-size: 1.5rem;
//        @include border-radius(0);
//        &:last-child{
//             margin:0;
//        }
//    }
// }