@import '../base/_variables.scss';
@import '../base/_mixins.scss';
.cart_popup{
	visibility: hidden;
	position:fixed;top:0;left:0;
	width:100%;
	height:100%;
	padding:5px;
	background:rgba(0, 0, 0, .8);
	z-index: 30;
	.cart_pop_body{
		position: absolute;left: 50%;top: 50%;
		transform: translate(-50%, -50%);
		max-width:490px;
		width:85%;
		height:auto;
		max-height:645px;
	}
	.cart_popup_top{
		display: flex;
		justify-content: space-between;
	}
	.pop_close{
		position: absolute;right:-32px;top:0;
		display: block;
		padding:3px 8px;
		background-color: #e38796;
		z-index: 20;
		i{
			color:white;
		}
	}
	.swiper-container{
		.swiper-slide{
			img{
				width: auto;
				height: 578px;
			}
		}
	}
	.gallery_top{
		width:460px;
	}
	.swiper-container.gallery_thumbs{
		order: -1;
		width: 95px;
		height: 578px;
		padding: 0 5px 5px 0;
		img{
			height: 115px;
		}
	}
	.btn-addcart{
		display: block;
		width:100%;
		margin:5px 0;
		padding:15px 40px;
		font-size:.9rem;
		text-align: center;
		color:white;
		background:#222 ;
	}
	
}



@media (max-width:380px) {
	.cart_popup{
		.gallery_top{
			.swiper-slide{ 
				img{
					height: 354px;
				}
			}
		}
		.swiper-container.gallery_thumbs{
			height: 354px;
			img{
				height:70px;
			}
		}
	}
}

@media (max-width:360px) {
	.cart_popup{
		.gallery_top{
			.swiper-slide{
				img{
					height: 339px;
				}
			}
		}
		.swiper-button-next,.swiper-button-prev{
			display: none;
		}
		.swiper-container.gallery_thumbs{
			height: 339px;
			img{
				height:67px;
			}
		}
		.pop_close{
			right:-16px;
		}
	}
}

@media (max-width:320px) {
	.cart_popup{
		.gallery_top{
			.swiper-slide{
				img{
					height: 300px;
				}
			}
		}
		.swiper-container.gallery_thumbs{
			height: 300px;
			img{
				height:58px;
			}
		}
	}
}