@charset "UTF-8";
/* pc_index_006 開始 */
.pc_market_006 {
  text-align: center;
  font-size: 0;
  margin-bottom: 15px;
}
.pc_market_006 {
  zoom: 1;
}
.pc_market_006:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_market_006 .menu {
  display: inline-block;
  height: 36px;
  overflow: hidden;
}
.pc_market_006 .menu {
  zoom: 1;
}
.pc_market_006 .menu:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pc_market_006 .menu > li {
  float: left;
  height: 20px;
  margin-top: 9px;
  overflow: hidden;
  word-break: break-all;
}
.pc_market_006 .menu > li:first-child a {
  border-left: none;
}
.pc_market_006 .menu > li:hover {
  height: 36px;
  margin-top: 0px;
}
.pc_market_006 .menu > li:hover + li {
  height: 36px;
  margin-top: 0px;
}
.pc_market_006 .menu > li:hover + li a {
  padding: 11px 20px;
}
.pc_market_006 a {
  display: block;
  color: white;
  padding: 2px 20px;
  border-left: 1px solid #FFF;
  font-size: 16px;
}
.pc_market_006 a:last-child {
  content: "|";
}
.pc_market_006 a:hover {
  padding: 10px 20px;
  background: #efefef;
  color: black;
}

/* pc_index_001 結束 */
