@import '../base/_variables';
@import '../base/_mixins.scss';
@import '../base/_reset.scss';
@import '../base/_base.scss';
@import '../layouts/_header.scss';
@import '../layouts/_qmomo_fancybox.scss';
.about_main{
	margin: 20px 3%;
	.container{ 
		display: flex;
		flex-flow: row wrap;
	}
}
.about_menu{
	display: flex;
	flex:0 0 100%;
	flex-flow:row wrap ;
	justify-content: center;
	margin:0 0 10px;
	font-size:.9rem;
	.main_menu{
		display: flex;
	}
	dt{
		display: none;
	}
	dd{
		padding:10px 20px 10px 0;
	}
	a{
		&:hover{
			color:black;
		}
	}
}
.about_content{
	flex:0 0 100%;
	font-size:.9rem;
	h3{
		margin:0 0 10px;
		padding:6px 0 6px 10px;
		border-left:20px solid  #fdd8d6;
	}
	img{
		display: block;
		width:100%;
		margin: 0 0 10px;
	}
	p{
		margin:0 0 10px;
		line-height: 2.2;
	}
}

.store_block{
	display: flex;
	flex-flow: row wrap;
	.store{
		width:31%;
		margin:0 2% 20px 0;
		padding:0;
		border:1px solid #ccc;
		img{
			margin:0;
		}
	}
	.info{
		padding:10px 15px;
		.tel{
			margin:0 0 5px;
			font-size:.8rem;
			line-height: 1.8;
		}
		a{
			font-size:.8rem;
			line-height: 1.8;
		}
		.fa-map-marker-alt{
			font-size:.92rem;
		}
		i{
			margin:0 5px 0 0;
		}
	}
}
.privacy_block{
	margin:20px 0 ;
	.sm_title{
		color:black;
		font-size:.9rem;
		font-weight: 700;
	}
	p{
		line-height: 1.8;
		a{
			color:#06c;
		}
	}
}

@media (max-width:530px) {
	.store_block{
		.store{
			width:48%;
			// &:last-child{
			// 	margin:0 0 20px;
			// }
		}
	}
}
@import '../layouts/_footer_m.scss';