@import '../base/_variables';
@import '../base/_mixins.scss';
@import '../base/_reset.scss';
@import '../base/_base.scss';
@import '../layouts/_header.scss';
@import '../layouts/_qmomo_fancybox.scss';

.banner{
	margin-bottom:10px;
	a,i,img{
		display: block;
		width:100%;
	}
}
.sort_block{
	margin:10px 0 0;
	padding:10px 0;
	.container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		padding:0 0 10px;
		border-bottom:1px solid $theme-color;
	}
}
.sort{
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding:10px 0 0;
	font-size:.9rem;
	label{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		width:100px;height:36px;
		margin: 0;
		text-align: center;
		cursor: pointer;
		color:#777;
		&:last-child{
			margin:0;
		}
	}
	p{
		width:100px;
		line-height: 36px;
	}
	input{
		display: none;
		&:checked{
			~.checkmark{
				border:none;
				background-color:$theme-color;
				// &:after{
				// 	display: block;
				// 	position: absolute;left:3px;top:-4px;
				// 	font-size:1.3rem;
				// 	color:white;
					
				// }
			}
			~p{
				color:white;
				position: absolute;left:0;top:0;
			}
		}
	}
	.checkmark{
		width:100px;height:36px;
		position: absolute;left:0;top:0;
		cursor: pointer;
	}
}
.select_sort{
	position: relative;
	display: flex;
	width: 140px;
	height: 30px;
	line-height: 1.4;
	background: #2c3e50;
	overflow: hidden;
	border-radius:5px;
	select{
		flex: 1;
		padding: 0 10px;
		font-size:.9rem;
		color: #fff;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		outline: 0;
		box-shadow: none;
		border: 0 !important;
		background: #ffadad;
		background-image: none;
	}
	&::after{
		content: '\25BC';
		position: absolute;top: 50%;right: 0;
		margin-top:-7px;
		padding: 0 10px;
		font-size:.7rem;
		color:white;
		cursor: pointer;
		pointer-events: none;
		-webkit-transition: .25s all ease;
		-o-transition: .25s all ease;
		transition: .25s all ease;
	}
}
@import '../layouts/_footer.scss';