// 分類頁
@import "partials/base";
@import "partials/mixin";
@import "partials/color";
@import "partials/page";
@import "partials/relate";
.sub_head{
    .container{
        justify-content: flex-start;
    }
}
.func_top{
    display: flex;
	flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin:0 0 20px 220px;
}
.sort{
	display: flex;
	flex-flow: row nowrap;
	font-size:.8rem;
}
.sort_check{
    border:1px solid #ccc;
    border-right:0;
    &:last-child{
        border-right:1px solid #ccc;
    }
}
.sort_radio{
	display: none;
	&:checked + .sort_lb{
		border:none;
        color:white;
        background-color:#06c;
	}
}
.sort_lb{
	display: block;
    width:100px;
	padding: 9px;
	font-size:.8rem;
    text-align: center;
	cursor: pointer;
}
.icon_pictxt{
    width: 30px;
}
.cate_main{
    display: flex;
    flex-flow:row nowrap ;
    align-items: flex-start;
    justify-content: space-between;
}
.cate_items{
    display:flex;
    flex-flow:row wrap;
    margin:0 0 10px;
}
.cate_items_txt{
    flex-flow:column;
    margin:0 0 10px 60px;
    .item{
        flex-flow:row nowrap;
        width: 100%;
        margin:0 0 10px;
    }
    .per_r_info{
        display:flex;
        flex-flow:column;
        justify-content: space-between;
        width: 700px;
        margin:0 0 0 10px;
        padding:10px 10px 20px;
        border-bottom:1px solid #ccc;
    }
    .photo{
        width:120px;height:120px;
        margin:0 0 10px;
        overflow: hidden;
        border-radius: 10px;
        img{
            width:120px;
        }
    }
    .name{
        font-size: 1rem;
        color:#333;
    }
    .price{
        font-size:1.15rem;
    }
}
.item{
    display:flex;
    flex-flow:column nowrap;
    width:180px;
    margin: 0 28px 30px 0;
    &:nth-child(6n){
        margin:0 0 30px;
    }
}
.photo{
    display: block;
    position: relative;
    width: 180px;
    height: 180px;
    overflow: hidden;
    .float{
        display: none;
    }
    img{
        width:180px;
        display: block;
    }
}
.name{
    margin: 10px 0 5px;
    color: #888;
    font-size: 0.8rem;
    line-height: 1.2;
    overflow: hidden;
    white-space: nowrap;
}
.price{
    font-size:1rem;
    &::first-letter{
        font-size:.7rem;
    }
}
.per_price{
    display: flex;
    flex-flow:row nowrap;
    align-items: baseline;
    color:#d00;
    font-size:.9rem;
    font-weight: 700;
    .rush{
        margin-left:5px;
        color:#06c;
        font-size:.8rem;
        font-weight: 700;
        text-decoration: underline;
    }
}
.pagenav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.nav{
    padding:11px 13px;
    font-size:.9rem;
    color:#333;
    border:1px solid #ccc;
    border-radius: 5px;
    &.active{
        color:white;
        background: $primary-color;
    }
}
.page_nav{
    margin:20px 0;
}
.page_mid{
    display: flex;
    flex-flow: row nowrap;
    margin:0 20px;
}
.page_num{
    border-right:0;
    border-radius:0;
}
.page_ten_up,.page_ten_down{
    margin:0 5px;
}
.page_prev{
    border-right:0 ;
    border-radius:5px 0 0 5px;
}
.page_next{
    border-radius:0 5px 5px 0;
}
.relate_prod{
    display: none;
}