// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/color";
@import "partials/page";
@import "partials/cupn";
.sub_head{
    .container{
        justify-content: flex-start;
    }
}
.site-main{
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width:1130px;
        margin: 20px auto;
    }
}
.cupn_item{
    width: 32%;
    margin: 0 0 20px 0;
}