// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/color";
@import "partials/page";

body,.body_container,.copyright{
    background: #eee;
}

.red{
    color:#d00;
}
.blue{
    color:#06c;
    font-size:.9rem;
}
.back{
    display: flex;
}
.price {
	font-size: 1.2rem;
	color: #e00;
    &::first-letter{
        font-size:.7rem;
    }
}
.mem_chk_t{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin:10px 0;
    padding:25px 10px 10px;
    font-size: 1.5rem;
    // background: white;
    // border-bottom:1px solid #ccc;
}
.chk_order{
    margin: 0 0 0 10px;
    font-size: 1.5rem;
    color:#333;
}
.order_info_t{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    background: white;
    border-bottom:1px solid #ccc;
    p{
        color:#333;
        margin:0 108px 0 12px;
        font-size:.8rem;
    }
}
.cart_item {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
    margin: 0 0 10px;
	padding: 10px 20px;
    background: white;
}
.cart_item.is-lack {
	background: #ddd;
	.order_chk_all {
		visibility: hidden;
	}
}
.cart-item-add {
	display: table-row;
	[class^="cart-"] {
		margin: 2px;
		padding: 0 5px 0 0;
		border: none;
	}
	.cart-add-sale-t {
		padding: 5px;
	}
	.cart_img {
		width: 160px;
	}
}
.cart_img {
	padding: 0 2px;
	img {
		display: block;
		width: 130px;
		border: 1px solid #ccc;
	}
}
.cart-lack-tag {
	width: 100%;
	margin: 0;
	padding: 3px 0 5px;
	font-size: .9rem;
	text-align: center;
	color: #fefefe;
	background: #555;
}
.cart_info {
	display: flex;
	flex-flow: column nowrap;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 0px 5px;
}
.cart_gift {
	margin: 0 0 5px;
	p {
        margin: 0 5px 0 0;
		padding: 2px 5px;
		font-size: .8rem;
		color: white;
		background: #d00;
	}
}
.cart_gift_item {
	li {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin: 0 0 5px;
		font-size: .85rem;
		line-height: 1.2;
		color: #333;
	}
}

.cart_name_link{
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 5px;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4;
}
.cart-count {
	flex-basis: 70px;
	padding-right: 10px;
	text-align: right;
	font-size: 1.2rem;
}
.cart_size {
	margin-bottom: 10px;
	color: #333;
	font-size: .85rem;
	line-height: 1.4;
}
.cart_per {
	font-size: .8rem;
	color: #e00;
	margin: 0 0 5px;
}
.cart_quantity {
	margin: 0 0 10px;
}
.cart_price_b{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 10px;
}
.cart_cupn_t{
    margin:0 0 10px;
    font-size:.8rem;
    color:#e00;
}
.cart_cupn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.6;
}
.price{
    position: relative;
    display: inline-block;
    &:before{
        content: "-";
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.cart_cupn_lb{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}
.cart_select{
    margin: 0 5px;
    padding:2px 5px;
    color:#666;
    border:1px solid #ccc;
}
.cart_price{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin: 0 8px 5px 0;
    font-size: .9rem;
    color: #e00;
    &:last-child{
        margin: 0;
    }
}
.unit_price{
    color: #e00;
}
.ori_t {
	color: #999;
}
.ori_price {
    margin: 0 0 0 3px;
    color: #999;
    text-decoration: line-through;
    &::first-letter{
        font-size:.7rem;
    }
}
.dis_t{
    font-size:1rem;
    color:black;
}
.dis_price{
    margin: 0 0 0 3px;
    font-size:1.8rem;
    &::first-letter{
        font-size:.7rem;
    }
}

.total_price{
    font-size:1.4rem;
    color: #e00;
    &::first-letter{
        font-size:.9rem;
    }
}
.cart-add {
	margin-top: 10px;
	font-size: .8rem;
	.cart-add-title {
		padding: 5px;
		font-size: .85rem;
		color: #888;
		background-color: #eee;
	}
	.cart-add-name {
		margin: 8px 0;
		line-height: 1.2;
	}
}

.cart_sub_b {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 20px;
    color: #333;
    background-color: white;
    border-top: 1px solid #ccc;
    &:first-child{
        border-bottom:1px solid #ccc;
    }

    &.align_l{
        border:none;
        .cart_b_l{
            font-size:.9rem;
        }
    }
}
.cart_b_t {
    font-size: 1rem;
    text-align: right;
    .price {
        color: #e00;
    }
    small{
        color:#888;
        font-size:.8rem;
    }
}
.cart_b_l{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: right;
    text-align: right;
    width:250px;
    font-size:1.2rem;
    small{
        font-size:.7rem;
        color:#888;
    }
}
.cart_b_r{
    width:200px;
    text-align: right;
}
.cart_payway,.cart_deliver{
    margin: 10px 0;
    padding:10px 10px 10px 40px;
    font-size:1.2rem;
    color:#333;
    background: white;
    line-height: 1.6;
    letter-spacing: 2px;
}
.deli_b{
    display: flex;
    flex-flow: row nowrap;

}
.deli_l{
    width:128px;
    text-align: right;
}

.cart_btn{
    display: flex;
    justify-content: center;
    margin:30px 0;
}
.btn_grey,.btn_red{
	display: inline-block;
	padding:10px 20px 10px 30px;
	text-align: center;
    font-size:1.2rem;
	color:white;
	background-color: #f5281d;
	border-radius: 5px;
	letter-spacing: 10px;
}
.btn_grey{
    margin: 0 40px 0 0;
    background-color: #999;
}



.mem_notice{
    padding: 20px;
    background: white;
    line-height: 1.4;
}
.con_t{
    width: 100%;
    margin:0 0 10px;
    font-size:1rem;	
    font-weight: 700;
}
.con_list{
    display: block;
    margin: 20px 0;
    list-style: disc outside;
    li{
        margin: 10px 10px 10px 17px;
        color: #888;
        font-size: 0.9rem;
    }
    a{
        color: #06c;
        text-decoration: underline;
    }
}