// 首頁
@import "partials/base";
@import "partials/mixin";
@import "partials/color";
@import "partials/page";
@import "partials/pagenav";


.body_container{
    min-height: 100vh;
    background: #eee;
}
.red{
    color:#d00;
}
.red_line{
    color:#d00;
    text-decoration: underline;
}
.bold{
    font-weight: 700;
}
.blue{
    color:#06c;
    font-size:.9rem;
}
.back{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
}
.col_center{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.mem_order_detail{
    margin:0 0 50px;
}
.mem_chk_t{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin:10px 0;
    padding:25px 10px 10px;
    font-size: 1.5rem;
    // background: white;
    // border-bottom:1px solid #ccc;
    small{
        font-size:.9rem;
    }
    .red{
        margin: 0 15px 0 0 ;
        font-size: .9rem;
    }
}

.chk_order{
    margin: 0 0 0 10px;
    font-size: 1.5rem;
    color:#333;
}
.mem_order_info{
    margin: 15px 0;
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 10px #ccc;
    a{
        font-size:.8rem;
        color:#06c;
        text-decoration: underline;
        &.cancel{
            font-size:.8rem;
            color:#aaa;
        }
    }
}
.is_cancel{
    background: #ddd;
    .mem_block{
        background: #ddd;
    }
    .item_head{
        background: #ccc;
    }
}
.order_info_t{
    display: flex;
    flex-flow: row nowrap;
    p{
        color:#333;
        margin:0 108px 0 12px;
    }
}
.order_tab{
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 400px 1fr 1fr;
    grid-gap:5px 0;
    align-items: center;
    margin:10px auto;
    font-size:.8rem;
    line-height: 1.2;
}
[class*="ord_head"]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background: #c5f1ff;
    box-sizing: border-box;
    &.grey{
        background: #ccc;
    }
    &.complete{
        background: #ffcccc;
    }
}
.ord_detail{
    margin: 0 0 0 40px;
}




.mem_chk{
    display: none;
    grid-template-rows: 30px 90px;
    grid-template-columns: 100px 300px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px 0;
    margin:10px auto;
    
}
[ID*="chk_open_detail"]{
    display: none;
}
[ID*="chk_open_detail"]:checked{
    & + .mem_chk{
        display: grid;
    }
    // & ~ .chk_open_lb{
    //     &:after{
    //         display: block;
    //         content:'展合明細▲';
    //     }
    // }
}
.chk_open_lb{
    display: inline-block;
    padding: 5px 10px;
    font-size: .8rem;
    color:#06c;
    // color: darken($color: #c5f1ff, $amount: 55) ;
    // back{ground-color:darken($color: #c5f1ff, $amount: 50) ;
    &:after{
        display: block;
        content:'展合明細▼';
    }
}
[class*="mem_block"]{
    display: flex;flex-flow:row ;align-items: center;
    position: relative;
    padding: 10px;
    color:#333;
    background: white;
    font-size:.9rem;
    line-height: 1.4;
    box-sizing: border-box;
    &.grey{
        background: #ccc;
    }
    &.complete{
        background: #ffcccc;
    }
}
.item_head{
    padding:10px;
    font-size:.8rem;
    background: #c5f1ff;
}
.item_img{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 80px;
        max-height: 80px;
    }
}
.item_invoice{
    color:black;
    text-decoration: underline;
}
.item_st,.item_else{
    display: flex;
    flex-flow:column ;
}
.item_name{
    display: flex;
    flex-flow:column ;
    align-items: flex-start;
    justify-content: flex-start;
    p{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}
.mem_name{
    margin: 10px 0 0;
    font-size:1.4rem;
}




.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	overflow: hidden;
	z-index: 50;
    &:target {
		opacity: 1;
		top: 0;
		bottom: 0;
		.content, img {
			max-height: 100%;
            max-width: 400px;
		}
	}
	.con_t{
        width: 100%;
        padding:0 0 10px;
		font-size:1rem;	
        font-weight: 700;
		text-align: center;
        border-bottom: 1px solid #ccc;
	}
	.content {
        display: flex;
        flex-flow:column;
        align-items: center;
		width: 90%;
		height: auto;
		padding: 10px;
		background: #fff;
        color: #333;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		max-height: 0%;
		max-width: 0%;
		border: 3px solid #fff;
		box-sizing: border-box;
		box-shadow:0 0 8px rgba(0,0,0,.3);
		line-height: 1.4;
	}
    .con_m{
        margin:20px 0;
    }
    .con_m_t{
        font-size:1.1rem;
        text-align: center;
        letter-spacing: 1px;
    }
    .con_input{
        margin:10px 0;
        padding:5px;
        text-align: center;
        font-size:1.5rem;
        background:#eee;
        letter-spacing: 2px;
        border: none;
    }
	.con_long{
		height:350px;
		margin:10px 0;
		overflow: auto;
		line-height: 1.6;
		p{
			color:#888;
			font-size:.8rem;
		}
	}
    .con_foot{
        color:black;
        margin:20px 0 10px;
        font-size:.7rem;
        text-align: center;
    }
}
.box_btn_grey,.box_btn_red{
	display: inline-block;
    margin: 0 auto;
	padding:10px 30px;
	text-align: center;
	color:white;
	background-color: #f5281d;
	border-radius: 5px;
	letter-spacing: 2px;
}
.box_btn_grey{
    margin: 0 20px 0 0;
    background-color: #999;
}
.lightbox-close {
    position: absolute;top: 8px;right: 10px;
	display: block;
	width: 24px;
	height: 24px;
	color: #aaa;
    border:1px solid #999;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
	&:before, &:after {
		content: "";
        position: absolute;top: 2px;left: 10px;
		display: block;
        width: 2px;
		height: 18px;
		background: #aaa;
		transform:rotate(45deg);
	}
	&:after {
		transform:rotate(-45deg);
	}
}
.copyright{
    background: #eee;
}