@import "../partials/base";
@import "../partials/color";

@import "../partials/font_iconmoon";
@import "../partials/head_staff";
@import 'partials/foot';

@import "../partials/pagenav";

.body_container{
	min-height: calc(100vh - 82px);
}
.site-main{
    width:1220px;
    margin:0 auto;
    position: relative;
}
.container{
    width: 1220px;
    margin:0 auto;
}
.sub_head{
	.container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}
body,.body_container{
    background: #eee;
}

.red{
    color:#d00;
}
.green{
    color:#57ab09;
}
.blue{
    color:#06c;
    font-size:.9rem;
}
.back{
    display: flex;
}
.center{
    display: flex;
    justify-content: center;
}
.pagenav{
    margin: 40px 0;
}
.mem_chk_t{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin:10px 0 0;
    padding:25px 10px 10px;
    font-size: 1.5rem;
    background: white;
    border-bottom:1px solid #ccc;
}
.chk_order{
    margin: 0 0 0 10px;
    font-size: 1.5rem;
    color:#333;
}
// 

.mem_coin_top{
    display: flex;
    flex-flow:row nowrap;
    align-items: baseline;
    justify-content: center;
    padding: 30px 0;
    background: white;
}
.mem_coin_top_l{
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-end;
    margin: 0 30px 0 0;
    font-size: 1.4rem;
    img{
        width: 24px;
        margin: 0 5px 0 0;
    }
    .red{
        font-size:2.2rem ;
    }
}
.mem_coin_top_r{
    color:#999;
    font-size:1.2rem;
    .red{
        margin: 0 0 0 5px;
        font-size:1rem;
    }
}

.mem_coin{
    display: grid;
    grid-template-rows: repeat(auto);
    grid-template-columns: repeat(4,auto);
    grid-gap: 0;
    margin:10px auto;
    background: white;
}
[class*="mem_coin_td"]{
    display: flex;flex-flow:row ;align-items: center;
    position: relative;
    padding: 10px 20px;
    color:#333;
    background: white;
    line-height: 1.4;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
.head{
    font-size:1rem;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
.name{
    max-width: 560px;
}


.mem_notice{
    padding: 20px;
    background: white;
    line-height: 1.4;
}
.con_t{
    width: 100%;
    margin:0 0 10px;
    font-size:1rem;	
    font-weight: 700;
}
.con_list{
    display: block;
    margin: 20px 0;
    list-style: disc outside;
    li{
        margin: 10px 10px 10px 17px;
        color: #888;
        font-size: 0.9rem;
    }
    a{
        color: #06c;
        text-decoration: underline;
    }
}