// 首頁
@import "../partials/base";
@import "../partials/function";
@import "../partials/color";

@import 'partials/order_head';
@import 'partials/foot';


body{
    background: white;
}
.empty_bot,.empty_top{
    width: 100%;
    margin:0 0 15px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size:1.5rem;
    font-weight: 500;
    line-height: 2;
}
.empty_top{
    padding: 45px 20px 20px;
}
[class*="btn-"] {
    display: block;
    flex-basis: 100%;
    padding: 8px 20px;
    font-size: fluid(16px,20px);
    text-align: center;
    letter-spacing: 1px;
    color: #fefefe;
}
.btn-confirm {
	background-color: #d00;
}

.pby{
	display: flex;
	align-items: center;
	position: relative;
	margin: 33px 70px 0 0;
	font-size:.7rem;
	color:#999;
	span{
		font-size:1.1rem;
	}
}
.pbybtn{
	margin: 0 0 0 3px;
	color:#999;
	text-decoration: underline;
}
.pby_detail{
	display: none;
	position: absolute;top:-200px;
	width: 435px;
	padding:10px;
	color:#555;
	background: white;
	border:3px solid #ddd5cc;
	z-index: 50;
	border-radius: 5px;
	line-height: 1.4;
	&.active{
		display: block;
		top:23px;
	}
}
.pbyclose{
	display: block;
	color: #06c;
	text-decoration: underline;
	text-align: right;
}