doctype html
html
    head
        meta(charset='utf-8')
        meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
        title KOL  
        meta(content='KOL', name='description')
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        
        link(href='css/index.css', rel='stylesheet')

        
    body
        header.site-header
            .header_l
                .avatar_b
                    img.avatar(src="img/avatar.jpg", alt="avatar")
                    a(href="#").avarar_edit
                        img.edit_ava(src="img/no_avatar.svg", alt="edit")
                p SUNNY的首頁
            .header_r
                a.btn_pay(href="chk.html") 查訂單
        .items
            - var j = 7;
            - for (var i = 1; i < j; i++)
                a.item(href="item.html")
                    .photo
                        img.kol_img(src="img/330_0"+i+".jpg", alt="商品名稱")
                    .name ABC商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱
                    .dis_price $999,999
        script(src='js/3rd-party/jquery-3.6.0.min.js')
        script(src='js/3rd-party/swiper-bundle.min.js')
        script(src='js/index.js')