doctype html
html
    head
        meta(charset='utf-8')
        meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
        title KOL  
        meta(content='KOL', name='description')
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        
        link(href='css/index.css', rel='stylesheet')

        
    body
        header.site-header
            .header_l
                .avatar_b
                    img.avatar(src="img/avatar.jpg", alt="avatar")
                    a(href="#").avarar_edit
                        img.edit_ava(src="img/no_avatar.svg", alt="edit")
                a.home(href="index.html") SUNNY的網紅看盤
            .header_r
                .logo_b
                    img.logo(src="img/friday_logo.svg", alt="friDay logo")
                    p 的服務
                a.btn_pay(href="chk.html") 查訂單
        .tag_main
            .tag_cloud
                .tag_block
                    a.tag_link(href="#") iPhone 14
                    a.tag_link(href="#") 筆電
                    a.tag_link(href="#") 除濕機
                    a.tag_link(href="#") 禮盒
                    a.tag_link(href="#") 4K電視
                    a.tag_link(href="#") Airpods
                    a.tag_link(href="#") 醫用口罩
                    a.tag_link(href="#") iPhone 14
                    a.tag_link(href="#") 筆電
                    a.tag_link(href="#") 除濕機
                    a.tag_link(href="#") 禮盒
                    a.tag_link(href="#") 4K電視
                    a.tag_link(href="#") Airpods
                    a.tag_link(href="#") 醫用口罩
                a.search(href="#searchbox")
                    img.icon_search(src="img/search.svg", alt="搜尋")
        .items
            - var j = 7;
            - for (var i = 1; i < j; i++)
                a.item(href="item.html")
                    .photo
                        img.kol_img(src="img/330_0"+i+".jpg", alt="商品名稱")
                    .name ABC商品名稱商品名稱商品名稱商品名稱商品名稱商品名稱
                    .dis_price $999,999
        .lightbox-target#searchbox
            .content
                .tag_cloud_t
                    p 關鍵字
                    a(href="#")
                        img.arrow(src="img/arrow.svg", alt="back")
                .tag_cloud_con
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
                    a.tag_con_link(href="#") iPhone 14
                    a.tag_con_link(href="#") 筆電
                    a.tag_con_link(href="#") 除濕機
                    a.tag_con_link(href="#") 禮盒
                    a.tag_con_link(href="#") 4K電視
                    a.tag_con_link(href="#") Airpods
                    a.tag_con_link(href="#") 醫用口罩
        script(src='js/3rd-party/jquery-3.6.0.min.js')
        script(src='js/3rd-party/swiper-bundle.min.js')
        script(src='js/index.js')