.container{
	width:1220px;
	margin:0 auto;
}
//header
.site-header{
	.logo{
		h1{
			display: none;
		}
		a{
			display: block;
		}
		img{
			display: block;
			width:180px;
			margin:0 auto;
		}
	}
	.search{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		position: relative;
		width:220px;
		margin-right:10px;
		input[type="text"]{
			width: 100%;
			border: 1px solid #ddd;
			color: #555;
			font-size: .9rem;
			height: 32px;
			padding: 5px 36px 5px 10px;
			@include border-radius(30px);
		}
		button{
			position: absolute;right:0;top:0;
			width: 35px;
			height: 100%;
			background-color: $theme-color;
			border: medium none;
			color: #fff;
			font-size:1rem;
			line-height: 2.3;
			cursor: pointer;
			@include transition(all 0.5s);
			@include border-radius(30px);
			&:hover{
				opacity: 0.8;	
			}	
		}
	}
	.line_box{
		.down_app{
			padding:13px;
		}
	}
	.member,.line_app{
		padding:0 10px;
		font-size:1.2rem;
		cursor: pointer;
	}
	.member_box,.line_box{
		display: none;
		position: absolute;right: 0;top: 150%;
		min-width: 100px;
		background-color: #fff;
		border: 1px solid #E9E9E9;
		z-index: 20;
		&:after, &:before {
			bottom: 100%;
			left: 85%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		} 
		&:after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}
		&:before {
			border-color: rgba(233, 233, 233, 0);
			border-bottom-color: #e9e9e9;
			border-width: 11px;
			margin-left: -11px;
		}
		a{
			display: block;
			padding:10px 20px;
			font-size:.9rem;
			white-space: nowrap;
			&:hover{
				background-color: #eee;
			}
		}
	}
	.line_box{
		&:after, &:before {
			left:94%;
		}
	}
	.cart{
		display: flex;
		flex-flow:  row nowrap;
		align-items: center;
		padding:0 0 0 10px;
		cursor: pointer;
		.fa-shopping-cart{
			font-size:1.1rem;
		}
		.cart_notify{
			width:22px;height:22px;
			color:white;
			line-height: 1.5;
			text-align: center;
			background-color: #c70034;
			border-radius:50%;
		}
		.num{
			font-size:.8rem;
		}
		span{
			display: block;
		}	
	}
	
	.header_top{
		display: flex;
		flex-flow:  row nowrap;
		align-items: center;
		justify-content:center;
		padding:10px;
	}
	.header_top_l{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex: 0 0 40%;
		p{
			margin-right:20px;
			font-size: .8rem;
			span{
				padding:0 0 0 3px;
			}
		}
	}
	.header_top_m{
		flex: 0 0 20%;
	}
	.header_top_r{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
		flex: 0 0 40%;
		.header_top_r_item{
			display: flex;
			flex-flow:  row nowrap;
			align-items: center;
			li{
				position: relative;
				>a{
					display: flex;
					flex-flow: row nowrap;
					padding:0 10px;
					font-size:1.2rem;
					cursor: pointer;
				}
			}
		}
	}
}
// 購物車
.cartbox{
	display: none;
	position: absolute;right: 0;top: 150%;
	width: 300px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #E9E9E9;
	z-index: 20;
	.fa-shopping-cart{
		font-size: 1rem;
	}
	&:after, &:before {
		bottom: 100%;
		left: 90%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 10px;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(233, 233, 233, 0);
		border-bottom-color: #e9e9e9;
		border-width: 11px;
		margin-left: -11px;
	}
	.cartbox_item{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e2e2e2;
		&:last-child{
			border: none;
			margin-bottom: 0px;
		}
		.cartbox_img{
			display: block;
			width: 80px;
			img{
				width: 100%;
				height: 100%;
			}
		}	
		.cartbox_info{
			display: block;
			margin-left: 10px;
			width: 55%;
			h4{
				a{
					height: 43px;
					padding:0;
					font-size:.9rem;
					color: $base-color;
					letter-spacing: 0.5px;
					overflow: hidden;
				}
			}
			p{
				font-size: .9rem;
			}
		}
		.remove_product{
			position: absolute;right: 0;top: 30%;
			width: 20px;height: 20px;
			border: 1px solid transparent;
			border-radius: 50%;
			color: #c0c0c0;
			font-size: 1rem;
			line-height: 17px;
			@include transition(all 0.5s);
			&:hover,&:focus{
				color: #333;
			}
		}
		.cartbox_total_title{
			font-weight: 700;
			font-size: 1rem;
			letter-spacing: 0.5px;

		}
		.cartbox_total_price{
			float: right;
			font-weight: 700;
			font-size: 16px;
			letter-spacing: 0.5px;
		}
		.total{
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			margin:0 auto;
		}
	}
	.checkout{
		display: block;
		padding: 10px 30px;
		margin-top: 10px;
		text-align: center;
		font-size:1rem;
		border: 1px solid #e9e9e9;
		@include transition(.5s)
	}
}
//menu
.site-menu{
	background-color:$theme-color;
	.main_menu{
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		li{
			position: relative;
			a{
				display: block;
				padding:8px 30px;
				color:white;
				font-size:1rem;
				white-space: nowrap;
			}
			&:hover{
				.sub_menu{
					display: block;
				}
			}
		}
	}
	.sub_menu{
		display: none;
		position: absolute;top:100%;left:0;
		background-color:$theme-color;
		z-index: 10;
	}
}



.select_box {
	position: relative;
	display: block;
	width: 90px;
	margin-right:10px;
	font-size: .85rem;
	color: #60666d;
	&_current {
		position: relative;
		// box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
		cursor: pointer;
		outline: none;
		&:focus {
			& + .select_box_list {
				opacity: 1;
				z-index: 20;
				animation-name: none;
				.select_box_option {
					cursor: pointer;
				}
			}
			.lnr-chevron-down {
				color: #60666d;
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	.lnr-chevron-down {
		position: absolute;
		top: 50%;
		right: 15px;
		font-size:.7rem;
		transform: translateY(-50%);
		transition: 0.2s ease;	
	}
	&_value {
		display: flex;
	}
  
	&_input {
		display: none;
		&:checked + .select_box_input-text {
			display: block;
		}
	}
	&_input-text {
		display: none;
		width: 100%;
		margin: 0;
		padding: 10px;
		background-color: #fff;
	}
	&_list {
		position: absolute;
		width: 100%;
		padding: 0;
		list-style: none;
		opacity: 0;
		z-index: 20;    
		animation-name: HideList;
		animation-duration: 0.5s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
		animation-timing-function: step-start;
		box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
	}
  
	&_option {
		display: block;
		padding: 10px;
		background-color: #fff;
		box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
		&:hover,&:focus {
			color: #546c84;
			background-color: #eee;
		}
	}
}
@keyframes HideList {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}

