@import 'base/_variables.scss';
@import 'base/_mixins.scss';
// fancybox
// .cart_popup.fancybox-content{
	
// 	width:500px !important;
// 	height:645px !important;
// 	margin: 0 auto;
// }
.cart_popup{
	width:500px;
	height:645px;
	padding:5px;
	.cart_popup_top{
		display: flex;
		justify-content: space-between;
	}
	.swiper-container{
		.swiper-slide{
			img{
				width: auto;
				height: 578px;
			}
		}
	}
	.swiper-container.gallery_thumbs{
		order: -1;
		width: 100px;
		height: 578px;
		padding: 0 5px 5px 0;
		img{
			height: 113px;
		}
	}
	.fancybox-button--close{
		padding:8px !important;
		right: -8px !important;
    	top: -8px !important;
		svg{
			background-color: #ff5353;
			color:white;
		}
	}
	.line{
		.quantity-add {
			position: relative;
			margin: 5px 0 0;
		}
		.btn-addcart{
			display: block;
			width:100%;
			padding:15px 40px;
			font-size:.9rem;
			text-align: center;
			color:white;
			background:#333 ;
			border:1px solid #ccc;
		}
	}
}