//color
$c-blue: #06c;
$c-cyan: #00bcd4;
$c-red: #e00;
$c-magenta: #e91e63;
$c-yellow: #ffc107;
$c-green: #259b24;
$c-purple: #a80082;

//media size
///large screen (desktop)
$screen-lg-max: 1024px;
$screen-lg-min: 769px;
///medium screen (pad)
$screen-md-max: 768px;
$screen-md-min: 569px;
///small screen (phone)
$screen-sm-max: 568px;