@charset "UTF-8";
/* rwd_index_005 開始 */
/* line 13, ../../../sass/define/___mixins.scss */
.rwd_index_005 {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd_index_005:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 5, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item-one {
  width: 50%;
  float: left;
  display: table;
  margin-right: 6%;
}
/* line 10, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item-one .photo {
  display: table-cell;
  vertical-align: middle;
}
/* line 15, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item-one .info {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  width: 30%;
}
/* line 21, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item-one .name {
  font-size: 1.2em;
  height: 52px;
  line-height: 1.4;
}
/* line 26, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item-one li {
  max-width: 180px;
}
/* line 30, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .items {
  float: left;
  width: 44%;
}
/* line 34, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .item {
  width: 50%;
  padding-right: 30px;
  padding-bottom: 10px;
  float: left;
}
/* line 40, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .photo {
  margin-bottom: 5px;
  display: inline-block;
  min-height: 165px;
}
/* line 44, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .photo img {
  width: 100%;
}
/* line 48, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .info {
  clear: left;
}
/* line 51, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .name {
  height: 38px;
  margin-bottom: 5px;
  font-size: .95em;
}
/* line 56, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .feature {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
  height: 65px;
  overflow: hidden;
}
/* line 63, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 del {
  color: #6c6c6c;
}
/* line 66, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .currency {
  font-size: 12px;
}
/* line 70, ../../../sass/front/module_index/_rwd_index_005.scss */
.rwd_index_005 .price {
  font-size: 18px;
  margin-right: 5px;
}

@media (max-width: 999px) {
  /* line 77, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 {
    padding: 0 1%;
  }
  /* line 79, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 .items {
    width: 100%;
  }
  /* line 82, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 .item, .rwd_index_005 .item-one {
    padding: 1% 0 3%;
    width: 100%;
    margin: 0;
    display: table;
  }
  /* line 89, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 .item-one .info {
    width: 50%;
  }
  /* line 93, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 .photo {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 101, ../../../sass/front/module_index/_rwd_index_005.scss */
  .rwd_index_005 .info {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    padding: 0 10px;
  }
}
/* rwd_index_005 開始 */
