/* line 1, ../../../sass/front/module_index/_rwd_index_027.scss */
.rwd_index_027 {
  font-size: 0;
}
/* line 3, ../../../sass/front/module_index/_rwd_index_027.scss */
.rwd_index_027 img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 999px) {
  /* line 1, ../../../sass/front/module_index/_rwd_index_027.scss */
  .rwd_index_027 {
    padding: 0 1%;
  }
  /* line 8, ../../../sass/front/module_index/_rwd_index_027.scss */
  .rwd_index_027 .container {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc !important;
  }
}
@media (max-width: 767px) {
  /* line 14, ../../../sass/front/module_index/_rwd_index_027.scss */
  .rwd_index_027 .container {
    padding: 10px 0;
    border-bottom: none;
  }
}
