/* rwd_index_019 start */
/* line 13, ../../../sass/define/___mixins.scss */
.rwd_index_019 {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd_index_019:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 5, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .items-small {
  margin: 0 400px;
}
/* line 8, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item {
  width: 200px;
  margin-left: 5px;
  padding: 12px 10px;
  display: inline-block;
}
/* line 13, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item.item-left, .rwd_index_019 .item.item-right {
  width: 360px;
  margin: 0 5px;
  float: left;
}
/* line 17, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item.item-left .name, .rwd_index_019 .item.item-right .name {
  height: 40px;
  font-size: 1em;
}
/* line 22, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item.item-right {
  float: right;
}
/* line 25, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item:hover {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
/* line 27, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .item:hover .photo {
  opacity: 0.75;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
/* line 32, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .photo {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
}
/* line 38, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .photo img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 43, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .name {
  height: 35px;
  margin-bottom: 10px;
  font-size: 0.95em;
  line-height: 1.2;
  word-break: break-all;
  overflow: hidden;
}
/* line 51, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .feature {
  font-size: 0.85em;
  line-height: 1.4;
  margin-bottom: 20px;
}
/* line 56, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .currency {
  font-size: 10px;
}
/* line 62, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .price {
  font-size: 18px;
  margin-right: 5px;
}
/* line 68, ../../../sass/front/module_index/_rwd_index_019.scss */
.rwd_index_019 .btn {
  float: right;
  margin-top: 3px;
  font-size: 15px;
  color: #dd0000;
}
@media (max-width: 1237px) {
  /* line 75, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .items-small {
    margin: 0 30%;
  }
  /* line 78, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item {
    width: 49%;
    margin: 0;
  }
  /* line 81, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item.item-left, .rwd_index_019 .item.item-right {
    width: 30%;
    margin: 0;
  }
}
@media (max-width: 999px) {
  /* line 3, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 {
    padding-top: 10px;
  }
  /* line 89, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .items-small {
    margin: 0;
  }
  /* line 92, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item {
    width: 49%;
  }
  /* line 94, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item.item-left, .rwd_index_019 .item.item-right {
    width: 49%;
    float: none;
  }
  /* line 97, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item.item-left .feature, .rwd_index_019 .item.item-right .feature {
    display: none;
  }
  /* line 102, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .photo {
    width: 50%;
    float: left;
  }
  /* line 106, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .info {
    width: 50%;
    padding: 50px 0 0 15px;
    vertical-align: middle;
    display: table-cell;
  }
  /* line 112, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .name {
    height: 40px;
    font-size: 100%;
  }
}
@media (max-width: 767px) {
  /* line 118, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .container {
    padding-bottom: 10px;
  }
  /* line 121, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item {
    width: 100%;
    padding-bottom: 0;
    display: table;
  }
  /* line 125, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .item.item-left, .rwd_index_019 .item.item-right {
    width: 100%;
  }
  /* line 129, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .photo {
    width: 100%;
    display: table-cell;
  }
  /* line 133, ../../../sass/front/module_index/_rwd_index_019.scss */
  .rwd_index_019 .info {
    padding: 0 0 0 10px;
  }
}

/* rwd_index_019 end */
