/* line 1, ../../../sass/front/module_index/_rwd_index_028.scss */
.rwd_index_028 {
  font-size: 0;
}
/* line 3, ../../../sass/front/module_index/_rwd_index_028.scss */
.rwd_index_028 img {
  width: 100%;
}
/* line 13, ../../../sass/define/___mixins.scss */
.rwd_index_028 {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd_index_028:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 7, ../../../sass/front/module_index/_rwd_index_028.scss */
.rwd_index_028 .item-two-block {
  border: 1px solid #F5F5F5;
  border-left: none;
}
/* line 13, ../../../sass/define/___mixins.scss */
.rwd_index_028 .item-two-block {
  zoom: 1;
}
/* line 16, ../../../sass/define/___mixins.scss */
.rwd_index_028 .item-two-block:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
/* line 11, ../../../sass/front/module_index/_rwd_index_028.scss */
.rwd_index_028 .item-two-block a {
  float: left;
  width: 50%;
  display: block;
  border-left: 1px solid #F5F5F5;
}
@media (min-width: 768px) and (max-width: 999px) {
  /* line 1, ../../../sass/front/module_index/_rwd_index_028.scss */
  .rwd_index_028 {
    padding: 0 1%;
  }
  /* line 20, ../../../sass/front/module_index/_rwd_index_028.scss */
  .rwd_index_028 .container {
    padding: 20px 0;
    border-bottom: 1px solid #F5F5F5 !important;
  }
}
@media (max-width: 767px) {
  /* line 26, ../../../sass/front/module_index/_rwd_index_028.scss */
  .rwd_index_028 .container {
    padding: 10px 0;
    border-bottom: none;
  }
  /* line 31, ../../../sass/front/module_index/_rwd_index_028.scss */
  .rwd_index_028 .item-two-block a {
    float: none;
    width: 100%;
  }
  /* line 34, ../../../sass/front/module_index/_rwd_index_028.scss */
  .rwd_index_028 .item-two-block a:first-child {
    border-bottom: 1px solid #F5F5F5;
  }
}
