doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head.pug
		title Qmomo - cart
		
		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/cart.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/cart_orderlist.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_cart_header.pug

		.cart_orderlist
			.container
				.cart_title.mid_title 購物車
				.cart_main
					ul.od_ul
						li
							figure.od_photo
								img(src="../img/1000x1000_prod_1.jpeg", alt="")
							.od_info 
								.sm_title
									| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
								.od_size
									span.size size：85D
									span.color 顏色：銀河藍
									.act
										a(href="#") 活動：【護手霜】&【手洗精】任三件套組$999
										a(href="#") 活動：性感內衣 v.s 性感小褲 $1190~1290組合 
								.od_price
									.normal_price
										span.currency NT$ 1,390
									.discount_price
										span.currency NT$ 1,290
								.quantity-add
									.quantity
										p.quantity-decrease
											i.fas.fa-minus
										input.quantity-input(type='number' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										.alert_window
											.alert_content
												p 本商品最多購買10件
								.od_remain
									p 還剩下1個商品
								.od_func_btn 
									a(href="#")
										i.fas.fa-times
										span 移除
						li
							figure.od_photo
								img(src="../img/1000x1000_prod_2.jpeg", alt="")
							.od_info 
								.sm_title
									| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
								.od_size
									span.size size：85D
									span.color 顏色：銀河藍
									.act
										a(href="#") 活動：性感內衣 v.s 性感小褲 $1190~1290組合 
								.od_price
									.normal_price
										span.currency NT$ 1,390
									.discount_price
										span.currency NT$ 1,290
								.quantity-add
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='number' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										.alert_window
											.alert_content
												p 本商品最多購買10件
								.od_remain
									p 還剩下1個商品
								.od_func_btn 
									a(href="#")
										i.fas.fa-times
										span 移除
						li
							figure.od_photo
								img(src="../img/1000x1000_prod_3.jpeg", alt="")
							.od_info 
								.sm_title
									| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣
								.od_size
									span.size size：85D
									span.color 顏色：銀河藍
								.od_price
									.normal_price
										span.currency NT$ 1,390
									.discount_price
										span.currency NT$ 1,290
								.quantity-add
									.quantity
										p.quantity-decrease 
											i.fas.fa-minus
										input.quantity-input(type='number' value='1' max='10' title='請輸入購買量')
										p.quantity-increase 
											i.fas.fa-plus
										.alert_window
											.alert_content
												p 本商品最多購買10件
								.od_remain
									p 還剩下1個商品
								.od_func_btn 
									a(href="#")
										i.fas.fa-times
										span 移除
					.od_total
						.od_total_title.sm_title 訂單總結
						.od_total_body 
							.od_total_line
								p.title 商品總金額
								p.currency NT$ 3870
							.od_total_line
								p.title 運費
								p.currency NT$ 70
							.od_total_price 
								p.title 總價
								p.currency NT$ 3940
							.od_code
								input(type='text' placeholder='請輸入優惠折扣碼')
								a.btn-discode 確認
							.od_code_err 
								span 此折扣碼無法使用，請重新確認
							.od_checkout 
								a(href="cart_data.html").btn-checkout 結帳
				.cart_add
					.sm_title 加購區
					.items 
						.item
							figure.photo
								a(href="item.html")
									img(src="../img/item_long_01.jpg", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
							.info
								a(href="item.html")
									h3.item_title
										|內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
								.func
									.dis_price $1190
									.track
										a.btn-cart(href="#") 加入購物車
						.item
							figure.photo
								a(href="item.html")
									img(src="../img/item_long_04.jpg", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
							.info
								a(href="item.html")
									h3.item_title
										|內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
								.func
									.dis_price $1290
									.track
										a.btn-cart(href="#") 加入購物車
						.item
							figure.photo
								a(href="item.html")
									img(src="../img/item_long_05.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
							.info
								a(href="item.html")
									h3.item_title
										|運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
								.func
									.dis_price $990
									.track
										a.btn-cart(href="#") 加入購物車
						.item
							figure.photo
								a(href="item.html")
									img(src="../img/item_long_06.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
							.info
								a(href="item.html")
									h3.item_title
										|運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
								.func
									.dis_price $990
									.track
										a.btn-cart(href="#") 加入購物車
						.item
							figure.photo
								a(href="item.html")
									img(src="../img/item_long_07.jpg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
							.info
								a(href="item.html")
									h3.item_title
										|外套【賴床必備】舒適好棉居家外套 (2色)
								.func
									.dis_price $1090
									.track
										a.btn-cart(href="#") 加入購物車
		include ../pug_common/_footer_m.pug