header.top_menu
    .navi_group
        a.logo(href='../index.html') BCM system
    ul.navi_group
        li.nav-item
            a.nav-link(href='#')
                i.icon-equalizer
                | 設定
        li.nav-item
            a.nav-link(href='#')
                i.icon-user
                span friday_user_name
        li.nav-item
            a.nav-link(href='#')
                i.icon-exit
                span 登出