#side_menu
    ul.side_menu_body
        li.dis-dropdown
            a(href='#').side_menu_t
                i.icon-home
                | 首頁
        li
            a(href='../orderQuerySalesReport/orderQuerySalesReport.html').side_menu_t
                i.icon-newspaper
                | 業績查詢
        li
            a(href="#").side_menu_t
                i.icon-cart
                | 訂單管理
            ul.side_sub_menu
                li
                    a(href='../orderStoreProcess/orderStoreProcess.html').side_menu_t 訂單處理
                li
                    a(href='../labelprint/labelprint.html').side_menu_t 標籤列印
                //- li
                //-     a(href='#').side_menu_t 出貨回填