doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		.query
			.container
				.query_top
					h2.query_t 說明會場次查詢
					a.export(href="#") 匯出EXCEL 
				.query_grid
					.query_grid_head 項次
					.query_grid_head 公司/品牌名稱
					.query_grid_head 統一編號
					.query_grid_head 聯絡人
					.query_grid_head 聯絡電話
					.query_grid_head 聯絡email
					.query_grid_head 賣場網站
					
					//- .query_grid_head 參加人數
					//- .query_grid_head 參加場次

					.query_grid_td 1
					.query_grid_td 好好賣公司
					.query_grid_td 87654321
					.query_grid_td 王曉明
					.query_grid_td 0988123456
					.query_grid_td
						a(href="mailto:abc@xxxx.com.tw") abc@xxxx.com.tw
					.query_grid_td 
						a(href="https://shopping.friday.tw/ec2/index.html") https://shopping.friday.tw/ec2/index.html
					

					.query_grid_td 2
					.query_grid_td 賀辛生
					.query_grid_td 12345678
					.query_grid_td 林大同
					.query_grid_td 0900222444
					.query_grid_td
						a(href="mailto:zyx@xxxx.com.tw") zyx@xxxx.com.tw
					.query_grid_td 
						a(href="https://shopping.friday.tw/ec2/index.html") https://shopping.friday.tw/ec2/index.html
				include src/_pagenav.pug
		a.gotop(href="#")
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/intro.js')
			