doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		article.main
			section
				.container
					.cap
						p.cap_t1 歡迎加入&nbsp;&nbsp;遠時i開店
						p.cap_t2 一鍵千店‧多點聯賣
						hr
						p.cap_small 
							| 包含遠東關企員購福利網、股東福利網、台北捷運再轉轉、悠遊付再轉轉、遠傳心生活、friDay影音、
							br
							| 遠傳friDay購物、網紅看盤… AI幫您自動行銷並觸及數百萬會員潛在消費者！
							br
							| 提供無痛#[span.blue 一鍵搬家]，AI馬上幫您#[span.blue 多點聯賣]！直接享有最優惠方案成交費：非3C 4% /3C 2.5%聯合曝光：1%金流：2%
					.form.co
						.form_mid
							.form_line
								.form_t 公司名稱
								input.form_input(type="text")
							.form_line
								.form_t 統一編號
								input.form_input(type="text" inputmode="numberic")
							.form_line.letter
								.form_t 聯&nbsp;絡&nbsp;人
								input.form_input(type="text" autocomplete="name")
							.form_line
								.form_t 聯絡電話
								input.form_input(type="tel" autocomplete="tel" inputmode="tel")
							.form_line
								.form_t 聯絡信箱
								input.form_input(type="email" autocomplete="email" inputmode="email")
							.form_line.cent
								.form_t 搬家原地址
								.form_cent
									.form_cent_top
										input.form_input(type="text" inputmode="url" placeholder="可提供其它平台連結或官方粉絲團連結")
										.form_des (非必填)
									.form_cent_bot 
										| 目前可搬家: 蝦皮個人賣場首頁、蝦皮商城自家店首頁		
								

						
						.form_foot
							label.co_chk_lb(for="co_chk") 
								input#co_chk(type="checkbox", name="")
								a(href="../download/ai_contract_20230210.pdf") 我同意遵守遠時AI電商合作條款
							a.submit(href="#") 馬上「一鍵開店」
							small 請您在送出申請前，確認已填寫所有欄位，以加快後續審核流程，謝謝您！
					.co_top
						.co_td
							p 玩玩看 我的AI模擬網站
						.co_td
							input(type="text" placeholder="請填寫 希望的網站名稱")
						.co_td
							small 會用標準字型來試作您的AI網站LOGO
						.co_td
						.co_td
							a.submit(href="#") 看我的AI模擬 網站
						.co_td
							small 會用友善的商品來作您的網站模擬展示
		a.gotop(href="#")
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/intro.js')
