doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		.query
			.container
				.query_top
					h2.query_t 說明會場次查詢
					a.export(href="#") 匯出EXCEL 
				.query_grid
					.query_grid_head 項次
					.query_grid_head 姓名
					.query_grid_head 手機號碼
					.query_grid_head email
					.query_grid_head 公司/品牌名稱
					.query_grid_head 營業額/月
					.query_grid_head 統一編號
					.query_grid_head 參加人數
					.query_grid_head 參加場次

					.query_grid_td 1
					.query_grid_td 王曉明
					.query_grid_td 0988123456
					.query_grid_td
						a(href="mailto:abc@xxxx.com.tw") abc@xxxx.com.tw
					.query_grid_td 好好賣公司
					.query_grid_td 100萬
					.query_grid_td 87654321
					.query_grid_td 3人
					.query_grid_td.addr 
						p 2023/05/24(三) pm13:30~15:30
						p 台北市內湖區瑞光路468號 1F-101會議室

					.query_grid_td 2
					.query_grid_td 林大同
					.query_grid_td 0900222444
					.query_grid_td
						a(href="mailto:zyx@xxxx.com.tw") zyx@xxxx.com.tw
					.query_grid_td 賀辛生
					.query_grid_td 3000萬
					.query_grid_td 12345678
					.query_grid_td 5人
					.query_grid_td.addr
						p 2023/05/24(三) pm13:30~15:30
						p 台北市內湖區瑞光路468號 1F-101會議室


					

				include src/_pagenav.pug