doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_chk_m.css', rel='stylesheet')
	body
		.body_container
			include src/_order_head.pug 
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_chk.html")
							i.icon.icon_swiper_prev
							p.chk_order 查訂單 
								small (聯絡客服)
						p.red 提醒您:本公司不會主動打電話告知您任何有付款修改的問題,若接到可疑電話請拒絕回應
					
					.mem_chk_return
						.mem_chk_return_t 我要退訂
						.mem_chk_container
							.ord_num 交易編號：TX 20230130123456
							.ord_msg
								P 親愛的顧客您好：
								br
								p 我們收到您的退訂訊息了，很遺憾，無法完成此訂單。我們仍然歡迎您以後再來本網站購物。
								br
								p 我們將進入退訂作業：
								p 1.如果我們確認了商品未寄出，我們將會逕行退款。
								p 2.如果商品已經寄出，我們將會等到商品收回才會進行退款作業。
								p.line_indent *  在這種狀況我們會到下面的地址把貨取回，地址："**************60巷2弄2號3樓
								.ord_reason
									.ord_chos
										p 退訂原因
										select.ord_info_select(name="")
											option(value="1") 請選擇退訂原因
											option(value="2") 不符期待(與網頁標示功能、圖片落差較大)
									.ord_des
										textarea.ord_des_area(name="")
								.ord_info_grid
									.ord_info_head 項次
									.ord_info_head 商品名稱
									.ord_info_head 購買數量
									.ord_info_head 退訂數量

									.ord_info_td 1
									.ord_info_td
										.ord_info_td_name 【飛利浦 PHILIPS】醒香智選IH大火力8人份電子鍋(HD4539)
									.ord_info_td 1
									.ord_info_td 
										
										
										input#order_return_edit(type="checkbox", name="")
										.order_return_num 1
										label.order_return_lb(for="order_return_edit")
										.ord_returen_enter
											select.ord_info_select(name="")
												option(value="1") 1
												option(value="2") 2
								.ord_bank
									.ord_bank_line
										.bank_txt 銀行名稱：
										.bank_td
											select.ord_info_select(name="")
												option(value="1") 請選擇銀行
										.bank_txt 分行名稱：
										.bank_td
											select.ord_info_select(name="")
												option(value="1") 請選擇分行
									.ord_bank_line
										.bank_txt 戶名：
										.bank_td
											input(type="text")
										.bank_txt 帳號：
										.bank_td
											input(type="text")
								.ord_line.agree
									input#agree(type="checkbox", name="")
									label(for="agree")
										p 我同意由friDay購物代為處理退貨退款之發票及折讓單相關事宜，以加速退貨退款作業。若您已索取公司用(郵寄)或已列印公司用(線上列印)電子發票，請填寫折讓單才能辦理退款。
											a(href="#") 下載折讓單
								p  3. 為了慎重起見，麻煩您再次按確認送出鍵，以明確的指示我們此項退訂繼續進行。
							.ord_btn
								a(href="mem_chk.html") 確認送出 
		include src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')

