doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_chk_m.css', rel='stylesheet')
	body
		.body_container
			include src/_order_head.pug 
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_index.html")
							i.icon.icon_swiper_prev
							p.chk_order 查訂單 
								small (聯絡客服)
						p.red 提醒您:本公司不會主動打電話告知您任何有付款修改的問題,若接到可疑電話請拒絕回應
					
					.mem_order_detail
						.mem_order_info
							.order_tab
								.ord_block.ord_head 交易編號
								//- .ord_block.ord_head 訂購時間
								.ord_block.ord_head 實付金額
								.ord_block.ord_head 付款時間
								.ord_block.ord_head

								.ord_block.ord_no
									| TX20230130123456
								//- .ord_block.ord_time.center
								//- 	| 01/30 11:32
								.ord_block.ord_price
									| $36,650
								.ord_block.pay_time
									p 付款完成
									p 01/30 10:35
								.ord_block.ord_cancel
									span 我要
									a.grey(href="mem_chk_return_m.html") 全退訂 
								//- .ord_block.ord_detail
								
								//- .ord_block.ord_ask.center
									
							label.chk_open_lb(for="chk_open_detail_1")
							input#chk_open_detail_1.chk_open_detail(type="checkbox", name="")
							
							.mem_chk_tab.slim
								.mem_chk_st
									//- .mem_st 
										//- .mem_st_head 交易編號
										//- p 
										//- 	strong TX20230130123456
									.mem_st 
										.mem_st_head 訂單序號
										p 
											strong 20230130123456
									.mem_st 
										.mem_st_head 結帳金額
										p.red $999,999
											a(href="#item_price_pop") 詳
									//- .mem_st 
									//- 	.mem_st_head 配送狀態
									//- 	p 已出貨
									//- 	p 黑貓宅急便
									//- 		a(href="#") 903831023894
									//- .mem_st 
									//- 	.mem_st_head 發票
									//- 	p 
									//- 		a(href="#") HK94031514
									//- 	p 
									//- 		a(href="#") 下載購買證明
								.mem_chk
									.mem_block.item_head.center 商品名稱
									.mem_block.item_head.center 數量
									//- .mem_block.item_head.center 挑品退訂
									//- .mem_block.item_head.center 其它
									//- .mem_block.item_head.center 問問題

									.mem_block.item_img
										img(src="../img/sample/item_019.jpg", alt="商品圖片")
										.item_name
											p 
												a(href="item.html") 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
									.mem_block.item_count.center
										| 99
									//- .mem_block.item_return.center
									//- 	input#item_return_chk(type="checkbox", name="item_return_chk")
									//- .mem_block.item_st.right
									//- 	a(href="mem_chk_return_st.html") 退訂進度
									//- .mem_block.item_invoice.center
									//- 	p 我要
									//- 		a(href="mem_chk_ask.html") 問問題


									.mem_block.item_img
										img(src="../img/sample/item_01.jpg", alt="商品圖片")
										.item_name
											p 
												a(href="item.html") 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
											p.bold 規格：比擬紅
									.mem_block.item_count.center
										| 99
									//- .mem_block.item_return.center
									//- 	input#item_return_chk(type="checkbox", name="item_return_chk")
									//- .mem_block.item_st.right
									//- 	a(href="mem_chk_return_st.html") 退訂進度
									//- .mem_block.item_invoice.center
									//- 	p 我要
									//- 		a(href="mem_chk_ask.html") 問問題
										
								
								.order_st_progress
									ol.order_st_list(data-progtrckr-steps="6")
										li.order_st_done 收到訂單 01/07
										li.order_st_todo 付款完成

								.mem_chk_st
									.mem_st 
										.mem_st_head 訂單序號
										p 
											strong 20230130123989
									.mem_st 
										.mem_st_head 結帳金額
										p.red $999,999
											a(href="#item_price_pop") 詳
									//- .mem_st 
									//- 	.mem_st_head 配送狀態
									//- 	p 已出貨
									//- 	p 黑貓宅急便
									//- 		a(href="#") 903831023894
									//- .mem_st 
									//- 	.mem_st_head 發票
									//- 	p 
									//- 		a(href="#") HK94031514
									//- 	p 
									//- 		a(href="#") 下載購買證明
								.mem_chk
									.mem_block.item_head.center 商品名稱
									.mem_block.item_head.center 數量
									//- .mem_block.item_head.center 挑品退訂
									//- .mem_block.item_head.center 其它
									//- .mem_block.item_head.center 問問題

									.mem_block.item_img
										img(src="../img/sample/item_019.jpg", alt="商品圖片")
										.item_name
											p 
												a(href="item.html") 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
									.mem_block.item_count.center
										| 99
									//- .mem_block.item_return.center
									//- 	input#item_return_chk(type="checkbox", name="item_return_chk")
									//- .mem_block.item_st.right
									//- 	a(href="mem_chk_return_st.html") 退訂進度
									//- .mem_block.item_invoice.center
									//- 	p 我要
									//- 		a(href="mem_chk_ask.html") 問問題
								.order_st_progress
									ol.order_st_list(data-progtrckr-steps="6")
										li.order_st_done 訂單出貨
										li.order_st_todo 貨到門市
								.ord_addr
									.ord_addr_b
										p 收貨人姓名：施*宏
										p 收貨人地址：新北市泰山區*********2號3樓
									.ord_confirm
										//- a.ord_confirm_btn(href="#") 確認退訂 
						.mem_order_info
							.order_tab
								.ord_block.ord_head 交易編號
								.ord_block.ord_head 實付金額
								.ord_block.ord_head 付款時間
								.ord_block.ord_head

								.ord_block.ord_no
									| TX20230130123456
								.ord_block.ord_price
									| $36,650
								.ord_block.pay_time
									p 付款完成
									p 01/30 10:35
								.ord_block.ord_cancel
									span 我要
									a.grey(href="mem_chk_return.html") 全退訂 
							
							label.chk_open_lb(for="chk_open_detail_3")
							input#chk_open_detail_3.chk_open_detail(type="checkbox", name="")

							.mem_chk_tab.slim
								.mem_chk_st
									.mem_st 
										.mem_st_head 訂單序號
										p 
											strong 20230130123456
									.mem_st 
										.mem_st_head 結帳金額
										p.red $999,999
											a(href="#item_price_pop") 詳
								.mem_chk
									.mem_block.item_head.center 商品名稱
									.mem_block.item_head.center 數量

									.mem_block.item_img
										img(src="../img/sample/item_019.jpg", alt="商品圖片")
										.item_name
											p 
												a(href="item.html") 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
									.mem_block.item_count.center
										| 99


									.mem_block.item_img
										img(src="../img/sample/item_01.jpg", alt="商品圖片")
										.item_name
											p 
												a(href="item.html") 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
											p.bold 規格：比擬紅
									.mem_block.item_count.center
										| 99
										
								.order_st_progress
									ol.order_st_list(data-progtrckr-steps="6")
										li.order_st_done 付款完成
										li.order_st_todo 訂單處理
								.ord_addr
									.ord_addr_b
										p 收貨人姓名：施*宏
										p 收貨人地址：新北市泰山區*********2號3樓
									.ord_confirm
										//- a.ord_confirm_btn(href="mem_chk_return_m.html") 全退訂 
										//- a.ord_confirm_btn(href="#") 確認退訂 

		include src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')
		script.
			$(".chk_open_lb").click(function() {
				$(this).toggleClass('load');
			});
		.lightbox-target#item_price_pop
			.content
				.con_m
					.com_price_t 商品總金額：
					.com_price $34,500
				.con_m
					.com_price_sm 運費
					.com_s_price $30
				.con_m
					.com_price_sm 活動折抵
					.com_dis_price $30
				.con_m
					.com_price_sm HappyGo活動折抵
					.com_dis_price $80
				.con_m
					.com_price_sm 遠傳幣折抵
					.com_dis_price $500
				.con_m
					.com_price_sm 信用卡紅利折抵
					.com_dis_price $30
				.con_m
					.com_price_t 結帳總金額：
					.com_price $33,910
				a.lightbox-close(href="#")

