doctype html
html
	head
		title ASAP 4.0
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
		meta(name='description', content='ASAP 4.0 公測說明')
		meta(name='keywords', content='uitox,asap 4.0,AI,無人電商')
		meta(property='og:type', content='website')
		meta(property='og:title', content='ASAP 4.0 公測說明')
		meta(property='og:image', content='img/ai.jpg')
		meta(property='og:description', content='ASAP在一年多以前暫停網站運作，全心全力投入使用 AI 技術打造新的電商網站，經過了 封測階段，現在終於到了可以公測的程度了。新的技術是從新的理念發展出來的，我們的理 念是要虛化傳統的電商平台，讓網路技術在供需兩端扮演接近超導體的角色。')
		meta(content='width=device-width, initial-scale=1.0', name='viewport')
		style.
			html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			font-size: 100%;
			vertical-align: baseline;
			background: transparent
			}
			html,body {
			font-family: '微軟正黑體',Tahoma,'新細明體','Arial Unicode MS',Arial,Helvetica,sans-serif;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale
			}
			body {
			line-height: 1
			}
			article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
			display: block
			}
			ul,ol {
			list-style: none
			}
			blockquote,q {
			quotes: none
			}
			blockquote:before,blockquote:after,q:before,q:after {
			content: '';
			content: none
			}
			a {
			margin: 0;
			padding: 0;
			font-size: 100%;
			vertical-align: baseline;
			background: transparent;
			text-decoration: none
			}
			ins {
			background-color: #ff9;
			color: #000;
			text-decoration: none
			}
			mark {
			background-color: #ff9;
			color: #000;
			font-style: italic;
			font-weight: bold
			}
			del {
			text-decoration: line-through
			}
			abbr[title],dfn[title] {
			border-bottom: 1px dotted;
			cursor: help
			}
			table {
			border-collapse: collapse;
			border-spacing: 0
			}
			hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid #cccccc;
			margin: 1em 0;
			padding: 0
			}
			input,select {
			-webkit-appearance: none;
			vertical-align: middle
			}
			h1,h2,h3,h4,h5,h6 {
			font-weight: normal
			}
			::-webkit-search-cancel-button {
			display: none
			}
			.clearfix:after {
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
			clear: both
			}
			.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0
			}
			.sr-only-focusable:active,.sr-only-focusable:focus {
			position: static;
			width: auto;
			height: auto;
			margin: 0;
			overflow: visible;
			clip: auto
			}
			body {
			width: 100%;
			color: black;
			}
			sup {
			font-size: 1rem;
			vertical-align: super
			}
			.bold {
			font-weight: 700
			}
			.blue_txt1 {
			color: #0068b7
			}
			.red{
			color:red;
			}
			.table_scroll {
			width: 100%;
			margin: 0 0 20px;
			-webkit-overflow-scrolling: touch;
			overflow: auto
			}
			a {
			display: inline-block;
			margin:0 3px;
			font-size:.9rem;
			color: #06c;
			text-decoration: underline;
			}
			.main {
			max-width: 1000px;
			margin: 20px auto;
			padding:10px;
			}
			.cont_block{
			margin-bottom:45px;
			}
			h1 {
			margin-bottom: 20px;
			font-size: 1.2rem;
			font-weight: 700;
			color: black
			}
			h2 {
			margin-bottom: 20px;
			font-size: 1.2rem;
			font-weight: 700;
			color: black
			}
			p {
			color: #333;
			margin-bottom: 20px;
			font-size: 1.1rem;
			line-height: 1.4
			}
			small {
			font-size: 1rem;
			color: #888
			}
			small a {
			font-size: 1rem;
			font-weight: 700
			}
			ul {
			list-style: outside decimal;
			margin-top:-20px;
			margin-bottom: 30px
			}
			ul li {
			margin-left: 25px;
			font-size: 1.1rem;
			line-height: 1.6;
			color: black;
			}
			table {
			width: 100%
			}
			th {
			width: 180px;
			min-width: 180px;
			text-align: right;
			font-weight: 700
			}
			th,td {
			padding: 10px;
			border: 1px solid #ccc;
			color: black;
			}
			td:nth-child(2) {
			min-width: 250px
			}
			td:last-child {
			width: 100px;
			min-width: 100px;
			text-align: center
			}
			.sec th,.sec td,.third th,.third td {
			color: #999
			}
			.note {
			margin-bottom: 20px
			}
			.note p,.note li {
			font-size: 1rem;
			color: #888;
			line-height: 1.4;
			margin: 0
			}
			.note ul {
			list-style: outside;
			margin-left: 20px
			}
			.rwd_img{
			display: block;
			width:80%;
			margin:20px auto;
			border:1px solid #ddd;
			}
			.video_container{
			position: relative;
			margin-bottom:20px;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			}
			.video_container iframe, .video_container object, .video_container embed{
			position: absolute;top: 0;left: 0;
			width: 100%;
			height: 100%;
			}
	body
		.main
			.webtmp
				.video_container
					iframe(src='https://www.youtube.com/embed/mKgbpdDeGSU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
				.cont_block
					h1 ASAP 4.0 公測說明
					p
						| ASAP在一年多以前暫停網站運作，全心全力投入使用 AI 技術打造新的電商網站，經過了 封測階段，現在終於到了可以公測的程度了。新的技術是從新的理念發展出來的，我們的理 念是要虛化傳統的電商平台，讓網路技術在供需兩端扮演接近超導體的角色。一旦理想達 到，對於消費者，供應商，還有官網平台開店的三方都有好處。由於這是新的觀念，新的技 術，所以需要再一小段時間“公測”，幫助我們再有機會修正缺點。公測期間所有的交易權益 都受法律保障，沒有特殊的假期。歡迎三方大家共同來參與電商跨代的典範轉移。
					img.rwd_img(src='../img/ai.jpg', alt='ASAP 4.0 AI')
				.cont_block
					h2 親愛的消費者顧客您好，
					p
						| ASAP在去年暫停營運，全力使用新的技術重新打造網站，最近將以 ASAP 4.0 的名稱重新開張服務 所有的顧客，因為使用先進的新技術，所以我們會有一段時間的公測，讓我們有時間調整以臻完 整。公測期間，所有購物的權利義務完全遵守法律對消費者的保護，請放心。
					p
						| 新的技術重點是，網站完全為您個人打造。有每日個人專屬的限時打折商品;有為您個人專門挑選 的對品折價券，給您的優惠別人不見得同時享有;首頁的商品，新到貨，新降價，市場最夯品都是 精心為您設計的。給您最關心的關鍵字可以點擊列出商品清單。每個單品也都關聯跟您當下高度興 趣的清單;關鍵字搜尋的排序也是把您的關注排在前頭。我們也會節制限量的發給您專屬的email， 裡面的商品也是特地為您挑選的，限時對品優惠。
					p 其他的一般的網路購買流程，我們也儘量的單純化，讓您購物的過程簡單輕鬆。
				.cont_block
					h2 親愛的供應商您好，
					p 首先非常感謝部分的供應商參加了我們的封測，讓我們有機會做了諸多的改進。現在我們要開始公 測了，不管之前有沒有參加封測的廠商，我們都歡迎大家來上架。
					p ASAP 4.0 有幾項特色:
					ul
						li
							| ASAP 4.0 不收上架費，不收成交費，只收系統服務費。(第三方服務外加)
							a(href=' OBtest_form.html', target='_blank') 收費明細
						li 行銷“提品”，AI會立即運算，讓相契合度高的消費者立即看到，您不必跟傳統電商的PM去排Q表就可以立即曝光。(在上架完的商品列表會有提品的按鈕)
						li 每個供應商可以擁有自己的官網平台，自己賣的部分自己賺。
						li 供應商(尤其是大供應商)的官網平台可以管理自己的“供應商”，請他們上稿，跟他們結帳。
						li 由於ASAP 4.0 的母公司 uitox 有官網開店的功能，您的商品除了上架在ASAP 4.0 之外，也有機會在其他的網站聯合曝光，一站管理，同上同下。
						li
							| ASAP 4.0 用心發展的 AI 引擎有諸多功能，暱稱為18般武藝，您的商品會由AI運算之後，以多種的方式呈現在有興趣的消費者眼前。
							a(href='https://www.uitox.com/c/web/uitox/index.html#AI18', target='_blank') 18般武藝功能表
						li 每個商品曝光的地方會有 UA 分析，以了解實際在那裡曝光的結果。(公測後期才會上功能)
						li 網站會有PC版，手機web版，APP版，有登錄的話 AI 會跨屏聯合運算，沒有登入時個別運算。
				.cont_block
					h2 親愛的官網開店顧客您好，
					p uitox發展出新的AI引擎，可以讓你事半功倍的，幫助您快速的建立官網。官網可以只賣自家商品， 也可以擁有自己的供應商，管理自己供應商，羅列好處如下:
					ul
						li
							| uitox可以(選項)拿適合您網站屬性的ASAP4.0 商品在您網站陳列，你還沒有上架任何商品就
							| 可以擁有自己風格的官網，銷售了就可以抽取聯合曝光的費用收入。
						li 您當然也可以只上自家商品，然後擁有自己單純風格的官網。
						li 除了自家的商品，您也可以再自己招商，透過uitox的系統管理您的供應商。
						li
							| 您自己的商品加上您的供應商商品，都可以在 ASAP 4.0 曝光，還有其他使用uitox系統的網站聯
							| 合曝光，當然成交之後要付很低的聯合曝光費用。
							a(href='https://www.uitox.com/c/web/uitox/index.html#rate') 收費明細
						li
							| 網站用AI引擎運算，您除了上稿跟提品之外，都可以不用佈置網站，網站會適應不同的消費者瀏
							| 覽，每個人看到的樣貌都是他的興趣的商品陳列。(加工看下一點)
						li 網站也提供一個區塊，讓您可以人工佈置商品，當然所有客人看到這個區塊的商品都是固定的。
						li 每個網紅也可以有自己官網平台，可以賣聯合曝光的商品，也可以賣自己找的商品。
						li 金流由uitox系統代收，全額支付。系統及第三方服務費以月費另出帳單。發票uitox開代收付。
						li
							| 在這個階段，物流由店家自己負責。以後待我們有空時候，再重起統倉的服務。
							br
							a(href='https://reurl.cc/247GxX', target='_blank') 立即體驗！AI開店平台免費試用三個月
				p
					| 我們團隊從2000年開始電子商務網路購物領域，迄今已經近20年了。多年來，一直覺得電商還有很多地不完美，還有地方可以改善。現在終於有了新技術 就是 AI 觀念的運用。 從結果面來講，我們 想讓服務從“叫客人到一個地方購物” 到 “我把商品端到每一個客人的前面”。傳統電商平台虛化後可 以消除以平台利益為前提的促銷計畫，可以加快商品資訊的傳輸速度，可以免去溝通的延遲，可以節省不必要的成本，而這些效能都可以回饋給三方。這是我們認為電商進化的方向，希望可以幫到大家。
				|             
				p 感謝大家多年來的支持!
