.tag-slide
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href='#')
					span 年菜
			.swiper-slide
				a(href='#')
					span iphone
			.swiper-slide
				a(href='#')
					span 鳳梨酥鳳梨酥鳳梨酥
			.swiper-slide
				a(href='#')
					span 4k電視
		i.fa.fa-angle-right.icon-next(aria-hidden='true')
