doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head_m.pug

		link(href='css/mobile/category.css', rel='stylesheet')
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')

		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/category.js')
	body
		include ../pug_common/_loading.pug
		
		include ../pug_common/_header_m.pug
		
		include ../pug_common/_category_m.pug

		include ../pug_common/_footer_m.pug