@charset "UTF-8";
/*by Jonic*/
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

caption {
  text-align: left;
}

:link {
  text-decoration: none;
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", arial, serif;
  height: 100%;
  background-color: #eee;
}

/*==============================================================================================================================*/
img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.head_banner {
  width: 100%;
  text-align: center;
}
.head_banner img {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 0;
}

.title {
  padding: 22px 0;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.sub_txt {
  padding: 0 10px 15px;
  text-align: center;
  color: black;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  background-color: white;
}

.saletime {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
  color: white;
  background-color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.saletime span {
  color: #ff0;
}

.items_bg {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.item {
  width: 49.22%;
  margin: 0 1.55% 2% 0;
  padding: 25px;
  background-color: #333;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item:nth-child(2n) {
  margin-left: 0;
  margin-right: 0;
}

.photo {
  display: block;
  border-radius: 10px;
}

.cupn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0 0;
}

.cupn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px 0 0;
}

.cupn_t {
  margin: 0 0 10px;
  color: #f5c5c5;
  font-size: 1.1rem;
}

.cupn_ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 168px;
  height: 70px;
  font-size: 1.1rem;
  background: #f5c5c5;
}

.cupn_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 162px;
  height: 64px;
  background: #f5c5c5 url("../img/cupn_frame.svg") no-repeat center center;
}

.cupn_dur {
  color: #555;
}

.cupn_price {
  margin: 5px 0 0;
  color: #ee6262;
  font-size: 1.5rem;
  font-weight: 700;
}
.cupn_price::first-letter {
  font-size: 1.2rem;
}

.name {
  height: 62px;
  margin: 0 35px 35px 0;
  font-size: 1.6rem;
  color: white;
  line-height: 1.2;
  word-break: break-word;
  overflow: hidden;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nor, .dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nor {
  margin: 0 0 -10px;
}

.nor_t, .dis_t {
  margin: 0 5px 0 0;
  color: #888;
  font-size: 1.5rem;
}

.nor_price {
  text-decoration: line-through;
}

.nor_price {
  margin: 0 8px 5px 0;
  font-size: 1.5rem;
  color: #888;
  text-decoration: line-through;
}
.nor_price::first-letter {
  font-size: 1.2rem;
}

.dis {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dis img {
  width: 24px;
  height: 26px;
  margin: 0 5px;
}

.dis_net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dis_price {
  color: #f77;
  font-size: 2.5rem;
}
.dis_price::first-letter {
  font-size: 1.5rem;
}

.dis_af {
  color: white;
  font-size: 2rem;
}

.dis_af_price {
  color: #ff0;
  font-size: 3.5rem;
}
.dis_af_price::first-letter {
  font-size: 2rem;
}

.btn-imd {
  width: 100%;
  margin-top: 15px;
  padding: 9px 0 10px 12px;
  font-size: 1.2rem;
  letter-spacing: 16px;
  border: none;
  color: white;
  background-color: #f5281e;
  cursor: pointer;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item.sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 15px 20px 15px 15px;
  border-radius: 0;
}
.item.sm .photo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  border-radius: 0;
}
.item.sm .photo img {
  display: block;
  max-width: 176px;
  border: 2px solid white;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.item.sm .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 15px;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 68%;
          flex: 2 1 68%;
}
.item.sm .cupn {
  margin: 5px 0 0;
}
.item.sm .cupn_block {
  margin: 0;
}
.item.sm .cupn_t {
  margin: 5px 0 10px;
}
.item.sm .name {
  height: 86px;
  margin: 0 45px 15px 0;
  font-size: 1.35rem;
  line-height: 1.4;
  letter-spacing: 1px;
}
.item.sm .nor {
  margin: 0 0 -15px;
}
.item.sm .nor_t, .item.sm .dis_t {
  margin: 0 5px 0 0;
  font-size: 1.2rem;
}
.item.sm .nor_price {
  font-size: 1.2rem;
}
.item.sm .nor_price::first-letter {
  font-size: 0.9rem;
}
.item.sm .dis {
  margin: 0 0 10px;
}
.item.sm .dis img {
  height: auto;
}
.item.sm .dis_price {
  font-size: 1.65rem;
}
.item.sm .dis_price::first-letter {
  font-size: 1.1rem;
}
.item.sm .dis_af {
  margin: 0 3px 0 0;
  font-size: 1.4rem;
}
.item.sm .dis_af_price {
  font-size: 2rem;
}
.item.sm .dis_af_price::first-letter {
  font-size: 1.2rem;
}

@media (min-width: 748px) and (max-width: 1279px) {
  .items {
    margin: 0 20px;
  }

  .nor_t, .dis_t {
    font-size: 1.2rem;
  }

  .dis_price {
    font-size: 2.5rem;
  }

  .dis_af {
    font-size: 1.8rem;
  }

  .dis_af_price {
    font-size: 3.3rem;
  }

  .item.sm .name {
    margin: 0 20px 15px 0;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 1rem;
  }
  .item.sm .dis_price {
    font-size: 1.5rem;
  }
  .item.sm .dis_af {
    font-size: 1.2rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.8rem;
  }
}
@media (min-width: 748px) and (max-width: 1221px) {
  .name {
    margin: 0 20px 30px 0;
  }

  .dis_price {
    font-size: 2.2rem;
  }

  .dis_af {
    font-size: 1.6rem;
  }

  .dis_af_price {
    font-size: 3rem;
  }
}
@media (min-width: 748px) and (max-width: 1200px) {
  .nor_t, .dis_t {
    font-size: 1.2rem;
  }

  .dis_af {
    font-size: 1.5rem;
  }

  .nor_price {
    font-size: 1.2rem;
  }
  .nor_price::first-letter {
    font-size: 0.9rem;
  }

  .dis_price {
    font-size: 2rem;
  }

  .dis_af_price {
    font-size: 2.8rem;
  }

  .item.sm .name {
    margin: 0 10px 15px 0;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 1rem;
  }
  .item.sm .dis_af {
    font-size: 1rem;
  }
  .item.sm .nor_price {
    font-size: 0.8rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 1.2rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.5rem;
  }
}
@media (min-width: 748px) and (max-width: 1100px) {
  .name {
    margin: 0 10px 15px 0;
  }

  .cupn_block {
    margin: 0 15px 0 0;
  }

  .nor_t, .dis_t {
    font-size: 1rem;
  }

  .dis_af {
    font-size: 1.2rem;
  }

  .nor_price {
    font-size: 1rem;
  }
  .nor_price::first-letter {
    font-size: 0.7rem;
  }

  .dis_price {
    font-size: 1.8rem;
  }

  .dis_af_price {
    font-size: 2.8rem;
  }

  .item.sm {
    padding: 15px;
  }
  .item.sm .name {
    margin: 0 5px 15px 0;
    height: 74px;
    font-size: 1.15rem;
  }
  .item.sm .nor {
    margin: 0 0 -10px;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 0.8rem;
  }
  .item.sm .nor_t::first-letter, .item.sm .dis_t::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis img {
    width: 18px;
    height: auto;
  }
  .item.sm .dis_af {
    font-size: 1rem;
  }
  .item.sm .nor_price {
    font-size: 0.8rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 1rem;
  }
  .item.sm .dis_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.5rem;
  }
}
@media (min-width: 748px) and (max-width: 1100px) {
  .cupn_t {
    margin: 0 0 5px;
    font-size: 0.9rem;
  }

  .cupn_ticket {
    width: 130px;
    height: 55px;
  }

  .cupn_bg {
    width: 125px;
    height: 50px;
    font-size: 0.9rem;
  }

  .cupn_price {
    font-size: 1.1rem;
  }
  .cupn_price::first-letter {
    font-size: 0.7rem;
  }

  .dis_price {
    font-size: 1.5rem;
  }

  .dis_af_price {
    font-size: 2.2rem;
  }
  .dis_af_price::first-letter {
    font-size: 1.5rem;
  }

  .item.sm .photo img {
    max-width: 140px;
  }
}
@media (min-width: 748px) and (max-width: 965px) {
  .item {
    padding: 10px;
  }

  .item.sm {
    padding: 10px;
  }
  .item.sm .photo img {
    max-width: 130px;
  }
  .item.sm .nor {
    margin: 0 0 -5px;
  }
  .item.sm .dis {
    margin: 0;
  }
}
@media (min-width: 748px) and (max-width: 925px) {
  .name {
    height: 47px;
    font-size: 1.3rem;
  }

  .dis img {
    width: 18px;
    height: auto;
  }

  .dis_price {
    font-size: 1.2rem;
  }
  .dis_price::first-letter {
    font-size: 0.9rem;
  }

  .dis_af_price {
    font-size: 2rem;
  }
  .dis_af_price::first-letter {
    font-size: 1.3rem;
  }

  .item.sm .photo img {
    max-width: 110px;
  }
  .item.sm .dis_af {
    font-size: 0.75rem;
  }
  .item.sm .nor_price {
    font-size: 0.7rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 0.8rem;
  }
  .item.sm .dis_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.2rem;
  }
  .item.sm .dis_af_price::first-letter {
    font-size: 0.7rem;
  }
}
@media (min-width: 748px) and (max-width: 840px) {
  .cupn_t {
    margin: 0 0 5px;
    font-size: 0.7rem;
  }

  .cupn_ticket {
    width: 100px;
    height: 42px;
  }

  .cupn_bg {
    width: 94px;
    height: 38px;
    font-size: 0.7rem;
  }

  .cupn_price {
    font-size: 0.9rem;
  }
  .cupn_price::first-letter {
    font-size: 0.7rem;
  }

  .item.sm .cupn {
    margin: 0;
  }
  .item.sm .info {
    margin: 0 0 0 5px;
  }
  .item.sm .name {
    height: 65px;
    font-size: 1rem;
  }
  .item.sm .nor {
    margin: 0 0 -5px;
  }
}
@media (min-width: 748px) and (max-width: 779px) {
  .dis img {
    width: 15px;
  }

  .item.sm .photo img {
    max-width: 100px;
  }
  .item.sm .dis img {
    width: 10px;
  }

  .btn-imd {
    padding: 5px;
    font-size: 1rem;
  }
}
@media (max-width: 747px) {
  .title {
    font-size: 2.5rem;
  }

  .items {
    margin: 0 20px;
  }

  .item {
    width: 100%;
    margin: 0 0 20px;
  }

  .item.sm {
    margin: 0 0 20px;
  }

  .cupn_dur {
    margin: 0 0 -2px;
  }
}
@media (max-width: 655px) {
  .title {
    font-size: 2rem;
  }

  .saletime {
    font-size: 1rem;
  }
  .saletime p {
    display: inline;
  }

  .cupn_block {
    margin: 0 10px 0 0;
  }

  .name {
    margin: 0 15px 15px 0;
  }

  .nor_price {
    font-size: 1.5rem;
  }
  .nor_price::first-letter {
    font-size: 1.2rem;
  }

  .dis_price {
    font-size: 1.8rem;
  }

  .dis_af_price {
    font-size: 2.8rem;
  }

  .item.sm .name {
    margin: 0 15px 15px 0;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 1rem;
  }
  .item.sm .nor_price {
    font-size: 1rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_af {
    font-size: 1.2rem;
  }
  .item.sm .dis_price {
    font-size: 1.2rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.5rem;
  }
}
@media (max-width: 575px) {
  .item {
    padding: 10px;
  }

  .cupn_t {
    margin: 0 0 5px;
    font-size: 0.7rem;
  }

  .cupn_ticket {
    width: 110px;
    height: 52px;
  }

  .cupn_bg {
    width: 104px;
    height: 48px;
    font-size: 0.7rem;
  }

  .cupn_price {
    font-size: 1.2rem;
  }
  .cupn_price::first-letter {
    font-size: 0.7rem;
  }

  .dis img {
    width: 18px;
    height: auto;
  }

  .nor_t, .dis_t {
    font-size: 1rem;
  }

  .nor_price {
    font-size: 1.2rem;
  }
  .nor_price::first-letter {
    font-size: 0.9rem;
  }

  .dis_af {
    font-size: 1.5rem;
  }

  .dis_price {
    font-size: 1.4rem;
  }
  .dis_price::first-letter {
    font-size: 1rem;
  }

  .dis_af_price {
    font-size: 2.5rem;
  }
  .dis_af_price::first-letter {
    font-size: 1.5rem;
  }

  .item.sm {
    padding: 10px;
  }
  .item.sm .photo img {
    max-width: 120px;
  }
  .item.sm .name {
    height: 64px;
    margin: 0 15px 15px 0;
    font-size: 1rem;
  }
  .item.sm .cupn {
    margin: 0;
  }
  .item.sm .nor {
    margin: 0;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 1rem;
  }
  .item.sm .nor_price {
    font-size: 1rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis {
    margin: 0;
  }
  .item.sm .dis_af {
    font-size: 1rem;
  }
  .item.sm .dis_price {
    font-size: 1rem;
  }
  .item.sm .dis_price::first-letter {
    font-size: 0.9rem;
  }
  .item.sm .dis_af_price {
    font-size: 1.2rem;
  }
}
@media (max-width: 460px) {
  .title {
    font-size: 1.5rem;
  }

  .cupn_ticket {
    width: 100px;
    height: 42px;
  }

  .cupn_bg {
    width: 94px;
    height: 38px;
    font-size: 0.7rem;
  }

  .cupn_price {
    font-size: 1rem;
  }
  .cupn_price::first-letter {
    font-size: 0.7rem;
  }

  .dis img {
    width: 15px;
    height: auto;
  }

  .nor_t, .dis_t {
    font-size: 1.2rem;
  }

  .nor_price {
    font-size: 1.2rem;
  }
  .nor_price::first-letter {
    font-size: 0.7rem;
  }

  .dis_af {
    font-size: 1.2rem;
  }

  .dis_price {
    font-size: 1.2rem;
  }
  .dis_price::first-letter {
    font-size: 0.7rem;
  }

  .dis_af_price {
    font-size: 2rem;
  }
  .dis_af_price::first-letter {
    font-size: 1.2rem;
  }

  .item.sm .info {
    margin: 0 0 0 5px;
  }
  .item.sm .name {
    margin: 0 5px 15px 0;
  }
  .item.sm .nor_t, .item.sm .dis_t {
    font-size: 0.7rem;
  }
  .item.sm .nor_price {
    margin: 0;
    font-size: 0.7rem;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 0.7rem;
  }
  .item.sm .dis_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_af {
    font-size: 0.7rem;
  }
  .item.sm .dis_af_price {
    font-size: 1rem;
  }
  .item.sm .dis_af_price::first-letter {
    font-size: 0.7rem;
  }
}
@media (max-width: 395px) {
  .dis img {
    width: 12px;
    height: auto;
  }

  .name {
    height: 47px;
    font-size: 1.3rem;
  }

  .nor {
    margin: 0 0 -5px;
  }

  .nor_t, .dis_t {
    font-size: 0.85rem;
  }

  .dis_af_price {
    font-size: 1.5rem;
  }
  .dis_af_price::first-letter {
    font-size: 1rem;
  }

  .item.sm .photo img {
    max-width: 100px;
  }
  .item.sm .name {
    height: 55px;
    font-size: 0.8rem;
  }
}