@charset "UTF-8";
/*by Jonic*/
/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

caption {
  text-align: left;
}

:link {
  text-decoration: none;
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", arial, serif;
  height: 100%;
  background-color: #eee;
}

/*==============================================================================================================================*/
img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.head_banner {
  width: 100%;
  text-align: center;
}
.head_banner img {
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 0;
}

.title {
  padding: 15px 0 10px;
  text-align: center;
  color: black;
  background-color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}

.sub_txt {
  padding: 0 10px 15px;
  text-align: center;
  color: black;
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: 1px;
  background-color: white;
}

.saletime {
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  background-color: black;
}

.items_bg {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto 0;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2%;
}

.item {
  width: 49%;
  margin: 0 2% 2% 0;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item:nth-child(2n) {
  margin-left: 0;
  margin-right: 0;
}

.photo {
  display: block;
  background-color: white;
  border-radius: 10px;
}

.name {
  height: 62px;
  margin: 15px 0;
  font-size: 1.6rem;
  color: black;
  line-height: 1.2;
  word-break: break-word;
  overflow: hidden;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nor_price {
  margin: 0 8px 5px 0;
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
}
.nor_price::first-letter {
  font-size: 0.8rem;
}

.dis_price {
  color: #f5281e;
  font-size: 2.5rem;
}
.dis_price::first-letter {
  font-size: 1.5rem;
}

.btn-imd {
  width: 100%;
  margin-top: 15px;
  padding: 9px 0 10px 12px;
  font-size: 1.2rem;
  letter-spacing: 16px;
  border: none;
  color: white;
  background-color: #f5281e;
  cursor: pointer;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item.sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.item.sm .photo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50%;
          flex: 2 1 50%;
}
.item.sm img {
  max-width: 250px;
}
.item.sm .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 20px;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50%;
          flex: 2 1 50%;
}
.item.sm .name {
  height: 48px;
  margin: 20px 0 0;
  font-size: 1.2rem;
}
.item.sm .price {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.item.sm .dis_price {
  font-size: 1.8rem;
}
.item.sm .dis_price::first-letter {
  font-size: 1.1rem;
}

@media (max-width: 830px) {
  .nor_price {
    font-size: 1.5rem;
  }

  .item.sm .nor_price {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 1.55rem;
  }
  .item.sm .btn-imd {
    margin: 5px 0 0;
    letter-spacing: 3px;
  }
}
@media (max-width: 767px) {
  .name {
    height: 58px;
    font-size: 1.5rem;
  }

  .btn-imd {
    padding: 10px;
    letter-spacing: 10px;
  }

  .item.sm .name {
    height: 40px;
    margin: 0 0 15px;
    font-size: 1rem;
  }
  .item.sm .nor_price {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 1.3rem;
  }
  .item.sm .btn-imd {
    font-size: 1rem;
  }
}
@media (max-width: 660px) {
  .item.sm .nor_price {
    margin: 0 3px 0 0;
  }
  .item.sm .nor_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 1.2rem;
  }
  .item.sm .dis_price::first-letter {
    font-size: 0.7rem;
  }
  .item.sm .btn-imd {
    padding: 5px;
    font-size: 0.8rem;
  }
  .item.sm .info {
    padding: 0 0 0 10px;
  }
}
@media (max-width: 580px) {
  .item {
    padding: 10px;
  }

  .name {
    height: 46px;
    font-size: 1.2rem;
  }

  .dis_price {
    font-size: 1.5rem;
  }
  .dis_price::first-letter {
    font-size: 1.2rem;
  }

  .btn-imd {
    margin: 5px 0 0;
    letter-spacing: 2px;
  }

  .item.sm {
    padding: 10px;
  }
  .item.sm .nor_price {
    font-size: 0.7rem;
  }
  .item.sm .dis_price {
    font-size: 0.95rem;
  }
  .item.sm .name {
    height: 32px;
    margin: 0 0 10px;
    font-size: 0.8rem;
  }
  .item.sm .btn-imd {
    padding: 5px;
    font-size: 0.7rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 510px) {
  .title {
    font-size: 1.5rem;
  }

  .sub_txt {
    font-size: 0.7rem;
  }

  .saletime {
    font-size: 1rem;
  }

  .nor_price {
    font-size: 0.7rem;
  }
  .nor_price::first-letter {
    font-size: 0.7rem;
  }

  .dis_price {
    font-size: 1.1rem;
  }
  .dis_price::first-letter {
    font-size: 0.7rem;
  }

  .btn-imd {
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .item.sm .photo {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 40%;
            flex: 2 1 40%;
  }
  .item.sm .info {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 60%;
            flex: 2 1 60%;
  }
  .item.sm .name {
    height: 28px;
    font-size: 0.7rem;
  }
  .item.sm .nor_price {
    margin: 0 -8px 0 -8px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}