@import "partials/base";
@import "partials/color";

@import "partials/font_iconmoon";
@import 'partials/order_head';
@import 'partials/foot';

.icon_swiper_prev:before {
	color: white;
    font-size:.8rem;
}
.hide {
	display: none;
}

[class*="btn-"] {
    display: block;
    flex-basis: 100%;
    padding: 12px 25px;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    color: #fefefe;
}
.btn-continue {
	background-color: #369;
}
.btn-confirm {
	background-color: #d00;
}
.btn-discode {
	margin-left: 10px;
	padding: 5px 10px;
	font-size: 1rem;
	color: white;
	background-color: #fc5f8e;
}
.btn-change {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: .8rem;
	font-weight: 700;
	background-color: #2bbc50;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.btn-edit {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: .8rem;
	font-weight: 700;
	background-color: #06f;
	background-clip: padding-box;
	border-radius: 50%;
}
.btn-cancel {
	margin:0 30px;
	background-color: #888;
}
.btn-remove {
    width:auto;
    margin: 0;
    padding: 2px 10px;
    font-size: .8rem;
    color: #333;
    border: 1px solid #cecece;
    background: #ddd;
    white-space: nowrap;
}
// .btn-invoice {
// 	width: 100%;
// 	font-weight: 700;
// 	background-color: #2cbc50;
// }
// .btn-complete {
// 	background-color: #333;
// }
// .btn-receive {
// 	flex-basis: 50%;
// 	padding: 15px 10px;
// 	font-size: 1rem;
// 	background-color: #333;
// }
// .btn-prev {
// 	background-color: #888;
// }
// .cart-main {
// 	min-width: 300px;
// 	max-width: 1200px;
// 	position: relative;
// 	margin: 0 auto 50px;
// }
.radio_btn {
	width: 20px;
	height: 18px;
	margin: 0;
}
.sub-h3 {
	display: block;
	margin: 0 0 5px 5px;
	font-size: .9rem;
	color: #aaa;
}
.price {
	font-size: 1.2rem;
	color: #e00;
    &::first-letter{
        font-size:.7rem;
    }
}
::placeholder{
	font-size:.85rem;
	color:#ccc;
}
.add-new-receive {
	width: 100%;
	.cart_block {
		margin: 10px 0 0;
	}
	.cart_block.credit {
		input {
			padding: 20px 10px;
		}
	}
}
.add-new-receive-btn {
	width: 100%;
	margin-top: 50px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.order_chk_all {
	padding: 0 0 10px 3px;
	p {
		font-size: .8rem;
	}
}
.order_chk_label {
	display: block;
	width: 20px;
	height: 20px;
    margin: 0 3px;
	cursor: pointer;
	align-self: center;
	position: relative;
	border: 1px solid #ccc;
	&:after {
		content: "";
		position: absolute;
		height: 5px;
		width: 9px;
		border-left: 3px solid #fff;
		border-bottom: 3px solid #fff;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		left: 4px;
		top: 5px;
	}
}
.order_chk {
	display: none;
	&:checked+.order_chk_label {
		border: 1px solid #e00;
		background: #e00;
	}
}
.order_all {
    margin: 0 5px 10px;
	border-bottom: 1px solid #ccc;
   
	&:last-child {
		border: none;
	}
}
h3{
    display: block;
    margin: 0 10px 0 0;
    color:#e00;
    font-size:1.5rem;
}
.order_head {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
	align-items: center;
	color: #555;
	padding: 20px 10px 10px;
	.order_chk_all {
		padding: 0;
	}
	.order-title {
		padding-left: 8px;
	}
}
.cart_item {
	display: flex;
	flex-flow: row nowrap;
	flex-basis: 100%;
    margin: 0 0 10px;
	padding: 20px 0;
    background: white;
}
.cart_item.is-lack,.cart_item.is-before{
	background: #ddd;
	.order_chk_all {
		visibility: hidden;
	}
}
.cart-item-add {
	display: table-row;
	[class^="cart-"] {
		margin: 2px;
		padding: 0 5px 0 0;
		border: none;
	}
	.cart-add-sale-t {
		padding: 5px;
	}
	.cart_img {
		width: 160px;
	}
}
.cart_img {
	padding: 0 2px;
	img {
		display: block;
		width: 130px;
		border: 1px solid #ccc;
	}
}
.cart-lack-tag {
	width: 100%;
	margin: 0;
	padding: 3px 0 5px;
	font-size: .9rem;
	text-align: center;
	color: #fefefe;
	background: #555;
}
.cart_info {
	display: flex;
	flex-flow: column nowrap;
	flex-basis: 100%;
	justify-content: space-between;
	padding: 0px 5px;
}
.cart_gift {
	margin: 0 0 5px;
	p {
        margin: 0 5px 0 0;
		padding: 2px 5px;
		font-size: .8rem;
		color: white;
		background: #d00;
	}
}
.cart_gift_item {
	li {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin: 0 0 5px;
		font-size: .85rem;
		line-height: 1.2;
		color: #333;
	}
}

.cart_name_link{
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 5px;
    color: #333;
    font-size: 1rem;
    line-height: 1.4;
}
.cart-count {
	flex-basis: 70px;
	padding-right: 10px;
	text-align: right;
	font-size: 1.2rem;
}
.cart_size {
	margin-bottom: 10px;
	color: #333;
	font-size: .85rem;
	line-height: 1.4;
}
.cart_per {
	font-size: .8rem;
	color: #e00;
	margin: 0 0 5px;
}
.cart_quantity {
	margin: 0 0 10px;
}
.cart_price_b{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: 0 0 10px;
}
.cart_cupn_t{
    margin:0 0 10px;
    font-size:.8rem;
    color:#e00;
}
.cart_cupn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.6;
    .price{
        position: relative;
        &:after{
            content: "-";
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.cart_cupn_lb{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}
.cart_select{
    margin: 0 5px;
    padding:2px 5px;
    color:#666;
    border:1px solid #ccc;
}
.cart_price{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    margin: 0 8px 5px 0;
    font-size: .9rem;
    color: #e00;
}
.unit_price{
    color: #e00;
}
.ori_t {
	color: #999;
}
.ori_price {
    margin: 0 0 0 3px;
    color: #999;
    text-decoration: line-through;
    &::first-letter{
        font-size:.7rem;
    }
}
.dis_t{
    font-size:1rem;
    color:black;
}
.dis_price{
    margin: 0 0 0 3px;
    font-size:1.3rem;
    &::first-letter{
        font-size:.7rem;
    }
}

.total_price{
    font-size:1.2rem;
    color: #e00;
    &::first-letter{
        font-size:.7rem;
    }
}
.cart-add {
	margin-top: 10px;
	font-size: .8rem;
	.cart-add-title {
		padding: 5px;
		font-size: .85rem;
		color: #888;
		background-color: #eee;
	}
	.cart-add-name {
		margin: 8px 0;
		line-height: 1.2;
	}
}
.cart-add-sale {
	width: 100%;
	margin-top: 10px;
	.cart-add-sale-t {
		padding: 5px;
		font-size: 1rem;
		color: #333;
		background: #e2f4ff;
	}
	.cart-add-sale-info {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 5px;
		font-size: 1rem;
	}
	.cart-add-name {
		flex-basis: 90%;
		line-height: 1.2;
	}
	.price {
		color: #e00;
		font-size: 1rem;
	}
	.cart-count {
		border: none;
		font-size: 1rem;
	}
}
.cart-off {
	display: block;
	margin: 10px 0;
	font-size: .8rem;
	line-height: 1.2;
	li {
		color: #666;
		padding-bottom: 8px;
	}
	.cart-off-info {
		color: #fc5f8e;
	}
	i {
		margin-right: 5px;
		color: #fc5f8e;
		font-size: .9rem;
	}
}
.quantity-input {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	position: relative;
}
.cart-num {
	width: 30px;
	height: 30px;
	margin: 0;
	text-align: center;
	border: 1px solid #ccc;
	border-right: none;
	border-left: none;
}
button {
	font-size: .9rem;
	border: 1px solid #ccc;
}
button.is-disabled {
	cursor: no-drop;
	background: #ccc !important;
}
.btn-increase {
	margin: 0;
	color: #555;
	font-size: 1rem;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.btn-decrease {
	margin: 0;
	color: #555;
	font-size: 1rem;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	color: #555;
	border: 1px solid #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.cart_last {
	align-self: flex-start;
	margin:0 2px;
	text-align: right;
	color: #e00;
	font-size: 1.2rem;
	.lmt_price {
		p {
			display: block;
			margin-bottom: 5px;
		}
	}
	.icon_cart{
		&::before{
			font-size: 1.5rem;
			color:black;
		}
	}
}
.cart-before {
	width: 100%;
	position: relative;
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: 700;
	background-color: #68bbf1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&:after {
		content: '';
		position: absolute;
		margin-left: -30px;
		left: 50%;
		bottom: -9px;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 20px solid #68bbf1;
		clear: both;
	}
}
.cart_block {
	margin: 10px 0;
	h3 {
		padding: 8px 5px;
		font-size: 1rem;
	}
	.cart_sub_b {
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		text-align: left;
		padding: 15px 70px 15px 10px;
		color: #333;
		background-color: white;
		border-bottom: 1px solid #ccc;
		.order_radio_all {
			margin: 5px 0;
			text-align: left;
			line-height: 1.6;
		}
		&:last-child {
			border: none;
		}
		.cart_b_t_sub {
			margin-left: 25px;
			color: #aaa;
			font-size: 1rem;
			line-height: 1.2;
		}
	}
	.cart_sub_b.multi-line {
		display: block;
		.cart_sub_b {
			max-width: 88%;
			padding: 5px 0 0;
			border: none;
		}
	}
	.cart_sub_b.red {
		background-color: #fed3de;
	}
	.cart_sub_b.add-receive {
		display: block;
		font-size: 1.1rem;
		text-align: center;
		a {
			display: block;
			margin: 10px 0 0;
		}
	}
	.cart_sub_b.deliver_box {
		justify-content: space-between;
		padding-right: 10px;
		font-size: 1rem;
		line-height: 1.4;
		.deliver_info {
			display: flex;
			flex-flow: column nowrap;
		}
		p {
			&:first-child {
				margin: 10px 0;
				vertical-align: bottom;
			}
		}
		.cart_b_t {
			display: inline-block;
			min-width: 80px;
			font-size: 1rem;
		}
		.deliver_addr {
			align-self: flex-start;
			margin: 10px 0;
            color:#06c;
            text-decoration: underline;
		}
	}
	.cart_sub_b.radio.stag{
		display: flex;
		padding: 10px;
		border: none;
		.cart_b_t {
			min-width: auto;
			font-size: 1rem;
		}
	}
	.cart_sub_b.card_num {
		display: block;
		padding: 0;
		p {
			display: none;
			position: absolute;
			top: -6px;
			right: 5px;
			margin: 10px 0;
			color: #e00;
			font-size: 1rem;
		}
		.card_line {
			display: flex;
			flex-flow: column nowrap;
			position: relative;
			input {
				border: 1px solid #ccc;
				border-left: none;
				border-right: none;
				font-size: 1rem;
			}
		}
		input {
			padding: 17px 10px;
			font-size: 1rem;
			border: 1px solid #ccc;
			border-left: none;
			border-top: none;
		}
		.card_line_m {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}
		.card_fill {
			position: relative;
			flex-basis: 33.3333333333%;
			select {
				display: block;
				width: 100%;
				padding: 15px 10px;
				font-size: 1rem;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				border-radius: 0;
				border: 1px solid #ccc;
				border-left: none;
				border-top: none;
				border-bottom: none;
				-webkit-appearance: none;
			}
			input {
				width: 100%;
				border-right: none;
				border-bottom: none;
                box-sizing: border-box;
			}
		}
	}
	.cart_sub_b.chk {
		display: block;
	}
	.cart_b_t {
		font-size: 1rem;
		text-align: right;
		.price {
			color: #e00;
		}
        small{
            color:#888;
            font-size:.8rem;
        }
	}
	.cart_b_t.main-color {
		color: #e00;
	}
	.order_chk {
		&:checked+.order_chk_label {
			border: #e00;
			background: #e00;
		}
	}
	.discode-enter {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		input {
			width: 9.5rem;
			font-size: .9rem;
			padding: 5px;
			border: 1px solid #ccc;
		}
	}
}
.order_chk_label {
	&:after {
		top: 4px;
		left: 4px;
	}
}
.payway_b{
    display: flex;
    align-items: center;
    padding:15px 10px;
    background-color: white;
}
.payway{
    display: flex;
    flex-flow: row wrap;
}
.payway_t{
    min-width: 85px;
}
.pay_label{
	display: flex;
    flex-flow: row nowrap;
	margin:10px 10px 10px 0;
    cursor: pointer;
}
// .pay_t{
//     margin:0 10px 10px 0;
//     padding:10px 20px;
//     border:1px solid #ddd;
// }
// .pay_radio:checked+.pay_t{
//     color:#e00;
//     border:1px solid #e00;
// }
.cart_block.discode {
	.discode-enter {
		input {
			width: 8rem;
		}
	}
}
.cart_block.logistics {
	.cart_b_t {
		line-height: 1.2;
		width: 125px;
		&:nth-child(3) {
			width: 40px;
		}
		&:last-child {
			width: auto;
		}
	}
}
.cart_block.orderprice {
    position: sticky;width: 100%;bottom: 0;left: 0;
    margin: 0;
    background: white;
    box-shadow: 0px -5px 5px #eee;
	.cart_sub_b {
		justify-content: flex-end;
		padding: 8px 5px 8px 10px;
        border:0;
        &:first-child{
            border-bottom:1px solid #ccc;
        }
        &:last-child{
            border-top:1px solid #ccc;
        }
        &.align_l{
            justify-content: space-between;
            .price{
                position: relative;
                &:after{
                    content: "-";
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

	}
    .price{
        margin:0 0 0 20px;
    }
}
.cart_b_t_l{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    small{
        font-size:.7rem;
        color:#888;
    }
}
.coin_input{
    width: 45px;
    margin:0 3px;
    padding: 2px 8px;
    font-size:1.1rem;
    font-weight: 700;
    color:#e00;
    border:1px solid #ccc;
    text-align: center;
}
.code_input{
    width: 100px;
    margin:0 3px;
    padding: 3px 8px;
    color:#333;
    border:1px solid #ccc;
}
.code_btn{
    margin:0 3px;
    padding: 5px 8px;
    font-size:.85rem;
    color:white;
    background: #0176bb;
    vertical-align: middle;
}
.trans_fee{
    font-size:.7rem;
    color:#e00;
}
.cart_block.orderconfirm {
	margin: 0;
	.cart_sub_b {
		justify-content: flex-end;
		align-items: baseline;
		padding: 12px 5px 12px 10px;
	}
	.cart_b_t {
		line-height: 1.2;
		&:nth-child(2) {
			flex-basis: 180px;
		}
	}
	small {
		color: #999;
		font-size: .9rem;
	}
}

.line{
	position: relative;
	margin:10px 0 0;
	padding: 10px;
	background-color: white;
}

.pay_info{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.pay_way,.pay_way_lb{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0 5px;
	font-size: .9rem;
}
.paydiv,.invo_credit{
	display: none;
}
.form{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0 0 10px;
	input{
		padding:8px;
		border:none;
		background: #eee;
	}
	input[type="email"]{
		width:215px;
	}
	input[autocomplete="address-line1"]{
		width:350px;
	}
	&:last-child{
		margin:0;
	}
	&.addr,&.expdate{
		align-items: baseline;
	}
	&.expdate{
		flex-flow: row wrap;
		p{
			margin: 0 5px 0 0;
			font-size:.7rem;
		}
		input{
			width: 40px;
			margin:0 5px 0 0;
		}
		.form_input{
			display: flex;
			align-items: center;
		}
		.select_b{
			margin: 0;
		}

	}
}
.red{
	font-size: .85rem;
    color: #d00;
    margin: 5px 0 0;
}
.red_alert{
    margin: 0 0 0 30px;
	font-size:.9rem;
	color:#d00;
}
.select_b{
	margin: 0px 0 10px;
	select{
		margin-right:3px;
		padding: 3px;
		color:#555;
	}
}

.form_t{
	min-width: 80px;
	margin: 0 5px 0 0;
	text-align: right;
	font-size:.8vw;
}
.form_same{
	display: flex;
	align-items: center;
	font-size:.8vw;
}
.invo_b{
	margin: 10px 0 0;
	line-height: 1.6;
	> p, > input{
		margin:0 0 0 25px;
	}
	.form{
		margin:5px 0 5px 11px;
	}
	.form_t{
		color:#888;
	}
}
.invo_per{
	display: flex;
	align-items: center;
	label{
		margin: 0 3px 0 0;
	}
	a{
		color:#06c;
		font-size:.85rem;
		text-decoration: underline;
	}
}
.remind{
	color:#d00;
	font-size:.9rem;
}
.alert{
	font-size:.85rem;
	color:#d00;
	background: none;
	padding: 0;
}
.nortxt{
	color:#888;
	font-size:.9rem;
}
.phone_invo_input{
	width: 165px;
	padding:5px;
	border:none;
	background: #eee;
	border: none;
}
.agree{
	display: flex;
    align-items: center;
	margin: 20px 10px;
	font-size:.8rem;
	a{
		color:#06c;
		font-size:.85rem;
		text-decoration: underline;
	}
}

.bot_line{
	margin: 0 10px 0 0;
	text-align: right;
}

.orderchk,.chkout{
    position: sticky; bottom:0;left:0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding:0;
    box-shadow: 0px -5px 5px #eee;
}
.line.chkout,.line.orderchk{
    justify-content: center;
	padding:0;
}
.before_top{
	a{
		display: block;
		padding: 10px;
		color:#06c;
		text-decoration: underline;
	}
}


// css lightbox
.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	overflow: hidden;
	z-index: 50;
	.con_t{
		font-size:1rem;	
		text-align: center;
	}
	.content {
		width: 90%;
		height: auto;
		padding: 10px;
		background: #fff;
        color: #333;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		max-height: 0%;
		max-width: 0%;
		border: 3px solid #fff;
		box-sizing: border-box;
		box-shadow:0 0 8px rgba(0,0,0,.3);
		line-height: 1.4;
	}
	.con_long{
		height:350px;
		margin:10px 0;
		overflow: auto;
		line-height: 1.6;
		p{
			color:#888;
			font-size:.8rem;
		}
	}
	.cont_ul,.con_sub_ul{
		list-style:decimal outside;
		margin:10px 0 20px 10px;
		li{
			margin:0 0 5px 12px;
		}
	}
	.con_sub_ul{
		list-style:upper-alpha outside;
	}
	.con_sub_t{
		margin:10px 0;
	}
	ul{
		display: block;
		margin:20px 0;
		list-style:disc outside;
	}
	li{
		margin:10px;
		color:#888;
		font-size:.8rem;
		a{
			color:#06c;
			text-decoration: underline;
		}
	}
	.con_end{
		text-align: right;
	}
	&:target {
		opacity: 1;
		top: 0;
		bottom: 0;
		.content, img {
			max-height: 100%;
			max-width: 100%;
		}
		.lightbox-close {
			top: 5%;
		}
	}
}
.box_btn{
	display: block;
	padding:10px 0 10px 30px;
	text-align: center;
	color:white;
	background-color: #f5281d;
	border-radius: 20px;
	letter-spacing: 30px;
}

.lightbox-close {
	display: block;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	background: #139dd7;
	color: #fff;
	position: absolute;
	top: 10%;
	right: 5%;
	&:before, &:after {
		content: " ";
		display: block;
		height: 30px;
		width: 1px;
		background: #fff;
		position: absolute;
		left: 26px;
		top: 10px;
		transform:rotate(45deg);
	}
	&:after {
		transform:rotate(-45deg);
	}
}
@media only screen and (max-width: 730px) {
	.cart_last {
		margin: 0;
		font-size: 1rem;
		.btn-remove {
			padding: 2px;
			font-size: .7rem;
		}
	}
	.cart_img {
		img {
			width: 70px;
			flex-basis: 70px;
		}
	}
	.cart_name {
		font-size: .9rem;
	}
}
@media only screen and (max-width: 490px) {
	[class*="btn-"]{
		font-size:1rem;
		padding: 10px 0;
	}
	.order_chk_label {
		width: 15px;
		height: 15px;
		&:after {
			content: "";
			position: absolute;top: 4px;left: 3px;
			height: 3px;
			width: 7px;
			border-left: 3px solid #fff;
			border-bottom: 3px solid #fff;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	.line{
		padding:5px;
	}
	.price{
		font-size:.9rem;
	}
	.cart_cupn{
		font-size:.8rem;
	}
	.cart_b_t_l{
		font-size:.8rem;
		line-height: 1.4;
	}
	.coin_input{
		width:35px;
		font-size:.8rem;
	}
	.code_btn{
		padding:2px 8px;
	}
	.pay_label{
		width: 45%;
		font-size: .8rem;
	}
	.payway_t{
		min-width:65px ;
		font-size:.8rem;
	}
	.cart_img {
		img {
			width: 50px;
		}
	}
	.cart_name_link{
		margin-bottom: 5px;
		font-size: .8rem;
	}
	.btn-cancel {
		margin:0 10px;
		background-color: #888;
	}
	.cart_select{
		width: 70px;
	}
	.red_alert{
		margin:0 0 0 5px;
	}
	
}
@media only screen and (max-width: 414px) {
	.cart-lack-tag {
		font-size: .7rem;
	}
	.cart_gift_item {
		li {
			max-width: 145px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.cart_b_t {
		font-size: .85rem;
	}
}
@media only screen and (max-width: 320px) {
	.order-list {
		.cart_info {
			width: 140px;
		}
	}
	.cart_block {
		.cart_sub_b {
			padding: 10px 5px;
		}
	}
	.deliver_info {
		p {
			width: 180px;
		}
	}
	.cart_img {
		img {
			width: 60px;
		}
	}
	.cart_info {
		padding: 0;
	}
	.cart-count {
		min-width: 40px;
		font-size: .9rem;
		del {
			font-size: .9rem;
		}
	}
	.cart_last {
		font-size: .9rem;
		del {
			font-size: .9rem;
		}
	}
	.price {
		font-size: .9rem;
		del {
			font-size: .9rem;
		}
	}
}