@import "partials/base";
@import "partials/color";

@import "partials/font_iconmoon";
@import "partials/head";
@import 'partials/foot';

@import "partials/cupn";
@import "partials/page_item";
@import "3rd-party/_swiper.scss";

.body_container{
    padding: 0;
	min-height: calc(100vh - 82px);
}
.site-main{
    width:1220px;
    margin:0 auto;
    position: relative;
}
.container{
    width: 1220px;
    margin:0 auto;
}
.sub_head{
	.container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}
.cupn_slide{
    overflow: hidden;
}
.site-header {
    background-color: #f5281e;
    .main_head{
        padding:18px 0;
        .head_func{
            background-color: transparent;
        }
    }
}
.edg_pic{
    position: absolute;top:0;left:0;
    width: 225px;height: 40px;
    background: url('../img/edge.png') no-repeat;
    z-index: 10;
    p{
        position: absolute;top: 10px;left: 50px;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    span{
        color:#ff0;
    }
   
}
.per{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin:12px 0 0;
    padding: 25px 0 0;
    border-top: 5px solid #f30;
    background-color: #ece8df;
    &.hot_rec{
        border-top: 5px solid #09f;
        .edg_pic{
            background: url('../img/edge_b.png') no-repeat;
        }
    }

    .name{
        height:95px;
        font-size:1.6rem;
        color:black;
        line-height: 1.2;
        word-break: break-word;
        overflow: hidden;
    }
}
.per_info{
    width: 50%;
}
.per_t{
    position: absolute; top:13px; left:225px;
    font-size:1rem;
    color:#d00;
    letter-spacing: 0.3px;
}
.per_img{
    display: block;
    width:300px;
    height:300px;
    border-radius:10px;
    background-color: white;
}
.per_l{
    display: flex;
    flex-flow:row nowrap;
    justify-items: stretch;
    padding:20px;
    border-radius:5px;
}
.per_buy{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; 
    margin: 30px 0 0 20px;
    .dur{
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 1.2;
        color:$price;
        letter-spacing: 1px;
        font-family: sans-serif;
        span{
            font-size:1.2rem;
        }
    }
    .per_price{
        display: flex;
        flex-flow: column nowrap;
    }
    .nor{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        margin:0 10px 5px 0;
        font-size:1rem;
        color:#888;
    }
    .del{
        margin-left:3px;
        color:#888;
        font-size:1.2rem;
    }
    .pay_dis{
        display:flex;
        flex-flow:row wrap;
        align-items: baseline;
        color:$price;
        font-size:1.2rem;
        .price{ 
            margin-left:5px;
            font-size:2.5rem;
            color:$price;
        }
        .btn-imd{
            width: 100%;
            margin-top:10px;
            padding: 9px 0 10px 12px;
            font-size: 1.2rem;
            letter-spacing: 16px;
            border: none;
            color: white;
            background-color: #d00;
            cursor: pointer;
            line-height: 1;
            align-self:center;
        }
    }
}
.item_t{
    margin: 20px 0;
    font-size:1.2rem;
}