footer.site-footer
	.container
		img.foot_logo(src="img/foot_logo.png", alt="")
		.social
			a.fb(href="#")
				i.fab.fa-facebook-square
			a.line(href="#")
				i.fab.fa-line
			a.ig(href="#")
				i.fab.fa-instagram-square
			a.yt(href="#")
				i.fab.fa-youtube-square
		.inner
			.foot_left
				.contact
					.time
						p TEL：
							span 02-2711-6580
						p Email：
							a(href="#")
								span qmomo@.com.tw
						p 客服服務時間：
							span Monday-Sunday  9am-10pm
						p 客服專線：
							span 02-2711-2219
			.foot_right
				.sitemap_block
					//- .mid_title
					//- 		| ABOUT US
					.site_map_bot
						.sitemap
							//- p 關於我們
							a(href="story.html") 品牌故事
							a(href="#") 門市資訊
							a(href="#") 購物說明
							a(href="#") 隱私權政策
						.sitemap
							//- p 購物說明
							a(href="#") 付款方式
							a(href="#") 運送方式
							a(href="#") 退換貨方式

		//- .ciciza_foot
		//- 	.sm_title
		//- 		| Hello! My name is Ciciza. 
		//- 		br
		//- 		| May I make a friend with you?
		//- 		br
		//- 		| I’m Qmomo’s younger sister.
		//- 	a(href="#")
		//- 		img(src="img/foot_ciciza.png", alt="")
		//- .sitemap_block
		//- 			.mid_title
		//- 					| ABOUT US
		//- 			.site_map_bot
		//- 				.sitemap
		//- 					//- p 關於我們
		//- 					a(href="story.html") 品牌故事
		//- 					a(href="#") 門市資訊
		//- 					a(href="#") 購物說明
		//- 					a(href="#") 隱私權政策
		//- 				.sitemap
		//- 					//- p 購物說明
		//- 					a(href="#") 付款方式
		//- 					a(href="#") 運送方式
		//- 					a(href="#") 退換貨方式

		.copyright 
			| COPYRIGHT © by 愛桃子有限公司 ALL RIGHTS RESERVED.
//- .ciciza_block
//- 	a(href="https://www.ciciza.com.tw/" class="ciciza")
//- 		img(src="img/ciciza.png", alt="ciciza官網")
//- 	i.fas.fa-times
.float_block
	//- a.foot_link_open(href="#")
	//- 	i.fas.fa-chevron-right
	a.ciciza(href="https://www.ciciza.com.tw/")
		img(src="img/side_ciciza.svg", alt="")
		span 姐妹品牌小褲褲
	a(href="https://qmomo.shop/%E9%96%80%E5%B8%82%E8%A9%A6%E7%A9%BF%E6%9C%8D%E5%8B%99%E9%A0%90%E7%B4%84")
		img(src="img/side_reservation.svg", alt="")
		span 預約試穿
	a(href="https://www.ciciza.com.tw/")
		img(src="img/side_ciciza_sis.svg", alt="")
		span 聯絡客服
	a.fb(href="https://www.facebook.com/qmomotw")
		img(src="img/side_fb.svg", alt="")
		span Facebook
	a.ig(href="https://www.instagram.com/qmomo_official/")
		img(src="img/side_ig.svg", alt="")
		span instagram
	a(href="https://www.youtube.com/channel/UCjEfuTket3tmNsM_8G6shKQ")
		img(src="img/side_yt.svg", alt="")
		span YouTube
	.gotop
		i.fas.fa-chevron-up
		i.fas.fa-chevron-down

//- 圖片預覽視窗
#cart_popup.cart_popup
	.cart_pop_body
		.cart_popup_top
			.swiper-container.gallery_top
				.swiper-wrapper
					.swiper-slide
						img(src='img/item_long_01.jpg', alt='親膚天絲')
					.swiper-slide 
						img(src='img/item_long_02.jpg', alt='我只要陷阱妹')
					.swiper-slide 
						img(src='img/item_long_03.jpg', alt='我愛睡覺覺')
					.swiper-slide 
						img(src='img/item_long_04.jpg', alt='我愛睡覺覺')
					.swiper-slide
						img(src='img/item_long_05.jpg', alt='美胸BraTop')
					.swiper-slide
						img(src='img/item_long_06.jpg', alt='運動內衣')
					.swiper-slide
						img(src='img/item_long_07.jpg', alt='運動內衣')
				.swiper-button-next.swiper-button-white
				.swiper-button-prev.swiper-button-white
			.swiper-container.gallery_thumbs
				.swiper-wrapper
					.swiper-slide
						img(src='img/item_long_01.jpg', alt='親膚天絲')
					.swiper-slide 
						img(src='img/item_long_02.jpg', alt='我只要陷阱妹')
					.swiper-slide 
						img(src='img/item_long_03.jpg', alt='我愛睡覺覺')
					.swiper-slide 
						img(src='img/item_long_04.jpg', alt='我愛睡覺覺')
					.swiper-slide
						img(src='img/item_long_05.jpg', alt='美胸BraTop')
					.swiper-slide
						img(src='img/item_long_06.jpg', alt='運動內衣')
					.swiper-slide
						img(src='img/item_long_07.jpg', alt='運動內衣')

		a(href="item.html").button.large.btn-addcart 加入購物車
		a.pop_close(href="#")
			i.fas.fa-times