header.site-header
	.container
		.header_top
			.header_top_l
				a.btn_menu
					i.fas.fa-bars
			.header_top_m
				.logo
					a(href="index.html")
						h1 Qmomo
						img(src="img/qmomo_logo_white.png",alt="qmomo logo")
			.header_top_r
				.search
					a(href="search.html")
						i.fa.fa-search
				//- ul.header_top_r_item
					//- li
					//- 	.member
					//- 		i.fas.fa-user
					//- 		.member_box
					//- 			a(href="#") 訂單查詢
					//- 			a(href="#") 會員專區
					//- 			a(href="#") 我的收藏
					//- 			a(href="#") 我的優惠券
					//- 			a(href="#") 會員登入/註冊
					//- li
					//- 	.cart
					//- 		i.fas.fa-shopping-cart
					//- 		span.cart_notify 
					//- 			span.num 9
					//- 		.cartbox
					//- 			.cart_item_block
					//- 				.cartbox_item
					//- 					a.cartbox_img(href='#')
					//- 						img(src='img/1000x1000_prod_2.jpeg', alt='img')
					//- 					.cartbox_info
					//- 						a(href='#') 內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
					//- 						p 1 x $250
					//- 					a.remove_product(href='#')
					//- 						i.far.fa-trash-alt
					//- 				.cartbox_item
					//- 					a.cartbox_img(href='#')
					//- 						img(src='img/1000x1000_prod_3.jpeg', alt='img')
					//- 					.cartbox_info
					//- 						a(href='#') 內衣 【微甜勾溝】L型包覆舒適成套內衣(魔幻紫)
					//- 						p 1 x $250
					//- 					a.remove_product(href='#')
					//- 						i.far.fa-trash-alt
					//- 				.cartbox_item
					//- 					a.cartbox_img(href='#')
					//- 						img(src='img/1000x1000_prod_4.jpeg', alt='img')
					//- 					.cartbox_info
					//- 						a(href='#') 內衣 【微甜勾溝】L型包覆舒適成套內衣(魔幻紫)
					//- 						p 1 x $250
					//- 					a.remove_product(href='#')
					//- 						i.far.fa-trash-alt
					//- 				.cartbox_item
					//- 					a.cartbox_img(href='#')
					//- 						img(src='img/1000x1000_prod_5.jpeg', alt='img')
					//- 					.cartbox_info
					//- 						a(href='#') 內衣 【微甜勾溝】L型包覆舒適成套內衣(魔幻紫)
					//- 						p 1 x $250
					//- 					a.remove_product(href='#')
					//- 						i.far.fa-trash-alt
					//- 				.cartbox_item
					//- 					a.cartbox_img(href='#')
					//- 						img(src='img/1000x1000_prod_6.jpeg', alt='img')
					//- 					.cartbox_info
					//- 						a(href='#') 內衣 【微甜勾溝】L型包覆舒適成套內衣(魔幻紫)
					//- 						p 1 x $250
					//- 					a.remove_product(href='#')
					//- 						i.far.fa-trash-alt
					//- 			.cartbox_item
					//- 				.total
					//- 					span.cartbox_total_title Total
					//- 					span.cartbox_total_price $500
					//- 			a.checkout(href='checkout.html') Checkout
		.search-input
			form(action="")
				input(type='text', name='', id='',placeholder='請輸入關鍵字')
	include _menu.pug
