.item
	figure.photo
		a(href="item.html")
			img(src="img/item_long_01.jpg", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_02.jpg", alt="內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				a(href="#")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_03.jpg", alt="內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_04.jpg", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
		.func
			.dis_price $1290
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_05.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
	.info
		a(href="item.html")
			h3.item_title
				|運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_06.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
	.info
		a(href="item.html")
			h3.item_title
				|運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_07.jpg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
	.info
		a(href="item.html")
			h3.item_title
				|外套【賴床必備】舒適好棉居家外套 (2色)
		.func
			.dis_price $1090
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_08.jpg", alt="BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)")
	.info
		a(href="item.html")
			h3.item_title
				|BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)
		.func
			.dis_price $890
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_09.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
	.info
		a(href="item.html")
			h3.item_title
				|運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_10.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
	.info
		a(href="item.html")
			h3.item_title
				|運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_11.jpg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
	.info
		a(href="item.html")
			h3.item_title
				|外套【賴床必備】舒適好棉居家外套 (2色)
		.func
			.dis_price $1,090
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_12.jpg", alt="BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)")
	.info
		a(href="item.html")
			h3.item_title
				|BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)
		.func
			.dis_price $890
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_13.gif", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_14.gif", alt="內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_15.gif", alt="內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
.item
	igure.photo
		a(href="item.html")
			img(src="img/item_long_16.gif", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
	.info
		a(href="item.html")
			h3.item_title
				|內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
		.func
			.dis_price $1290
			.track
				i.far.fa-heart
				a(href="item.html")
					i.fas.fa-search
				i.fas.fa-external-link-alt
