nav.site-menu
	.container
		.member_func
			.member
				a(href="mem_login.html") 
					i.fas.fa-user
			.cart
				a(href="cart_orderlist.html") 
					i.fas.fa-shopping-cart
					span.cart_notify 
						span.num 9
		ul.main_menu
			li
				a(href='category.html') 
					h2 全站商品
			li
				a(href='category.html') 
					h2 新品上市
			li
				a(href='category.html') 
					h2 人氣排行
			li
				a(href='category.html') 
					h2 性感情趣
			li
				a(href='category.html') 
					h2 隱形胸罩
			li
				a(href='category.html') 
					h2 推推系列/平口內衣
					span.care
					i.fas.fa-chevron-right
				ul.sub_menu
					li
						a(href='category.html') 
							h3 蕾絲
					li
						a(href='category.html') 
							h3 莫代爾
					li
						a(href='category.html') 
							h3 側扣
					li
						a(href='category.html') 
							h3 後扣
					li
						a(href='category.html') 
							h3 這個長度很長長到爆會斷行
			li
				a(href='category.html') 
					h2 晚安機能睡衣
			li
				a(href='category.html') 
					h2 棉花糖女孩
			li
				a(href='category.html') 
					h2 包覆副乳
			li
				a(href='category.html') 
					h2 運動
			li
				a(href='category.html') 
					h2 內褲
			li
				a(href='category.html') 
					h2 品牌小物
		