doctype html
html(lang='zh-Hant-TW')
	head
		include _head.pug
		title Qmomo
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/about.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header.pug
		
		.about_main
			.container
		
				include _about_menu.pug
				.about_content
					h3 付款方式
					.privacy_block
						.sm_title 信用卡即時線上一次刷卡付款
						p
							| 方便又好用的付款方式，當您選擇線上刷卡方式進行交易時，作業流程透過SSL加密機制，保障您的個人隱私資料。
					.privacy_block
						.sm_title 超商付款取貨
						p
							| 適合不方便在家收貨或者不方便使用ATM與無信用卡的消費者。
					.privacy_block
						.sm_title ATM付款
						p
							| 適用沒有信用卡或者不方便前往超商取貨付款的消費者。使用ATM付款方式只需將訂單款項透過實體/網路ATM或者網路銀行直接匯入系統指定帳號即可完成付款。
					.privacy_block
						.sm_title 貨到付款
						p
							| 適用沒有信用卡或者不方便前往超商取貨付款的客戶。使用貨到付款方式只需於配達貨物時，將訂單款項以新台幣現金的方式繳款即可完成付款。
					.privacy_block
						.sm_title LINE Pay
						p
							| 付款不需輸入信用卡資訊及3D驗證，僅需輸入專屬密碼即可使用信用卡進行付款，節省您的付款時間。
					.privacy_block
						.sm_title 街口支付
						p
							| 請先備妥您行動裝置中的街口支付應用程式，可使用街口儲值帳戶/銀行帳戶，並搭配街口幣進行付款。
					.privacy_block
						.sm_title Apple Pay
						p
							| 請先備妥您行動裝置中的Apple Pay Wallet，可使用綁定的信用卡結帳，交易過程全程加密，交易安全有保障。
		include _footer_m.pug
