a.item(href="item.html")
	figure.photo
		img(src="img/item_long_17.jpg", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
	.info
		h3.item_title
			| 內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_18.jpg", alt="內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)")
	.info
		h3.item_title
			| 內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_19.jpg", alt="內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)")
	.info
		h3.item_title
			| 內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_20.jpg", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
	.info
		h3.item_title
			| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
		.func
			.dis_price $1290
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_21.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_22.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_23.jpg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
	.info
		h3.item_title
			| 外套【賴床必備】舒適好棉居家外套 (2色)
		.func
			.dis_price $1090
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_24.jpg", alt="BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)")
	.info
		h3.item_title
			| BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)
		.func
			.dis_price $890
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_25.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(瘦瘦黑)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_26.jpg", alt="運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)")
	.info
		h3.item_title
			| 運動內衣 【教練牽牽】魅力包覆運動內衣(臉紅紅)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_27.jpg", alt="外套【賴床必備】舒適好棉居家外套 (2色)")
	.info
		h3.item_title
			| 外套【賴床必備】舒適好棉居家外套 (2色)
		.func
			.dis_price $1,090
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_28.jpg", alt="BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)")
	.info
		h3.item_title
			| BRA TOP 【 UP TO U! 】 桃心領美背細肩帶BraTop(深海藍)
		.func
			.dis_price $890
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_29.jpg", alt="內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)")
	.info
		h3.item_title
			| 內衣【我嘦ㄐㄧㄠˋ陷阱妹】兩穿式軟鋼圈成套內衣(紅)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_30.jpg", alt="內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)")
	.info
		h3.item_title
			| 內衣【早安妞！Morning Bra】軟鋼圈深Ｖ蕾絲日間美胸內衣(性感霧黑)
		.func
			.dis_price $1190
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_31.jpg", alt="內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)")
	.info
		h3.item_title
			| 內衣 【龐德女郎】 軟鋼圈點點拼接蕾絲成套內衣(玫瑰粉)
		.func
			.dis_price $990
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt
a.item(href="item.html")
	figure.photo
		img(src="img/item_long_32.jpg", alt="內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)")
	.info
		h3.item_title
			| 內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
		.func
			.dis_price $1290
			.track
				i.far.fa-heart
				i.fas.fa-shopping-cart
				i.fas.fa-external-link-alt