doctype html
html
	head
		include src/_meta.pug
		link(href='css/cate.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					include src/_tagcloud.pug
			.container
				include src/_functop.pug
			.site-main
				.container
					.cate_main
						//- 分類商品
						include src/_cateitem.pug
						//- 分頁
						include src/_pagenav.pug
						//-  相關商品
					include src/_item_relative.pug
					
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/cate.js')
