doctype html
html
	head
		include src/_meta.pug
		link(href='css/cate.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					.breadcrumb
						a.link(href="index.html") 首頁
						span > 手機. 配件. 穿戴. 耳機  
			// 分類
			.site-main
				.container
					.func_top
						.sort
							.sort_check
								input.sort_radio#sort1(type="radio", name="sort" checked="checked")
								label.sort_lb(for="sort1") 暢銷排行
							.sort_check
								input.sort_radio#sort2(type="radio", name="sort")
								label.sort_lb(for="sort2") 最新上架
							.sort_check
								input.sort_radio#sort3(type="radio", name="sort")
								label.sort_lb(for="sort3") 價格由高到低
							.sort_check
								input.sort_radio#sort4(type="radio", name="sort")
								label.sort_lb(for="sort4") 價格由低到高
						a.icon.icon_pictxt(href="#")
					.cate_main
						.cate_items
							- var j = 31;
							- for (var i = 1; i < j; i++)
								a.item(href="item.html")
									.photo
										img(src='img/sample/cate/180_'+ i+'.jpg', alt='商品名稱', title='商品名稱')
									.per_r_info
										h3.name 大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具
										.per_price
											.price $999,900
											p.rush(href="#") 搶購
						// 相關商品
						include src/_item_relative.pug
					.pagenav
						a(href="#").nav.page_head.active 第一頁
						a(href="#").nav.page_ten_up 上10頁
						
						.page_mid
							a(href="#").nav.page_prev 上一頁
							a(href="#").nav.page_num.active 1
							a(href="#").nav.page_num 2
							a(href="#").nav.page_num 3
							a(href="#").nav.page_num 4
							a(href="#").nav.page_num 5
							a(href="#").nav.page_num 6
							a(href="#").nav.page_num ...
							a(href="#").nav.page_num 10
							a(href="#").nav.page_next 下一頁

						a(href="#").nav.page_ten_down 下10頁
						a(href="#").nav.page_last 最末頁
						
			include src/_foot.pug
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/cate.js')
