doctype html
html
	head
		include src/_meta.pug
		link(href='css/orderlist.css', rel='stylesheet')
	body
		.body_container
			.cart_head
				.container
					a.back(href="index.html")
						i.icon.icon_swiper_prev 
						| 回首頁
					a.logo(href="index.html", title="回到friDay")
						i.icon.icon_friday_logo
			.site-main
				.container
					.order_all.confirm
						.order_head
							h3 購物車
						mixin cartimg(i,src)
							.cart_item
								.cart_img
									img(src='../img/sample/'+ src+'.jpg', alt="商品圖片")
								.cart_info
									.cart_name
										a.cart_name_link(href="item.html") 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g
										.cart_size 白色 600ml
									.cart_gift
										p 贈品
										ul.cart_gift_item
											li 3M百利爐具專用菜瓜布x1
											li 室內芳香劑x1
								.cart-count x99 
								.unit_price
									//- .dis_t 單價
									.dis_price $99,999
						+cartimg(1,'05_10_182')
						+cartimg(2,'05_18_182')

						.cart_block.orderconfirm
							.cart_sub_block
								.cart_block_txt  收件方式：
								.cart_block_txt
									.deliver_way
										label(for="deliver_home")
											input(type="radio", name="deliver_way", id="deliver_home", value="1")
											| 宅配到家
										label(for="deliver_mart")
											input(type="radio", name="deliver_way", id="deliver_mart", checked="checked", value="2")
											| 超商取貨
							
						#deliver_block1.deliver_block(style='display: none;')
							.cart_block.orderman
								.cart_sub_block
									.ordername
										input(type="text", placeholder="訂購人姓名")
										.sex
											label(for="male")
												input#male(type="radio", name="sex")
											| 先生
											label(for="female")
												input#female(type="radio", name="sex")
											| 小姐
									input(type="email", placeholder="訂購人E-mail")
									input(type="tel", placeholder="訂購人手機號碼")
							.cart_block
								.cart_sub_block.deliver_box
									.deliver_info
										p 宅配收件資訊：
										p
											span.cart_block_txt 收件人：
											| 遠時數位科技
										p
											span.cart_block_txt 聯絡電話：
											| 0912-245678
										p
											span.cart_block_txt 收件地址：
											| 114台北市內湖區瑞光路468號7F
									a(href="#").deliver_addr 新增/修改收件地址

						#deliver_block2.deliver_block
							.cart_block.orderman
								.cart_sub_block
									.ordername
										input(type="text", placeholder="訂購人姓名")
										.sex
											label(for="male")
												input#male(type="radio", name="sex")
											| 先生
											label(for="female")
												input#female(type="radio", name="sex")
											| 小姐
									input(type="email", placeholder="訂購人E-mail")
									input(type="tel", placeholder="訂購人手機號碼")
							.cart_block
								div(class="cart_sub_block deliver_box")
									div(class="deliver_info")
										p
											span.cart_block_txt 選擇門市：
											label(for="mart")
												input#mart(type="radio", name="mart")
												| 7-11超商
										p
											span.cart_block_txt 門市店名：
											| 中坡
										p
											span.cart_block_txt 門市地址：
											| 台北市南港區忠孝東路六段21號
									a(href="#").deliver_addr 新增/修改超商門市
						.cart_block.payway_b
							.payway_t 付款方式：
							.payway
								label.pay_label(for="payment5")
									input.pay_radio#payment5(type="radio", name="payment" checked)
									p.pay_t 信用卡一次付清
								label.pay_label(for="payment9")
									input.pay_radio#payment9(type="radio", name="payment" checked)
									p.pay_t 信用卡分期付款
								label.pay_label(for="payment6")
									input.pay_radio#payment6(type="radio", name="payment")
									p.pay_t 信用卡紅利折抵
								label.pay_label(for="payment1")
									input.pay_radio#payment1(type="radio", name="payment")
									p.pay_t Line Pay
								label.pay_label(for="payment2")
									input.pay_radio#payment2(type="radio", name="payment")
									p.pay_t 街口支付
								label.pay_label(for="payment3")
									input.pay_radio#payment3(type="radio", name="payment")
									p.pay_t 悠遊付
								label.pay_label(for="payment4")
									input.pay_radio#payment4(type="radio", name="payment")
									p.pay_t HAPPY GO Pay
								label.pay_label(for="payment7")
									input.pay_radio#payment7(type="radio", name="payment")
									p.pay_t ATM
								label.pay_label(for="payment8")
									input.pay_radio#payment8(type="radio", name="payment")
									p.pay_t web-ATM
						.cart_block
							.cart_sub_block.card_num
								.card_line
									input(type="text", placeholder="信用卡號")
									p 請輸入信用卡卡號
								.card_line_m
									.card_fill
										select
											option 1月
										p 請輸入信用卡截止月份
									.card_fill
										select
											option 2020年
										p 請輸入信用卡截止年份
									.card_fill
										input(type="text", placeholder="信用卡末三碼")
										br
										p 請輸入信用卡背後末三碼
						.cart_block.orderman
							
							.cart_sub_block
								h3  持卡人資訊：
									label(for="chk1")
										input#chk1.chk_btn(type="checkbox", name="chkinfo", value="1", checked="checked")
										| 同訂購人
							.cart_sub_block
								input(type="text", placeholder="持卡人姓名")
								input(type="tel", placeholder="持卡人手機號碼")
							.cart_sub_block.radio.stag
								.cart_block_txt  分期方式：
								.cart_block_txt
									.order_radio_all
										input#radio3.radio_btn(type="radio", name="sp", value="1", checked="checked")
										label.radio-label(for="radio3") $163 x 3期0利率
									.order_radio_all
										input#radio4.radio_btn(type="radio", name="sp", value="2")
										label.radio-label(for="radio4") $81 x 6期0利率




										

						.cart_block.orderprice
							.cart_sub_block
								.cart_block_txt  商品金額：
								.cart_block_txt
									.price $999,900
							.cart_sub_block
								.cart_block_txt
									input.order_chk(type="checkbox", id="s_gold" checked)
									label.order_chk_label(for="s_gold")
									| 使用遠傳幣折抵：
									input.coin_input(type="text", name="",value="0")
								.cart_block_txt
									.price $-90
							.cart_sub_block
								.cart_block_txt  運費：
								.cart_block_txt
									.price $90
									small (滿$490免運費，還差$100)
							.cart_sub_block
								.cart_block_txt 總金額：
								.cart_block_txt
									.total_price $999,900
							.addcart
								a.btn-continue(href="orderlist.html") 上一頁
								a.btn-confirm(href="confirm.html") 結帳
	script(src='js/3rd-party/jquery-3.6.0.min.js')
	script(src='js/cart.js')
	include src/_foot.pug


