doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
		title friDay 
		meta(content='friDay', name='description')
		meta(content='Orange', name='author')
		meta(content='width=device-width, initial-scale=1.0', name='viewport')
		link(rel='icon', href='img/baichain.ico')
		link(href='css/index.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					include src/_tagcloud.pug
			.site-main.clearfix(role='main')
				.container
					.per.hot_cho
						.edg_pic
							p 熱賣
								span 特選
						.per_info
							a.per_l(href='item.html')
								.per_buy
									h2.name APPLE Iphone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											span.currency $
											p.price  195,900
											button.button.large.btn-imd 立即購買
								.per_dur
									img.per_img(src='img/sample/item_019.jpg', alt='商品名稱', title='商品名稱')
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														p.currency $
														p.price  999,900
														p.rush(href="#") 搶購 
									+slider('item_01')
									+slider('item_02')
									+slider('item_03')
									+slider('item_04')
									+slider('item_01')
									+slider('item_02')
								.swiper-button-next
								.swiper-button-prev
					.ad_banner
						img(src='img/1200x100_ad01.jpg', alt='廣告圖')
					.per.hot_rec
						.edg_pic
							p 夯品
								span 推薦
						.per_info
							a.per_l(href='item.html')
								.per_buy
									h2.name APPLE Iphone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											span.currency $
											p.price  195,900
											button.button.large.btn-imd 立即購買
								.per_dur
									img.per_img(src='img/sample/item_b_250.jpg', alt='商品名稱', title='商品名稱')
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														p.currency $
														p.price  999,900	
									+slider('02_02_100')
									+slider('02_03_100')
									+slider('02_04_100')
									+slider('02_05_100')
									+slider('02_06_100')
									+slider('02_07_100')
									+slider('02_08_100')
									+slider('02_09_100')
									+slider('02_02_100')
									+slider('02_03_100')
									+slider('02_04_100')
									+slider('02_05_100')
								.swiper-button-next
								.swiper-button-prev
					.spec_prod 
						.spec_slide.swiper-container
							.swiper-wrapper
								mixin slider(big,small_top,small_bot)
									.swiper-slide(href='item.html')
										h2.title 特賣主題
										.spec_block
											a(href="item.html").spec_l
												img(src='img/sample/'+ big+'.jpg', alt='商品名稱', title='商品名稱')
												.spec_info
													h3.name 商品名稱商品名稱商品名稱商品名稱
													.spec_price
														p.currency $
														p.price  999,900
											.spec_r 
												a(href="item.html").spec_r_block
													img(src='img/sample/'+ small_top+'.jpg', alt='商品名稱', title='商品名稱')
													.spec_price
														p.currency $
														p.price  999,900
												a(href="item.html").spec_r_block
													img(src='img/sample/'+ small_bot+'.jpg', alt='商品名稱', title='商品名稱')
													.spec_price
														p.currency $
														p.price  999,900
								+slider('03_01_240','03_02_100','03_03_100')
								+slider('03_04_240','03_05_100','03_06_100')
								+slider('03_07_240','03_08_100','03_09_100')
								+slider('03_01_240','03_02_100','03_03_100')
								+slider('03_04_240','03_05_100','03_06_100')
							.swiper-button-next
							.swiper-button-prev
					include src/_cupn.pug
					.items_bg
						.items
							-var j = 6;
							- for (var i = 0; i < j; i++)
							mixin item(prod_pic)
								a.item(href='item.html')
									.photo
										.float
											img.imgSame(src="img/icon_same.svg", alt="找相似")
											img.imgTrack(src="img/icon_track.svg", alt="找相似")
										img(src='img/sample/'+ prod_pic +'.jpg', alt='商品名稱', title='商品名稱')
									.info
										h3.name(itemprop='name') 商品名稱商品名稱商品商品名稱商品名稱商品
										.price(itemprop='price') 999,999
							+item('05_01_182')
							+item('05_02_182x240')
							+item('05_03_182')
							+item('05_04_182x240')
							+item('05_05_182')
							+item('05_06_182x240')
							+item('05_07_182')
							+item('05_08_182x240')
							+item('05_09_182x240')
							+item('05_10_182')
							+item('05_11_182x240')
							+item('05_12_182')
							+item('05_13_182x240')
							+item('05_14_182')
							+item('05_15_182x240')
							+item('05_16_182')
							+item('05_17_182x240')
							+item('05_18_182')
			include src/_foot.pug
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/3rd-party/swiper-bundle.min.js')
			script(src='js/3rd-party/macy.js')
			script(src='js/index.js')
