doctype html
html
	head
		include src/_meta.pug
		link(href='css/index.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					include src/_tagcloud.pug
			.site-main(role='main')
				.container
					.spec_area
						.spec_duo
							.sepc_single
								.sepc_single_slide.swiper-container
									.swiper-wrapper
										mixin slider(big)
											.swiper-slide(href='item.html')
												.sepc_single_block
													a(href="item.html").spec_l
														.img-mask
														img(src='img/sample/'+ big+'.jpg', alt='商品名稱', title='商品名稱')
										+slider('820x380_03')
										+slider('820x380_01')
										+slider('820x380_02')
										mixin slidertwo(bkg,one,two)
											.swiper-slide(href='item.html')
												.sepc_two_block(style='background:#eee url(img/sample/'+bkg+'.jpg)')
													a(href="item.html").spec_l
														img.fadeimg(src='img/sample/'+ one, alt='商品名稱', title='商品名稱')
													a(href="item.html").spec_r
														img.fadeimg(src='img/sample/'+ two, alt='商品名稱', title='商品名稱')
										+slidertwo('bkg_01','300x300_01.jpg','300x300_02.jpg')
										+slidertwo('bkg_02','nb.png','tv.png')
										+slidertwo('bkg_03','nb.png','tv.png')
										+slidertwo('bkg_04','300x300_01.jpg','300x300_02.jpg')
										+slidertwo('bkg_05','nb.png','tv.png')
										mixin slidertwo(gradient1,gradient2,one,two)
											.swiper-slide(href='item.html')
												.sepc_two_block(style='background: linear-gradient('+gradient1+', '+gradient2+');')
													a(href="item.html").spec_l
														img.fadeimg(src='img/sample/'+ one, alt='商品名稱', title='商品名稱')
													a(href="item.html").spec_r
														img.fadeimg(src='img/sample/'+ two, alt='商品名稱', title='商品名稱')
										+slidertwo('#ffa88f','#f0dec8','make1.png','make2.png')
										+slidertwo('#09f','#000','nb.png','tv.png')
										mixin slidertwo(bkg,one,two)
											.swiper-slide(href='item.html')
												.sepc_two_block(style='background:#eee url(img/sample/'+bkg+'.jpg)')
													a(href="item.html").spec_l.faded(style='color:black;')
														img.fadeimg(src='img/sample/'+ one, alt='商品名稱', title='商品名稱')
													a(href="item.html").spec_r.faded(style='color:black;')
														img.fadeimg(src='img/sample/'+ two, alt='商品名稱', title='商品名稱')
										+slidertwo('bkg_01','300x300_01.jpg','300x300_02.jpg')
										
									.icon.icon_arrow.slide_btn_r
									.icon.icon_arrow.slide_btn_l
							.spec_prod 
								.spec_slide.swiper-container
									.swiper-wrapper
										mixin slider(big,small_top,small_bot)
											.swiper-slide(href='item.html')
												.spec_block
													a(href="item.html").spec_l
														img(src='img/sample/'+ big+'.jpg', alt='商品名稱', title='商品名稱')
													.spec_r 
														a(href="item.html").spec_r_block
															img(src='img/sample/'+ small_top+'.jpg', alt='商品名稱', title='商品名稱')
														a(href="item.html").spec_r_block
															img(src='img/sample/'+ small_bot+'.jpg', alt='商品名稱', title='商品名稱')
										+slider('240_01','03_08_100','03_09_100')
										+slider('240_02','03_02_100','03_03_100')
										+slider('03_04_240','03_05_100','03_06_100')
										+slider('03_01_240','03_02_100','03_03_100')
									.swiper-button-next
									.swiper-button-prev
						.turn_body
							iframe.turn_iframe(src="https://turn.shopping.friday.tw/", frameborder="0")
					.per_duoslide.duo_1
						.per_info
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='img/sample/item_019.jpg', alt='商品名稱', title='商品名稱')
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
										button.button.btn-imd 立即購買
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												.per_dur
													img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
														p.rush(href="#") 搶購 
									+slider('01_02_160')
									+slider('01_03_160')
									+slider('01_04_160')
									+slider('01_05_160')

									+slider('01_02_160')
									+slider('01_03_160')
									+slider('01_04_160')
									+slider('01_05_160')

									+slider('05_03_182')
									+slider('05_05_182')
									+slider('05_07_182')
									+slider('05_01_182')

									+slider('05_03_182')
									+slider('05_05_182')
									+slider('05_07_182')
									+slider('05_01_182')
								.swiper-button-next
								.swiper-button-prev
					.per_duoslide.duo_2
						.per_info
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='img/sample/02_01_250.jpg', alt='商品名稱', title='商品名稱')
									.restock 補貨中
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
										button.button.btn-imd 立即購買
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												.per_dur
													img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
													.restock 補貨中
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
														p.rush(href="#") 搶購 
									+slider('05_01_182')
									+slider('05_03_182')
									+slider('05_05_182')
									+slider('05_07_182')
									
									+slider('05_01_182')
									+slider('05_03_182')
									+slider('05_05_182')
									+slider('05_07_182')

									+slider('05_10_182')
									+slider('05_12_182')
									+slider('05_14_182')
									+slider('05_16_182')

									+slider('05_10_182')
									+slider('05_12_182')
									+slider('05_14_182')
									+slider('05_16_182')
								.swiper-button-next
								.swiper-button-prev
					include src/_cupn.pug
					 
					//- 熱賣特選
					.per.hot_cho
						.topic
							.tab_t 熱賣特選
							.per_tab
								.tab.cho_tab.active(data-chotab='chotab-1') 3C/家電滿額贈
								.tab.cho_tab(data-chotab='chotab-2') 活動促銷特價一
								.tab.cho_tab(data-chotab='chotab-3') 活動促銷特價二
								.tab.cho_tab(data-chotab='chotab-4') 活動促銷特價三
								.tab.cho_tab(data-chotab='chotab-5') 活動促銷特價文字四
						#chotab-1.cho_info.per_info.active
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='img/sample/03_07_240.jpg', alt='商品名稱', title='商品名稱')
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
											button.button.large.btn-imd 立即購買
								
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
													.per_price
														.price $999,900
														p.rush(href="#") 搶購
									+slider('05_03_182')
									+slider('05_05_182')
									+slider('05_07_182')
									+slider('05_01_182')
									+slider('01_02_160')
									+slider('01_03_160')
									+slider('01_04_160')
									+slider('01_05_160')
									
								.swiper-button-next
								.swiper-button-prev
						- var j = 6;
						- for (var i = 2; i < j; i++)
							div.cho_info.per_info(id='chotab-'+ i)
								a.per_l(href='item.html')
									.per_dur
										img.per_img(src='img/sample/item_b_250.jpg', alt='商品名稱', title='商品名稱')
									.per_buy
										h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
										.per_price
											.pay_dis
												.price $195,900
												button.button.large.btn-imd 立即購買
								.per_r.swiper-container
									.swiper-wrapper
										mixin slider(src)
											a.swiper-slide(href='item.html')
												.per_block
													img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
													.per_r_info
														h3.name Grivel 分力盤/系統架設/ Grivel Four 四孔分力盤 RTFOUR 義大利製
														.per_price
															.price $999,900
															p.rush(href="#") 搶購
										+slider('01_02_160')
										+slider('01_03_160')
										+slider('01_04_160')
										+slider('01_05_160')
										+slider('05_03_182')
										+slider('05_05_182')
										+slider('05_07_182')
										+slider('05_01_182')
									.swiper-button-next
									.swiper-button-prev

					.ad_banner
						img(src='img/sample/AD02_1220x100.jpg', alt='廣告圖')

					//- 夯品推薦
					.per.hot_rec
						.topic
							.tab_t 夯品推薦
							.per_tab
								.tab.rec_tab.active(data-rectab='rectab-1') 3C/家電滿額贈
								.tab.rec_tab(data-rectab='rectab-2') 活動促銷特價一
								.tab.rec_tab(data-rectab='rectab-3') 活動促銷特價二
								.tab.rec_tab(data-rectab='rectab-4') 活動促銷特價三
								.tab.rec_tab(data-rectab='rectab-5') 活動促銷特價文字四
						#rectab-1.rec_info.per_info.active
							a.per_l(href='item.html')
								.per_dur
									img.per_img(src='img/sample/item_b_250.jpg', alt='商品名稱', title='商品名稱')
								.per_buy
									h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
									.per_price
										.pay_dis
											.price $195,900
											button.button.large.btn-imd 立即購買
							.per_r.swiper-container
								.swiper-wrapper
									mixin slider(src)
										a.swiper-slide(href='item.html')
											.per_block
												img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
												.per_r_info
													h3.name 商品名稱商品名稱商品名稱商品名稱
													.per_price
														.price $999,900
									+slider('02_07_100')
									+slider('02_08_100')
									+slider('02_09_100')
									+slider('02_02_100')
									+slider('02_03_100')
									+slider('02_04_100')
									+slider('02_05_100')
									+slider('02_02_100')
									+slider('02_03_100')
									+slider('02_04_100')
									+slider('02_05_100')
									+slider('02_06_100')
									
								.swiper-button-next
								.swiper-button-prev
						- var j = 6;
						- for (var i = 2; i < j; i++)
							div.rec_info.per_info(id='rectab-'+ i)
								a.per_l(href='item.html')
									.per_dur
										img.per_img(src='img/sample/03_04_240.jpg', alt='商品名稱', title='商品名稱')
									.per_buy
										h2.name APPLE iPhone 13 Pro Max 128G 防水智慧手機
										.per_price
											.pay_dis
												.price $195,900
												button.button.large.btn-imd 立即購買
								.per_r.swiper-container
									.swiper-wrapper
										mixin slider(src)
											a.swiper-slide(href='item.html')
												.per_block
													img(src='img/sample/'+ src+'.jpg', alt='商品名稱', title='商品名稱')
													.per_r_info
														h3.name 商品名稱商品名稱商品名稱商品名稱
														.per_price
															.price $999,900	
										+slider('02_02_100')
										+slider('02_03_100')
										+slider('02_04_100')
										+slider('02_05_100')
										+slider('02_06_100')
										+slider('02_07_100')
										+slider('02_08_100')
										+slider('02_09_100')
										+slider('02_02_100')
										+slider('02_03_100')
										+slider('02_04_100')
										+slider('02_05_100')
									.swiper-button-next
									.swiper-button-prev
					.items_bg
						.items
							-var j = 6;
							- for (var i = 0; i < j; i++)
							mixin item(prod_pic)
								a.item(href='item.html')
									.photo
										.float
											i.icon.icon_same
											i.icon.icon_track
										img(src='img/sample/'+ prod_pic +'.jpg', alt='商品名稱', title='商品名稱')
									.info
										h3.name(itemprop='name') 商品名稱商品名稱商品商品名稱商品名稱商品
										.price $999,999
							+item('05_01_182')
							+item('05_02_182x240')
							+item('05_03_182')
							+item('05_04_182x240')
							+item('05_05_182')
							+item('05_06_182x240')
							+item('05_07_182')
							+item('05_08_182x240')
							+item('05_09_182x240')
							+item('05_10_182')
							+item('05_11_182x240')
							+item('05_12_182')
							+item('05_13_182x240')
							+item('05_14_182')
							+item('05_15_182x240')
							+item('05_16_182')
							+item('05_17_182x240')
							+item('05_18_182')
	include src/_foot.pug
	script(src='js/3rd-party/jquery-3.6.0.min.js')
	script(src='js/3rd-party/swiper-bundle.min.js')
	script(src='js/3rd-party/macy.js')
	script(src='js/index.js')
