doctype html
html
	head
		include src/_meta.pug
		link(href='css/item.css', rel='stylesheet')
		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "Product",
			"name": "送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)",
			"description": "擁有 iPhone 歷來最持久的電池續航力 最快的效能表現、防潑抗水能力 媲美攝影棚等級的照片與 4K 影片 #iphone #iphoneXR",
			"url": "https://baichian.com.tw/item.html",
			"image": "img/sample/XRred.jpg",
			"offers": {
				"@type": "AggregateOffer",
				"lowPrice": "195.000",
				"highPrice": "199.000",
				"priceCurrency": "TWD",
				"seller": {
					"@context": "http://schema.org",
					"@type": "Organization",
					"name": "APPLE",
					"url": "https://www.apple.com/tw",
					"image": ""
				},
				"availability": "http://schema.org/InStock"
				},
			}
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					.breadcrumb
						a.link(href="index.html") 首頁
						span >
						a.link(href="index.html") 家電.數位.3C.
						span >
						a.link(href="index.html") 智慧型手機
						span > iphone
			.site-main(role='main')
				.pc-item-main
					.container
						.item_frame
							.item_full
								include src/_item_slider.pug
								.info
									include src/_item_info.pug
									include src/_item_split.pug
									// 配送方式
									.send.item_line
										span.title 配送
										ul.value
											li.active
												| 門市配送
												i.icon.icon_check
											li 宅配
									// A+B
									.ABblock
										.title 規格
										.AB_items
											mixin slider(src)
												.AB_item
													img(src='img/sample/'+ src +'.jpg', alt='')
													.AB_title 法國STAUB迴力釘點燉煮鑄鐵鍋法國STAUB迴力釘點燉煮鑄鐵鍋
													select(name='aaa', id='')
														option(value='1') 紅色
														option(value='2') 藍色
													select(name='bbb', id='')
														option(value='1') 26cm(3.6L)
														option(value='2') 24cm(3.6L)
				
											+slider('ab01')
											+slider('ab02')
											+slider('ab03')
											+slider('ab01')
											+slider('ab02')
											+slider('ab03')
											+slider('ab01')
											+slider('ab02')
									// A+B 數量
									.ABnum
										.title 數量
										.quantity
											span.quantity-decrease
												i.icon.icon_minus
											input.quantity-input(type='text', value='1', max='99', title='請輸入購買量')
											span.quantity-increase
												i.icon.icon_plus
									.shop_btn_block.item_line
										.shop_btn
											button.button.large.btn-imd 立即結帳
											button.button.large.btn-cart 加入購物車
				//- 商品說明
				include src/_item_detail.pug
				//- 相關商品
				include src/_item_relative.pug
			//- lightbox
			include src/_item_lightbox.pug
			
			include src/_foot.pug
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/3rd-party/swiper-bundle.min.js')
			script(src='js/3rd-party/lity.min.js')
			script(src='js/item.js')
