doctype html
html
	head
		include src/_meta.pug
		link(href='css/item.css', rel='stylesheet')
		script(type='application/ld+json').
			{
				"@context": "http://schema.org",
				"@type": "Product",
				"name": "送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)",
				"description": "擁有 iPhone 歷來最持久的電池續航力 最快的效能表現、防潑抗水能力 媲美攝影棚等級的照片與 4K 影片 #iphone #iphoneXR",
				"url": "https://baichian.com.tw/item.html",
				"image": "img/sample/XRred.jpg",
				"offers": {
					"@type": "AggregateOffer",
					"lowPrice": "195.000",
					"highPrice": "199.000",
					"priceCurrency": "TWD",
					"seller": {
						"@context": "http://schema.org",
						"@type": "Organization",
						"name": "APPLE",
						"url": "https://www.apple.com/tw",
						"image": ""
					},
					"availability": "http://schema.org/InStock"
				},
			}
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					.breadcrumb
						a.link(href="index.html") 首頁
						span >
						a.link(href="index.html") 家電.數位.3C.
						span >
						a.link(href="index.html") 智慧型手機
						span > iphone
			.site-main(role='main')
				.pc-item-main
					.container
						.item_frame
							.item_full
								include src/_item_slider.pug
								.info
									include src/_item_info.pug
									// 配送方式
									.send.item_line
										span.title 配送
										ul.value
											li.active(itemprop='model')
												| 門市配送
												i.icon.icon_check
											li(itemprop='model') 宅配
									// 規格
									.colorsize.item_line
										span.title 規格
										ul.value
											li.active(data-href='0')
												| 紅色
												i.icon.icon_check
											li(data-href='1') 橘色
											li(data-href='2') 黑色
											li(data-href='3') 藍色
											li.disabled(data-href='4') 白色
											li(data-href='5') 黃色
									// 數量
									.count.item_line
										span.title 數量
										.quantity
											span.quantity-decrease
												i.icon.icon_minus
											input.quantity-input(type='text', value='1', max='99', title='請輸入購買量')
											span.quantity-increase
												i.icon.icon_plus
									// 贈品區
									.gift_chk_area
										.add_list
											.title
												.l_title
													i.icon.icon_star  贈品區 
													| 目前
													span.cole00 已選購2件，還差1件尚未符合結帳條件
												.r_title
													span.cole00 2/3
											.add_line
												.add_chk_block
													input#gift_chk_001.add_chk(type='checkbox')
													label.add_label(for='gift_chk_001')
													p 全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔
												select(name='', id='')
													option(value='1') 紅色24cm(3.6L)
													option(value='2') 藍色24cm(3.6L)
											.add_line
												.add_chk_block
													input#gift_chk_002.add_chk(type='checkbox')
													label.add_label(for='gift_chk_002')
													p 全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔
												select(name='', id='')
													option(value='1') 紅色24cm(3.6L)
													option(value='2') 藍色24cm(3.6L)
									// 加購區
									.add_chk_area
										.add_list
											.title
												.l_title
													i.icon.icon_star 加購區
												.r_title
													span.cole00 $99,999
											.add_line
												.add_chk_block
													input#add_chk_001.add_chk(type='checkbox')
													label.add_label(for='add_chk_001')
													p 全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔
											.add_line
												.add_chk_block
													input#add_chk_002.add_chk(type='checkbox')
													label.add_label(for='add_chk_002')
													p 全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔
											.add_line
												.add_chk_block
													input#add_chk_003.add_chk(type='checkbox')
													label.add_label(for='add_chk_003')
													p 全家商品卡100元+好收納不鏽鋼刀剪組+100週年紀念公仔
											.add_line
												a.more(href='#') 看更多
													i.icon.icon_more
									.shop_btn_block.item_line
										.shop_btn
											button.button.large.btn-imd 立即結帳
											button.button.large.btn-cart 加入購物車
				// 加購 (AB區 加上class=blue)
				include src/_item_add.pug
				//- 商品說明
				include src/_item_detail.pug
				//- 相關商品
				include src/_item_relative.pug
			include src/_foot.pug
			//- lightbox
			include src/_item_lightbox.pug
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/3rd-party/swiper-bundle.min.js')
			script(src='js/3rd-party/lity.min.js')
			script(src='js/item.js')
