doctype html
html
	head
		include src/_meta.pug
		link(href='css/item.css', rel='stylesheet')
		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "Product",
			"name": "送無線充電版多選一+Targus Newport 15吋拉繩後背包-時尚黑 iPhone XR 紅色(PRODUCT)",
			"description": "擁有 iPhone 歷來最持久的電池續航力 最快的效能表現、防潑抗水能力 媲美攝影棚等級的照片與 4K 影片 #iphone #iphoneXR",
			"url": "https://baichian.com.tw/item.html",
			"image": "img/sample/XRred.jpg",
			"offers": {
			"@type": "AggregateOffer",
			"lowPrice": "195.000",
			"highPrice": "199.000",
			"priceCurrency": "TWD",
			"seller": {
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "APPLE",
			"url": "https://www.apple.com/tw",
			"image": ""
			},
			"availability": "http://schema.org/InStock"
			},
			}
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub-head
				.container
					include src/_menu.pug
			.sub_head
				.container
					include src/_menu.pug
					.breadcrumb
						a.link(href="index.html") 首頁
						span >
						a.link(href="index.html") 家電.數位.3C.
						span >
						a.link(href="index.html") 智慧型手機
						span > iphone
			.site-main(role='main')
				.pc-item-main
					.container
						.item_frame
							.item_full
								include src/_item_slider.pug
								.info
									include src/_item_info.pug
									.shop_btn_block.item_line
										.shop_btn
											button.button.btn-lack 補貨中
											button.button.btn-notify 貨到通知
				// 商品說明
				include src/_item_detail.pug
				// 相關商品
				include src/_item_relative.pug
			include src/_foot.pug
			script(src='js/3rd-party/jquery-3.6.0.min.js')
			script(src='js/3rd-party/swiper-bundle.min.js')
			script(src='js/3rd-party/lity.min.js')
			script(src='js/item.js')
