doctype html
html
	head
		include src/_meta.pug
		link(href='css/orderlist.css', rel='stylesheet')
	body
		.body_container
			.cart_head
				.container
					a.back(href="index.html")
						i.icon.icon_swiper_prev
						| 回首頁
					a.logo(href="index.html", title="回到friDay")
						i.icon.icon_friday_logo
			.site-main.login
				.mid_title 會員登入
				.login_body
					.login_line
						input(type='email' placeholder='Email / 手機號碼')
					.login_line
						input(type='password' placeholder='密碼')
						p.red 請輸入正確的帳號 & 密碼
					a.nor_login(href='mem_index.html') 登入
					.login_btn 
						a.nor_login.fb(href="orderlist.html")
						a.nor_login.gle(href="orderlist.html")
						a.nor_login.yahoo(href="orderlist.html")
						a.not_login.apple
					.login_btn 
						a.nor_login.fet(href="orderlist.html") 遠傳心生活會員登入 
					.login_reg
						a.reg(href="reg.html") 註冊新會員
						a.guest(href="orderlist.html") 訪客結帳
						a.forgot_pas(href="forgot.html") 忘記密碼
					
	script(src='js/3rd-party/jquery-3.6.0.min.js')
	script(src='js/cart.js')


