doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_discount.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug 
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_index.html")
							i.icon.icon_swiper_prev
							p.chk_order 我的折價券
					.mem_dis_top
						.mem_dis_b
							label.mem_dis_label(for="mem_dis_label1")
								p 折價券狀態：
								input#mem_dis_label1(type="radio", name="mem_dis_st" checked) 
								p 已生效
							label.mem_dis_label(for="mem_dis_label2")
								input#mem_dis_label2(type="radio", name="mem_dis_st")
								p 待生效
							label.mem_dis_label(for="mem_dis_label3")
								input#mem_dis_label3(type="radio", name="mem_dis_st")
								p 已到期
							label.mem_dis_label(for="mem_dis_label4")
								input#mem_dis_label4(type="radio", name="mem_dis_st")
								p 已使用

					.mem_dis_con
						.mem_dis_td.head.center 面額
						.mem_dis_td.head 折價券說明
						.mem_dis_td.head.center 生效日
						.mem_dis_td.head.center 到期日
						- var j = 5;
						- for (var i = 0; i < j; i++)
							.mem_dis_td.value.center
								p.red 88折
							.mem_dis_td.des
								.des_con 
									p 消費金額滿 #[span.red $100,000] 可使用
									p 折價券編號：39385737612
									input.open_input(id='chk'+ i)(type="checkbox", name="open_cate")
									label.open_cate_lb.blue(for="chk"+i) (適用館別
									
									.cate_list
										.cate_list_head 適用館別：
										.cate_list_td 送禮館、嫁俱/收納/飾/床墊、保養/彩/香氛/洗沐、保健/美顏/營養/醫材、家电/電視/季節/冰箱、日用//親子/尿布、美食/飲料/生鮮/零食、健身/旅行/戶外/類、筆電/週邊/電玩/攝影、服裝內衣/精品/運動鞋
										.cate_list_head 適用目錄：
										.cate_list_td
											p 手機/Apple/平板/耳機-NOKIA
											p 手機/Apple/平板/耳·SONY
											p 手機/Apple/平板/耳-熱門品牌手機
											p 手様/Apple/平板/耳機-SAMSUNG
											p 手機/Apple/平板/耳機熱門品牌專區
											p 手機/Apple/平板/耳機-HTC
											p 手機/Apple/平板/耳-平板电腦
											p 手機/Apple/平板/耳-手能分類
											p 手機/Apple平板/耳小米
											p 手機/Apple/平板/耳機-ASUS
											p 手機/Apple平板耳iPd全列保
											p 手機/Apple/平板/耳機-NOKIA
											p 手機/Apple/平板/耳·SONY
											p 手機/Apple/平板/耳-熱門品牌手機
											p 手様/Apple/平板/耳機-SAMSUNG
											p 手機/Apple/平板/耳機熱門品牌專區
											p 手機/Apple/平板/耳機-HTC
											p 手機/Apple/平板/耳-平板电腦
											p 手機/Apple/平板/耳-手能分類
											p 手機/Apple平板/耳小米
											p 手機/Apple/平板/耳機-ASUS
											p 手機/Apple平板耳iPd全列保
							.mem_dis_td.date.center 2023/11/11
							.mem_dis_td.end.center 2023/12/11

						- var j = 10;
						- for (var i = 5; i < j; i++)
							.mem_dis_td.value.center
								p.red $10,000
							.mem_dis_td.des
								.des_con 
									p 消費金額滿 #[span.red $1] 可使用
									p 折價券編號：39385737612
									input.open_input(id='chk'+ i)(type="checkbox", name="open_cate")
									label.open_cate_lb.blue(for="chk"+i) (適用館別
									
									.cate_list
										.cate_list_head 適用館別：
										.cate_list_td 送禮館、嫁俱/收納/飾/床墊、保養/彩/香氛/洗沐、保健/美顏/營養/醫材、家电/電視/季節/冰箱、日用//親子/尿布、美食/飲料/生鮮/零食、健身/旅行/戶外/類、筆電/週邊/電玩/攝影、服裝內衣/精品/運動鞋
										.cate_list_head 適用目錄：
										.cate_list_td
											p 手機/Apple/平板/耳機-NOKIA
											p 手機/Apple/平板/耳·SONY
											p 手機/Apple/平板/耳-熱門品牌手機
											p 手様/Apple/平板/耳機-SAMSUNG
											p 手機/Apple/平板/耳機熱門品牌專區
											p 手機/Apple/平板/耳機-HTC
											p 手機/Apple/平板/耳-平板电腦
											p 手機/Apple/平板/耳-手能分類
											p 手機/Apple平板/耳小米
											p 手機/Apple/平板/耳機-ASUS
											p 手機/Apple平板耳iPd全列保
											p 手機/Apple/平板/耳機-NOKIA
											p 手機/Apple/平板/耳·SONY
											p 手機/Apple/平板/耳-熱門品牌手機
											p 手様/Apple/平板/耳機-SAMSUNG
											p 手機/Apple/平板/耳機熱門品牌專區
											p 手機/Apple/平板/耳機-HTC
											p 手機/Apple/平板/耳-平板电腦
											p 手機/Apple/平板/耳-手能分類
											p 手機/Apple平板/耳小米
											p 手機/Apple/平板/耳機-ASUS
											p 手機/Apple平板耳iPd全列保
							.mem_dis_td.date.center 2023/11/11
							.mem_dis_td.end.center 2023/12/11
							

					include src/_pagenav.pug
	include src/_foot.pug

