doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_chk.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug 
			.site-main
				.container
					.mem_chk_t
						a.back(href="mem_index.html")
							i.icon.icon_swiper_prev
							p.chk_order 查訂單 
								small (聯絡客服)
						p.red 提醒您:本公司不會主動打電話告知您任何有付款修改的問題,若接到可疑電話請拒絕回應
					
					.mem_order_detail
						.mem_order_info
							.order_tab
								.ord_block.ord_head.center 交易編號
								.ord_block.ord_head.center 訂購時間
								.ord_block.ord_head.center 實付金額
								.ord_block.ord_head.center 付款時間
								.ord_block.ord_head
								.ord_block.ord_head
								.ord_block.ord_head

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p.red_line 請盡快付款
									p (LINE Pay)
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									span 我要
									a(href="mem_chk_return_part.html") 退訂 
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							.mem_chk(style="display:grid;")
								.mem_block.item_head
								.mem_block.item_head
								.mem_block.item_head.center 訂單序號
								.mem_block.item_head.center 發票
								.mem_block.item_head.center 數量
								.mem_block.item_head.center 結帳金額
								.mem_block.item_head.center 配送狀態
								.mem_block.item_head.center 其它

								.mem_block.item_img
									img(src="img/sample/item_015.jpg", alt="商品圖片")
								.mem_block.item_name
									| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址

						.mem_order_info
							.order_tab
								.ord_block.ord_head.center 交易編號
								.ord_block.ord_head.center 訂購時間
								.ord_block.ord_head.center 實付金額
								.ord_block.ord_head.center 付款時間
								.ord_block.ord_head
								.ord_block.ord_head
								.ord_block.ord_head

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p 付款完成
									p 01/30 10:35
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									span 我要
									a(href="mem_chk_return.html") 退訂 
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							label.chk_open_lb(for="chk_open_detail_2")
							input#chk_open_detail_2(type="checkbox", name="")
							.mem_chk
								.mem_block.item_head
								.mem_block.item_head
								.mem_block.item_head.center 訂單序號
								.mem_block.item_head.center 發票
								.mem_block.item_head.center 數量
								.mem_block.item_head.center 結帳金額
								.mem_block.item_head.center 配送狀態
								.mem_block.item_head.center 其它

								.mem_block.item_img
									img(src="img/sample/item_09.jpg", alt="商品圖片")
								.mem_block.item_name
									| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| HK94031514
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 等待出貨
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址


								.mem_block.item_img
									img(src="img/sample/item_01.jpg", alt="商品圖片")
								.mem_block.item_name
									p 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
									p.bold 規格：比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| HK94031514
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 等待出貨
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址


						.mem_order_info
							.order_tab
								.ord_block.ord_head.center 交易編號
								.ord_block.ord_head.center 訂購時間
								.ord_block.ord_head.center 實付金額
								.ord_block.ord_head.center 付款時間
								.ord_block.ord_head
								.ord_block.ord_head
								.ord_block.ord_head

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p 付款完成
									p 01/30 10:35
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									span 我要
									a(href="#") 退訂 
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							label.chk_open_lb(for="chk_open_detail_3")
							input#chk_open_detail_3(type="checkbox", name="")
							.mem_chk
								.mem_block.item_head
								.mem_block.item_head
								.mem_block.item_head.center 訂單序號
								.mem_block.item_head.center 發票
								.mem_block.item_head.center 數量
								.mem_block.item_head.center 結帳金額
								.mem_block.item_head.center 配送狀態
								.mem_block.item_head.center 其它

								.mem_block.item_img
									img(src="img/sample/item_09.jpg", alt="商品圖片")
								.mem_block.item_name
									| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| HK94031514
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 已出貨
									p 便利帶 
									a(href="#") 002792568786
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址
									a(href="#") 下載購買證明


								.mem_block.item_img
									img(src="img/sample/item_01.jpg", alt="商品圖片")
								.mem_block.item_name
									p 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
									p.bold 規格：比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| HK94031514
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 已出貨
									p 便利帶 
									a(href="#") 002792568786
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址
									a(href="#") 下載購買證明

						//- 付款失敗
						.mem_order_info
							.order_tab
								.ord_block.ord_head.grey.center 交易編號
								.ord_block.ord_head.grey.center 訂購時間
								.ord_block.ord_head.grey.center 實付金額
								.ord_block.ord_head.grey.center 付款時間
								.ord_block.ord_head.grey
								.ord_block.ord_head.grey
								.ord_block.ord_head.grey

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p.bold 授權失敗
									p (信用卡)
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							label.chk_open_lb(for="chk_open_detail_4")
							input#chk_open_detail_4(type="checkbox", name="")



						.mem_order_info
							.order_tab
								.ord_block.ord_head.grey.center 交易編號
								.ord_block.ord_head.grey.center 訂購時間
								.ord_block.ord_head.grey.center 實付金額
								.ord_block.ord_head.grey.center 付款時間
								.ord_block.ord_head.grey
								.ord_block.ord_head.grey
								.ord_block.ord_head.grey

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p 付款失敗
									p (LINE Pay)
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							label.chk_open_lb(for="chk_open_detail_5")
							input#chk_open_detail_5(type="checkbox", name="")
							.mem_chk.grey
								.mem_block.item_head.grey
								.mem_block.item_head.grey
								.mem_block.item_head.grey.center 訂單序號
								.mem_block.item_head.grey.center 發票
								.mem_block.item_head.grey.center 數量
								.mem_block.item_head.grey.center 結帳金額
								.mem_block.item_head.grey.center 配送狀態
								.mem_block.item_head.grey.center 其它

								.mem_block.item_img
									img(src="img/sample/item_09.jpg", alt="商品圖片")
								.mem_block.item_name
									| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center

								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
								.mem_block.item_st.right
								.mem_block.item_else.center

								.mem_block.item_img
									img(src="img/sample/item_01.jpg", alt="商品圖片")
								.mem_block.item_name
									p 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
									p.bold 規格：比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
								.mem_block.item_st.right
								.mem_block.item_else.center

						//- 已出貨
						.mem_order_info
							.order_tab
								.ord_block.ord_head.complete.center 交易編號
								.ord_block.ord_head.complete.center 訂購時間
								.ord_block.ord_head.complete.center 實付金額
								.ord_block.ord_head.complete.center 付款時間
								.ord_block.ord_head.complete
								.ord_block.ord_head.complete
								.ord_block.ord_head.complete

								.ord_block.ord_no.center
									| TX20230130123456
								.ord_block.ord_time.center
									| 01/30 11:32
								.ord_block.ord_price.center
									| $36,650
								.ord_block.pay_time.center.col_center
									p 付款完成
									p 01/30 10:35
								.ord_block.ord_detail
									
								.ord_block.ord_cancel.center
									span 我要
									a(href="#") 退訂 
								.ord_block.ord_ask.center
									span 我要
									a(href="mem_chk_ask.html") 提問
							label.chk_open_lb(for="chk_open_detail_6")
							input#chk_open_detail_6(type="checkbox", name="")
							.mem_chk
								.mem_block.item_head.complete
								.mem_block.item_head.complete
								.mem_block.item_head.complete.center 訂單序號
								.mem_block.item_head.complete.center 發票
								.mem_block.item_head.complete.center 數量
								.mem_block.item_head.complete.center 結帳金額
								.mem_block.item_head.complete.center 配送狀態
								.mem_block.item_head.complete.center 其它

								.mem_block.item_img
									img(src="img/sample/item_09.jpg", alt="商品圖片")
								.mem_block.item_name
									| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| 發票作廢
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 已出貨
									p 便利帶 
									a(href="#") 002792568786
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址
									a(href="mem_chk_return_st.html")  退款完成


								.mem_block.item_img
									img(src="img/sample/item_01.jpg", alt="商品圖片")
								.mem_block.item_name
									p 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱
									p.bold 規格：比擬紅
								.mem_block.item_no.center
									| 20230130123456
								.mem_block.item_invoice.center
									| HK94031514
								.mem_block.item_count.center
									| 99件
								.mem_block.item_price.center
									| $999,999
									a(href="#item_price_pop") 詳 
								.mem_block.item_st.right
									p 已出貨
									p 便利帶 
									a(href="#") 002792568786
								.mem_block.item_else.center
									a(href="#deli_pop") 查看運送地址
									a(href="#") 下載購買證明
								//- .mem_block.detail.center
								//- 	a(href="mem_order_detail.html") 看訂單明細
								//- .mem_block.ask.center
								//- 	a(href="#") 我要提問
								//- .mem_block.cancel.center
								//- 	a.cancel(href="#") 取消訂單
						//- mixin mem_order(src,name)
						//- 	.mem_order_info
						//- 		.order_info_t
						//- 			p.oredt_num 訂單編號：20230130123456
						//- 			p.order_time 訂購時間：2023/01/30
						//- 			p.order_st 訂單狀態：01/20已出貨 新竹物流 
						//- 				a(href="#") 9999999999
						//- 		.mem_chk
						//- 			.mem_block.item_head
						//- 			.mem_block.item_head
						//- 			.mem_block.item_head.center 實付金額
						//- 			.mem_block.item_head.center 發票資訊
						//- 			.mem_block.item_head
						//- 			.mem_block.item_head
						//- 			.mem_block.item_head

						//- 			.mem_block.item_img
						//- 				img(src="img/sample/"+ src +".jpg", alt="商品圖片")
						//- 			.mem_block.item_name
						//- 				p=name
						//- 			.mem_block.item_price.center
						//- 				| 999,999
						//- 			.mem_block.item_invoice.center
						//- 				p.blue HK 93881829
						//- 			.mem_block.detail.center
						//- 				a(href="mem_order_detail.html") 看訂單明細
						//- 			.mem_block.ask.center
						//- 				a(href="#") 我要提問
						//- 			.mem_block.cancel.center
						//- .mem_order_info.is_cancel
						//- 	.order_info_t
						//- 		p.oredt_num 訂單編號：20230130123456
						//- 		p.order_time 訂購時間：2023/01/30
						//- 		p.order_st 訂單狀態：取消訂單成功
						//- 	.mem_chk
						//- 		.mem_block.item_head
						//- 		.mem_block.item_head 商品名稱
						//- 		.mem_block.item_head.center 實付金額
						//- 		.mem_block.item_head.center 發票資訊
						//- 		.mem_block.item_head
						//- 		.mem_block.item_head
						//- 		.mem_block.item_head

						//- 		.mem_block.item_img
						//- 			img(src="img/sample/item_017.jpg", alt="商品圖片")
						//- 		.mem_block.item_name
						//- 			| 北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅
						//- 		.mem_block.item_price.center
						//- 			| 999,999
						//- 		.mem_block.item_invoice.center
						//- 			| 處理中
						//- 		.mem_block.detail.center
						//- 			a(href="mem_order_detail.html") 看訂單明細
						//- 		.mem_block.ask.center
						//- 			a(href="#") 我要提問
						//- 		.mem_block.cancel.center
						//- +mem_order('item_019','Apple iPhone 14 Plus 256G (5G) 6.7吋螢幕 智慧型手機')
						//- +mem_order('item_020','北歐 HAUGAS T6869-70-29吋 完美比例4:6 胖胖箱 比擬紅')
						//- +mem_order('item_018','(friDay限定)《HOPMA》日式單門三層櫃 收納櫃 儲藏櫃 書櫃 置物櫃 玄關櫃 門櫃 櫥櫃')
						//- +mem_order('item_015','【The North Face】 防水透氣連帽 男款衝鋒衣-黑-NF0A4UAUJK3')

			
					include src/_pagenav.pug
	.lightbox-target#deli_pop
		.content
			.con_m
				.con_addr 
					p 運送地址
					P 姓名：陳**
					P 地址：**************60巷2弄2號3樓
			a.lightbox-close(href="#")
	.lightbox-target#item_price_pop
		.content
			.con_m
				.com_price_t 商品總金額：
				.com_price $34,500
			.con_m
				.com_price_sm 運費
				.com_s_price $30
			.con_m
				.com_price_sm 活動折抵
				.com_dis_price $30
			.con_m
				.com_price_sm HappyGo活動折抵
				.com_dis_price $80
			.con_m
				.com_price_sm 遠傳幣折抵
				.com_dis_price $500
			.con_m
				.com_price_sm 信用卡紅利折抵
				.com_dis_price $30
			.con_m
				.com_price_t 結帳總金額：
				.com_price $33,910
			a.lightbox-close(href="#")
	include src/_foot.pug

