doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_index.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug 
			.site-main
				.container
					.mem_index
						.mem_block1_1
							.mem_avatar
								img(src="img/mem_avatar.svg")
								a(href="#").mem_edit
									img(src="img/mem_edit.svg")
							p.mem_name 張xx 你好

						a(href="#").mem_block2_1.mem_phone_order
							img(src="img/mem_order.svg")
							.mem_link_name 手機號碼查訂單 
							.mem_contact (聯絡客服)
						a(href="#").mem_block2_2.mem_web_order
							img(src="img/mem_order.svg")
							.mem_link_name 查訂單 
							.mem_contact (聯絡客服)

						a(href="#").mem_block3_1.mem_coin
							img(src="img/mem_coin.svg")
							.mem_link_name 我的遠傳幣 
								span.red 9999
						a(href="#").mem_block3_2.mem_coupon
							img(src="img/mem_coupon.svg")
							.mem_link_name 我的折價券
								span.red 9999
								| 張
						//- a(href="#").mem_block3_3.mem_coin
						//- 	img(src="img/mem_happygo.svg")
						//- 	.mem_link_name HAPPY GO 
						//- 		span.blue 綁定卡片

						a(href="#").mem_block3_3.mem_track
							img(src="img/mem_track.svg")
							.mem_link_name 追蹤清單
						a(href="#").mem_block3_1.mem_data
							img(src="img/mem_data.svg")
							.mem_link_name 我的基本資料與修改
						//- a(href="#").mem_block3_3.mem_exp
						//- 	img(src="img/mem_exp.svg")
						//- 	.mem_link_name 快樂購卡點數說明

						a(href="#").mem_block3_2.mem_buy
							img(src="img/mem_exp.svg")
							.mem_link_name 購物說明
						//- a(href="#").mem_block3_2.mem_rma
						//- 	img(src="img/mem_rma.svg")
						//- 	.mem_link_name 售後服務
						a(href="#").mem_block3_3.mem_anti
							img(src="img/mem_exp.svg")
							.mem_link_name 防詐騙公告

			include src/_foot.pug

