doctype html
html
	head
		include src/_meta.pug
		link(href='css/supplier.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.site-main(role='main')
				.container
					.breadcrumb
						a.link(href="index.html") 首頁
						span > 供應商官網列表 
					.supplier
						- var j = 35;
						- for (var i = 1; i < j; i++)
							a.supplier_block(href='#')
								.supplier_photo
									img.supplier_img(src='img/sample/Logo_'+ i + '.jpg', alt='')
								p.supplier_name
									span 品牌名稱
		include src/_foot.pug
