doctype html
html
	head
		include src/_meta.pug
		link(href='css/track.css', rel='stylesheet')
	body
		.body_container
			include src/_topbar.pug
			include src/_header.pug
			.sub_head
				.container
					include src/_menu.pug
					include src/_tagcloud.pug
			.site-main
				.container
					.cate_main
						//- 分類商品
						.track_t 第1項-第20項商品,共13頁,253項商品
						.track_topic
							.track_msg 商品訊息
							.track_price 最新價格
							.track_del 刪除
						.cate_items
							.item(href="item.html")
								.photo
									img(src='img/sample/cate/180_22.jpg', alt='商品名稱', title='商品名稱')
									.restock 補貨中
								.per_r_info
									h2.name 大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具
									.per_price
										.price $9,900
									a(href="#").btn_notify 貨到通知
									a(href="#").icon.icon_del
							- var j = 20;
							- for (var i = 1; i < j; i++)
								.item(href="item.html")
									.photo
										img(src='img/sample/cate/180_'+ i+'.jpg', alt='商品名稱', title='商品名稱')
									.per_r_info
										h2.name 大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具大開口短柄活動扳手大活口衛浴扳手8寸6寸短把迷你扳手工具
										.per_price
											.price $999,900
										a(href="#").icon.icon_cart
											span.icon.icon_cart_arrow
										a(href="#").icon.icon_del
						//- 分頁
						include src/_pagenav.pug
						.track_des
							p 說明：
							p .商品售價以網站即時標示為準。
							p .「貨到通知」將在商品貨到後通知您,商品數量有限請盡速訂購。
							p .購物車商品您加入清單日期算起，三個月後自動刪除，刪除追蹤商品後將不再發送通知。
		include src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')
		script(src='js/track.js')
