.l-header {
	padding: 25px 0 15px;
	@extend .clearfix;
	@include RWD(mobile) {
		padding-bottom: 5px;
	}
	.logo {
		float: left;
		img {
			max-width: 300px;
		}
	}
	.t-back {
		margin-top: 5px;
		float: right;
	}
}
.banner {
	@include RWD(desktop) {
		display: none;
	}
}