@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';
@import 'base/_reset.scss';

@import 'layouts/_header.scss';
.about_main{
	margin: 40px 0;
	.container{
		display: flex;
		flex-flow: row nowrap;
	}
}
.about_menu{
	flex:0 0 15%;
	padding:0;
	border-right:1px solid #ccc;
	font-size:.9rem;
	dt{
		padding:10px 20px;
		border-bottom:1px solid #ccc;
		border-top:1px solid #ccc;
	}
	dd{
		margin-left:15px;
		padding:10px 20px;
	}
	a{
		&:hover{
			color:black;
		}
	}
}
.about_content{
	flex:0 0 85%;
	padding: 0 0 0 40px;
	font-size:.9rem;
	h3{
		margin:0 0 10px;
		padding:6px 0 6px 10px;
		border-left:20px solid  $tab_line;
	}
	img{
		display: block;
		width:100%;
		margin: 0 0 10px;
	}
	p{
		margin:0 0 10px;
		line-height: 2.2;
	}
}

.store_block{
	display: flex;
	flex-flow: row wrap;
	.store{
		flex: 0 0 32%;
		margin:0 10px 20px 0;
		padding:0;
		border:1px solid #ccc;
		img{
			margin:0;
		}
	}
	.info{
		padding:10px 15px;
		.tel{
			margin:0 0 5px;
			font-size:.8rem;
			line-height: 1.8;
		}
		a{
			font-size:.8rem;
			line-height: 1.8;
		}
		.fa-map-marker-alt{
			font-size:.92rem;
		}
		i{
			margin:0 5px 0 0;
		}
	}
}
.privacy_block{
	margin:20px 0 ;
	.sm_title{
		color:black;
		font-size:.9rem;
		font-weight: 700;
	}
	p{
		line-height: 1.8;
		a{
			color:#06c;
		}
	}
}
@import 'layouts/_footer.scss';