@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_reset.scss';
@import 'base/_base.scss';
@import 'layouts/_header.scss';
@import 'layouts/_qmomo_fancybox.scss';
.banner{
	margin-bottom:20px;
	.container{
		width:100%;
	}
	a,i,img{
		display: block; 
		width:100%;
	}
}
.banner_2,.banner_3,.banner_4{
	.items{
		flex-flow:row nowrap;
		margin:0;
	}
	.item{
		width:25%;
		margin:0;
	}
}
.banner_2{
	.item{
		width:50%;
		margin:0;
	}
}
.banner_3{
	.item{
		width:33.333333%;
		margin:0;
	}
}
.banner_6{
	.items{
		flex-flow:row wrap;
		margin:0 -.5% 0 0;
	}
	.item{
		width:33.333333%;
		padding:.5% .5% 0 0;
		margin:0;
	}
}
// .four_banner,.three_banner{
// 	display: flex;
// 	flex-flow: row nowrap;
// 	justify-content: space-between;
// 	h2{
// 		display: none;
// 	}
// }
// .four_banner{
// 	justify-content: flex-start;
// 	.four_banner_cate{
// 		width:25%;
// 	}
// }


.swiper-container{
	width:100%;
	.swiper-slide{
		img{
			display: block;
			width:100%;
		}
	}
}
.video_container {
	position: relative;
	// padding-bottom: 75%;
	padding-bottom: 56.25%;
	height: 0;overflow: hidden; 
	iframe,object,embed{
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
}

.tabs{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	li{
		padding: 10px 15px;
		color: #222;
		background: none;
		cursor: pointer;
		&.current{
			color: #222;
			border-bottom:2px solid $tab_line;
		}
	}
}
.tab_content{
	display: none;
	padding: 10px 0;
	&.current{
		display: block;
	}
}
.index_items,.index_video{
	margin:0 0 40px;
	.big_title{
		margin:20px 0;
		text-align: center;
	}
	.items{
		display: none;
		&.active{
			display: flex;
			margin: 0 -.5%;
		}
	}

}
.qmomo_tv{
	position: relative;
	img{
		display: block;
		width:100%;
	}
	.qmomo_video{
		width: 764px;
		height: 424px;
		margin:0 auto;
		iframe{
			width:100%;
			height:100%;
		}
	}
}
.lightbox{
	display: none;
	width: 100vw;height:100vh;
	position: fixed;left:0;top:0;
	background-color: rgba(0,0,0,0);
	z-index: 30;
	a{
		display: block;
	}
	img{
		display: block;
		position: absolute;top:50%;left:50%;
		width: 80vw;
		transform: translate(-50%, -50%);
	}
}
.fancybox-button{
	svg{
		color:white;
	}
}
.pop_slider{
	position: absolute;top:128px;left:0;
	width: 300px;
	height: 500px;
	z-index: 20;
	.pop-other{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		background-color: #eee;
		.thumb{
			flex-basis: (100%/3);
			position: relative;
			height:70px;
			color:#555;
			background-color: #eee;
			border:1px solid #e7e7e7;
			font-size:.9rem;
			text-align: center;
			cursor: pointer;
			&:hover{
				color:black;
				background-color: white;
			}
			p{
				position: absolute;top: 50%;left: 50%;
				transform: translate(-50%, -50%);
				width:80px;
				max-height:40px;
				overflow: hidden;
			}
		}
	}

	.pop_bot{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		padding:3px;
		background-color:rgba(0,0,0,0.25);
	}
	.status{
		flex-basis: 80%;
	}
	.close_pop{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		color:white;
		font-size:.9rem;
		cursor: pointer;
		p{
			margin:0 5px 0 0;
			font-size:.8rem;
		}
		i{
			color:white;
			font-size:.75rem;
		}
	}
}
@import 'layouts/_footer.scss';