@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';
@import 'base/_reset.scss';

@import 'layouts/_header.scss';
.item_main{
	.container{
		width:1220px;
	}
}
.line{
	.button{
		cursor: pointer;
		-webkit-appearance: none;
		color: white;
		text-decoration: none;
		width: auto;
		height: auto;
		border: none;
		background: #ff5353;
		margin-left: 10px;
		padding:15px 40px;
		font-size:.9rem;
		letter-spacing: 2px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		zoom: 1;
		-webkit-transition: 0.6s;
		-moz-transition: 0.6s;
		-o-transition: 0.6s;
		-ms-transition: 0.6s;
		transition: 0.6s;
	}
}
.item_top{
	display: flex;
	flex-flow:row nowrap ;
	padding:20px;
}
.item_top_left{
	width:600px;
}
.item_top_right{
	width:620px;
	padding:0 20px 0 30px;
	.mid_title{
		margin: 0 0 10px;	
	}
}

.swiper-container{
	width:100%;
	margin-bottom:20px;
	.swiper-slide{
		img{
			width:100%;
		}
	}
}


.photo-other{
	display: flex;
	flex-flow:row wrap;
	.thumb{
		display: block;
		position: relative;
		width:100%;
		max-width:(600px/4-4);
		margin:0 5px 10px 0;
		cursor: pointer;
		&:nth-child(4n){
			margin:0 0 10px;
		}
		img{
			width:100%;
		}
	}
	.fa-play-circle{
		position: absolute;left:50%;top:50%;z-index: 10;
		margin:-24px 0 0 -24px;
		font-size:3rem;
		color:white;
	}
}
.pay_info{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	width:95%;
	margin:10px auto;
	padding:10px;
	border:1px solid #eee;
}
.pay{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	.icon{
		display: block;
		margin:0 5px 0 0;
		height: 20px;
		background:transparent url('../img/icon_pay.png') no-repeat;
	}
	.line_pay{
		width: 60px;
		background-position: -47px -3px;
	}
	.apple_pay{
		width: 35px;
		background-position: -300px -3px;
	}
	.jko_pay{
		width: 18px;
		background-position: -112px -3px;
	}
	.seven{
		width: 18px;
		background-position: 1px -3px;
	}
	.family{
		width: 18px;
		background-position: -21px -3px;
	}
	.credit{
		width: 145px;
    	background-position: -1px -327px;
	}

}
.social,.pay{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	p{
		color:#777;
		font-size:.8rem;
	}
	a{
		margin:0 8px 0 0;
		color:$theme-color;
		font-size:1.3rem;
	}
}
.act{
	display: flex;
	flex-flow: row nowrap;
	a{
		display: inline-block;
		max-width: 350px;
		margin:0 10px 0 0;
		padding:2px 0 5px;
		color:#fa6093;
		font-size:.8rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// span{
		// 	margin:0 10px 0 0;
		// 	padding:0 15px;
		// 	color:#ff5353;
		// 	border:1px solid #ff5353;
		// }
	}
}
.item_title{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}
.tab_content,.detail_content{
	display: none;
	padding: 10px 0;
	&.current{
		display: block;
	}
}
.tagblock{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding:15px 0 30px;
	border-bottom:1px solid #eee;
	.tag_all{
		display: flex;
		flex-flow: row wrap;
	}
	.tag{
		min-width: 70px;
		margin-right:10px;
		padding: 2px 6px;
		font-size: .9rem;
		text-align: center;
		color: white;
		background-color: #fa6093;
	}
	.price{
		color:#fa6093;
		font-size:1.2rem;
		font-family: sans-serif;
	}
	
}
.fa-heart{
	font-size: 1.2rem;
	color: #fa6093;
	cursor: pointer;
}
.feature{
	li{
		color:#353535;
		font-size:.8rem;
		font-weight: 400;
		line-height: 1.8;
	}
}
.line{
	margin:0 0 10px;
	.sm_title{
		padding:0 0 10px;
	}
	&.color,&.size{
		display: flex;
		flex-flow:row nowrap;
		margin:30px 0;
		.sm_title{
			padding:0 10px 10px 0;
			flex: 0 0 15%;
		}
	}
	.key {
		color: black;
		display: inline-block;
		vertical-align: top;
		word-wrap: break-word;
		width: 100px;
	}
	
	.value {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		z-index: 0;
		> li {
			padding: 8px 4px;
			margin: 0 8px 8px 0;
			font-size: .8rem;
			position: relative;
			z-index: 0;
			cursor: pointer;
			text-align: center;
			.photo{
				width:28px;height:28px;
				margin: 0 auto;
				padding:4px;
				border:1px solid #ccc;
			}
			img {
				display: block;
				width:100%;
				margin:0 0 5px;
				text-align: center;
				position: relative;
				z-index: 0;
			}
			p{
				margin:3px 0;
				font-size:.7rem;
				letter-spacing: 0.5px;
			}
		}
	
		.active {
			position: relative;
			z-index: 0;
			.photo{
				border: 1px solid #e00;
			}
			.type {
				padding: 3px;
			}
			.fa {
				position: absolute;
				right: -1px;
				bottom: -2px;
				color: white;
				font-size:.7rem;
				z-index: 20;
				-ms-transform: scale(0.8, 0.8);
				-webkit-transform: scale(0.8, 0.8);
				transform: scale(0.8, 0.8);
			}
		}
		.disabled {
			position: relative;
			cursor: not-allowed;
			opacity: .3;
		}
	}

	&.color{
		.value{
			li{
				padding:3px;
				&.disabled{
					background-color: transparent;
				}
			}
		}
	}
	&.size{
		.value{
			width:100%;//width:500px;
			max-height:209px;
			margin-bottom: 20px;
			overflow: auto;
			>li{
				min-width:40px;
				border:1px solid #ccc;
				&.disabled{
					border:2px dashed #ccc;
				}
			}
			.active {
				border:1px solid #333;
				background-color: #fde3e6;
				@include border-radius(5px)
			}
		}
	}
	&.addcart{
		border-top:1px solid  #eee ;
	}
	.quantity{
		align-items: center;
		border: 1px solid #ccc;
		.quantity-decrease,.quantity-increase,.quantity-input{
			border:none;
		}
	}
	.quantity-add {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		position: relative;
		margin: 30px 0 ;
	}
	.btn-ordernow{
		color:white;
		background-color: #333;
	}
	.btn-addcart,.btn-notify{
		color:#333;
		background:white ;
		border:1px solid #ccc;
	}

	.quantity-alert {
		display: none;
		position: absolute;
		left: -80px;
		top: -120%;
		background: #ff5353;
		color: white;
		font-size: 13px;
		line-height: 1;
		padding: 5px;
		white-space: nowrap;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		&:after {
			position: absolute;
			bottom: -30%;
			left: 45%;
			content: '';
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #ff5353 transparent transparent transparent;
		}
	}
}
.tabs{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: none;
	li{
		padding: 10px 15px;
		color: #222;
		background: none;
		cursor: pointer;
		&.current{
			color: #222;
			border-bottom:2px solid $theme-color ;
		}
	}
}
.tab_content{
	padding:10px 15px;
	li{
		font-size:.85rem;
		line-height: 2.2;
	}
	img{
		width:100%;
	}
}
.item_detail{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 0 30%;
	padding: 0 0 1px;
	border-bottom: 1px solid #bbb;
	a{
		display: block;
		min-width:100px;
		padding:10px;
		text-align: center;
		&.current{
			border-bottom:2px solid $theme-color;
		}
	}
}
.detail_content{
	.detail_video_container{
		iframe,embed,object{
			display: block;
			width:800px;
			height:630px;
			margin:0 auto;
		}
	}
	img{
		margin:0 auto;
		display: block;
		width:100%;
	}
}
.review{
	display: flex;
	flex-flow: row nowrap;
	margin:0 0 20px;
	padding:20px;
	border-bottom: 1px solid #eee;
	.review_photo{
		width:30px;height:30px;
		margin: 0 10px 0 0;
		text-align: center;
		background-color: #eee;
		@include border-radius(50%);
		img{
			display: block;
			width:60px;
			border:1px solid #eee;
			@include border-radius(50%);
		}
	}
	.stars{
		margin:0 20px 0 0;
		i{
			margin-right:5px;
			color:#ffcc00;
		}
	}
	.review_comment{
		width:100%;
	}
	.des{
		margin:0 0 8px;
	}
	.info{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		margin:0 0 8px;
		i{
			margin-right:5px;
		}
		.name{
			margin:0 10px 0 0;
			letter-spacing: 1px;
		}
		.date{
			color:#999;
			font-size:.8rem;
		}
		
	}
	.func_btn{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		justify-content: flex-end;
		I{
			margin:0 10px 0 0;
		}
		.fa-thumbs-up{
			span{
				color:#d00;
				font-size:.85rem;
			}
		}
	}
}
@import 'layouts/_footer.scss';