@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_reset.scss';
@import 'base/_base.scss';
@import 'layouts/_header.scss';
@import 'layouts/_qmomo_fancybox.scss';		
input::placeholder{
	color:#999;
}
select{
	cursor: pointer;
	background: none;
	background-clip: border-box;
	outline: 0;
	border: none;
	-webkit-appearance: none;
}
.bot_func{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin:20px 0 0;
	a{
		display: block;
		margin-right:10px;
		padding:8px 20px;
		color: white;
		background-color: #e38796;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		text-align: center;
	}
	.cancel{
		color: #e38796;
		border:1px solid #e38796;
		background: none;
	}
}
.sub_func{
	display: flex;
	margin:0 0 20px;
	a{
		display: block;
		margin: 0 10px 0 0;
		padding:8px 20px;
		color:#e38796;
		border-radius: 10px;
		border:1px solid #e38796;

	
	}
}
.err_txt{
	font-size:.85rem;
	color:#d00;
	margin:5px 0 0;
}
.login{
	padding:10px;
	.mid_title{
		margin:30px 0 20px;
		padding:10px;
		text-align: center;
	}
	.login_body{
		display: flex;
		flex-flow:column;
		align-items: center;
		justify-content: center;
		max-width: 400px;
		margin: 20px auto 50px;
		input{
			width:100%;
			padding:10px;
			font-size:.9rem;
			border:1px solid #ccc; 
		}
	}
	.subtitle{
		margin:5px 0;
		font-size:.85rem;
	}
	.login_line{
		width:100%;
		margin:0 0 15px;
	}
	.login_reg{
		margin: 0 0 20px;
		text-align: right;
		a{
			display: inline-block;
			margin:10px;
			color:#06c;
			text-decoration: underline
		}
	}
	.login_btn{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 100%;
		margin:10px 0 0;
		a{
			position: relative;
			display: block;
			margin: 0 2% 0 0;
			padding:10px 10px 10px 20px;
			font-size:.8rem;
			background-color: #166fe5;
			&:last-child{
				margin:0;
			}
			&:before{
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				content:'\f39e';
				position: absolute;left:5px;top:50%;
				transform: translateY(-50%);
				font-family: 'Font Awesome 5 Brands';
				font-size:1.2rem;
				color:#fefefe;
			}
		}
		.gle{
			background-color: #df543d;
			&:before{
				content:'\f1a0';
			}
		}
		.line{
			background-color: #00c100;
			&:before{
				content: '\f3c0';
				font-size:2rem;
			}
		}
	}
	.nor_login{
		width:100%;
		padding:10px 10px;
		text-align: center;
		color:white;
		background-color: black;
		&.resend{
			margin:10px 0 0;
			background-color: #e38796;
		}
	}
	.login_remind{
		margin:20px 0 0;
		text-align: center;
		p{
			display: inline-block;
			padding:10px;
			text-align: left;
			color:#999;
			font-size:.7rem;
			line-height: 1.8;
		}
		span{
			color:red;
		}
	}
	.login_label{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		width: 100%;
		padding:10px;
		background-color: #eee;
		cursor: pointer;
		input{
			width:auto;
		}
	}
	.sync_account{
		display: flex;
		align-items: center;
		.fab{
			margin:0 5px;
			color:#166fe5;
			font-size:1.2rem;
		}
		.fa-line{
			color:#00c100;
		}
		.fa-google{
			color:#df543d;
		}
	}
}


.mem_block{
	width:100%;
	max-width:1000px;
	margin: 40px auto;
	box-sizing: border-box;
	.mid_title{
		margin:40px 0 25px;
		text-align: center;
	}
}
.mem_body{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	input{
		width: 100%;
		padding: 10px;
		font-size: 1rem;
		border: none;
	}
	.send{
		display: block;
		width:100px;
		margin:10px auto;
		padding:6px 0;
		color: white;
		background-color: black;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		text-align: center;
	}
}
.mem_link{
	width:20%;
	ul{
		display:block ;
		box-shadow: 1px 3px 10px #ddd;
	}
	li{
		a{
			display: block;
			padding:10px 20px;
			color:#777;
			text-align: center;
			&.active{
				color:white;
				background-color: #e38796;
			}
		}
	}
	.logout{
		display: block;
		padding:10px 20px;
		font-size:.9rem;
		color:#707070;
		text-decoration: underline;
		text-align: center;
	}
}
.mem_info,.mem_order,.mem_fav,.mem_coupon,.mem_point,.mem_privacy,.mem_chg_pass,.mem_set{
	width:70%;
}
.mem_data_list{
	width: 100%;
	margin:0 0 30px;
	td,th{
		border-bottom:1px solid #999;
		padding:10px 18px;
		font-size:.85rem;
		text-align: left;
	}
	th{
		color:#999;
	}
	tr:last-child td{
		border:none;
	}
}
.mem_order_list{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom:10px;
	padding:20px;
	background-color: white;
	box-shadow: 1px 3px 10px #ddd;
	border-radius: 10px 10px 0 0;
	.mem_left,.mem_right{
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
	.mem_left{
		font-size:.9rem;
		>div{
			margin:0 0 10px;
			&:last-child{
				margin:0;
			}
		}
		.mem_deliver{
			a{
				margin-left:5px;
				font-size:.9rem;
				color: #06c;
				text-decoration: underline;
			}
		}
	}
	.mem_right{
		text-align: center;
		.trans,.order_detail{
			padding:2px 9px;
			font-size:.9rem;
			color: white;
			background-color: #707070;
			border-radius: 5px;
		}
		.order_detail{
			background-color: #e38796;
		}
	}
}
.mem_sub_order{
	width:100%;
	margin-bottom: 20px;
	font-size:.9rem;
	.mem_sub_cell{
		display: flex;
		flex-flow: row nowrap;
		>div{
			padding:10px;
		}
	}
	.mem_sub_t{
		width: 20%;
		text-align: center;
		background-color: #eee;
		border-bottom: 1px solid white;
	}
	.mem_sub_con{
		width: 80%;
		border-bottom: 1px solid #eee;
		li{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
			margin:0 -10px 0 0;
			img{
				width:20px;
				display: block;
				margin:0 10px;
			}
			p{
				margin:0 10px 0 0;
			}
			.price{
				width:70px;
				text-align:right;
			}
			.name{
				display: flex;
				flex-flow: row nowrap;
				width:200px;
				text-align:right;
				a{
					display: block;
					width:200px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			a{
				margin-left:5px;
				font-size:.9rem;
				color: #28A7E9;
				text-decoration: underline;
			}
		}
	}
	.total_price{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-end;
		padding:10px;
		p{
			margin:0 0 0 50px;
			color: #fa6093;
		}
	}
}

.fav_block{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin:0 0 10px;
	padding:0 0 10px;
	border-bottom:1px solid #ccc;
	img{
		display: block;
		width:150px;
		margin:0 10px 0 0;
	}
	.fav_info{
		width:80%;
	}
	.mid_title{
		margin:0 0 50px;
		text-align: left;
	}
	.fav_func_btn{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin: 10px 0 0;
	}
	.btn-cart{
		display: block;
		padding: 5px 15px;
		font-size: .85rem;
		color: white;
		background-color: #fa6093;
		border-radius: 5px;
	}
	.remove{
		margin-left:10px;
		color: #999;
		font-size: 0.85rem;
		&:hover{
			color:#333;
			i{
				color:#333;
			}
		}
		i{
			margin-right: 3px;
		}
	}
}

.enter_coupon{
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	position: relative;
	width: 100%;
	font-size:.9rem;
	input{
		width:80%;
		margin:0;
		padding:8px 10px;
		border:1px solid #ccc;
		border-right:none;
	}
	.submit{
		width:20%;
		display: block;
		padding:8px 10px;
		color: white;
		background-color: #e38796;
		border: none;
		cursor: pointer;
		text-align: center;
	}
}
.mem_coupon{
	.coupon_detail{
		// width:100%;
		display: flex;
		flex-flow: row nowrap;
		margin:15px 0;
		a{
			padding:8px 20px;
			border-bottom:1px solid #ffe1e1;
			&.active{
				border-bottom:2px solid #e38796;
			}
		}
	}
	.detail_content{
		display: none;
	}
	.active{
		display: block;
	}
}
.coupon_body{
	display: flex;
	flex-flow: row wrap;
}
.coupon_block{
	display: flex;
	flex-flow: row nowrap;
	position: relative;
	width: 49%;
	margin: 0 2% 20px 0;
	padding:10px;
	box-shadow: 1px 2px 10px rgba(0,0,0,.3);
	&:nth-child(2n){
		margin: 0 0 20px;
	}
}
.coupon_ticket{
	display: flex;
	flex-flow: column;
	justify-content: center;
	position: relative;
	margin: -10px 10px -10px -10px;
	padding: 0 25px;
	font-size: 1.5rem;
	background-color: #e38796;
	img{
		width:100px;
	}
	.fas{
		color:white;
	}
	.fa-ticket-alt{
		transform: rotate(-45deg);
	}
}
.coupon_edge{
	position: absolute;left:-4px;top:0;
	width:4px;
	height:100%;
	background: radial-gradient(circle at 0 .25rem,transparent 0,transparent .1875rem,#e38796 0);
	background-size:7px 10px;
}
.title{
	height: 42px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
	font-size:.9rem;	
}
.date{
	color:#999;
	font-size:.75rem;
}
.tag{
	position: absolute;left: -4px;top: 3px;
	padding:2px 5px;
	font-size:.75rem;
	color:white;
	background-color: #57a0f2;
	&.place{
		left:auto;bottom:20px;top:auto;right:10px;
		font-size:.7rem;
		background-color: #bbb;
	}
}
.disable{
	.tag{
		background-color:#555;
	}
	.coupon_ticket{
		background-color: #999;
	}
	.coupon_edge{
		background: radial-gradient(circle at 0 .25rem,transparent 0,transparent .1875rem,#999 0);
		background-size:7px 10px;
	}
}

.mem_point{
	.point_block{
		display: flex;
		height:100px;
		margin:0 0 20px;
		border:2px solid #ddd;
		border-radius: 10px;
		.mypoint,.diepoint{
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			width: 50%;
			padding:10px;
			.big_title{
				color:#fa6093;
			}
		}
		.diepoint{
			border-left:1px solid #ddd;
			.big_title{
				color:#333;
			}
		}
	}
	.point_exchange{
		position: relative;
		.sub_func{
			position: absolute;top:0;right: 0;
			a{
				margin: 0 0 0 10px;
				padding:5px 10px;
				font-size: .85rem;
			}
		}
		.sm_title{
			margin:0 0 10px;
			padding:10px 0;
		}
	}
	.coupon_ticket{
		padding:0;
	}
}
.mem_privacy{
	p{
		margin: 0 0 20px;
		color:#555;
		font-size:.9rem;
		line-height: 1.8;
		letter-spacing: 1px;
	}
	strong{
		color:#333;
		font-weight: 700;
	}
}
.mem_set_block{
	.mid_title{
		margin:0;
		padding:10px;
		text-align: left;
		background-color: #eee;
	}
	.mail{
		display: flex;
		align-items: center;
		margin:10px 0;
		input{
			width:50%;
			border:1px solid #ddd;
		}
		a{
			width: auto;
			margin:0 0 0 10px;
			padding: 10px 20px;
			text-align: center;
			font-size:.9rem;
			color: white;
			background-color: black;
			&:last-child{
				background-color: #999;
			}
		}
	}
}
.set_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:10px;
	border-bottom:1px solid #ddd;
	small{
		font-size:.8rem;
		color:#999;
	}
}
.switch_label {
	position: relative;
	display: block;
	width: 45px;
	height: 23px;
	background: grey;
	border-radius: 45px;
	cursor: pointer;
	&:after{
		content: '';
		position: absolute;
		top: 3px;
		left: 3px;
		width: 17px;
		height: 17px;
		background: #fff;
		border-radius: 50%;
		transition: 0.3s;
	}
	&:active{
		&:after{
			width: 20px;
		}
	}
}
.switch_check{
	display: none;
}
.switch_check:checked + .switch_label {
	background: #00c846;
}

.switch_check:checked + .switch_label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

// 彈出視窗
.location_pop{
	visibility: hidden;
	position:fixed;top:0;left:0;
	width:100%;
	height:100%;
	padding:5px;
	background:rgba(0, 0, 0, .75);
	z-index: 30;
	input{
		width: 100%;
		padding: 10px;
		font-size: 1rem;
		border: none;
	}
	.location_pop_body{
		position: absolute;left: 50%;top: 50%;
		transform: translate(-50%, -50%);
		width:490px;
		padding:20px;
		background-color: white;
		max-height: 500px;
		overflow-y: auto;
	}
	.mid_title{
		margin:-20px -20px 0 -20px;
		padding:10px;
		color: white;
		background-color: #e38796;
		text-align: center;
	}
	.location_btn{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		
	}
	.btn-addcart{
		display: block;
		width:100%;
		margin:5px 0;
		padding:10px 40px;
		font-size:.9rem;
		text-align: center;
		color:white;
		background:#222 ;
	}
}
.mem_point_pop{
	.location_pop_body{
		width:800px;
		padding-bottom:40px;
	}
	.bot_func{
		position: sticky;bottom: -40px;left: 48%;
		margin: 0px 0 0px -37px;
		padding: 10px 0;
		background: white;
		
	}
}
.location_line{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 10px;
	color: #333;
	background-color: white;
	border-bottom: 1px solid #ddd;
}
.location_line_txt{
	margin:10px 0;
	padding: 0 10px;
	p{
		font-size:.85rem;
		line-height: 1.8;
	}
	.indent{
		margin:0 0 0 15px;
	}
	.red{
		color:#d00;
	}
	strong{
		font-size:1.1rem;
		font-weight: 700;
	}
	dl{
		line-height: 1.8;
		font-size:.8rem;
		list-style-type: disc;
		dt{
			margin:5px 0 5px 15px;
			
		}
		dd{
			display: list-item; 
			margin:0 0 10px 40px;
			list-style: outside none disc;
		}
	}
}
.location_select{
	flex-basis: 33%;
	position: relative;
	border-right: 1px solid #aaa;
	&:last-child{
		border:none;
	}
	&:after{
		content: "▾";
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 1.2rem;
	}
	select{
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 1rem;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		border-radius: 0;
	}
}
.post{
	flex-basis: 33%;
}
@import 'layouts/_footer.scss';