@import 'base/_variables.scss';
@import 'base/_mixins.scss';
@import 'base/_base.scss';
@import 'base/_reset.scss';

@import 'layouts/_header.scss';
@import 'layouts/_qmomo_fancybox.scss';

.filter {
	.search_blcok{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		margin:30px 0 15px;
	}
	.search{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		position: relative;
		width:500px;
		margin-right:10px;
		input[type="text"]{
			width: 100%;
			border: 1px solid #ddd;
			color: #555;
			font-size: .9rem;
			height: 32px;
			padding: 5px 36px 5px 10px;
			@include border-radius(30px);
		}
		a{
			position: absolute;right:0;top:0;
			display: block;
			width: 35px;
			height: 100%;
			border: medium none;
			font-size:1rem;
			line-height: 2.3;
			background-color: #eee;
			cursor: pointer;
			@include transition(all 0.5s);
			@include border-radius(30px);
			&:hover{
				opacity: 0.8;	
			}	
		}
		.fa-search{
			position: absolute;top:7px;left:10px;
			color:#555;
		}
	}
	.attr-adv-btn {
		display: block;
		text-align: center;
		margin-bottom: 15px;
		padding: 9px 15px 8px 15px;
		cursor: pointer;
		background: #f7f7f7;
		border: 1px solid #e9e9e9;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-o-transition: 0.3s;
		-ms-transition: 0.3s;
		transition: 0.3s;

		&:hover {
			background: #efefef;
		}

		&.a-c-active {
			margin-bottom: 10px;
			.attr-btn-content:before {
				content: "";
				line-height: 1;
				font-family: FontAwesome;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
	.attr-btn-content {
		font-size: 14px;
		color: gray;
		&:before {
			content: "";
			line-height: 1;
			font-family: FontAwesome;
			vertical-align: middle;
			display: inline-block;
			margin-right: 3px;
		}
	}

	.attr {
		font-size: 0.813em;
		line-height: 250%;
		margin-bottom: 20px;
	}

	.attrcon {
		display: flex;
		flex-flow: row wrap;
		position: relative;
		border-width: 1px;
		border-style: solid;
		border-color: #e9e9e9 !important;
		border-top: none;
		padding: 5px 0;
		&:first-child {
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #e9e9e9 !important;
		}
		label {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			&.disabled {
				color: #d7d7d7;
				cursor: no-drop;
			}
		}

		.colst {
			flex:0 0 12%;
			margin-right: 20px;
			text-align: right;
		}

		.colcheck {
			display: flex;
    		flex-flow: row wrap;
			flex:0 0 72%;
			a {
				display: block;
				width: 115px;
				margin-right: 20px;
				color: #383838;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:hover {
					text-decoration: underline;
				}
				&.current{
					color:#e00517;
				}
			}
			.selected {
				color: #e00517;
			}
		}
		.all {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
			line-height: 140%;
			margin-right: 20px;
		}
		.type {
			width: 65px;
			margin-right: 0;
		}
		.actions {
			position: absolute;
			right: 5px;
			bottom: 0px;
			vertical-align: bottom;

			.colclose {
				display: inline-block;
				margin-left: 10px;
				a {
					color: #333;
					display: inline-block;
				}
			}

			.clearcheck {
				margin: 0 0 0 10px;
			}

			.tirup {
				display: inline-block;
				width: 0;
				height: 0;
				position: relative;
				bottom: 1px;
				left: 1px;
				border-style: solid;
				border-width: 0 5px 6px 5px;
				border-color: transparent transparent #333 transparent;
			}

			.tirdown {
				display: inline-block;
				width: 0;
				height: 0;
				position: relative;
				bottom: 1px;
				left: 1px;
				border-style: solid;
				border-width: 0 5px 6px 5px;
				border-color: transparent transparent #333 transparent;
				border-width: 6px 5px 0 5px;
				border-color: #333 transparent transparent transparent;
			}
		}

		label {
			width: 115px;
			margin-right: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
		}
		input[type="checkbox"] {
			margin-left: 0;
		}
		.input-number {
			padding: 0 0 0 3px;
			width: 70px;
			height: 22px;
			margin: 0 5px;
			border:1px solid #ccc;
			background: white;
			color: black;
		}
		&.special {
			background: #fffaf9;
		}
		.colprice{
			display: flex;
    		flex-flow: row nowrap;
    		align-items: center;
		}
		.btn-submit{
			border:none;
			color:#333;
			background-color: white;
			cursor: pointer;
			@include border-radius(2px);
			@include box-shadow(1px,1px,2px ,#555);
		}
	}

	.attrft {
		height: 30px;
		padding-right: 5px;
		text-align: right;
		border-width: 1px;
		border-style: solid;
		border-color: #e9e9e9 !important;
		border-top: none;

		a {
			color: #4498c8 !important;
		}
	}
}
.result {
	font-size: 1.8em;
	line-height: 140%;
	text-align: center;
	color: #000;
	margin: 2em 0;
	padding: 0 10px;
}



.sort_block{
	margin:20px 0 0;
	padding:10px 0;
	.container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		
		border-bottom:1px solid $theme-color;
	}
}
.sort{
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	padding:0;
	font-size:.9rem;
	label{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		width:100px;height:36px;
		margin: 0;
		text-align: center;
		cursor: pointer;
		color:#777;
		&:last-child{
			margin:0;
		}
	}
	p{
		width:100px;
		line-height: 36px;
	}
	input{
		display: none;
		&:checked{
			~.checkmark{
				border:none;
				background-color:$theme-color;
			}
			~p{
				color:white;
				position: absolute;left:0;top:0;
			}
		}
	}
	.checkmark{
		width:100px;height:36px;
		position: absolute;left:0;top:0;
		cursor: pointer;
	}
}
@import 'layouts/_footer.scss';