.col-4{
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}
.product{
	width: 320px;
	@include clearfix;
	figcaption{
		margin-top: 10px;
		@include box-sizing(border-box);
		h1{
			height:52px;
			line-height: 140%;
			font-size: 1.2em;
			color: black;
			font-weight: bold;
			word-break:break-all;
			overflow:hidden;
		}
		h2{
			line-height: 140%;
			margin-bottom: 20px;
			height: 44px;
			overflow: hidden;
			word-break:break-all;
			display:none;
		}
		.product-item-price{
			margin-bottom: 10px;
			position: relative;
			@include clearfix;
			.gray{
				color: #555;
			}
			.price{
				font-size: 2.2em;
				color: $red;
				display: inline-block;
				margin-right: 10px;
			}
			.text30{
				font-size: 0.6em;
			}
		}
		.quantity{
			float: left;
			margin-right: 10px;
			@include clearfix;
			li{
				float: left;
				border: 1px solid $light_gray;
				margin-left: 0;
				background: white;
				width: 48px;
				height: 32px;
				line-height: 16px;
				&:first-child, &:last-child{
					border-right: none;
					@include border-left-radius (2px);
					width: 32px;
				}
				&:last-child{
					border-left: none;
					@include border-right-radius (2px);
					border-right: 1px solid $light_gray;
				}
				.type{
					display: block;
					color: black;
					padding: 6px 0;
					text-align: center;
				}
				input{
					width: 46px;
					height: 30px;
					border: 0;
					font-size: 1em;
				}
			}
		}
		.button{
			float: left;
			@include box-sizing(border-box);
		}
		.highlight{
			font-size: 0.813em;
			display: inline-block;
			text-align: left;
			line-height: 1.4;
		}
		.gray{
			color: #555;
		}
	}
}
//large desktop
@include RWD(desktop-extra) {
.col-4{
	width: 450px;
	height: 560px;
	&:nth-child(3n){
		width: 320px;
	}
}
}

//desktop
@include RWD(desktop-normal) {
.col-4{
	width: 330px;
	height: 560px;
	&:nth-child(3n){
		width: 300px;
	}
	.product{
		width: 300px;
	}
}
}

//pad
@include RWD(pad) {
.col-4{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.product{
	padding: 15px;
	width: auto;
	height: 580px;
	figcaption{
		.product-item-price{
			.highlight{
				margin: 10px 0 0;
			}
			.price{
				font-size: 1.9em;
				float: none;
			}
		}
		.quantity{
			li{
				width: 52px;
				margin-bottom: 10px;
				&:first-child, &:last-child{
					width: 36px;
				}
			}
		}
		.highlight{
			display: block;
			height: 40px;
			overflow: hidden;
		}
		.button{
			float: none;
			margin-bottom: 10px;
		}
	}
	.message{
		text-align: left;
	}
}
}
//mobile
@include RWD(mobile) {
.col-4{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.product{
	padding: 36px 20px;
	width: auto;
	.photo{
		width: 50%;
		float: left;
	}
	figcaption{
		float: left;
		margin: 0;
		width: 50%;
		padding-left: 10px;
		h1{
			line-height: 140%;
		}
		h2{
			font-size: 0.85em;
			height: 40px;
			margin-bottom: 10px;
		}
		.product-item-price{
			.highlight{
				margin: 10px 0 0;
			}
			.price{
				font-size: 1.6em;
			}
		}
		.quantity{
			li{
				width: 30px;
				input{
					width: 28px;
				}
			}
		}
		.button{
			width: auto;
		}
	}
}
}

@include RWD(mobile-small) {
.product{
	padding:16px 20px;
	.photo{
		width: 40%;
		float: left;
	}
	figcaption{
		width: 60%;
		float: left;
		margin: 0;
		padding-left: 10px;
	}
	.product-item-price{
		.highlight{
			position: static;
			margin-top: 10px;
		}
		.price{
			display: block;
		}
	}
	.quantity{
		margin-bottom:0;
		li{
			margin-bottom: 10px;
		}
	}
	.button{
		float: none;
	}
	.message{
		text-align: left;
	}
}
}