// 首頁
@import "partials/base";
@import "partials/color";
@import "partials/page";
@import "partials/cupn";
@import "3rd-party/_swiper.scss";

.swiper-wrapper{
    height: auto;
}
.pay_dis{
    display:flex;
    flex-flow:column nowrap;
    align-items: baseline;
    color:$primary-color;
    font-size:.9rem;
    .price{
        font-size:2rem;
        color:$primary-color;
        &::first-letter{
            font-size:1.2rem;
        }
    }
}
.price{
    &::first-letter{
        font-size:.7rem;
    }
}
.per_dur{
    position: relative;
}
.restock{
    position: absolute;left:0;bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size:.9rem;
    letter-spacing: 2px;
    color:white;
    background: rgba($color: #000000, $alpha: .7);
}
.btn-imd{
    width: 100%;
    margin:10px 0 0 0;
    padding: 10px 0 10px 10px;
    font-size: .9rem;
    letter-spacing: 6px;
    border: none;
    color: white;
    background-color: $primary-color;
    cursor: pointer;
    line-height: 1;
    align-self:center;
}
.per_info{
    display: flex;
    flex-flow: row nowrap;
}
.per_l{
    display: flex;
    flex-flow: row nowrap;
    background-color: #ece8df;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    .name{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        width:130px;
        font-size:1.2rem;
        color:#000;
        line-height: 1.25;
        word-break: break-word;
        overflow: hidden;
    }
}
.per_r{
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    img{
        max-height: 160px;
        max-width: 160px;
    }
    .name{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        margin:5px 0;
        color:#888;
        font-size:.8rem;
        line-height: 1.25;
    }
}
.per_price{
    display: flex;
    flex-flow:column nowrap;
    align-items: baseline;
    color:$price;
    font-size:1rem;
    font-weight: 700;
    .title{
        font-size:.8rem;
    }
    .rush{
        margin-left:10px;
        color:#06c;
        font-size:.8rem;
        font-weight: 700;
        text-decoration: underline;
    }
}
.topic{
    margin: 0 0 5px 10px;
}
// slider
.per_duoslide{
    width: 100%;
    margin:15px 0 0;
    position: relative;
    overflow-x: auto;
    -ms-overflow-style: none;
  	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
    .per_img{
        display: block;
        max-height:240px;
        background-color: white;
    }
    .per_buy{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding:10px;
        .currency{
            font-size:1.2rem;
        }
        .per_price{
            justify-content: space-between;
            &::first-letter{
                .price{
                    font-size:.7rem;
                }
            }
        }
    }
    .per_block{
        margin:10px;
    }
}
.duo_2{
    background-color: #ece8df;
}
.per_r_info{
    .per_price{
        display: flex;
        flex-flow: row nowrap;
    }
}

// banner
.ad_banner{
    margin-top:15px;
    img{
        width: 100%;
        display: block;
    }
}


// 特賣主題
.spec_prod{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow-x: auto;
}
.spec_slide {
    margin: 0 10px 0 0;
}
.spec_prod{
    margin:15px 0 0;
    background-color:#ece8df;
    border-radius:10px;
    .per_price{
        display: flex;
        flex-flow: row nowrap;
        color:$price;
        font-size:.9rem;
        font-weight: 500;
    }
    
}
.spec_img{
    width: 240px;
    height: 240px;
    border:5px solid #ddd5cc;
    border-radius:10px;
}
.spec_info{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding:5px 10px 15px;
}
.spec_prod_t{
    padding: 8px 0 8px 10px;
    font-size:1.25rem;
}
.spec_block{
    display: flex;
    flex-flow: row nowrap;
}
.spec_l{
    margin-right: 10px;
}
.spec_name{
    width:154px;
    font-size:.8rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}
.spec_r_block{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .per_price{
        padding: 6px 0 8px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}

// 標籤雲
.tag_cloud {
    position: relative;
    margin: 15px 0 0;
    padding:12px 0 0 40px;
    background-color: #ccc;
    .icon_search{
        &::before{
            font-size:1.2rem;
        }
    }
}
.hot_slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
	width:100%;
	overflow-x: auto;
}
.hot_tag{
    display: block;
    margin: 0 5px 8px;
    padding: 8px 10px;
    color: #333;
    font-size: 1rem;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    white-space: nowrap;
}
.hot_t{
    position: absolute; left:0; top:50%;z-index: 10;transform: translateY(-50%);
    width:30px;
    padding: 15px 3px;
    font-size:1.2rem;
    color:white;
    background: black;
    border-radius: 0 5px 5px 0;
    text-align: center;
}
.icon_func{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:15px 2% 0;
}
.icon_func_block{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width:18%;
    margin:0 1% 0 0;
    padding: 1%;
    &:last-child{
        margin: 0;
    }
    .icon{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width:100%;
        font-size:2.1rem;
        color:white;
        background-color: $primary-color;
        background: linear-gradient(45deg, rgba(250,90,0,1) 18%, rgba(220,15,0,1) 60%);
        border-radius: 50%;
        aspect-ratio: 1;
        &::before{
            font-size:10vw;
        }
        
    }
    .icon_coupon{
        &::before{
            font-size:6vw;
        }
    }
}
.icon_txt{
    margin: 5px 0;
    font-size: 1rem;
    color:black;
    letter-spacing: 1px;
}


.items{
    display: flex;
    flex-flow:row wrap;
    margin:15px 0 0;
    padding:20px 2%;
    background-color: #eee;
    .photo{
        position: relative;
        display: block;
        width: 100%;
    }
    .float{
        display: none;
        position: absolute;left: 0;top: 0;
        width: 100%;height:100%;
        color:white;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius:10px;
    }
    .icon{
        margin-bottom: 25px;
        font-size:1.5rem;
    }
    img{
        display: block;
        width: 100%;
        border-radius:10px;
    }
    .info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin:5px 0;
        padding-top: 5px;
    }
    .name{
        width:120px;
        color: black;
        font-size:.7rem;
        white-space: nowrap;
        overflow: hidden;
    }
    .price{
        margin-left:5px;
        color:$price;
        font-size:.8rem;
    }
}
.item{
    width: 32%;
    margin:0 2% 2% 0;
    border-radius:10px;
    &:nth-child(3n){
        margin:0;
    }
    &:hover{
        .photo{
            .float{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: flex-end;
            }
        }
    }
}
@media (max-width: 400px){
    .per_duoslide{
        .per_img{
            max-height:200px;
        }
    }
    .per_r{
        img{
            max-height: 120px;
            max-width: 120px;
        }
    }
}