html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  font-family: "Microsoft JhengHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  -webkit-appearance: none;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

::-webkit-search-cancel-button {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?6crbf1");
  src: url("../../fonts/icomoon.eot?6crbf1#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?6crbf1") format("truetype"), url("../../fonts/icomoon.woff?6crbf1") format("woff"), url("../../fonts/icomoon.svg?6crbf1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_refresh:before {
  content: "\e92f";
  color: #1079be;
}

.icon_star2:before {
  content: "\e937";
  color: #cf141b;
}

.icon_arrow:before {
  content: "\e93f";
  color: #bcbbbb;
}

.cupn_frame:before {
  content: "\e912";
  color: #de1715;
}

.cupn_arrow:before {
  content: "\e913";
  color: #fff;
}

.icon_check:before {
  content: "\e90e";
  color: #fff;
}

.icon_clear:before {
  content: "\e90f";
  color: #999;
}

.icon_search:before {
  content: "\e910";
  color: #fff;
}

.icon_cart:before {
  content: "\e911";
  color: #fff;
}

.icon_pictxt:before {
  content: "\e907";
  color: #666;
}

.icon_picview:before {
  content: "\e914";
  color: #666;
}

.icon_account:before {
  content: "\e900";
  color: #fff;
}

.icon_coupon_w:before {
  content: "\e901";
  color: #fff;
}

.icon_coupon:before {
  content: "\e904";
  color: #fff;
}

.icon_dis:before {
  content: "\e90d";
  color: #fff;
}

.icon_home:before {
  content: "\e915";
  color: #fff;
}

.icon_hot:before {
  content: "\e905";
  color: #fff;
}

.icon_logo:before {
  content: "\e906";
  color: #e62f21;
}

.icon_menu:before {
  content: "\e908";
  color: #fff;
}

.icon_new:before {
  content: "\e909";
  color: #fff;
}

.icon_notice:before {
  content: "\e90a";
  color: #fff;
}

.icon_star:before {
  content: "\e90b";
  color: #fff;
}

.icon_vip:before {
  content: "\e90c";
  color: #fff;
}

.icon_minus:before {
  content: "\e918";
  color: #888988;
}

.icon_plus:before {
  content: "\e917";
  color: #888988;
}

.icon_track_plus:before {
  content: "\e902";
  color: #f9d0d7;
}

.icon_track:before {
  content: "\e903";
  color: #fff;
}

.icon_trash:before {
  content: "\e916";
  color: #888988;
}

.icon_track_plus:before {
  color: #de1715;
}

.icon_search:before {
  font-size: 1.6rem;
}

.icon_cart:before {
  font-size: 1.6rem;
}

.icon_coupon:before {
  font-size: 1.5rem;
}

.icon_logo:before {
  background-color: white;
  border-radius: 50%;
  font-size: 2.5rem;
}

.body_container {
  width: 100%;
  padding: 56px 0 40px;
}

.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  zoom: 1;
}

.o_hidden {
  overflow: hidden;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: #f5281e;
  zoom: 1;
}
.site-header.bg_white {
  background: white;
}
.site-header.bg_white .btn-menu {
  color: #555;
}
.site-header.bg_profile {
  background: white;
}
.site-header.bg_profile .head_con {
  padding: 10px 10px 11px;
}
.site-header.bg_profile .btn-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.site-header.bg_pic {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.site-header.bg_pic .head_con {
  padding: 10px 10px 11px;
}
.site-header.bg_pic .btn-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.head_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.head_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head_l .icon_arrow {
  margin: 0 10px 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.head_l .icon_arrow::before {
  color: white;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
}
.profile h1 {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 1rem;
  line-height: 1.3;
}
.profile h1 p {
  width: 105px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prof_r {
  margin-left: 5px;
}
.prof_r .social_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prof_r a {
  margin-right: 2px;
}
.prof_r img {
  width: 25px;
  height: 25px;
  border: 2px solid white;
  border-radius: 50%;
}

.head_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
}
.head_r .icon_cart {
  position: relative;
  margin: 0 0 0 30px;
}
.head_r .icon_check {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 4px 3px;
  font-size: 0.7rem;
  color: white;
  background: #d00;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.icon_menu {
  margin-right: 20px;
  color: white;
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.site-search, .search_func {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 15;
}
.site-search .input-search, .search_func .input-search {
  width: 100%;
  padding: 12px 35px 12px 40px;
  background: white;
  color: #aaa;
  font-size: 0.9rem;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  outline: none;
  -webkit-appearance: none;
}
.site-search .input-search:focus, .search_func .input-search:focus {
  color: black;
}
.site-search .icon_clear, .search_func .icon_clear {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.site-search .search, .search_func .search {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}
.site-search .icon_search::before, .search_func .icon_search::before {
  color: #999;
  font-size: 1.2rem;
}

.cart {
  display: block;
  position: relative;
}
.cart:after {
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  font-size: 0.7rem;
  padding: 1px;
  color: white;
  background: #d00;
  border: 2px solid white;
  border-radius: 50%;
}

.img-cart {
  width: 28px;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border-top: 3px solid white;
}
.site-footer [class*=img-] {
  width: 30px;
  height: 30px;
}
.site-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.site-footer li a {
  display: block;
  padding: 3px 5px;
  position: relative;
}
.site-footer .icon_txt {
  display: block;
  color: white;
  font-size: 0.7rem;
}
.site-footer .footer-notice .number {
  position: absolute;
  right: 0;
  top: 4px;
  min-width: 20px;
  height: 20px;
  padding: 2px 3px;
  background: #d00;
  color: white;
  font-size: 0.7rem;
  line-height: 1.4;
  text-align: center;
  border-radius: 50%;
}
.site-footer .container {
  background: #333;
  text-align: center;
}
.site-footer .title-h2 {
  padding: 5px 0;
  font-size: 0.9rem;
  color: white;
}
.site-footer .title-h2 a {
  color: white;
  margin-left: 5px;
}

.menu {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 30;
  width: 100%;
  max-width: 414px;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  padding-bottom: 56px;
  background: #FFF;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu::-webkit-scrollbar {
  display: none;
}
.menu.active {
  display: block;
}

.menu_tabs {
  margin-right: 10px;
  overflow-y: auto;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  background: white;
}

.menu_label {
  display: block;
  width: 23%;
  margin: 0 0 1px 0;
  padding: 25px 0;
  font-size: 1.2rem;
  color: #888;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  background: #eee;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu_tab {
  display: none;
  position: absolute;
  top: 0;
  left: 23%;
  width: 73%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  margin: 0 1%;
  padding: 0 1%;
  overflow-y: auto;
  background: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu_tab::-webkit-scrollbar {
  display: none;
}

.menu_tabs input[type=radio] {
  display: none;
}

.menu_tabs input[type=radio]:checked + label {
  color: #e00;
  background: #FFF;
  border-left: 5px solid #e00;
}

.menu_tabs input[type=radio]:checked + label + .menu_tab {
  display: block;
}

.menu_cate_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: auto;
  margin: 10px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.menu_cate_link::-webkit-scrollbar {
  display: none;
}
.menu_cate_link a {
  display: block;
  margin: 0 10px 0 0;
  color: #333;
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
}
.menu_cate_link a.active {
  color: white;
  background-color: #666;
}

.menu_t {
  width: 100%;
  margin: 20px 0;
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.menu_sub_t {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5;
  overflow: hidden;
}

.menu_cate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.menu_cate_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 80px;
  text-align: center;
  color: #333;
  word-break: break-word;
}

.menu_items {
  background: #FFF;
  padding: 0;
  margin: 0 0 10px;
}

.menu_img {
  width: 100%;
  margin: 0 0 6px;
}

.bread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 10px;
  padding: 8px 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.bread p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: #06f;
}
.bread a {
  display: block;
  color: #666;
  text-decoration: underline;
}
.bread span {
  margin: 0 5px;
  color: #666;
}

.foot_link {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (20%)[5];
  grid-template-columns: repeat(5, 20%);
  padding: 5px 0;
  background-color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.foot_link > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.foot_link > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.foot_link > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.foot_link > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.foot_link > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.foot_link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
.foot_link a:before {
  font-size: 1.6rem;
}

.cupn_slide {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-rows: 110px 5px 110px;
  grid-template-rows: repeat(2, 110px);
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 5px;
  width: 100%;
  margin: 15px 0 0;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cupn_slide::-webkit-scrollbar {
  display: none;
}

.cupn_con {
  position: relative;
  margin: 15px 0 0;
  padding: 0 20px;
}
.cupn_con .swiper-button-prev {
  left: 0;
}

.cupn_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 8px;
}

.cupn_des {
  font-size: 1.15rem;
  font-weight: 700;
}

.cupn_time {
  color: #d00;
}

.cupn_more {
  padding: 5px 17px;
  font-size: 1.15rem;
  color: #ff0;
  background: #f5281e;
  text-decoration: underline;
  border-radius: 5px;
}

.cupn_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cupn_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 360px;
  padding: 8px;
  background-color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 8px;
}

.cupn_photo {
  display: block;
}

.cupn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5px 0 0;
}

.cupn_info {
  margin: 0 0 0 5px;
}

.cupnimg {
  display: block;
  width: 90px;
  border: 2px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cupn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cupn_t {
  margin: 0 0 6px;
  color: #f5c5c5;
  font-size: 0.7rem;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cupn_ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 91px;
  height: 39px;
  font-size: 0.7rem;
  background: #f5c5c5 url("../../img/mobile/cupn_frame.svg") no-repeat center center;
  border: 2px solid #f5c5c5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cupn_dur {
  color: #555;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.cupn_price {
  margin: 2px 0 0;
  color: #ee6262;
  font-size: 0.9rem;
  font-weight: 700;
}
.cupn_price::first-letter {
  font-size: 0.7rem;
}

.cupn_name {
  width: 143px;
  margin: 0 15px 0 0;
  font-size: 0.9rem;
  color: white;
  line-height: 1.2;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cupn_nor, .cupn_dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.cupn_nor .nor_t, .cupn_nor .dis_t, .cupn_dis .nor_t, .cupn_dis .dis_t {
  margin: 0 5px 0 0;
  color: #888;
  font-size: 0.7rem;
}

.cupn_nor {
  margin: 0 0 -2px;
}
.cupn_nor .nor_price {
  text-decoration: line-through;
}
.cupn_nor .nor_price {
  margin: 0 8px 0 0;
  font-size: 0.8rem;
  color: #888;
  text-decoration: line-through;
}
.cupn_nor .nor_price::first-letter {
  font-size: 0.7rem;
}

.cupn_dis {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cupn_dis .dis_net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.cupn_dis .dis_price {
  color: #f77;
  font-size: 1rem;
}
.cupn_dis .dis_price::first-letter {
  font-size: 0.7rem;
}
.cupn_dis .dis_af {
  color: white;
  font-size: 0.8rem;
}
.cupn_dis .dis_af_price {
  color: #ff0;
  font-size: 1.2rem;
}
.cupn_dis .dis_af_price::first-letter {
  font-size: 0.7rem;
}

.cupn_arrow::before {
  font-size: 0.7rem;
}

.sub_head .container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cupn_items {
  --gap: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
}

.cupn_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  max-width: 360px;
  padding: 8px;
  background-color: #333;
  margin: var(--gap) 0 0 var(--gap);
  border-radius: 10px;
}