/*
Syntax error: Undefined mixin 'background-gradient'.
        on line 9 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss, in `background-gradient'
        from line 9 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss
        from line 2 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/_frame.scss
        from line 1 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/frame.scss

Backtrace:
C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss:9:in `background-gradient'
C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss:9
C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/_frame.scss:2
C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/frame.scss:1
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyArray.java:2339:in `collect'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyArray.java:2339:in `collect'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/tree/root_node.rb:20:in `render'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/engine.rb:315:in `_render'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/../sass/engine.rb:262:in `render'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/compass_patch.rb:168:in `compile'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/compass_patch.rb:167:in `compile'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/compass_patch.rb:166:in `compile'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:97:in `sass_modified'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:90:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Users/jonic/Desktop/fire.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/watch.rb:17:in `run_callback'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/app_watcher.rb:34:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/app_watcher.rb:29:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/C:/Users/jonic/Desktop/fire.app/fire-app.jar!/app_watcher.rb:28:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Users/jonic/Desktop/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
C:/Users/jonic/Desktop/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
C:/Users/jonic/Desktop/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
C:/Users/jonic/Desktop/fire.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-gradient'.\A         on line 9 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss, in `background-gradient'\A         from line 9 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/../frame/_layouts.scss\A         from line 2 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/../../../frame/_frame.scss\A         from line 1 of C:/xampp/htdocs/seagame/c/sass/white/zh-tw/main/frame.scss"; }
