
$base-color:#333;

$theme-color:#ffadad;

$main_color:#cbabb0 ;

// 排序
$sort_bg:#ffadad;
$sort_color:white;
 
//tab底線顏色
$tab_line:#ffadad;

// 行銷活動購物車按鈕
$campaign_add_btn:#222;
$campaign_add_color:white;

// 商品頁
$tag_color:#fa6093;
$act_color:#fa6093;

// header背景色
$header_bg:#cbabb0;

// 購物車header背景色
$cart_header_bg:#cbabb0;

// 搜尋按鈕底色
$search_btn_bg:#cbabb0;

// 購物車數量底色
$cart_notify_bg:#c70034;

// 商品圖片預覽視窗關閉按鈕底色
$pop_close_color:#e38796;

// 我的收藏商品愛心顏色
$item_fav:#fa6093;

// 加入購物車按鈕顏色
$addcart_btn_bg:#fa6093;

// 金額顏色
$price_color:#fa6093;

//會員區
$mem_main_color:#e38796;
$mem_tag:#57a0f2;//優惠券標籤底色
$mem_tag_disable:#555;//優惠券標籤過期底色
$mem_tag_color:white;//優惠券標籤文字顏色

//404
$txt_color_404:#fa6093;
