doctype html
html
	head
		include src/_meta.pug
		link(href='css/index.css', rel='stylesheet')
	body
		.cupn_top
			.container
				a.cupn_qr(href="#download")
					img(src="img/sample/qrcode.svg", alt="qrcode")
					span 下載APP
				.topic
					img(src="img/dtype.svg", alt="")
				a.cupn_chg(href="#")
					img(src="img/sample/turn.svg", alt="")
					span 再轉
		.banner
			img(src="img/banner.svg", alt="快速購物")
		.container
			.cupn_items
				a.cupn_item(href='#').rotate-in-center
					.photo
						img.cupnimg(src='img/sample/04_01_80.jpg', alt='商品名稱', title='商品名稱')
					.info
						.cupn
							h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
							.cupn_block
								.cupn_t 個人對品折價券
								.cupn_ticket
									<!--.cupn_dur 07/13 23:59止-->
									.cupn_price $1,000 
						.nor
							.nor_t 市價
							.nor_price $999,999
						.dis
							.dis_net
								.dis_t 網路價
								.dis_price $299,999
							img(src="img/cupn_arrow.svg")
							.dis_net
								.dis_af 折後
								.dis_af_price $298,999
				a.cupn_item(href='#').slit-in-diagonal-2
					.photo
						img.cupnimg(src='img/sample/04_02_80.jpg', alt='商品名稱', title='商品名稱')
					.info
						.cupn
							h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
							.cupn_block
								.cupn_t 個人對品折價券
								.cupn_ticket
									<!--.cupn_dur 07/13 23:59止-->
									.cupn_price $1,000 
						.nor
							.nor_t 市價
							.nor_price $999,999
						.dis
							.dis_net
								.dis_t 網路價
								.dis_price $299,999
							img(src="img/cupn_arrow.svg")
							.dis_net
								.dis_af 折後
								.dis_af_price $298,999
				a.cupn_item(href='#').roll-in-left
					.photo
						img.cupnimg(src='img/sample/04_03_80.jpg', alt='商品名稱', title='商品名稱')
					.info
						.cupn
							h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
							.cupn_block
								.cupn_t 個人對品折價券
								.cupn_ticket
									<!--.cupn_dur 07/13 23:59止-->
									.cupn_price $1,000 
						.nor
							.nor_t 市價
							.nor_price $999,999
						.dis
							.dis_net
								.dis_t 網路價
								.dis_price $299,999
							img(src="img/cupn_arrow.svg")
							.dis_net
								.dis_af 折後
								.dis_af_price $298,999
				a.cupn_item(href='#').rotate-in-ver
					.photo
						img.cupnimg(src='img/sample/04_03_80.jpg', alt='商品名稱', title='商品名稱')
					.info
						.cupn
							h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
							.cupn_block
								.cupn_t 個人對品折價券
								.cupn_ticket
									<!--.cupn_dur 07/13 23:59止-->
									.cupn_price $1,000 
						.nor
							.nor_t 市價
							.nor_price $999,999
						.dis
							.dis_net
								.dis_t 網路價
								.dis_price $299,999
							img(src="img/cupn_arrow.svg")
							.dis_net
								.dis_af 折後
								.dis_af_price $298,999
				a.cupn_item(href='#').rotate-in-hor
					.photo
						img.cupnimg(src='img/sample/04_03_80.jpg', alt='商品名稱', title='商品名稱')
					.info
						.cupn
							h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
							.cupn_block
								.cupn_t 個人對品折價券
								.cupn_ticket
									<!--.cupn_dur 07/13 23:59止-->
									.cupn_price $1,000 
						.nor
							.nor_t 市價
							.nor_price $999,999
						.dis
							.dis_net
								.dis_t 網路價
								.dis_price $299,999
							img(src="img/cupn_arrow.svg")
							.dis_net
								.dis_af 折後
								.dis_af_price $298,999
				mixin cupnimg(src)
					a.cupn_item(href='#')
						.photo
							img.cupnimg(src='img/sample/'+ src +'.jpg', alt='商品名稱', title='商品名稱')
						.info
							.cupn
								h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
								.cupn_block
									.cupn_t 個人對品折價券
									.cupn_ticket
										<!--.cupn_dur 07/13 23:59止-->
										.cupn_price $1,000 
							.nor
								.nor_t 市價
								.nor_price $999,999
							.dis
								.dis_net
									.dis_t 網路價
									.dis_price $299,999
								img(src="img/cupn_arrow.svg")
								.dis_net
									.dis_af 折後
									.dis_af_price $298,999
				+cupnimg('04_01_80')
				+cupnimg('04_02_80')
				+cupnimg('04_03_80')
				+cupnimg('04_04_80')
				+cupnimg('04_01_80')
				+cupnimg('04_02_80')
				+cupnimg('04_03_80')
				+cupnimg('04_04_80')
				+cupnimg('04_01_80')
				+cupnimg('04_02_80')
				+cupnimg('04_03_80')
				+cupnimg('04_04_80')
			.foot_link
				a.more(href="#") 看更多商品>
				a.cupn_chg(href="#")
					img(src="img/sample/turn.svg", alt="")
		footer.copyright
			.container
				small 本區商品、規格、顏色、價格、贈品
				small 以遠傳friDay購物-購物車結帳頁面為準，敬請見諒
				small
					| Copyright © friDay Corporation All rights reserved.
					a(href='#') 隱私權政策
		.lightbox-target#download
			.light_box
				a.down(href="#") 前往下載APP>
				a.scan(href="#") 或直接掃描QR Code進入網頁
				img(src="img/sample/qrcode.svg", alt="qrcode")
				a(href="#").lightbox-close
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/coupon.js')

