doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head.pug

		title Qmomo | 內衣【SIMPLE BRA】抗敏棉感蕾絲無鋼圈三角杯內衣這個應該會超過兩行
		meta(name='description' content='因應敏感肌膚、經期、發育中、孕期、哺乳期女孩不適等必備的舒適內衣款～特製鬆緊帶及棉感蕾絲，柔軟舒適質地，可抽取Ｌ型側厚上薄，無鋼圈設計，側推聚集胸型')
		meta(name='keywords' content='三角杯內衣,無鋼圈內衣,舒適內衣,蕾絲內衣,抗敏感內衣')
		meta(property='fb:pages' content='qmomotw')
		meta(property='og:url' content='http://www.qmomo.com.tw/SalePage/Index/6527577')
		meta(property='og:image' content='https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6527577/0/637341444881030000?v=1')
		meta(itemprop='og:description' content='因應敏感肌膚、經期、發育中、孕期、哺乳期女孩不適等必備的舒適內衣款～特製鬆緊帶及棉感蕾絲，柔軟舒適質地，可抽取Ｌ型側厚上薄，無鋼圈設計，側推聚集胸型')

		link(href='css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/item.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/item.js')
	body
		include ../pug_common/_loading.pug

		include ../pug_common/_header.pug

		include ../pug_common/_item.pug

		include ../pug_common/_footer.pug


		