footer.foot_nav
	.foot_link
		a(href="#") 網站簡介
		a(href="#") 服務條款
		a(href="#") 購物約定條款
		a(href="#") 防詐騙宣導
		a(href="#") 隱私權說明
		//- a(href="#") 購物說明
		//- a(href="#") 常見Q&A
	.foot_pby
		.foot_pby_txt
			p Powered by 
			img.foot_pbyimg(src="img/ysdt_logo.svg", alt="")
		small 遠時數位科技 提供技術服務,包含AI生成網站,金流,發票及客服
	a.gotop(href="#")
include _template_link.pug