footer.copyright
	.container
		small
			| Copyright © friDay Corporation All rights reserved.
			a(href='#') 隱私權政策
	a.gotop(href="#")
	// 狀態列 僅作為切換版面使用
	.chg_block
		.chg_btn
			p
				i.icon.icon_allcate
			.chg_st
				a(href='index.html') 原始版本天
				a(href='index_white_profile_bg.html') 底圖天
				hr
				a(href='item.html') 單品
				a(href='item_add01.html') 加＋贈不選
				a(href='item_add02.html') 多規+加+贈
				a(href='item_AB.html') A+B
				a(href='item_ABchoice.html') AB任選
				a(href='item_hide.html') 隱藏商品
				a(href='item_notsale.html') 尚未開賣
				a(href='item_soldout.html') 售完補貨中
				a(href='item_per.html') 個人賣場
	style.
		.chg_block {
			position: fixed;
			right: 0;
			top: 30%;
			z-index: 10;
		}
		.chg_btn {
			position: relative;
			
		}
		.chg_btn .icon_allcate::before{
			font-size:.7rem;
			color:black;
		}
		.chg_btn p {
			padding: 10px 5px;
			font-size: .85rem;
			color: #333;
			background: #ffda34;
			cursor:pointer;
		}
		.chg_btn:hover .chg_st {
			display: flex;
		}
		.chg_st {
			display: none;
			flex-flow: column wrap;
			position: absolute;right: 0;top: 100%;
		}
		.chg_st a {
			display: block;
			width: 77px;
			margin: 2px;
			padding: 7px 10px;
			font-size: .85rem;
			color: #333;
			background-color: #eee;
			text-decoration: none;
			border-radius: 8px;
			box-shadow: -1px 1px 5px #aaa;
		}
		.chg_st a:hover {
			color: #333;
			background: #ffda34;
		}
