footer.copyright
	.foot_nav
		a(href="#") 網站簡介
		a(href="#") 服務條款
		a(href="#") 隱私權說明
		a(href="#") 購物約定條款
		a(href="#") 防詐騙宣導
		a(href="#") 購物說明
		a(href="#") 常見Q&A
	small
		| 遠時數位科技股份有限公司提供技術服務
	a.gotop(href="#")
include _template_link.pug