.func_top
	.sort
		.sort_check
			input.sort_radio#sort1(type="radio", name="sort" checked="checked")
			label.sort_lb(for="sort1") 暢銷排行
		.sort_check
			input.sort_radio#sort2(type="radio", name="sort")
			label.sort_lb(for="sort2") 最新上架
		.sort_check
			input.sort_radio#sort3(type="radio", name="sort")
			label.sort_lb(for="sort3") 價格由高到低
		.sort_check
			input.sort_radio#sort4(type="radio", name="sort")
			label.sort_lb(for="sort4") 價格由低到高
	a.icon.icon_pictxt(href="#")