header.site-header
	.container
		.main-head
			.header_l
				a.logo(href='index.html')
					img(src='img/friday_logo_w.svg', alt='friDay')
					h1 friDay
				.site-search
					input.input-search(type='search', maxlength='128', placeholder='請輸入商品名稱')
					button.btn-submit(type='submit')
						img.icon-search(src='img/search_black.svg', alt='搜尋icon')
			.header_r
				ul.head-link
					li
						a(href='per.html') 專屬品
					li
						a(href='#') 瘋最夯
					li
						a(href='#') 新降價
					li
						a(href='#') 新到貨
					li
						a(href='coupon.html') 折價券
				ul.head-func
					li
						a.my-account(href='#')
							img(src='img/icon_account_w.svg', alt='我的')
							span 我的
					li
						a.cart(href='cart/orderlist.html')
							img(src='img/icon_cart_w.svg', alt='購物車')