.lightbox-target#split
	.split_box
		.lightbox_t 信用卡分期
		.split_table
			.split_row
				.split_td.month 3
				.split_td.rate 0%
				.split_td.money $9996
				.split_td.bank 接受28家銀行
			.split_row
				.split_td.month 6
				.split_td.rate 0%
				.split_td.money $4998
				.split_td.bank 接受28家銀行
			.split_row
				.split_td.month 12
				.split_td.rate 0%
				.split_td.money $2499
				.split_td.bank 接受28家銀行
			.split_row
				.split_td.month 18
				.split_td.rate 7.5%
				.split_td.money $1791
				.split_td.bank 接受28家銀行
		.tip 除不盡餘數於第一期收取
		a(href="#").lightbox-close