.item_slider
	.swiper-container.gallery-top
		.swiper-wrapper
			.swiper-slide
				img.photo-main(src='img/sample/itempage_360_1.jpg', alt='')
			.swiper-slide
				img.photo-main(src='img/sample/XRorange.jpg', alt='')
			.swiper-slide
				img.photo-main(src='img/sample/XRblack.jpg', alt='')
			.swiper-slide
				img.photo-main(src='img/sample/XRblue.jpg', alt='')
			.swiper-slide
				img.photo-main(src='img/sample/XRwhite.jpg', alt='')
			.swiper-slide
				img.photo-main(src='img/sample/XRyellow.jpg', alt='')
	.swiper-thumbs.item_line
		.swiper-container.gallery-thumbs
			.swiper-wrapper
				.swiper-slide
					img(src='img/sample/itempage_360_1.jpg', alt='紅色')
				.swiper-slide
					img(src='img/sample/XRorange.jpg', alt='橘色')
				.swiper-slide
					img(src='img/sample/XRblack.jpg', alt='黑色')
				.swiper-slide
					img(src='img/sample/XRblue.jpg', alt='藍色')
				.swiper-slide
					img(src='img/sample/XRwhite.jpg', alt='白色')
				.swiper-slide
					img(src='img/sample/XRyellow.jpg', alt='黃色')
		i.icon.icon_arrow.nextBtn
		i.icon.icon_arrow.prevBtn
	.oth_item
		a.item_prev(href="#") 上一個商品 
		a.item_next(href="#") 下一個商品
		