.pc_index_menu
	nav.nav-menu
		a(href='#')
			h2.title 全部分類
			i.fa.fa-bars(aria-hidden='true')
		ul.menu-one
			li
				h3
					a(href='catelist.html') 促銷優惠
				.menu-expand
					ul.menu-sub-expand
						li
							a.bold(href='catelist.html', target='_blank') 電視.4K電視
						li
							a(href='#', target='_blank') 家庭劇院
						li
							a(href='#', target='_blank') 音響.黑膠商品
						li
							a(href='#', target='_blank') 藍芽喇叭.揚聲器
						li
							a(href='#', target='_blank') 錄音筆.MP3.MP4
						li
							a(href='#', target='_blank') 遊戲.玩具.點數卡
						li
							a(href='#', target='_blank') VR/AR相關裝置
						li
							a(href='#', target='_blank') 投影機.週邊
						li
							a(href='#', target='_blank') 口譯機.樂器.點讀筆
						li
							a(href='#', target='_blank') 耳機.喇叭.麥克風
					ul.menu-sub-expand-red
						li
							a(href='#') 活動專區
							a(href='#') 品牌活動專區
							a(href='#') 超夯功能專區
							a.bold(href='#') 品牌專區
							a(href='#') 最佳觀賞距離
							a(href='#') 找到好價格
							a(href='#') 尺寸分類
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 最佳觀賞距離
							a(href='#') 找到好價格
							a(href='#') 尺寸分類
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
						li
							a(href='#') 新物、超值專區
							a(href='#') 館長推薦
							a(href='#') Nintendo專區
							a(href='#') SONY PS4專區
							a(href='#') XBOX ONE專區
							a(href='#') 遊戲點數卡
							a(href='#') 遙控智能
							a.menu-sub-expand-more(href='#') more
			li
				h3
					a(href='catelist.html') 電視.音響.遊戲
			li
				h3
					a(href='catelist.html') 主機.螢幕.零組件
			li
				h3
					a(href='catelist.html') 電腦週邊.辦公設備
			li
				h3
					a(href='catelist.html') 行動通訊.穿戴裝置
			li
				h3
					a(href='catelist.html') 休閒.攝影.車用
			li
				h3
					a(href='catelist.html') 筆記型電腦.APPLE
			li
				h3
					a(href='catelist.html') 大型家電.季節專區
			li
				h3
					a(href='catelist.html') 廚房.生活家電
			li
				h3
					a(href='catelist.html') 主題旗艦館
			li
				h3
					a(href='catelist.html') 福利品清倉