.pc_index_menu
	nav.nav-menu
		.all_cate
			h2.title 全部分類
			i.icon.icon_allcate
		ul.menu-one
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 促銷優惠
				//- .menu-expand
				//- 	ul.menu-sub-expand
				//- 		li.menu-sub-li
				//- 			a.bold.menu-sub-title(href='cate.html', target='_blank') 電視.4K電視
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 家庭劇院
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 音響.黑膠商品
				//- 		li.menu-sub-li
				//- 			a.men-subu-title(href='#', target='_blank') 藍芽喇叭.揚聲器
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 錄音筆.MP3.MP4
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 遊戲.玩具.點數卡
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') VR/AR相關裝置
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 投影機.週邊
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 口譯機.樂器.點讀筆
				//- 		li.menu-sub-li
				//- 			a.menu-sub-title(href='#', target='_blank') 耳機.喇叭.麥克風
					//- ul.menu-sub-expand-red
					//- 	li.menu-last-li
					//- 		a(href='#') 活動專區
					//- 		a(href='#') 品牌活動專區
					//- 		a(href='#') 超夯功能專區
					//- 		a.bold(href='#') 品牌專區
					//- 		a(href='#') 最佳觀賞距離
					//- 		a(href='#') 找到好價格
					//- 		a(href='#') 尺寸分類
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 最佳觀賞距離
					//- 		a(href='#') 找到好價格
					//- 		a(href='#') 尺寸分類
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
					//- 	li.menu-last-li
					//- 		a(href='#') 新物、超值專區
					//- 		a(href='#') 館長推薦
					//- 		a(href='#') Nintendo專區
					//- 		a(href='#') SONY PS4專區
					//- 		a(href='#') XBOX ONE專區
					//- 		a(href='#') 遊戲點數卡
					//- 		a(href='#') 遙控智能
					//- 		a.menu-sub-expand-more(href='#') more
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 電視.音響.遊戲
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 主機.螢幕.零組件
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 電腦週邊.辦公設備
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 行動通訊.穿戴裝置
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 休閒.攝影.車用
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 筆記型電腦.APPLE
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 大型家電.季節專區
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 廚房.生活家電
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 主題旗艦館
			li.menu-one-li
				h3
					a.menu-title(href='cate.html') 福利品清倉