.site-topbar
	.container
		.nav-other
			a(href='#', target='_blank') 供應商入口
			a(href='#', target='_blank') 加入成為供應商
			a.grey(href='supplier.html', target='_blank') [供應商官網列表]
			.entry
				span 建議使用Chrome、Safari、Firefox新版瀏覽器
				a(href='#') [官網開店入口]
				a.top_item_per(href='item_per.html')
					img(src='img/top_per_icon.svg', alt='')
					span 個人賣場入口
		.nav-user
			a(href='asap_login_register/login.html') 登入
			a(href='follow.html') 最愛商品