.site-topbar
	.container
		.nav-other
			a.suplier(href='#', target='_blank') 供應商入口
			a(href='#', target='_blank') 加入成為供應商
			a.grey(href='supplier.html', target='_blank') [供應商官網列表]
			.entry
				span.grey 建議使用Chrome、Safari、Firefox新版瀏覽器
				a.grey(href='#') [官網開店入口]
				a.top_item_per(href='item_per.html')
					i.icon.icon_per
						span.path1
						span.path2
						span.path3
					.entry_txt 個人賣場入口
		.nav-user
			a(href='login.html') 登入
			a(href='track.html') 最愛商品