@import "../../../../define/__init.scss";
@import "../../../style_color/___color_asap_m.scss";

@import "../../../module_component/_md_nav_breadcrumbs.scss";
@import "../../../module_component/_md_site_sliders.scss";

//_md_item_main.scss
.md-item-main {
	.container {
		line-height: 1.9;
		background: #fff;
	}
	.time_txt{
		font-size:0.75rem;
	}
	.time_colon{
		padding:0 4px 0 0;
		color:#000;
		font-style: italic;
		background:transparent; 
	}
	.time_num{
			display: inline-block;
			min-width: 19px;
			padding:3px 5px;
			margin:0 1px 0 0;
			text-align: center;
			color:white;
			font-family: sans-serif;
			background: -moz-linear-gradient(top,  #000 0%, #696e75 52%, #000 100%);
			background: -webkit-linear-gradient(top,  #000 0%,#696e75 52%,#000 100%);
			background: linear-gradient(to bottom,  #000 0%,#696e75 52%,#000 100%); 
	}
	.photo {
		position: relative;
		padding-top:36px;
	}
	.swiper-slide {
		img {
			max-width: 100%;
			width: auto;
		}
	}
	.info {
		padding: 10px;
	}
	.sale {
		top: 0;
		left: 0;
		right: 0;
		padding: 3px 0 3px 10px;
		color: #333;
		font-size: 0.9rem;
		line-height: 1.3;
		background:rgba(238, 238, 238, 0.8);
		position: absolute;
		z-index: 1;
		.type{
			margin:4px 5px 4px 0;
			color:#fb6190;
			font-size: 0.9rem;
			&:first-child{
				width:50%;min-height:19px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
		p {
			position: absolute;
			top:2px;right:0;
		}
		.time {
			color: #fff;
			font-weight: bold;
			margin: 0 5px;
			padding: 2px 5px;
			display: inline-block;
			li {
				display: inline-block;
			}
			div {
				height: 18px;
				display: inline-block;
				// margin: 0 1px 0 0;
				vertical-align: top;
				line-height: 1.2;
				overflow: hidden;
			}
		}
		.bought {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
		.go-activity {
			display: inline-block;
			a{
				color: #06c;
			}
		}
	}
	.name {
		color: #000;
		font-size: 1.1rem;
		line-height: 1.5;
		margin-bottom: 5px;
	}
	.tag-status {
		font-size: 0.8rem;
		margin: 0 5px 0 0;
	}
	.price {
		margin: 10px 0;
		font-size: 0.9rem;
		line-height: 1.4;
		p{
			display: inline-block;
			vertical-align: bottom;
		}
		del{
			display:inline-block;
		}
	}
	.t-original-price {
		color: lighten($text,30);
		text-decoration: line-through;
		margin-left: 5px;
		display: inline-block;
	}
	.t-sale-price {
		color: #fb6190;
		font-size: 1.5rem;
		font-weight: 700;
		display: inline-block;
		.t-currency {
			color: #fb6190;
			font-size: 0.8rem;
			font-weight: 500;
			display: inline-block;
		}
	}
	.discount-mark {
		color: #fff;
		font-size: 0.8rem;
		margin: 0 5px;					
		padding: 0 4px;
		background: $price;
		display: inline-block;
	}

	.web-price{
		.t-sale-price{
			line-height: 1.6;
			font-size: 1rem;
			color: #999;
		}
	    .t-currency{
			font-size: 0.7rem;
			color: #999;
			line-height: 1;
		}
	}
    .point-more{
    	text-decoration: underline;
		color: #006fae;
		padding-left: 6px;
	    cursor: pointer;
        font-size: 12px;
		&:hover{
			color: $primary;
		}
    }
	.line {
		padding: 10px 0;
		border-top: 1px dotted $border2;
		@include clearfix;
	}
	.trans-block {
		text-align: right;
		position: static;
	}
	.item {
		margin-bottom: 8px;
		position: relative;
		.select-style{
			select{
				width:100%;
			}
		}
	}
	.gift {
		min-width: 100%;
		.img-item {
			margin-right: 5px;
			padding: 1px;
			border: transparent 1px solid;
			float: left;
			max-width: 60px;
			max-height: 60px;
		}
		.input-size {
			& + label {
				font-size: 1rem;
				padding: 0;
				border: none;
				display: inline;
				&:before, &:after {
					right: auto;
				}
			}
			&:checked + label {
				&:before {
					left: 44px;
				}
				&:after {
					left: 51px;
				}
				.img-item {
					border-color: $primary;
				}
			}
			&:disabled + label {
				border: none;
				&:after {
					left: 48px;
				}
				.img-item {
					border-color: $light_gray;
					border-style: dashed;
				}
			}
		}
		.select-style {
			margin-top: 5px;
		}
	}
	.feature{
		.remind{
			display: inline-block;
			background: #fc3075;
			color: #FFF;
			font-size: 13px;
			padding: 0 8px;
			border-radius: 8px;
			text-align: center;
			a{
				cursor: pointer;
				color: #FFF;
	    		&:hover{
	    			color: #e00517;
	    		}
			}
		}
	}
	div.remind{
		display: inline-block;
		background: #fc3075;
		color: white;
		font-size: 0.7rem;
		padding: 2px 8px;
		@include border-radius(10px);
		text-align: center;
		vertical-align: 6px;
		a{
			cursor: pointer;
			color: #ff5100;
    		&:hover{
    			color: #e00517;
    		}
		}
	}
	.bird-price{
		width:200px;height:45px;
		background: url('../../../../../img/sth_asap/86_item_bird_m.png') no-repeat;
		.bird-price-txt{
			width:230px;
			padding:11px 0 0 113px;
			font-size:14px;
			color:#fb6190;
			span{
				display: inline-block;
				width: 75px;
				text-align: center;
			}
		}
		a{
			padding:0 0 0 13px;
			color:#06c;
			font-size:12px;
			text-decoration: underline;
		}
	}
}

//單品頁bibi鳥fancybox
.bird_box{
	display: none;
	width:300px;
    padding:10px;
    background-color: white;
	.bird_box_title{
		font-size:20px;
		padding:10px;
		text-align: center;
		color:#e7668b;
		background-color:#feedf3;
	}
	.compare_block{
		display:inline-block;
		vertical-align: middle;
		.compare_img{
			display: block;
			width:120px;
		}
		.compare_txt{
			display:block;
			padding-left:20px;
			text-align: center;
			font-size:14px;
			color:#f73375;
			b{
				font-size:24px;
				font-weight:500;
			}
		}
		&.pk{
			font-size:20px;
			margin:0 5px;
		}
		&.else{
			padding-top:28px;
			position: relative;
			.else_txt{
				position: absolute;
				top:63px;left:25px;
				color:#666;
				font-size:24px;
				letter-spacing: 5px
			}
			.compare_img{
				width:100px;
			}
			.compare_txt{
				padding:5px 0 0 4px;
				color:#333;
				b{
					font-size:16px;
					font-weight:500;
				}
			}
		}
	}
	.bird_box_time{
		margin:50px auto 10px;
		text-align: center;
		font-size:14px;
	}
	.bird_box_confirm{
		width:100%;
		font-size:20px;
		font-weight:700;
		color:white;
		background-color:#f73375;
		letter-spacing: 10px;
		cursor: pointer;
	}
}	


.md-item-detail {
    border-top: $border 1px solid;
    .container {
        background: #fff;
    }
    .key {
        margin-top: -1px;
        padding: 8px 10px;
        font-size: 1.05rem;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
		background: #f9f9f9;
		color:#666;
        @include user-select;
        &.active {
            color: #fff;
            background: $gray;
        }
        .fa {
			float: right;
			margin-top: -10px;
			font-size:1.2rem;
			position: absolute;right: 10px;top: 50%;
        }
    } 
    .content {
        line-height: 1.8;
        padding: 15px 10px;
        font-size: 0.9rem;
        //for editor
        strong, b {
            font-weight: bold;
        }
        // i, em {
        //     font-style: italic;
        // }
        u {
            text-decoration: underline;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        p {
            margin: 15px 0;
        }
        iframe {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        li {
            margin-left: 23px;
            list-style-position: outside;
        }
        ul li {
            list-style-type: disc;
        }
        ol li {
            list-style-type: decimal;
        }
        .pic_txt{
            font-size:0;
            .pic_txt_col{
                width:50%;
                padding:2px;
                display:inline-block;
                vertical-align:middle;
                font-size:16px;
                line-height:1.5;
                word-break: break-word;
                word-wrap: break-word;
                img{
                    display:inline;
                }
            }
        }
    }
    .trans-block {
        position: static;
        width: 100%;
        text-align: right;
        margin: -5px 0 10px;
        img {
            width: 20px;
            margin: 0;
        } 
    }
}
@media (max-width: 519px){
.md-item-detail{
    .content{
        .pic_txt{
            .pic_txt_col{
                width: 100%;
            }
        }
    }
}
}
.spec h3{
	position: relative;
	display:block;
	color:white;
    background:#f63577;
	padding:10px;
  }
  .spec .content{
    padding:10px;
    font-size:0.8rem;
    line-height:1.8;
  }



.md-item-buy {
	margin: 15px 0;
	text-align: center;
	.md-item-select{
		position: relative;
		display: block;
		width:90%;
		margin:10px auto;
		padding:15px 10px;
		text-align: left;
		letter-spacing: 1px;
		color: #555;
		background-color:#fee7ed;
		border:1px solid #fb6190;
		@include border-radius(10px);
		&:after{
			position: absolute;
			top: 12px;
			right: 15px;
			display: block;
			color: #fb6190;
			content: ">";
			font-size: 1.2rem;
		}
    }
    .md-item-gift{
        color:#fb6190;
    }
}

@import "../../../../3rd-party/_wysihtml5-editor.scss";
.site-header{
    .topmenu{
        display:none;
    }
}
.site-body{
    padding-bottom:50px;
    background-color:white; 
}
.site-outter{
    padding: 0;
}