doctype html
html
	head
		include src/_meta.pug
		link(href='css/product.css', rel='stylesheet')
	body
		#wrapper
			include src/_header.pug
			include src/_sidemenu.pug
			.main_content.container-fluid.gx-0
			
				.add-product-detail-form
					.form-head-t 新增商品
						span.red *必填
					.form-line-col
						.form-label
							span.red *
							| 商品主圖
							span.t-grey (限尺寸1000x1000px內，規格JPG、GIF，檔案大小1MB以下)
						.form-content-col
							#file-upload
								.preview
								.chos-file
									input#file-input(type='file' accept='image/jpeg,image/gif' multiple='')
									label.image-upload.fa.fa-plus(for='file-input') 
										p 新增圖片
					.form-line-col
						.form-label
							| 商品影片
							span.t-grey
								| 僅支援 Youtube 連結
						.form-content-col
							.video-container
								iframe#preview-video(width='130' height='130' src='' frameborder='0')
								button.preview-video-delete.fa-solid.fa-circle-xmark
							a(href="#video_pop").video-upload.fa-brands.fa-youtube
								p 新增影片
					.form-line
						.form-label
							span.highlight *
							| 商品名稱
						.form-content
							input(type='text' size='100' maxlength='60' placeholder='限60字，請勿填寫括號以外的特殊符號')
					.form-line
						.form-label
							span.highlight *
							| 廠商商品料號
						.form-content
							input(type='text' size='20')
					.form-line-price
						.form-label
							span.highlight *
							| 網路價
						.form-content
							input.input-price(type='number' inputmode='numeric' min='0' max='999999' size='20')
						.form-label
							span.highlight *
							| 進貨價	
						.form-content
							input.input-price(type='number' readonly)
						.form-label
							span ＊
							span.t-bold 5%
						.form-content
							label.input-check
								input.input-check(type='checkbox', name='')
								small 本商品預設營業稅5%，如果要改成0%請把勾拿掉
					hr
					.form-head-t 商品描述、介紹說明
						span.t-grey (非必填)
					.form-line
						.form-content
							.prod-content
								.editor-container
									#toolbar
										button.ql-image
									#editor
									#counter
									
									
								small ※ 商品上架後，系統會預設 3 個數量可銷售，您隨時可以在我要查商品依據各種庫存狀況修改數量。
					.form-head-t 我要建立多規格選項
						span.t-grey (非必填)
						a.multi-chk(href="#") 
							p.multi-chk-text 展開▼
					.form-grid-template
						.form-grid
							.form-grid-td.thead 規格編號
							.form-grid-td.thead
								input(type="text" placeholder='請輸入規格一名稱')
							.form-grid-td.thead
								input(type="text" placeholder='請輸入規格二名稱')
							.form-grid-td.thead 廠商商品料號
							.form-grid-td.thead 設定

							.form-grid-td
								input(type="text" placeholder='' readonly)
							.form-grid-td
								input(type="text" placeholder='請輸入')
							.form-grid-td
								input(type="text" placeholder='請輸入')
							.form-grid-td
								input(type="text" placeholder='' value='SB001')
							.form-grid-td
								a.form-grid-href(href="#") 
									i.fa.fa-circle-plus
								a.form-grid-href(href="#")
									i.fa-solid.fa-trash-can
							
							.form-grid-td
								input(type="text" placeholder='' readonly)
							.form-grid-td
								input(type="text" placeholder='請輸入')
							.form-grid-td
								input(type="text" placeholder='請輸入')
							.form-grid-td
								input(type="text" placeholder='請輸入')
							.form-grid-td
								a.form-grid-href(href="#") 
									i.fa.fa-circle-plus
								a.form-grid-href(href="#")
									i.fa-solid.fa-trash-can
					hr
					//- lightbox
					.form-line.form-bot
						a.btn-grey(href='#') 存為草稿，不上架
						a.btn-blue(href='#') 完成且上架
					.form-alert-msg.add-prod-success
						.msg-t
							i.fa-solid.fa-circle-check
							span 新增商品
						.msg-con
							p 商品上架成功
						.msg-close
							i.fa-regular.fa-circle-xmark
					.form-alert-msg.add-save-success
						.msg-t
							i.fa-solid.fa-circle-check
							span 新增商品
						.msg-con
							p 暫存商品草稿成功
						.msg-close
							i.fa-regular.fa-circle-xmark
		.lightbox-target#video_pop
			.content
				.con_t 輸入商品影片連結
				.con_m
					.con_block
						p 商品影片連結
						input#video-input.con_input(type="text" value="http://")
					<!--p.red 請輸入正確的 youtube 網址-->
				.con_btn
					a.box_btn_resend(href="#") 取消
					a.box_btn_send(href="#") 確認送出
				a.lightbox-close(href="#")
script(src='js/3rd-party/jquery-3.6.0.min.js')
script(src='js/bs/bs.bundle.min.js')
script(src='js/3rd-party/quill.min.js')
script(src='js/common.js')
script(src='js/product.js')