@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?9fk6lu');
	src:  url('../fonts/icomoon.eot?9fk6lu#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?9fk6lu') format('truetype'),
		url('../fonts/icomoon.woff?9fk6lu') format('woff'),
		url('../fonts/icomoon.svg?9fk6lu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.icon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon_friday_logo:before {
	content: "\e900";
	color: #fff;
}
.icon_pictxt:before {
	content: "\e90f";
	color: #888;
	font-size:1.85rem;
}
.icon_picview:before {
	content: "\e910";
	color: #888;
	font-size:2rem;
}
.cupn_frame:before {
	content: "\e90c";
	color: #de1715;
}
.icon_same:before {
	content: "\e90d";
	color: #fff;
}
.icon_share2:before {
	content: "\e90e";
}
.icon_track:before {
	content: "\e925";
	color: #fff;
}
.icon_per .path1:before {
	content: "\e927";
	color: rgb(34, 119, 0);
}
.icon_per .path2:before {
	content: "\e928";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon_del:before {
	content: "\e92a";
	color: #ccc;
}
.icon_search:before {
	content: "\e92b";
}
.icon_cart:before {
	content: "\e92c";
	color: #fff;
}
.icon_friday_logo_min:before {
	content: "\e92e";
	color: #e62f21;
}
.icon_refresh:before {
	content: "\e92f";
	color: #1079be;
}
.icon_track_plus:before {
	content: "\e931";
	color: #d00;
}
.icon_check:before {
	content: "\e933";
	color: #fff;
}
.icon_account:before {
	content: "\e934";
	color: #fff;
}
.icon_share1:before {
	content: "\e935";
}
.icon_allcate:before {
	content: "\e936";
	color: #fff;
	font-size:1.2rem;
}
.icon_star:before {
	content: "\e937";
	color: #cf141b;
}
.icon_cart_arrow:before {
	content: "\e938";
	color: #fff;
}
.icon_swiper_next:before {
	content: "\e93a";
	color: #666;
}
.icon_swiper_prev:before {
	content: "\e93c";
	color: #666;
}
.cupn_arrow:before {
	content: "\e93d";
	color: #fff;
}
.icon_more:before {
	content: "\e93e";
	color: #1861ae;
}
.icon_arrow:before {
	content: "\e93f";
	color: #bcbbbb;
}
.icon_ab:before {
	content: "\e940";
	color: #888988;
}
.icon_plus:before {
	content: "\e941";
	color: #888988;
}
.icon_minus:before {
	content: "\e942";
	color: #888988;
}


.site-main{
    width:1220px;
    margin:0 auto;
    position: relative;
}
.container{
    width: 1220px;
    margin:0 auto;
}
:focus{
	outline:0;
}
.nav-other,.nav-user{
	display: flex;
	flex-flow: row nowrap;
	a,span{
		padding: 3px 8px;
		color:#069;
		font-size: .8rem;
	}
}
.nav-user{
	a:last-child{
		padding-right:0;
	}
}
.entry{
	display: flex;
	flex-flow: row nowrap;

}
.top_item_per{
	display: flex;
	align-items: center;
	margin-left:109px;
}
.entry_txt{
	margin:0 8px 0 0;
	font-size:.8rem;
	color:#666;
}

.icon_per{
	margin: 0 5px 0 0;
	span{
		padding: 0;
	}
}
label{
	cursor: pointer;
}
.site-header{
    position: relative;
    border-bottom: 1px solid #eee;
    background-color: $primary-color;
    &.bg_profile{
		background:white;
		.main_head{
			background:white;
			padding: 8px 0 9px;
			.site_search{
				.input_search{
					border: 1px solid #ccc;
				}
			}
		}
	}
	&.bg_pic{
		background-color: white;
		background-repeat:no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size:cover;
		.main_head{
			background:transparent;
			padding: 8px 0 9px;
		}
		.profile{
			h1{
				p{
					color:white;
				}
			}
		}
    }
	.profile{
		display: flex;
		margin-right:42px;
		.prof_l, .prof_r{
			display: flex;
		}
		img{
			width:90px;
			height:90px;
			border:3px solid white;
			@include border-radius(50%);
		}
		h1{
			margin-bottom:8px;
			color:black;
			font-size:1.1rem;
			line-height: 1.3;
			p{
				width:105px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.prof_r{
			flex-flow: column;
			justify-content: center;
			margin-left:10px;
			a{
				margin-right:5px;
			}
			img{
				width:25px;height:25px;
				border:2px solid white;
				@include border-radius(50%);
			}
		}
	}
}
.main_head{
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-between;
	position: relative;
	height: 120px;
	font-size:0;
	.container{
		width: 100%;
	}
}
.site_search{
	position: relative;z-index: 3;
	margin: 0 0 0 50px;
	.icon_search{
		font-size:1.1rem;
		&:before{
			color:black;
		}
	}
}
.btn-search{
	position: absolute;right:10px;top:50%;
	cursor: pointer;
	transform: translateY(-50%);
	img{
		display: inline-block;
		padding-right:3px;
		vertical-align: middle;
	}
	span{
		display: inline-block;
		vertical-align: middle;
		color: #555;
		font-size:.9rem;
	}
}
.input_search{
	border: 1px solid #fff;
	padding:5px 70px 5px 10px ;
	margin: 0;
	width: 410px;
	height: 50px;
	// background: rgba(255,255,255,.7);
	color: #aaa;
	font-size:1rem;
	outline:none;
	-webkit-appearance: none;
	@include border-radius(8px);
	&:focus{
		color: black;
	}
}
.header_l,.header_r{
	display:flex;
	flex-flow:row nowrap;
	align-items: center;
}
.logo{
	max-width:200px;
	max-height: 120px;
	font-size:2rem;
	img{
		display: block;
		width: 100%;
	}
}
.avatar{
	display: inline-block;
	width: 176px;
	vertical-align: middle;
	margin: 0 10px;
	h1{
		position: relative;
		color: white;
		width: 100%;
		text-align: center;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		border:2px solid #476798;
		border-width:2px 0 0 2px;
		@include border-radius(10px 10px 0 10px );
		.bar{
			height:32px;
			margin: 0;
			padding: 5px 10px;
			font-size: 1.5rem;
			line-height: 33px;
			letter-spacing: 1px;
			word-break: break-all;
			overflow: hidden;
			border: 2px solid #3d5375;
			background: #27374e;
			border-width:0 2px 2px 0;
			text-shadow:1px 1px 3px #000;
			@include border-radius(10px 0 10px 0);
		}
	}
}
.head_link,.head_func{
	display: flex;
	flex-flow: row nowrap;
	a{
		display: block;
		padding:10px;
		font-size:1rem;
		color:white;
	}
}
.head_link{
	padding:7px 0;
	background: rgba(0,0,0,.25);
	@include border-radius(10px 0 0 10px);
}
.head_func{
	margin:0 0 0 -5px;
	background-color: black;
	@include border-radius(5px);
	a{
		display: block;
		padding:8px;
	}
	.my_account{
		margin: 0 5px;
		span{
			display: block;
			font-size:.8rem;
		}
	}
	.icon_account{
		display: block;
		font-size:1.15rem;
		padding:2px 4px;
	}
	.cart{
		position: relative;
		margin-top: 4px;
	}
	.icon_cart{
		font-size:1.9rem;
		&:before{
			color:white;
		}
	}
	.icon_check{
		position: absolute;top:0;left:0;
		padding:4px 3px;
		font-size:.7rem;
		color:white;
		background: #d00;
		border:2px solid white;
		@include border-radius(50%);
		transform: scale(.8);
	}
}
.sub_head{
	.container{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}
.pc_index_menu{
    position: relative;z-index: 20;
	width: 200px;
	.nav-menu{
		position: absolute;left:0;top:-1px;
		width: 100%;
		color:white;
        background:rgba(0,0,0,.7);
		cursor: pointer;
        .all_cate{
            display: flex;
			flex-flow:row nowrap;
			align-items: center;
			justify-content: space-between;
			padding:0 10px 0 0;
			color:white;
			background:rgba(0,0,0,.7);
        }
		.icon_allcate{
			font-size:.9rem;
		}
	}
	.title{
		padding: 13px 10px 13px 13px;
		color: white;
        font-size: 1.2rem;
		line-height: 1.3;
		word-break: break-word;
		word-wrap: break-word;
		letter-spacing: 4px;
		i{
			margin-top: 3px;
			float: right;
		}
	}
	.menu-one{
        display: none;
		.bold{
			color:$primary-color;
			font-weight: 700;
		}
		.menu-title,.menu-sub-title{
			position: relative;
			display: block;
			padding: 10px 0px;
			margin: 0;
			color:white;
			font-size: 1rem;
			line-height: 1.1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-break: break-word;
			word-wrap: break-word;
			&:after{
				display: block;
				position: absolute;right:8px;top:50%;
				color:#999;
				font-family: 'icomoon' !important;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				font-size:.7rem;
				line-height: 1;
				content: "\e93f";
				transform: translate(-50%,-50%);
			}
		}
		.menu-one-li{
			position:relative;
			border-bottom:1px solid #777;
			padding-left:13px;
			&:hover{
				background:white;
				.menu-expand{
					display: block;
				}
				.menu-title{
					color:black;
				}
			}
		}
	}
	.menu-expand{
		width:1020px;
		position: absolute;
		top: 0px;
		left: 100%;
		z-index: 5;
		font-size: 0;
		box-shadow:1px 0 5px #aaa;
		display: none;
		@include clearfix;
		.menu-sub-expand{
			position: relative;
			width:185px;
			display:inline-block;
			vertical-align: top;
			background: white;
			box-shadow: 0px 0px 5px #bbb;
		}
		.menu-sub-li{
			.menu-sub-title{
				width: auto;
				color:#666;
				padding: 11px 5px 10px 10px;
				&.bold{
					color:$primary-color;
					font-weight: 700;
				}
				&.after{
					color:#999;
				}
			}
			&:hover{
				&.after{
					color:#999;
				}
			}
		}
		.menu-sub-expand-red{
			display:inline-block;
			width: 1020-185px;
			background:#f8e5e8;
			.menu-sub-expand-more{
				width:42px;	
				text-decoration: underline;
				color:$primary-color;
			}
		}
		.menu-last-li{
			padding-left:5px;
			border-bottom:1px dotted #ccc;
			>a{
				display: inline-block;
				width:100px;
				padding: 11px 5px 10px;
				line-height: 1.2;
				color:#333;
				font-size:13px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&.bold{
					font-weight:700;
					color:$primary-color;
					text-decoration: underline;
				}
			}
		}
	}
}
.breadcrumb{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50px;
    margin:0 0 0 20px;
    font-size:.9rem;
    .link{
        padding: 0 5px 0;
        color:#0767d3;
        text-decoration: underline;
		&:first-child{
			padding:0 5px 0 0 ;
		}
    }
}
.tag-cloud{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 1000px;height:45px;
	margin-top:5px;
	overflow: hidden;
	line-height: 1.4;
	background-color: white;
	a{
		padding:0 10px ;
	}
	.greyLV1{
		color:#999;
		font-size:.8rem;
		animation-delay: 0.7s;
	}
	.greyLV2{
		color:#999;
		font-size:1rem;
		animation-delay: 0.5s;
		
	}
	.blueLV1{
		color:#7bd;
		font-size:.8rem;
		animation-delay: 0.7s;
	}
	.blueLV2{
		color:#7bd;
		font-size:1rem;
		animation-delay: 0.5s;
	}
	.orangeLV1{
		color:#f80;
		font-size:.8rem;
		animation-delay: 0.7s;
	}
	.orangeLV2{
		color:#f80;
		font-size:1rem;
		animation-delay: 0.5s;
	}
}

.copyright{
    padding-top: 30px;
    text-align: right;
    color:#888;
    font-size: 0.75em;
    word-break: break-word;
	word-wrap: break-word;
	small{
		display: block;
		padding:8px;
		color:#333;
		text-align: right;
	}
    a{
        color:#06c;
        text-decoration: underline;
        margin-left: 10px;
    }
}
a.gotop{
	display: none;
	position: fixed;right: 3%;bottom: 20px;z-index: 50;
	padding: 10px;
	color: #eee;
	background: #e00;
	border: 1px solid #e00;
	border-radius: 50%;
	opacity: 0.8;
	text-decoration: none;
	&:after{
		display: block;
		content: "\e93f";
		color: #eee;
		font-family: 'icomoon' !important;
		font-size: 1rem;
		transform: rotate(-90deg);
	}
}