.main-nav{
    float: left;
    @include clearfix;
    li{
        position: relative;
        float: left;
        //border-bottom: 3px solid transparent;
        a{
            padding: 6px 20px 30px;
            display: block;
            color: $nav_text;
            &:hover{
                color: $nav_hover;
                @include transition(0.6);
            } 
        }
        &.current{
            border-bottom: 3px solid $nav_link;
        }
    }
    .sub{
        position: absolute;
        top: 100%;
        left: 20px;
        border: 1px solid $nav_border2;
        border-top: 2px solid $nav_border;
        z-index: 5;
        >li{
            float: none;
            position: relative;
            a{
                padding: 10px 60px 10px 20px;
                border-bottom: 1px solid $nav_border3;
                white-space: nowrap;
                background: $nav_bk;
                font-size: 0.9em;
                &:hover, &.active{
                    color: $nav_hover;
                    background: $nav_bk2;
                    @include transition(0.6);
                }
            }
        }
        &:before{
            display: block;
            float: left;
        }
    }
    .third{
        position: absolute;
        float: left;
        top: -2px;
        left: 100%;
        border: 1px solid $nav_border2;
        z-index: 5;
        >li{
            float: none;
            a{
                padding: 10px 60px 10px 20px;
                border-bottom: 1px solid #e5e5e5;
                white-space: nowrap;
                font-size: 0.9em;
                background: $nav_bk;
                &:hover{
                    color: $nav_hover;
                    background: $nav_bk2;
                    @include transition(0.6);
                }
            }
        }
    }
}

@include RWD(desktop-extra) {
.main-nav{
    width: 800px;
    margin:40px 0 0 40px;
}
}

@include RWD(desktop-normal) {
.main-nav{
    width: 570px;
    margin:40px 0 0 15px;
    li{
        a{
            padding: 6px 13px 30px 13px;
        }
    }
}
}

@media only screen and (max-width: $screen-md-max){
.main-nav{
    margin: 0;
    border-top: 2px solid $light_gray;
    border-bottom: 2px solid $light_gray;
    float: none;
    display: none;
    position: absolute;
    top: 98px;
    z-index: 3;
    width: 100%;
    padding: 20px 0;
    background:#fff url(/c/img/frame/second-bg.jpg) center center repeat-y;
    .nav-mobile{
        width: 50%;
        float: left;
        >li{
            float: none;
            width: 90%;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }
        a{
            padding: 10px 10px 10px 20px;
        }
        &:last-child{
            border-right: 0;
        }
    }
    .sub{
        position: relative;
        border: 0;
        padding: 0;
        padding-left: 20px;
        li{
            border: 0;
            line-height: 140%;
            a{
                padding: 5px 0;
                white-space: nowrap;
                background: transparent;
            }
        }
    }
    .sub .third{
        position: static;
        float: none;
        border: none;
        a{
            padding-left: 15px;
        }
    }
}
}

.main-nav-icon{
    display: none;
    @media only screen and (max-width: $screen-md-max){
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 4;
        li{
            float: left;
            position: relative;
            margin-right: 30px;
            .icon-nav-arrow{
                position: absolute;
                top: 29px;
                left: 13px;
            }
        }
        a{
            padding: 3px 7px;
        }
        .count{
            position: absolute;
            top: -3px;
            left: 0px;
            background: $cart_price;
            color: white;
            font-style: normal;
            font-size: 0.7em;
            padding: 3px 6px;
            @include border-radius (20px);
        }
    }
    @media only screen and (max-width: $screen-sm-max){
        li{
            margin-right: 10px;
        }
    }
}