.header-inn{
    position: relative;
    @include clearfix;
    .inner{
        border-bottom: 1px solid $header_border;
        padding-top: 10px;
        margin-bottom: 10px;
        @include clearfix;
    }
    .logo{
        float: left;
        display: block;
        img{
            width: 171px;
        }
    }
    .store{
        float: left;
        margin-top: 10px;
        font-size: 1.3em;
        color: $store;
        font-weight: bold;
        font-family: Arial;
    }  
}

@include RWD(pad-mobile) {
.header-inn{
    margin-bottom: 50px;
    .inner{
        margin: 0;
        padding: 0;
    }
    .logo{
        float: none;
        padding: 10px;
    }
    .store{
        display:none;
        margin-top: 0;
        position: absolute;
        top: 60px;
        left: 10px;
    }
}
}
