.second-nav{
    float: right;
    margin-right: 80px;
    @include clearfix;
    @media only screen and (max-width: $screen-md-max){
        display: none;
    }
    >li{
        float: left;
        &:last-child{
            margin-right: 10px;
        }
        >a{
            padding: 13px 16px;
            display: block;
            font-size: 0.9em;
            line-height: 140%;
            color: $nav_text;
            &:hover{
                color: $nav_hover;
                text-decoration: underline;
            }
        }
    }
}
.nav-account{
    margin: 0;
    border-top: 2px solid $light_gray;
    border-bottom: 2px solid $light_gray;
    position: absolute;
    top: 98px;
    background: #fff;
    z-index: 3;
    width: 100%;
    padding: 20px 0;
    display: none;
    li{
        float: left;  
        width: 25%;
        text-align: center;
    }
    a{
        padding: 10px 0;
    }
}