/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
  /* HTML5 display-role reset for older browsers */

body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote {
    &:before, &:after {
		content: '';
		content: none;
	}
}
  
q {
	&:before, &:after {
		content: '';
		content: none;
	}
}
  
table {border-collapse: collapse;border-spacing: 0;}
:focus {outline: 0;}
caption {text-align: left;}
:link {
	text-decoration: none;
	outline: none;
	/* for Firefox */
	hlbr: expression(this.onFocus=this.blur());
	/* for IE */
}
  
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
  
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  
/* change border colour to suit your needs */
  
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
  
input, select {
	vertical-align: middle;
}
  
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
  
  /* IE pretty stick*/
  
* {
	html .clearfix {
		height: 1%;
	}
	&:first-child + html .clearfix {
		min-height: 1px;
	}
}
  
body {
	height: 100%;
	font-size: 16px;
    line-height: 1.4;
	font-family: "微軟正黑體", "Microsoft JhengHei","Helvetica Neue",Helvetica,arial, serif;
	background:#303030;
}
  
  /*==============================================================================================================================*/
  
  /*基本樣式*/
  
html {
	height: 100%;
}

.site-body{
	min-width: 320px;
	background: #ececec url(../img/main-pattern.png);
}
.site-header{
	position: relative;
	width:100%;
	height: 150px;
	padding:10px 0;
	text-align: center;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    background:#404040 url(../img/header_bg.png) repeat-x center center;
}
.logo{
	display: inline-block;
	a{
		display: flex;
		flex-flow:row nowrap;
		align-items: center;
		text-align: center;
		color:#dedede;
		font-size:1.5rem;
		font-family: monospace;
	}
	img{
		width:110px;
	}
	p{
		margin: 0 0 0 30px;
		font-size:1.5rem;
		letter-spacing: 2px;
		text-align: left;
		font-family: 'Noto Serif TC', serif;
		line-height: 1;
		span {
			font-size:.8rem;
			margin-left:26px;
		}
	}
}
.menu{
	display: flex;
	flex-flow: row nowrap; 
	justify-content: center;
	ul{
		display: flex;
		flex-flow: row nowrap; 
		justify-content: center;
		li{
			position: relative;
			a{
				display: block;
				padding:10px;
				color:#777;
				font-weight: 700;
				font-size: .875rem;
				line-height: 1.5;
				&:hover{
					color:black;
				}
				&:hover~.sub_menu{
					display: block;
					position: absolute;top: 99%;left:10px;
					background:#fff;
					li{
						a{
							display: block;
							width:150px;
							padding:10px;
							color:#777;
							border-bottom:1px solid #eee;
						}
					}
				}
			}
		}
		.blue{
			a{
				color:#28A7E9;
				&:hover{
					color:#28A7E9;
				}
			}
		}
		.cart{
			.fa-shopping-cart{
				color:#333;
			}
		}
	}
	.sub_menu{
		display: none;
	}
	.member{
		display: flex;
		flex-flow: row nowrap; 
		justify-content: center;
		align-self: flex-end;
		a{
			display: block;
			padding:10px;
			color:#777;
			font-weight: 700;
			font-size: .875rem;
			line-height: 1.5;
			&:hover{
				color:black;
			}
		}
	}
}
.slider{
	width:94%;
	max-width:1000px;
	margin:-30px auto 30px;
	position: relative;
	-webkit-box-shadow: 1px 1px 10px #333;
	-moz-box-shadow: 1px 1px 10px #333;
	box-shadow: 1px 1px 10px #333;
	.swiper-slide{
		position: relative;
		margin: 0;
		overflow: hidden;
		-moz-box-sizing: border-box;
  		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		.text{
			p{
				width: 40%;
				padding: 2%;
				position: absolute;
				right: 30px;
				bottom: 20px;
				background: rgba(0,0,0,.6);
				color: #eee;
				border-right: 5px solid #1eaa39;
				text-shadow: 0 -1px 0 rgba(0,0,0,.3);
				font-size: 1rem;
				line-height: 2;
				letter-spacing: 1px;
			}
			&.left p{
				left: 30px;
				border-right: none;
				border-left: 5px solid #1eaa39;
			}
			&.topleft p{
				top: 40px;
				left: 30px;
				bottom:auto;
				right:auto;
				border-right: none;
				border-left: 5px solid #1eaa39;
			}
			&.topright p{
				top: 40px;
				bottom:auto;
			}
		}
	}
	.swiper-button-black {
		width: 34px; 
		height: 37px; 
		margin: -13px 0 0; 
		display: block; 
		background: url(../img/slider-nav.png) no-repeat 0 0; 
		position: absolute; 
		top: 50%; 
		cursor: pointer; 
		text-indent: -9999px;
	}
	.swiper-button-next {
		background-position: 0px -40px; 
		right: -17px;
	}
	.swiper-button-prev{
		left: -17px;
	}
	.swiper-button-next:hover {
		background-position: -34px -40px;
	}
	.swiper-button-prev:hover {
		background-position: -34px 0px;
	}
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
.intro{
	display: none;
}
h2{
	display: inline-block;
	position: relative;
	padding:5px 15px;
	font-size:1.2rem;
	letter-spacing: 2px;
	color:#fefefe;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: rgb(23,131,44);
	background: -moz-linear-gradient(0deg, rgba(23,131,44,1) 0%, rgba(29,170,57,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(23,131,44,1) 0%, rgba(29,170,57,1) 100%);
	background: linear-gradient(0deg, rgba(23,131,44,1) 0%, rgba(29,170,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17832c",endColorstr="#1daa39",GradientType=1);
	-webkit-box-shadow: 1px 1px 5px #aaa;
	-moz-box-shadow: 1px 1px 5px #aaa;
	box-shadow: 1px 1px 5px #aaa;
	// &:before{
	// 	content: '';
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 20%;
	// 	width: 0;
	// 	height: 0;
	// 	border: 10px solid transparent;
	// 	border-top-color: rgb(23,131,44);
	// 	border-bottom: 0;
	// 	margin-left: -10px;
	// 	margin-bottom: -10px;
	// }
	img{
		display: inline-block;
		vertical-align: middle;
		width:32px;
	}
	span{
		display: inline-block;
		padding:10px 0;
		color:#1daa39;
		vertical-align: -4px;
	}
}
.container{
	margin:0 auto;
	max-width:1000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.service{
	margin-bottom: 40px;
}
.service_row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
	&:last-child .service_block{
		margin-bottom: 0;
	}
}
.service_block{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom:20px;
	background: white;
	-webkit-box-shadow: 1px 1px 10px #ccc;
	-moz-box-shadow: 1px 1px 10px #ccc;
	box-shadow: 1px 1px 10px #ccc;
	.des{
		width:(1000px/4);
		padding:10px;
		.title{
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin:5px 20px 10px;
			padding-bottom:10px;
			color:#a34504;
			font-size: 1.5rem;
			font-weight:700;
			letter-spacing: 1px;
			border-bottom:1px solid #a34504;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			p{
				margin-left:5px;
			}
			img{
				width:36px;
			}
		}
		.content{
			margin:10px 20px 0;
			color:#333;
			font-size:.875rem;
			line-height:2;
			letter-spacing: 1px;
		}
	}
	.pic{
		width: 230px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		img{
			display: block;
			width:100%;
		}
	}
}

.customer_row{
	margin-bottom:20px;
	padding:20px;
	background: white;
	-webkit-box-shadow: 1px 1px 10px #ccc;
	-moz-box-shadow: 1px 1px 10px #ccc;
	box-shadow: 1px 1px 10px #ccc;
	ul{
		display: flex;
		flex-flow:row wrap;
		li{
			width:33%;
			padding:10px;
			color:#333;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}	
		a{
			color:#333;
			padding:5px 0;
			&:hover{
				border-bottom:2px solid #1eaa39;
			}
		}
	}
}

.site-footer{
	margin-top:50px;
	background-color: #3a3a3a;
	p{
		padding:10px 0;
		color:#ccc;
	}
}
.contact{
	width:50px;
	position: fixed;left:0;top:180px;z-index: 10;
	padding:10px 8px;
	background-color: #3a3a3a;
	border-radius: 0 10px 10px 0;
	text-align: center;
	a{
		display: block;
	}
	p{
		font-size:.875rem;
	}
	img{
		display: block;
		margin:0 auto 10px;
		width:32px;
		margin-bottom: 10px;
	}
	svg{
		stroke: #fefefe;
		fill:#ccc;
	}
	
}


.box-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    z-index: 20
}

.box-target .content {
    width: 90%;
    height: 90%;
    padding: 20px;
    background: #fff;
    color: #333;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
    overflow-y: scroll
}

.box-target .content .desktop .mobile {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto
}

.box-target .content .desktop .mobile img {
    width: 28%;
    margin: 20px auto
}

.box-target img {
    max-width: 90%;
    display: block;
    margin: 20px auto;
    border: 3px solid #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    box-sizing: border-box;
    transition: 0.3s ease-in-out
}

.box-target:target {
    opacity: 1;
    top: 0;
    bottom: 0
}

.box-target:target .summary {
    max-width: 90%;
    margin: 10px auto;
    line-height: 1.5
}

.box-target:target .summary span {
    display: block;
    padding: 5px 10px 5px 0;
    font-size: 20px;
    color: #F97049;
    font-weight: 700
}

.box-target:target .content {
    max-height: 100%;
    max-width: 100%
}

.box-target:target .box-close {
    top: 5%
}

.box-close {
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: #f97049;
    color: #fff;
    position: absolute;
    top: 10%;
    right: 5%;
    transition: 0.3s ease-in-out
}

.box-close:after,.box-close:before {
    content: " ";
    display: block;
    height: 15px;
    width: 2px;
    background: #fff;
    position: absolute;
    left: 15px;
    top: 7px;
    transform: rotate(45deg)
}

.box-close:after {
    transform: rotate(-45deg)
}





.blog{
	margin-bottom:30px;
}
.blog-block{
	display: flex;
	flex-flow:row nowrap;
	align-items: flex-start;
	margin-bottom:30px;
	border-bottom:1px solid #655a49;
	.blog-img{
		flex-basis: 30%;
		img{
			display: block;
			width:100%;
		}
	}
	.blog-des{
		display: flex;
		flex-flow: column wrap;
		align-items: flex-end;
		justify-content: space-between;
		flex-basis: 70%;
		padding:0px 20px;
	}
	.blog-title{
		align-self: flex-start;
		padding:0 0 10px;
		color: #28A7E9;
		font-size: 1.25rem;
		text-shadow: unset;
	}
	.blog-content{
		height:84px;
		margin-bottom:10px;
		color:#fefefe;
		font-size: .875rem;
		line-height:2;
		overflow: hidden;
	}
	.more{
		text-align: right;
		a{
			color: #fefefe;
		}
	}
}


@media screen and (max-width: 1020px) {
	.container{
		max-width:95%;
	}
	.service_block{
		.des{
			width:230px;
			padding:10px 0;
			.title{
				margin: 5px 10px 10px;
				font-size:1.2rem;
			}
			.content{
				margin:10px 10px 0;
			}
		}
		.pic{
			width:200px;
		}
	}
	.site-footer{
		.container,.contact{
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
	}
	.contact{
		position: static;
		width:auto;
		a{
			margin:0 5px;	
		}
		p{
			padding:0;
		}
		img{
			margin:0;
		}
		svg{
			width:32px;height:32px;
		}
	}
}
@media screen and (max-width: 823px) {
	.service_row{
		display: block;
		&:last-child .service_block{
			margin-bottom:20px;
		}
	}
	.service_block{
		.des{
			width:90%;
		}
	}
	.site-footer{
		p{
			font-size:.7rem;
		}
	}
	.customer_row{
		ul{
			li{
				width: 50%;
				font-size:.8rem;
				white-space: nowrap;
    			overflow: hidden;
    			text-overflow: ellipsis;
			}
		}
	}
}

@media screen and (max-width: 670px) {
	.slider{
		.swiper-slide{
			.text{
				p{
					font-size:.75rem;
					line-height: 1.5;
				}
			}
		}
		.swiper-button-next{
			right:-10px;
		}
		.swiper-button-prev{
			left: -10px;
		}
	}
}
@media screen and (max-width: 540px) {
	p{
		span{
			display: none;
		}
	}
}
@media screen and (max-width: 414px) {
	.logo{
		img{
			width:110px;
		}
	}
	.slider{
		margin:-30px auto 10px;
		.swiper-slide{
			.text{
				p{
					display: none;
				}
			}
		}
	}
	.intro{
		display: block;
		margin: -20px auto 20px;
		padding: 10px;
		p{
			width: 100%;
			padding:10px;
			background: rgba(0,0,0,.6);
			color: #eee;
			border-right: 5px solid #1eaa39;
			border-left: 5px solid #1eaa39;
			text-shadow: 0 -1px 0 rgba(0,0,0,.3);
			font-size: .7rem;
			line-height: 1.5;
			letter-spacing: 1px;
			box-sizing: border-box;
		}

	}
	h2{
		font-size:1rem;
	}
	.service_row{
		display: block;
		&:last-child .service_block{
			margin-bottom:20px;
		}
	}
	.service_block{
		.des{
			width:230px;
			padding:4px 0;
			.title{
				margin:5px 8px;
				padding-bottom: 5px;
				font-size:1rem;
				img{
					width:30px;
				}
			}
			.content{
				margin:5px 10px 0;
				font-size:.7rem;
				letter-spacing: 0;
			}
		}
	}
	
	
	.contact{
		p{
			display: none;
		}
		img,svg{
			width:24px;
			height:24px;
		}
	}
}

// @media screen and (max-width: 414px) {
// 	.slider{
// 		width:85%;
// 	}
// }