doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head.pug
		title Qmomo - 404 not found
		link(href='https://fonts.googleapis.com/css2?family=Lobster&display=swap' rel='stylesheet')
		link(href='css/404.css', rel='stylesheet')

	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_header.pug
		
		.body_404
			.container
				.msg_404
					.not-found 
						| 404 not found
					p
						
						| 很抱歉
						br
						| 此頁面已經不存在！

					a(href="index.html") 回首頁
		include ../pug_common/_footer.pug
		script(src='js/common.js')