@import "_variables.scss";
@import "_mixin.scss";

@import "../css/plugin/all.min.css";
@import "../css/plugin/quill.core.css";
@import "../css/plugin/quill.snow.css";
@import "layout.scss";


input[type="text"], input[type="file"], input[type="password"],input[type="number"], textarea, select {
  padding:8px 10px;
  font-size: 1rem;
}
input[readonly]{
  width: 100px;
  background: white;
}
small{
  color:grey;
  font-size:.8rem;
}
.red{
  color:#d00;
}
.form-head-t{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin:  10px 0 10px;
  padding:0 10px;
  font-size:1rem;
  color:#06c;
  border-left:5px solid #06c;
  .red,.t-grey{
    margin: 0 0 0 5px;
    font-size:.8rem;
  }
}

.add-product-detail-form {
  position: relative;
  font-size:1rem;
}

#file-upload {
	display: flex;
	flex-flow: row wrap;
  margin: 10px 0 0 0;
}
.chos-file {
  position: relative;
	width: 130px;
	height: 130px;
  line-height: 1.8;
	box-sizing: border-box;
}
#file-input {
	position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 10;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  &:hover{
    ~.image-upload{
      color:red;
    }
  }
}
.dragover{
  ~.image-upload{
    color:red;
    border: 2px red dashed;
  }
}
.image-upload,.video-upload {
	position: absolute;top: 0;right: 0;bottom: 0;left: 0;
	display: flex;
  flex-flow: column;
	align-items: center;
	justify-content: center;
	color: #06c;
	border: 2px dashed #ccc;
	background-color: #f7f7f7;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.2s;
  cursor: pointer;
	&:hover {
		color: red;
	}
  p{
    margin: 3px 0;
    font-size: 1rem;
  }
}
.video-container{
  display: none;
  position: relative;
  width: 130px;
	height: 130px;
  margin:10px 10px 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  iframe{
    border-radius: 5px;
    box-sizing: border-box;
  }
}
.video-upload {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
}
.preview {
	display: flex;
	flex-wrap: wrap;

}
.preview-image-wrapper {
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	width: 130px;
	height: 130px;
	margin: 0 10px 10px 0;
  border:1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
  &:first-child{
    &::after{
      position: absolute;bottom: 0;left: 0;
      content: '商品主圖';
      display: block;
      width: 100%;
      text-align: center;
      font-size: .9rem;
      color:white;
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
.preview-image {
	width: 100%;
  max-height: 130px;
  border:1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.preview-image-name {
	position: absolute;bottom: 0;left: 0;right: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.preview-image-delete,.preview-video-delete {
  display: none;
	position: absolute;top:-2px;right: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
	color: #999;
  background: white;
	font-size: 1.4rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s;
}
.error_type,.error_count{
  &::after{
    content:'請上傳JPG或GIF檔';
    position: absolute;top:50%;left:0;transform: translateY(-50%);  z-index: 20;
    width: 100%;
    padding: 5px;
    font-size: .7rem;
    text-align: center;
    color:white;
    background: red;
    box-sizing: border-box;
  }
}
.error_count{
  &:after{
    content:'請上傳圖片';
  }
}
.error_link{
  &:after{
    position: absolute;bottom:-13px;left:125px;
    content:'請輸入正確的 youtube 網址';
    font-size: .9rem;
    color:red;
  }
}
.form-line-head{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  border-bottom:1px solid #06c;
}
.form-line{
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  margin:0 0 20px;
  &.form-bot{
    margin:30px 0 50px;
    justify-content: center;
  }
}
.form-line-col{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 0 15px 30px;

}
.form-content-col{
  display: flex;
  align-items: center;
  margin:0 0 15px 85px;
}
.form-line-top{
  display: flex;
  flex-flow:row nowrap;
  align-items: flex-start;
}
.form-line-wrap{
  display: flex;
  flex-flow:row wrap;
}
.form-line-price{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .form-label{
    min-width: auto;
    &:first-child{
      width: 100px;
    }
  }
}
.input-check{
  color:#999;
}
.form-label {
  min-width: 100px;
  margin: 0 10px;
  text-align: right;
  box-sizing: border-box;
  .t-bold{
    margin:0 10px;
  }
}
.form-content {
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  &.short {
    width: 25%;
  }
  &.medium {
    width: 40%;
  }
  &.upload-content{
    width: 36px;
    margin: 0 0 0 10px;
    padding:20px;
    text-align: center;
    color:#333;
    background: #eee;
    border-radius: 5px;
    .t-img-file-comment{
      text-align: center;
    }
  }
  &.warning{
    input{
      border:1px solid red;
    }
    &::after{
      content: '此欄位必填';
      position: absolute;right:10px;top:50%;transform: translateY(-50%);
      font-size: .8rem;
      color:red;
    }
  }
}
.prod-content{
  display: flex;
  flex-flow:column;
  position: relative;
  small{
    margin: 5px 0 0;
  }
}
.editor-container{
  width: 950px;

}
#toolbar{
  .ql-image{
    display: flex;
    align-items: center;
    width:100px;
    &::after{
      display: block;
      content:'新增圖片'
    }
  }
  input{
    display: none !important;
  }
}
#editor{
  height: 150px;
}


.form-grid-template{
  display: none;
}
.form-grid{
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows:auto;
  grid-gap:0;
  max-width: 950px;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
}
.form-grid-td{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  10px;
  text-align: center;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  &.thead{
    background: #ddd;
  }
  input[readonly]{
    border:1px solid #aaa;
  }
}
.form-grid-href{
  display: block;
  margin: 0 5px;
  font-size:1.2rem;
}
.fa-solid.fa-trash-can{
  color:#aaa;
}
.fa.fa-circle-plus{
  color:#999;
}
.form-label-full {
  margin-top: 40px;
}
.from-alert{
  position: absolute;top: 100%;left:50%;transform: translateX(-50%);z-index: 50;
  width:100%;
  padding:3px 0;
  font-size:.8rem;
  color:red;

  box-sizing: border-box;

}
.form-alert-msg{
  display: none;
  position: absolute;top:0;right:0;
  width: 200px;
  padding:10px 20px 10px;
  border:1px solid #aaa;
  background: white;
  .msg-t{
    margin: 0 0 5px;
    color:#4791da;
  }
  .msg-close{
    position: absolute;top:10px;right:5px;
    cursor: pointer;
    i{
      font-size:1.2rem;
    }
  }
  i{
    margin: 0 5px 0 0;
    font-size:1rem;
  }
}
.product-editor {
  margin-top: 10px;
  position: relative;
  .form-label{
    min-width: auto;
  }
  .btn-upload{
    position: relative;
    display: flex;
    align-items: center;
    padding:5px 10px;
    color:#555;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      color:white;
      background: #777;
    }
  }
}
.link-tiny {
  color: #06c;
  font-size: 1rem;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.fa,.fa-brands{
  font-size: 1.2rem;
}

.t-textnum{
  position: absolute;right:10px;
  color:#999;
}
.textarea-editor {
  width: 100%;
  margin: 0;
  color: #000;
  font-size: 1rem;
  border-radius: 0;
  box-sizing: border-box;
}
.multi-chk-label{
  display: flex;
  align-items: center;
}
.multi-chk-text{
  margin: 0 0 0 10px;
}
.btn-grey,.btn-blue{
  margin: 0 10px 0 0;
  padding:12px 30px;
  color:white;
  background: #aaa;
  border-radius: 10px;
  &:hover{
    color:white;
  }
}
.btn-blue{
  background: #0387be;
}
.btn-red{
  background: red;
}



.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	overflow: hidden;
	z-index: 50;
  &:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    .content, img {
      max-height: 100%;
      max-width: 500px;
    }
  }
	.con_t{
    width: 100%;
    padding:0 0 10px;
    font-size:1rem;	
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #ccc;
	}
	.content {
    display: flex;
    flex-flow:column;
    align-items: center;
		width: 90%;
		height: auto;
		padding: 10px;
		background: #fff;
    color: #333;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		max-height: 0%;
		max-width: 0%;
		border: 3px solid #fff;
		box-sizing: border-box;
		box-shadow:0 0 8px rgba(0,0,0,.3);
		line-height: 1.4;
	}
  .con_m{
    width: 100%;
    margin:20px 0;
    padding:0 20px;
    p{
      font-size:1rem;
    }
    .sendphone,.time{
      text-align: center;
      font-size: .8rem; 
    }
    .red{
      text-align: center;
    }
  }
  .con_block{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .con_m_t{
    font-size:1.1rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .con_input{
    width: 70%;
    margin:10px 0;
    padding:5px;
    font-size:1rem;
    background:#eee;
    letter-spacing: 2px;
    border: none;
  }
	.con_long{
		height:350px;
		margin:10px 0;
		overflow: auto;
		line-height: 1.6;
		p{
			color:#888;
			font-size:.8rem;
		}
	}
  .con_foot{
    color:black;
    margin:20px 0 10px;
    font-size:.7rem;
    text-align: center;
  }
}
.box_btn_resend,.box_btn_send{
	display: inline-block;
  margin: 0 auto;
	padding:10px 30px;
	text-align: center;
  font-size:1rem;
	color:white;
	background-color: #f5281d;
	border-radius: 5px;
	letter-spacing: 2px;
  &:hover{
    color:white;
  }
}
.box_btn_resend{
  margin: 0 20px 0 0;
  background-color: #999;
}
.lightbox-close {
  position: absolute;top: 8px;right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  color: #aaa;
  border:1px solid #999;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  &:before, &:after {
    content: "";
    position: absolute;top: 2px;left: 10px;
    display: block;
    width: 2px;
    height: 18px;
    background: #aaa;
    transform:rotate(45deg);
  }
  &:after {
    transform:rotate(-45deg);
  }
}