@import "_variables.scss";
@import "_mixin.scss";

@import "plugin/jquery.fancybox.min.css";
@import "all.min.css";
@import "layout.scss";


input[type="text"], input[type="file"], input[type="password"],input[type="number"], textarea, select {
  padding:8px 10px;
  font-size: 1rem;
}
input[readonly]{
  width: 100px;
  background: white;
}
small{
  color:grey;
  font-size:.8rem;
}
.red{
  color:#d00;
}
.form-head-t{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin:  0 0 10px;
  padding:3px 10px;
  font-size:1rem;
  color:#06c;
  border-left:5px solid #06c;
  .red,.t-grey{
    margin: 0 0 0 5px;
    font-size:.8rem;
  }
}
.add-product-detail-form {
  position: relative;
  font-size:1rem;
  .form-line-head{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    border-bottom:1px solid #06c;
  }
  .form-line{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    margin:0 0 10px;
    &.form-bot{
      margin:30px 0 50px;
      justify-content: center;
    }
  }
  .form-line-col{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 0 0 0 30px;

  }
  .form-content-col{
    margin:0 0 15px 85px;
  }
  .form-line-top{
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-start;
  }
  .form-line-wrap{
    display: flex;
    flex-flow:row wrap;
  }
  .form-line-price{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .form-label{
      min-width: auto;
      &:first-child{
        width: 100px;
      }
    }
  }
  .input-check{
    color:#999;
  }
  .form-label {
    min-width: 100px;
    margin: 0 5px 15px 10px;
    text-align: right;
    box-sizing: border-box;
    .t-bold{
      margin:0 10px;
    }
  }
  .form-content {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    position: relative;
    &.short {
      width: 25%;
    }
    &.medium {
      width: 40%;
    }
    &.prod-content{
      align-items: flex-end;
      
    }
    &.upload-content{
      width: 36px;
      margin: 0 0 0 10px;
      padding:20px;
      text-align: center;
      color:#333;
      background: #eee;
      border-radius: 5px;
      .t-img-file-comment{
        text-align: center;
      }
    }
  }
  .form-grid-template{
    display: none;
  }
  .form-grid{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows:auto;
    grid-gap:0;
    max-width: 950px;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
  }
  .form-grid-td{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  10px;
    text-align: center;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    &.thead{
      background: #ddd;
    }
    input[readonly]{
      border:1px solid #aaa;
    }
  }
  .form-grid-href{
    display: block;
    margin: 0 5px;
    font-size:1.2rem;
  }
  .fa-solid.fa-trash-can{
    color:#aaa;
  }
  .fa.fa-circle-plus{
    color:#999;
  }
  .form-label-full {
    margin-top: 40px;
  }
  .from-alert{
    position: absolute;top: 100%;left:50%;transform: translateX(-50%);z-index: 50;
    width:100%;
    padding:3px 10px;
    font-size:.8rem;
    color:white;
    background: red;
    box-sizing: border-box;
    &:after{
      content: '▲';
      display: block;
      position: absolute;top: -8px;left:50%;transform: translateX(-50%);
      color:red;
    }
  }
  .form-alert-msg{
    display: none;
    position: absolute;top:0;right:0;
    width: 200px;
    padding:10px 20px 10px;
    border:1px solid #aaa;
    background: white;
    .msg-t{
      margin: 0 0 5px;
      color:#4791da;
    }
    .msg-con{

    }
    .msg-close{
      position: absolute;top:10px;right:5px;
      cursor: pointer;
      i{
        font-size:1.2rem;
      }
    }
    i{
      margin: 0 5px 0 0;
      font-size:1rem;
    }
  }
}
.product-editor {
  margin-top: 10px;
  position: relative;
  .form-label{
    min-width: auto;
  }
  .btn-upload{
    position: relative;
    display: flex;
    align-items: center;
    padding:5px 10px;
    color:#555;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      color:white;
      background: #777;
    }
  }
}
.link-tiny {
  color: #06c;
  font-size: 1rem;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.fa,.fa-brands{
  font-size: 1.2rem;
  margin: 0;
}

.input-img-file {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  padding: 0 !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}
.img-product {
  position: relative;
  text-align: center;
  border: #d4dbdf 1px solid;
  background: #f1f3f5;
  box-sizing: border-box;
  &.img-product-large {
    width: 360px;
    height: 360px;
    margin-bottom: 10px;
  }
  &.img-product-medium {
    width: 130px;
    height: 130px;
    margin: 10px 10px 10px 0;
    display: inline-block;
  }
  &.img-product-small {
    width: 70px;
    height: 70px;
    margin: 5px 1px 0 0;
  }
  &.img-product-tiny {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  img {
    width: auto;
    height: auto;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    line-height: 0;
    position: absolute;
  }
  .t-img-file-comment {
    position: absolute;top: 50%;left:0;transform: translateY(-50%);
    width: 100%;
    font-size: .85rem;
    padding: 0 10px;
    box-sizing: border-box;

    .link-tiny {
      margin: 5px;
      font-size:1rem;
    }
  }
  .t-edit-img {
    position: absolute;left: 0;right: 0;bottom: 0;z-index: 1;
    padding: 3px;
    font-size: .8rem;
    color: #fff;
    background: #0068b6;
    background: rgba(0, 104, 182, 0.5);
  }
  .btn-delete-image {
    position: absolute;top: 0;right: 0; z-index: 20;
    padding: 0 5px;
    background: none;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
    box-shadow: none;
    opacity: 0.8;
    &:hover {
      background: none;
      opacity: 1;
      box-shadow: none;
    }
    .fa {
      margin: 0;
    }
  }
}
.t-textnum{
  position: absolute;right:10px;
  color:#999;
}
.textarea-editor {
  width: 100%;
  margin: 0;
  color: #000;
  font-size: 1rem;
  border-radius: 0;
  box-sizing: border-box;
}
.multi-chk-label{
  display: flex;
  align-items: center;
}
.multi-chk-text{
  margin: 0 0 0 10px;
}
.btn-grey,.btn-blue{
  margin: 0 10px 0 0;
  padding:12px 30px;
  color:white;
  background: #aaa;
  border-radius: 10px;
  &:hover{
    color:white;
  }
}
.btn-blue{
  background: #0387be;
}
.btn-red{
  background: red;
}



.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0,0,0,.7);
	opacity: 0;
	overflow: hidden;
	z-index: 50;
  &:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    .content, img {
      max-height: 100%;
      max-width: 500px;
    }
  }
	.con_t{
    width: 100%;
    padding:0 0 10px;
    font-size:1rem;	
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #ccc;
	}
	.content {
    display: flex;
    flex-flow:column;
    align-items: center;
		width: 90%;
		height: auto;
		padding: 10px;
		background: #fff;
    color: #333;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		max-height: 0%;
		max-width: 0%;
		border: 3px solid #fff;
		box-sizing: border-box;
		box-shadow:0 0 8px rgba(0,0,0,.3);
		line-height: 1.4;
	}
  .con_m{
    width: 100%;
    margin:20px 0;
    padding:0 20px;
    p{
      font-size:1rem;
    }
    .sendphone,.time{
      text-align: center;
      font-size: .8rem; 
    }
    .red{
      text-align: center;
    }
  }
  .con_block{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .con_m_t{
    font-size:1.1rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .con_input{
    width: 70%;
    margin:10px 0;
    padding:5px;
    font-size:1rem;
    background:#eee;
    letter-spacing: 2px;
    border: none;
  }
	.con_long{
		height:350px;
		margin:10px 0;
		overflow: auto;
		line-height: 1.6;
		p{
			color:#888;
			font-size:.8rem;
		}
	}
  .con_foot{
    color:black;
    margin:20px 0 10px;
    font-size:.7rem;
    text-align: center;
  }
}
.box_btn_resend,.box_btn_send{
	display: inline-block;
  margin: 0 auto;
	padding:10px 30px;
	text-align: center;
  font-size:1rem;
	color:white;
	background-color: #f5281d;
	border-radius: 5px;
	letter-spacing: 2px;
  &:hover{
    color:white;
  }
}
.box_btn_resend{
  margin: 0 20px 0 0;
  background-color: #999;
}
.lightbox-close {
  position: absolute;top: 8px;right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  color: #aaa;
  border:1px solid #999;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  &:before, &:after {
    content: "";
    position: absolute;top: 2px;left: 10px;
    display: block;
    width: 2px;
    height: 18px;
    background: #aaa;
    transform:rotate(45deg);
  }
  &:after {
    transform:rotate(-45deg);
  }
}