.help-center{
	float: right;
	padding: 20px 0;
	width: 100%;
	line-height: 1.8em;
	margin-bottom: 20px;
	@include RWD(desktop-extra) {
		width: 1000px;
	}
	@include RWD(desktop-normal) {
		width: 750px;
	}
	@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
		width: 77%;
	}
	@media only screen and (max-width: $screen-sm-max){
		padding: 0 5%;
	}
	h4 , h5 , h6{
		color: #000;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 2.6em;
		display: block;
	}
	h5{
		font-size: 1em;
		line-height: 1.6em;
		margin-bottom: 5px;
		a{
			color: $primary;
			text-decoration: underline;
		}
	}
	h6{
		font-size: 0.9em;
		line-height: 1.6em;
		margin-bottom: 5px;
	}
	.gray{
		color: $gray;
	}
	.gray2{
		color: #888;
	}
	.blue{
		color: $blue;
	}
	.black{
		color: #000;
	}
	.tip , .tip2{
		background: $ad_yellow;
		padding: 10px 20px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
		ul,p{
			color: $gray;
			a{
				text-decoration: underline;
			}
		}
		.point{
			color: $light_red;
			font-size: 1em;
			font-weight: bold;
		}
		ul.inline{
			@include clearfix;
			list-style: none;
			font-size: 1.1em;
			li{
				text-align: center;
				width: 25%;
				float: left;
				@media only screen and (max-width: $screen-sm-max){
					width: 50%;
				}
				a{
					text-decoration: none;
					color: #7C7C7C;
					i{
						margin-right: 3px;
					}
				}
			}
		}
	}
	.tip2{
		background: #fff;
	}
	img{
		padding-top:10px;
		margin-bottom: 20px;
		display: block;
		max-width: 100%;
	}
	ol, ul{
		list-style: decimal;
		padding-left: 18px;
		li{
			font-size: 0.813em;
			p{
				font-size: 1em;
				margin-bottom: 10px;
			}
		}
		a{
			color: $primary;
			text-decoration: underline;
		}
		.red{
			color: $red;
		}
		.s-colum{
			font-size: 1.3em;
			list-style: none;
			padding-left: 0;
			color: #999;
			li{
				text-indent: 36px;
				&:first-child{
					text-indent: 0;
				}
			}
		}
		.s-colum-2{
			font-size: 1.2em;
			p{
				font-size: 0.9em;
			}
		}
	}
	p{
		padding-left: 0;
		line-height: 2em;
		font-size: 0.813em;
		color: #888;
	}
	ul{
		list-style: square;
	}
	hr{
		border-color:#f4f4f4;
		margin: 1em 0;
	}
}