// header 藍色Bar部分
header.header
	.logo
		a(href='../index.html' title='回到首頁')
			span 供應商後台管理系統
	.user
		.btn-group
			a.btn-group-user(href='#')
				i.fa.fa-cogs
				| 網站設定
		//- .btn-group
		//- 	a.dropdown-toggle.btn-group-user(data-toggle='dropdown' href='#')
		//- 		i.fa.fa-bell
		//- 		span.quantity.quantity-zero 0
		//- 		span.caret
		//- 	ul.dropdown-menu
		//- 		li
		//- 			span.notification-summary
		//- 				i.fa.fa-exclamation-triangle
		//- 				| 99 項新通知
		//- 		li
		//- 			a(href='#')
		//- 				| 新品尚未開單
		//- 				span.quantity 55
		//- 		li
		//- 			a(href='#')
		//- 				| 新品尚未開單新品尚未開單
		//- 				span.quantity 99+
		//- 		li
		//- 			a.more-notification(href='#')
		//- 				| 更多通知
		//- 				i.fa.fa-arrow-circle-right
		.btn-group
			a.dropdown-toggle.btn-group-user(data-toggle='dropdown' href='#')
				i.fa.fa-user
				| userName
				span.caret
			ul.dropdown-menu
				li
					a(href='#') 個人資料修改
				li
					a(href='#') 登出
