//-  header
header.header
	.logo
		a(href='../index.html' title='回到首頁')
			span 平台管理系統
	.user
		.btn-group
			a.btn-group-user(href='#')
				i.fa.fa-user
				| userName
				span.caret
			ul.dropdown-menu
				li
					a(href='#') 個人資料修改
				li
					a(href='#') 登出
		.btn-group
			a.btn-group-user(href="#") 登出