.nav-bg
	nav#nav
		ul
			li.dis-dropdown
				a(href='../index.html')
					i.fa.fa-home 
					|首頁
			li
				span.active
					i.fa.fa-archive 
					| 商品管理
				ul
					li
						a(href='add-product.html') 新增商品
					li
						a(href='#') 查商品
					li
						a(href='#') 訂單查詢
					li
						a(href='#') 對帳
					li
						a(href='#') 網站設定
					li
						a(href='#') 基本資料維護