#side_menu
	ul.side_menu_body
		li.dis-dropdown
			a(href="index.html").side_menu_t 
				i.bi.bi-house-door-fill
				| 首頁
		li
			span.side_menu_t
				i.bi.bi-basket3-fill
				| 商品管理
			ul.side_sub_menu
				li
					a.side_menu_t(href="add-product.html") 商品提報管理
				li
					a.side_menu_t(href="add-product.html") 商品管理查詢
				li
					a.side_menu_t(href="add-product.html") 商品修改管理

				li
					a.side_menu_t(href="add-product.html") 可銷售量管理
				li
					a.side_menu_t(href="add-product.html") 批次價格審核
				li
					a.side_menu_t(href="add-product.html") 歷史價格查詢
				li
					a.side_menu_t(href="add-product.html") 批次上下架
				li
					a.side_menu_t(href="add-product.html") 批次綁加購品贈品
				li
					a.side_menu_t(href="add-product.html") 目錄管理
				li
					a.side_menu_t(href="add-product.html") 商品目錄變更
				li
					a.side_menu_t(href="add-product.html") 新增促銷小標
				li
					a.side_menu_t(href="add-product.html") 商品排序
				li
					a.side_menu_t(href="add-product.html") 相關商品設定
				li
					a.side_menu_t(href="add-product.html") 作廢商品
				li
					a.side_menu_t(href="add-product.html") 作廢目錄
				li
					a.side_menu_t(href="add-product.html") 商品付款方式變更
				li
					a.side_menu_t(href="add-product.html") 提報行銷品在AI曝光
				li
					a.side_menu_t(href="add-product.html") 修改AI分類

		li
			span.side_menu_t
				i.bi.bi-file-text-fill
				| 訂單管理
			ul.side_sub_menu
				li
					a.side_menu_t(href="#") 訂單查詢與維護
				li
					a.side_menu_t(href="#") 出貨異常管理
				li
					a.side_menu_t(href="#") 門市取貨刷退與驗退
		
		li
			span.side_menu_t
				i.bi.bi-stack
				| 商品館管理
		li
			span.side_menu_t
				i.bi.bi-cart4
				| 行銷活動
		li
			span.side_menu_t
				i.bi.bi-people-fill
				| 網紅看盤管理
		li
			span.side_menu_t
				i.bi.bi-clipboard-plus-fill
				| 供應商管理
		li
			span.side_menu_t
				i.bi.bi-gear-wide-connected
				| 系統設定
		li
			span.side_menu_t
				i.bi.bi-diagram-3-fill
				| 權限管理