.product{
	h1{
		font-size: 1.3em;
		line-height: 140%;
		color: $prod_main;
		font-weight: bold;
	}
	h2{
		font-size: 1.3em;
		line-height: 140%;
		color: $prod_main;
		font-weight: bold;
	}
	h3{
		font-size: 1.25em;
		margin-bottom: 15px;
		color: $prod_second;
	}
	hr{
		margin: 2em 0;
	}
	.highlight{
		font-size: 0.813em;
		line-height: 18px;
	}
}
.cart{
	text-align: center;
	margin-bottom: 20px;
	.cart-quantity{
		margin: 0 10px 0 0;
		display: inline-block;
		vertical-align: middle;
		float: none;
	}
	.highlight{
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		p{
			height: 16px;
		}
	}
	button{
		margin-right: 10px;
	}
}
.cartfixed{
	width: 100%;
	margin-bottom: 0px;
	padding: 15px 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	display: none;
	.highlight{
		display: inline-block;
		margin-right: 10px;
		font-size: 1em;
		line-height: 140%;
	}
	.button{
		border: 1px solid #000;
		margin-right: 0;
		&.btn-addcart, &.btn-discount{
			border: 1px solid #fff;
		}
	}
	.message{
		font-size: 1.5em;
		font-weight: bold;
		letter-spacing: 4px;
	}
	
}
.cart-yellow{
	background: $yellow;
	.highlight{
		color: $light_red;
	}
}
.cart-light-gray{
	background: $light_gray;
}
.cart-blue{
	background: $primary;
}
.cart-red{
	background: $red;
	.highlight{
		color: #fff;
	}
}	
.cart-quantity{
	float: left;
	margin: 5px 10px 0 0;
	@include clearfix;
	li{
		float: left;
		border: 1px solid $light_gray;
		margin-left: 0;
		background: white;
		width: 48px;
		height: 32px;
		&:first-child{
			border-right: none;
			@include border-left-radius (2px);
			width: 32px;
		}
		&:last-child{
			border-left: none;
			@include border-right-radius (2px);
			width: 32px;
		}
		.type{
			display: block;
			color: black;
			padding: 6px 0;
			text-align: center;
		}
		input{
			width: 46px;
			height: 30px;
			border: 0;
			font-size: 1em;
		}
	}
}
@include RWD(pad) {
.cartfixed{
	display: block;
	z-index: 5;
}
}
@include RWD(mobile) {
.cartfixed{
	display: block;
	z-index: 5;
	.highlight{
		text-align: center;
		display: block;
		margin-bottom: 5px;
	}
}
}
