doctype html
html
	head
		title i開店系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		article.main
			section.cont
				.container
					.cont_l
						h2 i開店系統 服務說明
						p
							| #[span.blue 遠時數位科技股份有限公司 (遠傳集團)]
							| 推出最新 AI 自動生成建站機制，幫助各行各業省錢省時省力立即擁有
							| #[span.blue 「自已的AI電商網站」]。只需商品上架， 
							| #[span.blue AI即可自動生成品牌旗艦店（線上版 / 手機版 / 再轉轉 / APP店中店）一次擁有！]
							| 除了自家商品，也可以在所有遠時 AI 電商體系包含 friDay、再轉轉等多點曝光（如右圖所示）
						a.apply(href="intro_apply.html") 立即免費申請
					.cont_r
						img(src='img/intro/ysdt_ai_01.png' alt='遠時AI電商系統服務說明' title='遠時AI電商系統服務說明')
			section.cont.brown.straight
				.container
					h2 加入「i開店」的好處
					.benefit
						.benefit_1
							img(src="img/intro/ysdt_ai_001.png", alt="流量")
						.benefit_2
							img(src="img/intro/ysdt_ai_002.png", alt="省時")
						.benefit_3
							img(src="img/intro/ysdt_ai_003.png", alt="省力")
						.benefit_4
							img(src="img/intro/ysdt_ai_004.png", alt="業績")
						.benefit_5
							img(src="img/intro/ysdt_ai_005.png", alt="利潤")
			
			section.cont.straight
				.container
					p
						strong i開店的功能及費率：
						br
						| 提報商品後 AI 可幫您自動做以下行銷：
					.table_scroll
						table.ai_table.center
							tbody
								tr
									th i開店
									th #[span.gold 功能]比較
									th 其他電商開店平台
								tr
									td 
										|AI 可不同時間依據當時消費者的行為
										br
										|提供每個消費者不同的AI商品推薦詳如
										br
										a(href="#AI18") 附錄1
									td #[span.red 首創]
										br
										| AI 360度全方位
										br
										| 分時分人行銷
									td 無
								tr
									td 除了自家的網站，還可在遠時AI電商體系
										br
										|含遠傳friDay購物、再轉轉、網紅看盤...等
										br
										|多家網站聯合曝光，快速增加被購買的機會。
									td #[span.red 首創]
										br
										| 聯合曝光
									td 無
								tr
									td 遠時首創的「#[span.red 網紅看盤APP]」，
										br
										|可讓消費者自已買享有超優惠折扣，
										br
										|也可以分享商品給家人、親朋好友即刻享有分潤，
										br
										|您的商品也有機會被AI曝光到網紅看盤，
										br
										|增加更多商品被購買的機率。
									td #[span.red 首創]
										br
										| 網紅看盤
										br
										| (子網站分銷)
									td 無
								tr
									td 若非自家商品於您的網站成交
										br
										span.red 可分潤 1%]
									td #[span.red 首創]
										br
										| 曝光成交
										br
										| 可分潤
									td 無
								tr
									td AI推品商品親切無疏離感；好玩，無負擔，好轉介，
										br
										|單手可完成購物流程，有抽獎淘金的樂趣，
										br
										|增加您商品被購買的機會!
									td #[span.red 首創]
										br
										| 品牌專屬
										br
										| AI再轉轉
									td 無
						
						table.ai_table.center
							tbody
								tr
									th i開店
									th #[span.gold 負擔]比較
									th 其他月費 / 年費制平台
								tr
									td 免綁約
									td 
										span.red 是否綁約
									td 需綁約
								tr
									td 免繳任何開通費用
									td 
										span.red 首次開通費
									td 額外收取一次性開通費
								tr
									td 優惠期間免費
									td 
										span.red 系統費
									td 部分平台會依據方案酌收
								tr
									td 3C  2.5~3.5%，非3C  4%~6%(無最低負擔)
									td 
										span.red 成本負擔
									td 2% ~ 5.5%ê，無成交仍需負擔最低收費
								tr
									td 優惠期間免費
									td 
										span.red 月費 / 年費
									td 需固定月費 / 年費
								tr
									td 1% ~ 2%
									td  
										span.red 聯合曝光費
									td 需自行各別洽談 約 5 ~ 10%
								tr
									td #[span.red 一次付清2%]
										br
										|已串接信用卡、LINEPay、街口支付..等
										br
										|節省自行串接的麻煩
									td  
										span.red 金流
									td 部份需自行串接
								tr
									td 無限制
									td  
										span.red 商品數量
									td 部分平台會依據方案，限制商品上架數量。
					.update *後續更新以後台公告為主
			section#AI18.cont.black
				.container
					p
						|「i開店」的AI引擎核心延伸出360度個人化一對一行銷方式（如 
						a(href='#AI18') 附錄1 
						| 陸續開發中）接觸顧客，只要您在AI提品系統提品（ 
						a(href='intro_p2.html') 附錄2
						|  ）就可以免費行銷曝光，AI會運算有效的TA，選擇多種方式接觸顧客：

			section#AI18.cont.straight
				.container
					p
						strong 附錄1: AI 360度一對一行銷
						br
						| 提報商品後 AI 可幫您自動做以下行銷：
					.table_scroll
						table.ai_table
							tbody
								tr
									th 行銷工具名稱
									th 說明
									th #[span.gold i開店] 對供應商的好處
									th 對消費者好處
								tr
									td 對品折價券
									td 依照個別會員的偏向(搜尋/點擊喜好、收入高低、性別、年齡)設計出會員當時最有興趣商品一對一折價券。
									td 可以提品後，AI 幫我將提報商品折價券，提供給數百萬會員中對我商品高度興趣的會員(只有指定會員看得到破盤價)，幫助商品銷售更快！
									td 隨時可以收到我喜歡的商品，可直接折價很貼心，不用再花時間找折價券可以用的商品。
								tr
									td 會員個人化首頁
									td AI 替每個會員計算個別的興趣，產生的一對一的個人化首頁。
									td AI 可針對每個會員的喜好給不同的首頁選品，不需要花過多時間佈置首頁。
									td 擁有自已專屬的購物首頁，內容都是我喜歡的。沒有過多擾人的促銷訊息。
								tr
									td 會員個人化搜尋
									td 消費者輸入關鍵字，列表商品依據這個消費者偏向(搜尋/點擊喜好、收入高低、性別、年齡)，排優先順序。
									td AI 可針對每個會員的喜好將站內搜尋做不同的排序，不需要花時間做站內SEO。
									td 搜尋結果依照我的興趣做優先的排序！可以很快找到需要的商品！
								tr
									td 商品頁物物相連
									td 在單一商品頁旁列出關聯度高的商品 (最貼近消費者當下心意的商品)，增加消費者方便性提高成交率。
									td AI 幫我在每一個商品頁旁放上同TA屬性偏好的商品，增加整個官網提單率！
									td 快速找到下一個我需要的商品，不用再花時間搜尋。
								tr
									td 外部廣告
										br
										| (關鍵字媒體)
									td 分析搜尋引擊的熱門關鍵字，每組關鍵字有一個廣告連結，連結回來的 Landing Page 符合關鍵字的內容及消費者的喜好變換內容。
									td
										| 1. AI可針對提報商品計算出同屬性商品製作出 Landing Page (最多可25品) ，幫助整個官網的商品銷售，用最少的費用達到最佳的效果！
										br
										| 2.不需要經驗，AI 可幫我對外投放關鍵字廣告。
									td Google 能快速找到我需要的商品
								tr
									td 外部廣告
										br
										| (社群媒體)
									td 分析社群媒體的目標客戶的選項參數，每一組選項參數有一個廣告連結，連結回來的 Landing Page 符合社群媒體的內容及消費者的喜好變換內容。
									td
										| 1. AI可針對提報商品計算出同屬性商品製作出 Landing Page (最多可25品) ，幫助整個官網的商品銷售，用最少的費用達到最佳的效果！
										br
										| 2. 不需要經驗，AI 幫我對外投放內容媒體廣告給喜歡我商品的潛在TA。
									td 社群媒體能看到我喜歡商品的推薦和好康！
								//- tr
								//- 	td 會員個人化EDM
								//- 	td 依照個別會員偏向(搜尋/點擊喜好、收入高低、性別、 年齡)，找出符合個別會員興趣的25品，以email發出去，也可以在網頁呈現。
								//- 	td 不用求PM給曝光，提品後AI幫我用EMAIL的方式發給對我商 品高度興趣的會員。
								//- 	td EDM可以看到我喜歡的專屬商品，每次開信都有驚喜!
								//- tr
								//- 	td 一對一APP  push
								//- 	td 依照個別會員偏向(搜尋/點擊喜好、收入高低、性別、 年齡)，找出一品（或是少品），push出去，幫助供應商提高成交率。
								//- 	td 不用求PM給曝光，提品後AI幫我發APP將商品訊息給喜歡我商品的會員。
								//- 	td 可以收到我需要且喜歡商品的專屬推薦! 沒有過多擾人的訊息!
								//- tr
								//- 	td 會員個人生日禮
								//- 	td 幫消費者找好喜歡的商品 再給折扣。
								//- 	td 不用求PM給曝光，提品後AI幫我把我的商品自動推薦給喜歡我商品的 4.0當月生日會員。
								//- 	td 有我專屬的生日禮很貼心! (喜歡的商品直接折扣，不用再花時間找)
								//- tr
								//- 	td 智慧綁賣
								//- 	td AI可根據每個會員經常購買的組合，運算出專屬綁賣組合建議，主動推銷給消費者。
								//- 	td 由AI幫我依照每個會員的喜好提供給會員一對一的專屬綁賣組合。
								//- 	td 有專屬的綁賣組合，都是我喜歡的商品。
								//- tr
								//- 	td 個人節慶不指定商品
								//- 	td AI依當月節慶/季節/市場熱門偏向去挑和個別會員高度相關的商品，按個別會員的偏向一對一配對給會員專屬推薦。
								//- 	td 不用花時間找節慶不指定商品，AI可幫我判斷，並一對一 配對給喜歡的會員。
								//- 	td 知道節慶熱門什麼商品，可以快速收到我專屬的節慶不指定商品推薦。
								//- tr
								//- 	td 個人節慶指定商品
								//- 	td
								//- 		| 1.對於特定節日網站有指定商品集合要優先推薦。
								//- 		br
								//- 		| 2.AI會從上面指定的商品集合為優先，加其它不指定商品，符合個別會員高度相關的商品。如中秋節為月餅、 烤肉…一對一配對給會員專屬推薦。
								//- 	td 不用花時間找節慶指定商品， AI可幫我判斷，並一對一配對給喜歡的會員。
								//- 	td 知道節慶熱門什麼商品，可 以快速收到我專屬的節慶指定商品推薦。
								//- tr
								//- 	td 個人社會事件商品
								//- 	td AI依當月社會事件熱門偏向去挑和個別會員高度相關的 商品，一對一配對給會員專屬推薦。
								//- 	td 不用花時間想社會事件商品給 PM，AI可幫我判斷，並一對一 配對給喜歡的會員。
								//- 	td 知道現在熱門什麼商品
								//- tr
								//- 	td 分眾新商品導入
								//- 	td
								//- 		| 1.AI分眾導入，讓消費者知道自己常買的東西有新版本。
								//- 		br
								//- 		| 2.市場上如果有新的商品上市，我們會去尋找興趣度高的客人，主動推薦。
								//- 	td 不用求PM給新品曝光，AI自動 配對給對我新品有興趣的會員。
								//- 	td 知道自己常買的東西有出新版本
								//- tr
								//- 	td 一對一會員喚醒
								//- 	td 若會員太久沒在本網站活動，會根據會員過去的喜好 及當下市場熱門商品提供個人專屬優惠，刺激會員復活。
								//- 	td 不用求PM給曝光，提品後AI可幫我把商品推給高度興趣的會員。
								//- 	td 即使沒有消費，喜歡的商品好康還是收得到!我隨時要上來買還是有優惠。
								//- tr
								//- 	td 外部廣告 (內容媒體)
								//- 	td 分析內容媒體的每一篇文章，依照文章特性讓連結回來的廣告 Landing Page 符合文章的內容及消費者的喜好變換內容。
								//- 	td
								//- 		| 1. 可分擔廣告費用，用最少的費用達到最佳的效果!
								//- 		br
								//- 		| 2.不需受平台控制
								//- 		br
								//- 		| 3.不需要經驗，AI幫我對外投放內容媒體廣告給喜歡我商品的潛在TA。
								//- 	td 知道自己常買商品的知識。
		footer.site-footer
			.container
				.contact
					a.apply(href="intro_apply.html") 立即免費申請
