doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		article.main
			section.brand
				.container
					.brand_top
						.brand_t 全台首創 1000家以上品牌 全AI自動行銷
							a.pbybtn(href="#pby_detail") 詳
								.pby_detail
									p 本網站為「網站品牌商公司」銷售商品的網站，而本網站所有AI生成技術及網站系統均是遠時數位科技股份有限公司(以下稱YSDT)建置，日常營運之客服、金流、發票、退貨退款均由YSDT負責。本網站除了銷售「網站品牌商公司」商品外，也同時展示其它YSDT廠商的商品，而這些商品透過YSDT獨家AI 友商推薦商品    技術展示，並會顯示 友商推薦商品    標誌。透過 友商推薦商品技術，「網站品牌商公司」  就會有成千上萬的商品陳列，並進一步提供優惠折扣，讓每一位消費者可看到適合自已且具有吸引力的商品，享有嶄新的購物體驗！
										span.pbyclose 關閉
							.brand_sub_t ⬇往下搜尋您想找的品牌 體驗您個人專屬AI網站
			section
				.container
					.brand_bot
						a.brand_block(href='#')
							.brand_photo
								span 網站LOGO
							.brand_name
								span 品牌名稱
						- var j = 35;
						- for (var i = 1; i < j; i++)
							a.brand_block(href='#')
								.brand_photo
									img.brand_img(src='../img/sample/Logo_'+ i + '.jpg', alt='')
								p.brand_name
									span 品牌名稱
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/intro.js')

