doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		header.site-header
			.container
				.main-head
					a.logo(href='intro.html')
						img(src='img/intro/ysdt_ai_logo.svg' alt='遠時AI電商' title=' 遠時AI電商')
					.head_link
						a(href="intro_co.html") 廠商合作
						a(href="intro_apply.html") 報名說明會
						a(href="intro_brand.html") 已合作品牌
		article.main
			section.cont.straight.p2
				.container
					p
						strong 附錄2：供應商除了正常的商品上架之外，我們提供了專門的提品入口：
					p
						strong 單品直接提品：
						small （樣子如下圖）
						br
						| 如下圖依序輸入品名/原售價/特價/特價起迄期間/上傳圖檔。提品完可選擇儲存草稿暫不上架，或是立即上架。如果您是第一次上線操作，儲存時候只要設定帳號密碼就可以了，事後可以查詢提品清單，或是上架商品清單。
					img(src='img/intro/intro_p2.png' alt='AI單品直接提品' title='AI單品直接提品')
					p
						strong 從已上架商品提品：
						br
						| 如果你已經有上架商品了，可點選右上角，“
						span 從已上架商品提品
						| ”，會直接連接到您的已上架商品清單，你可以在清單逐筆設定。

