doctype html
html
	head
		title 遠時AI電商系統服務說明
		meta(charset='utf-8')
		meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
		meta(name='description' content='遠時AI電商系統服務說明')
		meta(name='keywords' content='uitox,																																																											 4.0,AI,無人電商')
		meta(property='og:type' content='website')
		meta(property='og:title' content=' 4.0')
		meta(property='og:image' content='img/intro/ysdt_ai_01.png')
		meta(property='og:description' content='遠時AI電商系統服務說明')
		meta(content='width=device-width, initial-scale=1.0' name='viewport')
		link(href='css/intro.css', rel='stylesheet')
	body
		include src/_intro_head.pug
		article.main
			section
				.container
					.form
						.form_top
							h2 說明會報名
							small 最新AI自動生成開店趨勢，一次擁有AI品牌網站(線上版/手機版)、AI品牌APP、AI品牌再轉轉！
						.form_mid
							.form_line
								.form_t 您的姓名
								input.form_input(type="text" autocomplete="name")
							.form_line
								.form_t 手機號碼
								input.form_input(type="tel" autocomplete="tel" inputmode="tel")
							.form_line
								.form_t EMAIL
								input.form_input(type="email" autocomplete="email" inputmode="email")
							.form_line
								.form_t 公司/品牌名稱
								input.form_input(type="text")
							.form_line
								.form_t 營業額區間/月
								input.form_input(type="text")
							.form_line
								.form_t 統一編號
								input.form_input(type="text" inputmode="numberic")
							.form_line
								.form_t 參加人數
								input.form_input(type="number" inputmode="numberic")
							.form_line.align_top
								.form_t 參加場次
								.form_choose
									.form_line
										input#apply1(type="radio", name="apply")
										label(for="apply1") 112/05/24(三) pm13:30~15:30 台北市內湖區瑞光路468號 1F-101會議室
									.form_line
										input#apply2(type="radio", name="apply")
										label(for="apply2") 112/06/19(一) pm13:30~15:30 台北市內湖區瑞光路468號 1F-103會議室
						
						.form_foot
							a.submit(href="#") 報名說明會
							small 敬請確認以上資料皆填寫正確，遠時AI電商將會盡快與您聯繫
