doctype html
html
	head
		include src/_meta.pug
		link(href='css/mem_chk_cupn.css', rel='stylesheet')
	body
		.body_container
			include src/_header.pug
			.site-main
				.container
					.mem_chk_t
						a.back(href="index.html")
							i.icon.icon_swiper_prev
							p.chk_order 回首頁
					.cupn_top
						.cupn_des
							p 謝謝您的光臨，您尚未購買商品，
							p 我們提供您以下的#[strong.red 優惠商品]，歡迎選購
					.cupn_bot
						p 個人專屬優惠折扣商品：
						.cupn_items
							mixin cupnimg(src)
								a.cupn_item.red(href='#')
									.photo
										img.cupnimg(src='../img/sample/'+ src +'.jpg', alt='商品名稱', title='商品名稱')
									.info
										.cupn
											h3.name 商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品商品名稱商品名稱商品
											.cupn_block
												.cupn_t 個人對品折價券
												.cupn_ticket
													.cupn_price $1,000 
										.nor
											.nor_t 市價
											.nor_price $999,999
										.dis
											.dis_net
												.dis_t 網路價
												.dis_price $299,999
											img(src="../img/cupn_arrow.svg")
											.dis_net
												.dis_af 折後
												.dis_af_price $298,999
							+cupnimg('04_01_80')
							+cupnimg('04_02_80')
							+cupnimg('04_03_80')
							+cupnimg('04_01_80')
							+cupnimg('04_02_80')
							+cupnimg('04_03_80')
							+cupnimg('04_01_80')
							+cupnimg('04_02_80')
							+cupnimg('04_03_80')
		include src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')

