doctype html
html
	head
		include src/_meta.pug
		link(href='css/order_cupn.css', rel='stylesheet')
	body
		.body_container
			
			header.site-header
				.container
					.main_head
						.header_l
							a.logo(href='index.html')
								img(src="../img/friday_logo_red.svg", alt="")
						.header_r
							p.header_r_top Powered by YSDT (遠時)
							p.header_r_bot 負責AI網站, 金流, 發票及客服

					
			.site-main
				.container
					.mem_chk_t
						a.back(href="index.html")
							i.icon.icon_swiper_prev
							p.chk_order 回首頁
					.empty_top
						p 謝謝您的光臨，您尚未購買商品。
					.empty_bot
						.empty_l
							p 您以前加入購物車的商品
							input#beforelist.before_chk(type="checkbox", name="")
							label.before_lb(for="beforelist")
						.empty_r *商品僅保留三個月
					.empty_prodlist
						.cart_item
							.cart_img
								img(src='../img/sample/05_01_182.jpg', alt="商品圖片")
							.cart_info
								.cart_name
									a.cart_name_link(href="item.html") 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g 韓國 ETUDE HOUSE 氣墊頰彩(蕊) 3g
									.cart_size 白色 600ml
								.cart_price_b
									.cart_price
										.ori_t 原價
										.ori_price $990
									.cart_price
										.dis_t 網路價
										.dis_price $999
							.cart_last
								a(href="#").btn-remove 刪除
						
		include src/_foot.pug
		script(src='js/3rd-party/jquery-3.6.0.min.js')
		script(src='js/3rd-party/swiper-bundle.min.js')
		script(src='js/common.js')

