doctype html
html
	head
		include src/_meta.pug
		link(href='css/supplier.css', rel='stylesheet')
	body
		.body_container
			.site-main(role='main')
				.container
					.supplier
						a.supplier_block(href='#')
							.supplier_photo
								span 網站LOGO
							.supplier_name
								span 品牌名稱
						- var j = 35;
						- for (var i = 1; i < j; i++)
							a.supplier_block(href='#')
								.supplier_photo
									img.supplier_img(src='../img/sample/Logo_'+ i + '.jpg', alt='')
								p.supplier_name
									span 品牌名稱
		include src/_foot.pug
