doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head_m.pug

		title Qmomo - 404 not found
		meta(name='description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')
		meta(name='keywords' content='平口內衣,平口內衣推薦,無肩帶內衣,內衣推薦')
		meta(property='fb:pages' content='qmomotw')
		meta(property='og:url' content='https://www.qmomo.com.tw/v2/official/SalePageCategory/45567')
		meta(property='og:image' content='https://diz36nn4q02zr.cloudfront.net/webapi/imagesV3/Original/SalePage/6527577/0/637341444881030000?v=1')
		meta(itemprop='og:description' content='「每秒賣出12套的Qmomo平口推推內衣」怎麼動怎麼跳都不會掉，搭配禮服或小洋裝剛剛好，給妳滿滿的安全感，放心穿搭任何服飾；多種款式任妳挑選。')

		link(href='https://fonts.googleapis.com/css2?family=Lobster&display=swap' rel='stylesheet')
		link(href='css/mobile/404.css', rel='stylesheet')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_header_m.pug
		
		.body_404
			.container
				.msg_404
					.not-found 
						| 404
						| not found
					p
						
						| 很抱歉
						br
						| 此頁面已經不存在！

					a(href="index.html") 回首頁
		include ../pug_common/_footer_m.pug
		script(src='js/common.js')