doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head_m.pug
		title Qmomo - cart
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_header_m.pug

		.member
			.container
				.mem_block
					.mid_title 常用收件人
					.mem_body
						.mem_link
							include ../pug_common/_mem_menu.pug
						.mem_info 
							table.mem_data_list
								thead
									tr 
										th 姓名
										th 電話
										th 地址
										th 
								tbody
									tr 
										td 通靈術
										td 0912***689
										td 台北市中山區中山路一段5弄2號
										td 
											a(href="#")
												i.far.fa-trash-alt
									tr 
										td 版面煉成
										td 0932***777
										td 新北市新店區寶來路一段202弄4巷2號10樓
										td 
											a(href="#")
												i.far.fa-trash-alt
							.bot_func
								a.submit.location_pop_btn(href="#location_pop") 新增常用收件人
		include ../pug_common/_footer_m.pug
		#location_pop.location_pop
			.location_pop_body
				.mid_title 新增常用收件人
				.location_line
					input(type="text" placeholder='姓名')
				.location_line
					input(type="tel" placeholder='電話')
				.location_line.address_dat
					.location_select
						select#credit-month(name='')
							option(value='1') 台北市
					.location_select
						select#credit-year(name='')
							option(value='1') 信義區
							option(value='2') 大安區
							option(value='3') 內湖區
					input.post(type='text' placeholder='郵遞區號' value='106')
				.location_line
					input.credit_num(type='text' id='' placeholder='收貨地址' value='')
				.bot_func
					a.cancel(href="#") 取消  
					a.submit(href="mem_info_location.html") 新增 
			a.pop_close(href="#")
				i.fas.fa-times