doctype html
html(lang='zh-Hant-TW')
	head
		include _head_m.pug
		title Qmomo - cart
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include _header_m.pug

		.member
			.container
				.login.mobile_reg
					.mid_title 手機號碼 
						br
						| +886 932123456
					.login_body
						.login_line
							input(type='number' placeholder='輸入4位數驗證碼')
						a.nor_login(href='#') 下一步
						a.nor_login.resend(href="#") 重發驗證碼 
						.login_remind 
							p 
								span 提醒您
								|：我們不會以電話或簡訊通知變更付款方式，
								br
								| 也不會要您前往ATM進行任何操作。若有任何疑慮，請洽詢165反詐騙專線。
		include _footer_m.pug