doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head_m.pug
		title Qmomo - cart
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/member.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
		script(src='js/member.js')
		
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_header_m.pug

		.member
			.container
				.mem_block
					.mem_body
						.mem_link
							include ../pug_common/_mem_menu.pug
						.mem_info
							.mem_info_detail
								a(href="#").tab_link.active(data-detail='mem_info_detail-1') 會員資料
								a(href="#").tab_link(data-detail='mem_info_detail-2') 常用收件人
								a(href="#").tab_link(data-detail='mem_info_detail-3') 常用統一編號
								a(href="#").tab_link(data-detail='mem_info_detail-4') 修改密碼
							#mem_info_detail-1.detail_content.active
								.location_line
									input(type='text' placeholder='姓名' value='金小姐')
								.location_line
									input(type='email' placeholder='Email' value='abc@gmail.com' disabled='disabled')
								.location_line
									input(type='tel' placeholder='電話' value='0912345678' disabled='disabled')
								.location_line
									.location_select
										select#credit-month(name='')
											option(value='1') 台北市
									.location_select
										select#credit-year(name='')
											option(value='1') 信義區
											option(value='2') 大安區
											option(value='3') 內湖區
									input.post(type='text' placeholder='郵遞區號' value='106')
								.location_line
									input.addr(type='text' placeholder='地址' value='中山路一段5弄2號')
								.bot_func
									a.submit(href="#") 更新資料
							#mem_info_detail-2.detail_content
								table.mem_data_list
									thead
										tr 
											th 姓名
											th 電話
											th 地址
											th 
									tbody
										tr 
											td 通靈術
											td 0912***689
											td 台北市中山區中山路一段5弄2號
											td 
												a(href="#")
													i.far.fa-trash-alt
										tr 
											td 版面煉成
											td 0932***777
											td 新北市新店區寶來路一段202弄4巷2號10樓
											td 
												a(href="#")
													i.far.fa-trash-alt
								.bot_func
									a.submit.location_pop_btn(href="#recipient_pop") 新增常用收件人

							#mem_info_detail-3.detail_content
								table.mem_data_list.invo_data_list
									thead
										tr 
											th 發票抬頭
											th 統一編號
											th 
									tbody
										tr 
											td Qmomo
											td 16097091
											td
												a(href="#")
													i.far.fa-trash-alt
										tr 
											td 星巴克
											td 16097091
											td 
												a(href="#")
													i.far.fa-trash-alt
								.bot_func
									a.submit.mem_pop_btn(href="#mem_data_pop") 新增常用統一編號

							#mem_info_detail-4.detail_content
								.login
									.login_body
										.login_line
											input(type='password' placeholder='原密碼')
											p.err_txt 請輸入正確的原密碼
										.login_line
											input(type='password' placeholder='設定新密碼')
											p.err_txt 至少包含1個數字、1個小寫字母、1個大寫字母、長度10-20位數
										.login_line
											input(type='password' placeholder='請再次輸入新密碼')
											p.err_txt 請輸入與上一步相同的密碼
										a.nor_login(href='mem_login.html') 送出
		include ../pug_common/_footer_m.pug
		#mem_data_pop.location_pop
			.location_pop_body
				.mid_title 新增常用統一編號
				.location_line
					input(type="text" placeholder='發票抬頭')
				.location_line
					input(type="tel" placeholder='統一編號')
				.bot_func
					a.cancel(href="#") 取消  
					a.submit(href="#") 新增 
			a.pop_close(href="#")
				i.fas.fa-times
	
		#recipient_pop.location_pop
			.location_pop_body
				.mid_title 新增常用收件人
				.location_line
					input(type="text" placeholder='姓名')
				.location_line
					input(type="tel" placeholder='電話')
				.location_line.address_dat
					.location_select
						select#credit-month(name='')
							option(value='1') 台北市
					.location_select
						select#credit-year(name='')
							option(value='1') 信義區
							option(value='2') 大安區
							option(value='3') 內湖區
					input.post(type='text' placeholder='郵遞區號' value='106')
				.location_line
					input.credit_num(type='text' id='' placeholder='收貨地址' value='')
				.bot_func
					a.cancel(href="#") 取消  
					a.submit(href="#") 新增 
			a.pop_close(href="#")
				i.fas.fa-times