doctype html
html(lang='zh-Hant-TW')
	head
		include ../pug_common/_head_m.pug
		title Qmomo
		
		link(href='css/mobile/jquery.fancybox.min.css', rel='stylesheet')
		link(href='css/mobile/about.css', rel='stylesheet')
		script(src='js/jquery.fancybox.min.js')
		script(src='js/common.js')
	body
		.wpf-loader-two
			.wpf-loader-two-inner
				span Loading
		include ../pug_common/_header_m.pug
		
		.about_main
			.container
		
				include ../pug_common/_about_menu.pug
				.about_content
					h3 運送方式
					.privacy_block
						p
							| 宅配(600免運)
							br
							| 取貨付款(890免運)
							br
							| 超商取貨(600免運)(取貨時須出示購買人證件)。
					.privacy_block
						p
							| 國定例假日一樣天天出貨
							br
							| 黑貓宅急便週日停止集貨/配送
							br
							| 配送範圍限台灣本島各縣市(不含郵政信箱)。
							br
							| 如本店無法接受您的訂單，將於收到您的訂單後二個工作日內通知您。但法令另有規定者除外。
					.privacy_block
						.sm_title 外島(澎湖、金門、馬祖)另有購物規則
						p
							| 滿千免運
							br
							| 黑貓宅急便貨到付款 or 先匯款至公司帳戶後出貨
							br
							| 海外依寄送國家收取費用，請參考：海外宅配、海外快遞
		include ../pug_common/_footer_m.pug
