.footer{
	background: $footer;
	padding: 10px 0;
	@include box-sizing(border-box);
	background-image:url('../../../../../c/img/seagame/footerbg.jpg');
	background-repeat:repeat-x;
	background-color:#356aac;
	.col-2{
		padding:50px 0 30px;
	}
	h4{
		color: $footer_h4;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.footer-nav{
		li{
			a{
				color: $footer_link;
				font-size: 0.8em;
				line-height: 180%;
				display: inline-block;
				@include transition(0.2);
				&:hover{
					text-decoration: underline;
					color: $footer_hover;
					padding-left: 12px;
					@include transition(0.2);
				}
			}
		}
	}
	.footer-bottom{
		padding:20px 0;
		float:right;
		li{
			display: inline-block;
			padding:0 15px;
			a{
				color: $footer_link;
				font-size: 0.8em;
				line-height: 180%;
				display: inline-block;
				&:hover{
					text-decoration: underline;
					color: $footer_hover;
				}
			}
		}
	}
	small{
		padding: 20px;
		float:left;
		font-size: 0.8em;
		line-height: 120%;
		text-align: left;
		color: $footer_h4;
	}
}
.footer+.footer{
	background: $footer;
}
@media only screen and (max-width: $screen-sm-max){
.footer{
	padding: 20px 10px;
	.col-2{
		width: 50%;
		min-height: 215px;
		padding:30px 0;
		text-align: center;
	}
	.footer-nav{
		width: 65%;
		margin: 0 auto;
		li{
			padding-left: 14px;
			text-align: left;
		}
	}
	.footer-bottom{
		padding:20px 0;
		float:none;
		li{
			display: block;
			padding:0 15px;
			a{
				color: $footer_link;
				font-size: 0.8em;
				line-height: 180%;
				display: inline-block;
				&:hover{
					text-decoration: underline;
					color: $footer_hover;
				}
			}
		}
	}
	small{
		float:none;
		margin-top: 20px;
		text-align: center;
	}
}
}