html, body{
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}
.zenfont{
	font-family:Arial;
}
body{
	@include background-gradient($background, $background2);
	background-attachment: fixed;
	color: $text;
}
a{
	color: $link;
}
* {
    outline: none;
    @include box-sizing(border-box);
}
hr{
	margin: 50px 0;
	@media only screen and (max-width: $screen-sm-max){
		margin: 0;
	}
}
.blue-text{
	color: $blue !important;
}
.red-text{
	color: $light_red !important;
}
input[type='password'], input[type='email'], input[type='tel'], input[type='text'], input[type='number'], input[type='search']{
	-webkit-appearance: none;
	font-family:Arial, Helvetica, sans-serif;
	width: 100%;
	padding: 4px;
	margin: 0 0 10px 0;
	border: 1px solid $light_gray;
	font-size: 0.95em;
	background: $input_bk;
	color: $input_text;
	&:focus{
		outline: none;
	}
}
input[type='search']{
	// background: white;
	background: transparent;
}
select{
	background: $input_bk;
	color: $input_text;
	padding: 4px;
	border: 1px solid $filter_border;
}
.crop{
    @include crop(100% , white);
	a{
		display: block;
	}
}
.hide{
	display: none;
}
.container, .row, .clearfix{
	@include clearfix;
}
.row{
	position: relative;
}
.container{
	position: relative;
	margin: 0 auto;
	@media only screen and (min-width: $screen-xl-min){
		width: 1220px;
	}
	@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
		width: 960px;
		img{
		max-width:960px;
		}
	}
	@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
		width: 100%;
		//width: 750px;
	}
	@media only screen and (max-width: $screen-sm-max){
		width: 100%;
	}
}
.col-2{
	width: 16.666%;
	float: left;
}
.col-3{
	@include clearfix;
	@media only screen and (min-width: $screen-xl-min){
		width: 25%;
		float: left;
	}
	@media only screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max){
		width: 25%;
		float: left;
	}
	@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
		width: 50%;
		float: left;
	}
	@media only screen and (max-width: $screen-sm-max){
		width: 100%;
	}
}
.col-4{
	width: 33.333%;
	float: left;
	@media only screen and (max-width: $screen-sm-max){
		width: 100%;
	}
}
.col-5{
	width: 20%;
	float: left;
	@media only screen and (max-width: $screen-sm-max){
		width: 50%;
	}
}
.col-6{
	width: 50%;
	float: left;
}
.hidden-mobile{
	@media only screen and (max-width: $screen-sm-max){
		display: none !important;
	}
}
.hidden-table{
	@media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max){
		display: none !important;
	}
}
.hidden-desktop{
	@media only screen and (min-width: $screen-md-max){
		display: none !important;
	}
}