.site-outter {
    padding-bottom: 52px;
}
.md_footer_001 {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	border-top:3px solid white;
	[class*="img-"] {
		width:30px;height:30px;
	}
	ul{
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	li{
		a{
			display:block;
			padding: 3px 5px;
			position: relative;
		}
	}
	.icon_txt{
		display: block;
		color:#555;
		font-size:.7rem;
	}
	.footer-notice{
		.number{
			position: absolute;
			right: 0;
			top: 4px;
			min-width: 20px;
			height: 20px;
			padding:2px 3px;
			background: #d00;
			color: #fff;
			font-size: 0.7rem;
			line-height: 1.4;
			text-align: center;
			@include border-radius(50%);
		}
	}
	.container {
		background: #eee;
		text-align: center;
	}
	.title-h2 {
		padding: 5px 0;
		font-size: 0.9rem;
		color: #fff;
		a {
			color: $text;
			margin-left: 5px;
		}
	}
}