#quick-view-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
	.modal-content
		.modal-body
		button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
		.row
			// Modal view slider
			.col-md-6.col-sm-6.col-xs-12
				.aa-product-view-slider
					#demo-1.simpleLens-gallery-container
						.simpleLens-container
							.simpleLens-big-image-container
								a.simpleLens-lens-image(data-lens-image='img/1000x1000_prod_2.jpeg')
									img.simpleLens-big-image(src='img/1000x1000_prod_2.jpeg')
						.simpleLens-thumbnails-container
							a.simpleLens-thumbnail-wrapper(href='#', data-lens-image='img/1000x1000_prod_2.jpeg', data-big-image='img/1000x1000_prod_2.jpeg')
								img(src='img/view-slider/thumbnail/polo-shirt-1.png')
						//-   a.simpleLens-thumbnail-wrapper(href='#', data-lens-image='img/view-slider/large/polo-shirt-3.png', data-big-image='img/view-slider/medium/polo-shirt-3.png')
						//-     img(src='img/view-slider/thumbnail/polo-shirt-3.png')
						//-   a.simpleLens-thumbnail-wrapper(href='#', data-lens-image='img/view-slider/large/polo-shirt-4.png', data-big-image='img/view-slider/medium/polo-shirt-4.png')
						//-     img(src='img/view-slider/thumbnail/polo-shirt-4.png')
			// Modal view content
			.col-md-6.col-sm-6.col-xs-12
				.aa-product-view-content
					h3 睡眠內衣【晚安推推・啵啵BOBO】莫代爾雙C魔力羅紋捲邊成套睡衣(羅蘭粉紫)
					.aa-price-block
						span.aa-product-view-price $9999 ~ $ 99999
					//- p.aa-product-avilability
					//-   | Avilability: 
					//-   span In stock
					p
						| - 超透氣網眼布料，搭配三明治ｘ直立棉模杯，更輕盈、環保、透氣，讓胸部時時刻刻都能深呼吸。<br>
						| - 罩杯邊緣與肌膚接縫處使用反包編織法，即使流汗、天氣悶熱也能貼心避免與敏感肌膚摩擦!<br>
					h4 Size
					.aa-prod-view-size
						a(href='#') 65B
						a(href='#') 65C
						a(href='#') 65D
						a(href='#') 65E
						a(href='#') 65F
						a(href='#') 70B
						a(href='#') 70C
						a(href='#') 70D
						a(href='#') 70E
						a(href='#') 70F
						a(href='#') 75B
						a(href='#') 75C
						a(href='#') 75D
						a(href='#') 75E
						a(href='#') 75F
						a(href='#') 80B
						a(href='#') 80C
						a(href='#') 80D
						a(href='#') 80E
						a(href='#') 80F
						a(href='#') 85B
						a(href='#') 85C
						a(href='#') 85D
						a(href='#') 85E
						a(href='#') 85F
					h4 數量
					.aa-prod-quantity
						form(action='')
							select(name='', id='')
								option(value='0', selected='1') 1
								option(value='1') 2
								option(value='2') 3
								option(value='3') 4
								option(value='4') 5
								option(value='5') 6
						//- p.aa-prod-category
						//-   | Category: 
						//-   a(href='#') Polo T-Shirt
					.aa-prod-view-bottom
						a.aa-add-to-cart-btn(href='#')
							span.fa.fa-shopping-cart  加入購物車





		// Products section
		section#aa-product
			.container
				.row
					.col-md-12
						.row
							.aa-product-area
								.aa-product-inner
								// start prduct navigation
								ul.nav.nav-tabs.aa-products-tab
									li.active
										a(href='#men', data-toggle='tab') 新品上市
									li
										a(href='#women', data-toggle='tab') 熱銷商品
									li
										a(href='#sports', data-toggle='tab') 無痕涼感
									li
										a(href='#electronics', data-toggle='tab') 性感情趣
								.tab-content
									// Start men product category
									#men.tab-pane.fade.in.active
										ul.aa-product-catg
											// start single product item
											- var j = 2;
											- for (var i = 0; i < j; i++)
												li
													figure
														a.aa-product-img(href='#')
															img(src='img/1000x1000_prod_1.jpeg', alt='polo shirt img')
														a.aa-add-card-btn(href='#')
															span.fa.fa-shopping-cart
															| 加入購物車
														figcaption
															h4.aa-product-title
																a(href='#') 內衣 【ZERO零著肌】無鋼圈舒適無痕成套內衣(奶茶色)
															span.aa-product-price $45.50
															span.aa-product-price
																del $65.50
													.aa-product-hvr-content
														a(href='#', data-toggle='tooltip', data-placement='top', title='Add to Wishlist')
															span.fa.fa-heart-o
														//- a(href='#', data-toggle='tooltip', data-placement='top', title='Compare')
														//-     span.fa.fa-exchange
														a(href='#', data-toggle2='tooltip', data-placement='top', title='Quick View', data-toggle='modal', data-target='#quick-view-modal')
															span.fa.fa-search
													// product badge
													//- span.aa-badge.aa-sale(href='#') SALE!
													// start single product item
												li
													figure
														a.aa-product-img(href='#')
															img(src='img/1000x1000_prod_2.jpeg', alt='')
														a.aa-add-card-btn(href='#')
															span.fa.fa-shopping-cart
															| 加入購物車
														figcaption
															h4.aa-product-title
																a(href='#') 內衣【Rose W 】高級訂製金3D型W鋼圈內衣(銀河藍)
															span.aa-product-price $45.50
													.aa-product-hvr-content
														a(href='#', data-toggle='tooltip', data-placement='top', title='Add to Wishlist')
															span.fa.fa-heart-o
														//- a(href='#', data-toggle='tooltip', data-placement='top', title='Compare')
														//-     span.fa.fa-exchange
														a(href='#', data-toggle2='tooltip', data-placement='top', title='Quick View', data-toggle='modal', data-target='#quick-view-modal')
															span.fa.fa-search
													// product badge
													//- span.aa-badge.aa-sold-out(href='#') Sold Out!
													// start single product item
												li
													figure
														a.aa-product-img(href='#')
															img(src='img/1000x1000_prod_3.jpeg', alt='polo shirt img')
														a.aa-add-card-btn(href='#')
															span.fa.fa-shopping-cart
															| 加入購物車
														figcaption
															h4.aa-product-title
																a(href='#') 罩衫 【啵啵BOBO．晚安罩衫】莫代爾羅紋捲邊 浪漫居家罩衫(3色)
															span.aa-product-price $45.50
															span.aa-product-price
																del $65.50
													.aa-product-hvr-content
														a(href='#', data-toggle='tooltip', data-placement='top', title='Add to Wishlist')
															span.fa.fa-heart-o
														//- a(href='#', data-toggle='tooltip', data-placement='top', title='Compare')
														//-     span.fa.fa-exchange
														a(href='#', data-toggle2='tooltip', data-placement='top', title='Quick View', data-toggle='modal', data-target='#quick-view-modal')
															span.fa.fa-search
													// start single product item
												li
													figure
														a.aa-product-img(href='#')
															img(src='img/1000x1000_prod_4.jpeg', alt='')
														a.aa-add-card-btn(href='#')
															span.fa.fa-shopping-cart
															| 加入購物車
														figcaption
															h4.aa-product-title
																a(href='#') 睡眠內衣【晚安推推・啵啵BOBO】莫代爾雙C魔力羅紋捲邊成套睡衣(羅蘭粉紫)
															span.aa-product-price $45.50
															span.aa-product-price
																del $65.50
													.aa-product-hvr-content
														a(href='#', data-toggle='tooltip', data-placement='top', title='Add to Wishlist')
															span.fa.fa-heart-o
														//- a(href='#', data-toggle='tooltip', data-placement='top', title='Compare')
														//-     span.fa.fa-exchange
														a(href='#', data-toggle2='tooltip', data-placement='top', title='Quick View', data-toggle='modal', data-target='#quick-view-modal')
															span.fa.fa-search
													// product badge
													//- span.aa-badge.aa-hot(href='#') HOT!
													// start single product item
										a.aa-browse-btn(href='#')
											| 看更多商品
											span.fa.fa-long-arrow-right

									// start women product category
									#women.tab-pane.fade

									// start sports product category
									#sports.tab-pane.fade

									// start electronic product category
									#electronics.tab-pane.fade